Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/            @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt          @rapidsai/cuml-cmake-codeowners
**/cmake/                  @rapidsai/cuml-cmake-codeowners
python/cuml/pyproject.toml @rapidsai/cuml-cmake-codeowners
build.sh                   @rapidsai/cuml-cmake-codeowners
**/build.sh                @rapidsai/cuml-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

split wheel into libcuml and cuml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_wheel_cpp.sh
  ci/build_wheel_python.sh
  dependencies.yaml
  python/cuml/CMakeLists.txt
  python/cuml/cuml/__init__.py
  python/libcuml/CMakeLists.txt
  python/libcuml/LICENSE
  python/libcuml/README.md
  python/libcuml/VERSION
  python/libcuml/libcuml/__init__.py
  python/libcuml/libcuml/_version.py
  python/libcuml/libcuml/load.py
  python/libcuml/pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/cuml-python-codeowners

update
  Lanczos.ipynb
  LanczosTest.ipynb
  Spectral.ipynb
  cpp/include/cuml/cluster/spectral.hpp
  cpp/src/spectral/spectral.cu
  python/cuml/cuml/manifold/CMakeLists.txt
  python/cuml/cuml/manifold/__init__.py
  python/cuml/cuml/manifold/lanczos.pyx
  python/cuml/cuml/manifold/spectral.pyx
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/cuml-python-codeowners

Implement kfold split.
  python/cuml/cuml/model_selection/__init__.py
  python/cuml/cuml/model_selection/_split.py
  python/cuml/cuml/tests/test_stratified_kfold.py
Owners: @rapidsai/cuml-python-codeowners

Add support for XGBoost UBJSON in FIL
  python/cuml/cuml/experimental/fil/fil.pyx
  python/cuml/cuml/fil/fil.pyx
Owners: @rapidsai/cuml-python-codeowners

Install XGBoost when testing notebooks
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

FIX model_type parameter in notebook
  notebooks/forest_inference_demo.ipynb
Owners: none

FIX keyword name
  notebooks/forest_inference_demo.ipynb
Owners: none

Add support for XGBoost UBJSON in FIL (#6009)
  dependencies.yaml
  notebooks/forest_inference_demo.ipynb
  python/cuml/cuml/experimental/fil/fil.pyx
  python/cuml/cuml/fil/fil.pyx
Owners: @rapidsai/packaging-codeowners, @rapidsai/cuml-python-codeowners

Use tool.scikit-build.cmake.version, set scikit-build-core minimum-version
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuml-cpu/meta.yaml
  conda/recipes/cuml/meta.yaml
  dependencies.yaml
  python/cuml/pyproject.toml
Owners: @rapidsai/packaging-codeowners

Update Changelog [skip ci]
  CHANGELOG.md
Owners: none

Improve update-version.sh
  ci/release/update-version.sh
Owners: @rapidsai/ci-codeowners

use build-system.requires
  python/cuml/pyproject.toml
Owners: @rapidsai/packaging-codeowners
