Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

moved utils.h to common/cudart_utils.h
  cpp/src_prims/common/cudart_utils.h
  cpp/src_prims/cuda_utils.h
  cpp/src_prims/matrix/kernelfactory.h
  cpp/src_prims/random/make_blobs.h
  cpp/src_prims/random/make_regression.h
  cpp/src_prims/stats/histogram.h
  cpp/src_prims/timeSeries/stationarity.h
Owners: @rapidsai/cuml-cpp-codeowners

update CHANGELOG
  CHANGELOG.md
Owners: none

update CHANGELOG
  CHANGELOG.md
Owners: none

clean a bit
  python/cuml/manifold/t_sne.pyx
Owners: @rapidsai/cuml-python-codeowners

clean a bit
  python/cuml/manifold/t_sne.pyx
Owners: @rapidsai/cuml-python-codeowners

Initial PoC of golden test values
  python/cuml/test/conftest.py
  python/cuml/test/golden_values.py
  python/cuml/test/golden_values/golden_test_dbscan.py.json
  python/cuml/test/golden_values/golden_test_demo_golden.py.json
  python/cuml/test/test_dbscan.py
  python/cuml/test/test_demo_golden.py
Owners: @rapidsai/cuml-python-codeowners

DOC migrating doxygen comments from .cu to .hpp for decisiontree
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree.cu
Owners: @rapidsai/cuml-cpp-codeowners

DOC migrating doxygen comments from .cu to .hpp for decisiontree
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree.cu
Owners: @rapidsai/cuml-cpp-codeowners

DOC migrating doxygen comments from .cu to .hpp for decisiontree
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree.cu
Owners: @rapidsai/cuml-cpp-codeowners

DOC migrating doxygen comments from .cu to .hpp for decisiontree
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH setLevel only if it is in the valid range
  cpp/src/common/logger.cpp
Owners: @rapidsai/cuml-cpp-codeowners

ENH setLevel only if it is in the valid range
  cpp/src/common/logger.cpp
Owners: @rapidsai/cuml-cpp-codeowners

DOC updated documentation for setLevel about when the actual logging level gets set
  cpp/include/cuml/common/logger.hpp
Owners: @rapidsai/cuml-cpp-codeowners

DOC updated documentation for setLevel about when the actual logging level gets set
  cpp/include/cuml/common/logger.hpp
Owners: @rapidsai/cuml-cpp-codeowners

FEA exposed PatternSetter to cython world for a "with" statement usage
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

FEA exposed PatternSetter to cython world for a "with" statement usage
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

reducing random seed iteration
  python/cuml/test/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

reducing random seed iteration
  python/cuml/test/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

ENH created a context-manager for set_pattern in logging
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

ENH created a context-manager for set_pattern in logging
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

ENH removed the get_pattern method from cython as it is no more needed due to the context-manager object
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

ENH removed the get_pattern method from cython as it is no more needed due to the context-manager object
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

FIX removed the unwanted PatternSetter cdef cppclass declaration
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

FIX removed the unwanted PatternSetter cdef cppclass declaration
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

FEA added a Logger::getLevel method
  cpp/include/cuml/common/logger.hpp
  cpp/src/common/logger.cpp
Owners: @rapidsai/cuml-cpp-codeowners

FEA added a Logger::getLevel method
  cpp/include/cuml/common/logger.hpp
  cpp/src/common/logger.cpp
Owners: @rapidsai/cuml-cpp-codeowners

ENH tests for getLevel and setLevel for Logger
  cpp/test/sg/logger.cpp
Owners: @rapidsai/cuml-cpp-codeowners

ENH tests for getLevel and setLevel for Logger
  cpp/test/sg/logger.cpp
Owners: @rapidsai/cuml-cpp-codeowners

FIX added logger.cpp unit-test to sg suite
  cpp/test/CMakeLists.txt
  cpp/test/sg/logger.cpp
Owners: @rapidsai/cuml-cmake-codeowners, @rapidsai/cuml-cpp-codeowners

FIX added logger.cpp unit-test to sg suite
  cpp/test/CMakeLists.txt
  cpp/test/sg/logger.cpp
Owners: @rapidsai/cuml-cmake-codeowners, @rapidsai/cuml-cpp-codeowners

ENH added getLevel to cython cdef
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

ENH added getLevel to cython cdef
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

FEA added a "with" context manager interface for set_level in cython
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

FEA added a "with" context manager interface for set_level in cython
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

DOC updated pydocs for set_level
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

DOC updated pydocs for set_level
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

review comments, explicit transpose
  python/cuml/dask/datasets/regression.py
  python/cuml/test/dask/test_datasets.py
Owners: @rapidsai/cuml-python-codeowners

review comments, explicit transpose
  python/cuml/dask/datasets/regression.py
  python/cuml/test/dask/test_datasets.py
Owners: @rapidsai/cuml-python-codeowners

docstring describing limitations
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

docstring describing limitations
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
