Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

Add C++ ARIMA log-likelihood benchmark
  cpp/bench/CMakeLists.txt
  cpp/bench/sg/arima_loglikelihood.cu
  cpp/bench/sg/benchmark.cuh
  cpp/bench/sg/dataset_ts.cuh
Owners: @rapidsai/cuml-cmake-codeowners, @rapidsai/cuml-cpp-codeowners

Skipping umap knn parameters test until we can figure out why it's consistently failing in CUDA 10.2
  python/cuml/test/test_umap.py
Owners: @rapidsai/cuml-python-codeowners

Skipping umap knn parameters test until we can figure out why it's consistently failing in CUDA 10.2
  python/cuml/test/test_umap.py
Owners: @rapidsai/cuml-python-codeowners

Updating changelog
  CHANGELOG.md
Owners: none

Updating changelog
  CHANGELOG.md
Owners: none

Style and changelog
  CHANGELOG.md
  cpp/bench/sg/arima_loglikelihood.cu
  cpp/bench/sg/dataset_ts.cuh
Owners: @rapidsai/cuml-cpp-codeowners

Style and changelog
  CHANGELOG.md
  cpp/bench/sg/arima_loglikelihood.cu
  cpp/bench/sg/dataset_ts.cuh
Owners: @rapidsai/cuml-cpp-codeowners

Making ucx endpoints singletons in our comms.
  python/cuml/dask/common/comms.py
  python/cuml/test/dask/test_nearest_neighbors.py
  python/cuml/utils/import_utils.py
Owners: @rapidsai/cuml-python-codeowners

Making ucx endpoints singletons in our comms.
  python/cuml/dask/common/comms.py
  python/cuml/test/dask/test_nearest_neighbors.py
  python/cuml/utils/import_utils.py
Owners: @rapidsai/cuml-python-codeowners

Removing useless methods + cumlArray related changes
  python/cuml/manifold/umap.pyx
  python/cuml/test/test_pickle.py
Owners: @rapidsai/cuml-python-codeowners

Removing useless methods + cumlArray related changes
  python/cuml/manifold/umap.pyx
  python/cuml/test/test_pickle.py
Owners: @rapidsai/cuml-python-codeowners

Decrease tests size for mbsgd classifier
  python/cuml/test/test_mbsgd_classifier.py
Owners: @rapidsai/cuml-python-codeowners

Decrease tests size for mbsgd classifier
  python/cuml/test/test_mbsgd_classifier.py
Owners: @rapidsai/cuml-python-codeowners

Separating out interactions w/ UCX-py API into a separate singleton
  python/cuml/dask/common/comms.py
  python/cuml/dask/common/ucx.py
  python/cuml/test/dask/test_nearest_neighbors.py
Owners: @rapidsai/cuml-python-codeowners

Separating out interactions w/ UCX-py API into a separate singleton
  python/cuml/dask/common/comms.py
  python/cuml/dask/common/ucx.py
  python/cuml/test/dask/test_nearest_neighbors.py
Owners: @rapidsai/cuml-python-codeowners

Removing unused import
  python/cuml/dask/common/comms.py
Owners: @rapidsai/cuml-python-codeowners

Removing unused import
  python/cuml/dask/common/comms.py
Owners: @rapidsai/cuml-python-codeowners

Turning get_worker back into method
  python/cuml/dask/common/ucx.py
Owners: @rapidsai/cuml-python-codeowners

Turning get_worker back into method
  python/cuml/dask/common/ucx.py
Owners: @rapidsai/cuml-python-codeowners

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

FIX Move import to try clause in case cuml is built without cumlprims
  python/cuml/test/dask/test_nearest_neighbors.py
Owners: @rapidsai/cuml-python-codeowners

FIX Move import to try clause in case cuml is built without cumlprims
  python/cuml/test/dask/test_nearest_neighbors.py
Owners: @rapidsai/cuml-python-codeowners

DOC Improved singlegpu docstring
  build.sh
Owners: @rapidsai/cuml-cmake-codeowners

DOC Improved singlegpu docstring
  build.sh
Owners: @rapidsai/cuml-cmake-codeowners

FIX Various fixes and refactored clean folder function to setuputils
  python/setup.py
  python/setuputils.py
Owners: @rapidsai/cuml-cmake-codeowners

FIX Various fixes and refactored clean folder function to setuputils
  python/setup.py
  python/setuputils.py
Owners: @rapidsai/cuml-cmake-codeowners

Adding test to sanity check listener callback
  python/cuml/dask/common/ucx.py
  python/cuml/test/dask/test_ucx.py
Owners: @rapidsai/cuml-python-codeowners

Adding test to sanity check listener callback
  python/cuml/dask/common/ucx.py
  python/cuml/test/dask/test_ucx.py
Owners: @rapidsai/cuml-python-codeowners

Updating changelog
  CHANGELOG.md
Owners: none

Updating changelog
  CHANGELOG.md
Owners: none

No longer need to set UCX_CUDA_IPC_CACHE=n
  python/cuml/utils/import_utils.py
Owners: @rapidsai/cuml-python-codeowners

No longer need to set UCX_CUDA_IPC_CACHE=n
  python/cuml/utils/import_utils.py
Owners: @rapidsai/cuml-python-codeowners

Disabling test_send_recv_any_rank test
  python/cuml/test/dask/test_comms.py
Owners: @rapidsai/cuml-python-codeowners

Disabling test_send_recv_any_rank test
  python/cuml/test/dask/test_comms.py
Owners: @rapidsai/cuml-python-codeowners

Adding timeout to wait calls in test_comms
  python/cuml/test/dask/test_comms.py
Owners: @rapidsai/cuml-python-codeowners

Adding timeout to wait calls in test_comms
  python/cuml/test/dask/test_comms.py
Owners: @rapidsai/cuml-python-codeowners

branch 0.14
  CHANGELOG.md
Owners: none

branch 0.14
  CHANGELOG.md
Owners: none

update change log
  CHANGELOG.md
Owners: none

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
