Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

review changes
  python/cuml/dask/datasets/regression.py
  python/cuml/test/dask/test_datasets.py
Owners: @rapidsai/cuml-python-codeowners

review changes
  python/cuml/dask/datasets/regression.py
  python/cuml/test/dask/test_datasets.py
Owners: @rapidsai/cuml-python-codeowners

adding sklearn test
  python/cuml/datasets/classification.py
  python/cuml/test/test_make_classification.py
Owners: @rapidsai/cuml-python-codeowners

adding sklearn test
  python/cuml/datasets/classification.py
  python/cuml/test/test_make_classification.py
Owners: @rapidsai/cuml-python-codeowners

Explicitly use .iloc instead of []
  python/cuml/preprocessing/encoders.py
Owners: @rapidsai/cuml-python-codeowners

Explicitly use .iloc instead of []
  python/cuml/preprocessing/encoders.py
Owners: @rapidsai/cuml-python-codeowners

Update tests with explicit categories='auto'
  python/cuml/test/test_one_hot_encoder.py
Owners: @rapidsai/cuml-python-codeowners

Update tests with explicit categories='auto'
  python/cuml/test/test_one_hot_encoder.py
Owners: @rapidsai/cuml-python-codeowners

[kmeans] add support for mg weighted k-means
  python/cuml/cluster/kmeans_mg.pyx
Owners: @rapidsai/cuml-python-codeowners

FEA Updates to use the current branch-0.14 of rapidsai RAFT
  .gitignore
  build.sh
  cpp/cmake/Dependencies.cmake
  python/cuml/__init__.py
  python/cuml/nccl/nccl.pyx
  python/setup.py
  python/setuputils.py
Owners: @rapidsai/cuml-cmake-codeowners, @rapidsai/cuml-python-codeowners

FEA Updates to use the current branch-0.14 of rapidsai RAFT
  .gitignore
  build.sh
  cpp/cmake/Dependencies.cmake
  python/cuml/__init__.py
  python/cuml/nccl/nccl.pyx
  python/setup.py
  python/setuputils.py
Owners: @rapidsai/cuml-cmake-codeowners, @rapidsai/cuml-python-codeowners

FEA Add test_raft file and test
  python/cuml/test/test_raft.py
Owners: @rapidsai/cuml-python-codeowners

FEA Add test_raft file and test
  python/cuml/test/test_raft.py
Owners: @rapidsai/cuml-python-codeowners

FEA Make RAFT not be overwritten unles clean target is used
  python/setuputils.py
Owners: none

FEA Make RAFT not be overwritten unles clean target is used
  python/setuputils.py
Owners: none

FIX Correct python cloned repos name in gitignore
  .gitignore
Owners: none

FIX Correct python cloned repos name in gitignore
  .gitignore
Owners: none

DOC Added entry to changelog
  CHANGELOG.md
Owners: none

DOC Added entry to changelog
  CHANGELOG.md
Owners: none

update documentation
  notebooks/random_forest_mnmg_demo.ipynb
Owners: none

update documentation
  notebooks/random_forest_mnmg_demo.ipynb
Owners: none

update test to run on multiple workers and for multiple partitions
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

update test to run on multiple workers and for multiple partitions
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

update style checks
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

update style checks
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

[kmeans] update changelog
  CHANGELOG.md
Owners: none

initial working sg make blobs
  python/cuml/__init__.py
  python/cuml/datasets/__init__.py
  python/cuml/datasets/blobs.py
  python/cuml/datasets/blobs.pyx
  python/cuml/test/test_make_blobs.py
Owners: @rapidsai/cuml-python-codeowners

initial working sg make blobs
  python/cuml/__init__.py
  python/cuml/datasets/__init__.py
  python/cuml/datasets/blobs.py
  python/cuml/datasets/blobs.pyx
  python/cuml/test/test_make_blobs.py
Owners: @rapidsai/cuml-python-codeowners

Requested changes
  python/cuml/test/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

Requested changes
  python/cuml/test/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

Final review feedback. Adding table of contents to ease navigation
  notebooks/cuml_benchmarks.ipynb
Owners: none

Final review feedback. Adding table of contents to ease navigation
  notebooks/cuml_benchmarks.ipynb
Owners: none

update predict-proba func
  python/cuml/dask/ensemble/randomforestclassifier.py
Owners: @rapidsai/cuml-python-codeowners

update predict-proba func
  python/cuml/dask/ensemble/randomforestclassifier.py
Owners: @rapidsai/cuml-python-codeowners

updated the code to save vector info as bytes
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestregressor.pyx
Owners: @rapidsai/cuml-python-codeowners

updated code to reduce predict time
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestregressor.pyx
Owners: @rapidsai/cuml-python-codeowners

updated code to reduce predict time
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestregressor.pyx
Owners: @rapidsai/cuml-python-codeowners

convert the rf mnmg notebook back to original
  notebooks/random_forest_mnmg_demo.ipynb
Owners: none

convert the rf mnmg notebook back to original
  notebooks/random_forest_mnmg_demo.ipynb
Owners: none

convert the rf mnmg notebook back to original
  notebooks/random_forest_mnmg_demo.ipynb
Owners: none

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
