Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

convert the rf mnmg notebook back to original
  notebooks/random_forest_mnmg_demo.ipynb
Owners: none

updated CHANGELOG.md
  CHANGELOG.md
Owners: none

updated CHANGELOG.md
  CHANGELOG.md
Owners: none

Updating style
  cpp/comms/std/src/ucp_helper.h
Owners: @rapidsai/cuml-cpp-codeowners

Updating style
  cpp/comms/std/src/ucp_helper.h
Owners: @rapidsai/cuml-cpp-codeowners

review changes
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

review changes
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

restore to original
  notebooks/random_forest_mnmg_demo.ipynb
Owners: none

restore to original
  notebooks/random_forest_mnmg_demo.ipynb
Owners: none

restore to original
  notebooks/random_forest_mnmg_demo.ipynb
Owners: none

restore to original
  notebooks/random_forest_mnmg_demo.ipynb
Owners: none

Apply suggestions from code review
  python/cuml/solvers/sgd.pyx
Owners: @rapidsai/cuml-python-codeowners

Apply suggestions from code review
  python/cuml/solvers/sgd.pyx
Owners: @rapidsai/cuml-python-codeowners

FIX do not link cumlcomms and nccl when --singlepu option is specified
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

FIX do not link cumlcomms and nccl when --singlepu option is specified
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

BUG updated logger.trace to encode to utf-8
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

BUG updated logger.trace to encode to utf-8
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

trying to debug mg client issue
  python/cuml/dask/datasets/blobs.py
  python/cuml/datasets/blobs.py
  python/cuml/test/dask/test_datasets.py
Owners: @rapidsai/cuml-python-codeowners

trying to debug mg client issue
  python/cuml/dask/datasets/blobs.py
  python/cuml/datasets/blobs.py
  python/cuml/test/dask/test_datasets.py
Owners: @rapidsai/cuml-python-codeowners

renaming internal functions
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

renaming internal functions
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

style fixes
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

style fixes
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

BUG updated utf-8 encode for all logger APIs
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

BUG updated utf-8 encode for all logger APIs
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

BUG fixed log level accesses in logger unit-test
  python/cuml/test/test_logger.py
Owners: @rapidsai/cuml-python-codeowners

BUG fixed log level accesses in logger unit-test
  python/cuml/test/test_logger.py
Owners: @rapidsai/cuml-python-codeowners

BUG updated on more place needing utf-8 encoding
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

BUG updated on more place needing utf-8 encoding
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

BUG clang format fixes
  cpp/test/prims/contingencyMatrix.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/test/prims/contingencyMatrix.cu
Owners: @rapidsai/cuml-cpp-codeowners

fixed stupid mnmg bug
  python/cuml/dask/datasets/blobs.py
  python/cuml/datasets/blobs.py
  python/cuml/test/dask/test_datasets.py
Owners: @rapidsai/cuml-python-codeowners

fixed stupid mnmg bug
  python/cuml/dask/datasets/blobs.py
  python/cuml/datasets/blobs.py
  python/cuml/test/dask/test_datasets.py
Owners: @rapidsai/cuml-python-codeowners

KPSS unit test against statsmodels + fix bug in KPSS test
  cpp/src_prims/timeSeries/stationarity.h
  cpp/test/CMakeLists.txt
  cpp/test/prims/stationarity.cu
  python/cuml/test/test_stationarity.py
  python/cuml/tsa/auto_arima.pyx
  python/cuml/tsa/stationarity.pyx
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/cuml-python-codeowners

KPSS unit test against statsmodels + fix bug in KPSS test
  cpp/src_prims/timeSeries/stationarity.h
  cpp/test/CMakeLists.txt
  cpp/test/prims/stationarity.cu
  python/cuml/test/test_stationarity.py
  python/cuml/tsa/auto_arima.pyx
  python/cuml/tsa/stationarity.pyx
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/cuml-python-codeowners

Refactoring and cleaning
  python/cuml/tsa/arima.pyx
  python/cuml/tsa/auto_arima.pyx
  python/cuml/tsa/seasonality.pyx
  python/cuml/tsa/stationarity.pyx
Owners: @rapidsai/cuml-python-codeowners

Refactoring and cleaning
  python/cuml/tsa/arima.pyx
  python/cuml/tsa/auto_arima.pyx
  python/cuml/tsa/seasonality.pyx
  python/cuml/tsa/stationarity.pyx
Owners: @rapidsai/cuml-python-codeowners

Auto-ARIMA interface refactoring
  python/cuml/tsa/auto_arima.pyx
Owners: @rapidsai/cuml-python-codeowners

Auto-ARIMA interface refactoring
  python/cuml/tsa/auto_arima.pyx
Owners: @rapidsai/cuml-python-codeowners

update fit function to use DistributedDataHandler
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
Owners: @rapidsai/cuml-python-codeowners
