Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

change ranges to return non-empty list
  python/cuml/test/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

change ranges to return non-empty list
  python/cuml/test/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

expanding on docs and tests
  python/cuml/dask/datasets/blobs.py
  python/cuml/dask/datasets/classification.py
  python/cuml/datasets/classification.py
  python/cuml/datasets/utils.py
  python/cuml/test/dask/test_datasets.py
  python/cuml/test/test_make_classification.py
Owners: @rapidsai/cuml-python-codeowners

expanding on docs and tests
  python/cuml/dask/datasets/blobs.py
  python/cuml/dask/datasets/classification.py
  python/cuml/datasets/classification.py
  python/cuml/datasets/utils.py
  python/cuml/test/dask/test_datasets.py
  python/cuml/test/test_make_classification.py
Owners: @rapidsai/cuml-python-codeowners

style fixes
  python/cuml/dask/datasets/classification.py
  python/cuml/datasets/classification.py
Owners: @rapidsai/cuml-python-codeowners

style fixes
  python/cuml/dask/datasets/classification.py
  python/cuml/datasets/classification.py
Owners: @rapidsai/cuml-python-codeowners

speeding up dask rf tests
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

speeding up dask rf tests
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

changelog
  CHANGELOG.md
Owners: none

changelog
  CHANGELOG.md
Owners: none

style fix
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

style fix
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

added a many-class test; fixed too-many-classes error path
  cpp/src/fil/infer.cu
  cpp/test/sg/fil_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

added a many-class test; fixed too-many-classes error path
  cpp/src/fil/infer.cu
  cpp/test/sg/fil_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

fixed style
  cpp/src/fil/infer.cu
Owners: @rapidsai/cuml-cpp-codeowners

fixed style
  cpp/src/fil/infer.cu
Owners: @rapidsai/cuml-cpp-codeowners

FIX Adjust UMAP margin temporarily
  python/cuml/test/dask/test_umap.py
Owners: @rapidsai/cuml-python-codeowners

FIX Adjust UMAP margin temporarily
  python/cuml/test/dask/test_umap.py
Owners: @rapidsai/cuml-python-codeowners

Add changelog
  CHANGELOG.md
Owners: none

Add changelog
  CHANGELOG.md
Owners: none

Fix Clang errors
  cpp/src/glm/qn/glm_base.cuh
  cpp/src/glm/qn/qn.cuh
  cpp/src/glm/qn/qn_solvers.cuh
  cpp/test/sg/quasi_newton.cu
Owners: @rapidsai/cuml-cpp-codeowners

Fix Clang errors
  cpp/src/glm/qn/glm_base.cuh
  cpp/src/glm/qn/qn.cuh
  cpp/src/glm/qn/qn_solvers.cuh
  cpp/test/sg/quasi_newton.cu
Owners: @rapidsai/cuml-cpp-codeowners

Datasets as fixtures
  python/cuml/test/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

Datasets as fixtures
  python/cuml/test/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

Add Auto-ARIMA unit tests
  cpp/src/tsa/auto_arima.cuh
  python/cuml/test/test_auto_arima.py
  python/cuml/tsa/auto_arima.pyx
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

Add Auto-ARIMA unit tests
  cpp/src/tsa/auto_arima.cuh
  python/cuml/test/test_auto_arima.py
  python/cuml/tsa/auto_arima.pyx
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

Remove unnecessary conversion of CumlArray to Cupy
  python/cuml/metrics/confusion_matrix.py
Owners: @rapidsai/cuml-python-codeowners

Remove unnecessary conversion of CumlArray to Cupy
  python/cuml/metrics/confusion_matrix.py
Owners: @rapidsai/cuml-python-codeowners

Fix dask documentation types and get_client typo
  python/cuml/dask/metrics/confusion_matrix.py
Owners: @rapidsai/cuml-python-codeowners

Fix dask documentation types and get_client typo
  python/cuml/dask/metrics/confusion_matrix.py
Owners: @rapidsai/cuml-python-codeowners

Remove unnecessary sorting since cp.unique already sorts
  python/cuml/dask/metrics/utils.py
  python/cuml/metrics/utils.py
Owners: @rapidsai/cuml-python-codeowners

Remove unnecessary sorting since cp.unique already sorts
  python/cuml/dask/metrics/utils.py
  python/cuml/metrics/utils.py
Owners: @rapidsai/cuml-python-codeowners

FIX Small corrections from merge
  build.sh
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

FIX Small corrections from merge
  build.sh
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

[kmeans] update logger calls
  cpp/src/kmeans/common.cuh
Owners: @rapidsai/cuml-cpp-codeowners

[kmeans] update logger calls
  cpp/src/kmeans/common.cuh
Owners: @rapidsai/cuml-cpp-codeowners

Updates based on review feedback
  notebooks/cuml_benchmarks.ipynb
  python/cuml/benchmark/algorithms.py
  python/cuml/benchmark/datagen.py
Owners: @rapidsai/cuml-python-codeowners

Updates based on review feedback
  notebooks/cuml_benchmarks.ipynb
  python/cuml/benchmark/algorithms.py
  python/cuml/benchmark/datagen.py
Owners: @rapidsai/cuml-python-codeowners

Adding one review item I missed
  notebooks/cuml_benchmarks.ipynb
Owners: none

Adding one review item I missed
  notebooks/cuml_benchmarks.ipynb
Owners: none
