Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

BUG fixed kmeans sg bench to use verbosity level
  cpp/bench/sg/kmeans.cu
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/bench/sg/kmeans.cu
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/bench/sg/kmeans.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/bench/sg/kmeans.cu
  cpp/include/cuml/cluster/kmeans.hpp
  cpp/src/kmeans/common.cuh
  cpp/src/kmeans/sg_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/bench/sg/kmeans.cu
  cpp/include/cuml/cluster/kmeans.hpp
  cpp/src/kmeans/common.cuh
  cpp/src/kmeans/sg_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

Fix test test_to_sp_dask_array
  python/cuml/dask/common/dask_arr_utils.py
Owners: @rapidsai/cuml-python-codeowners

Fix test test_to_sp_dask_array
  python/cuml/dask/common/dask_arr_utils.py
Owners: @rapidsai/cuml-python-codeowners

Follow style convention
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/preprocessing/label.py
Owners: @rapidsai/cuml-python-codeowners

Follow style convention
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/preprocessing/label.py
Owners: @rapidsai/cuml-python-codeowners

Update Changelog
  CHANGELOG.md
Owners: none

Update Changelog
  CHANGELOG.md
Owners: none

changes to kmeans test
  python/cuml/test/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

changes to kmeans test
  python/cuml/test/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

ENH removed verbose arguments from ucp_helper altogether
  cpp/comms/std/src/ucp_helper.h
  python/cuml/cluster/kmeans_mg.pyx
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

ENH removed verbose arguments from ucp_helper altogether
  cpp/comms/std/src/ucp_helper.h
  python/cuml/cluster/kmeans_mg.pyx
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

ENH removed verbose flags from std-comms
  cpp/comms/std/src/cuML_comms_py.hpp
  cpp/comms/std/src/cuML_std_comms_impl.cpp
  cpp/comms/std/src/cuML_std_comms_impl.hpp
Owners: @rapidsai/cuml-cpp-codeowners

ENH removed verbose flags from std-comms
  cpp/comms/std/src/cuML_comms_py.hpp
  cpp/comms/std/src/cuML_std_comms_impl.cpp
  cpp/comms/std/src/cuML_std_comms_impl.hpp
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/comms/std/src/cuML_comms_py.hpp
  cpp/comms/std/src/cuML_std_comms_impl.hpp
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/comms/std/src/cuML_comms_py.hpp
  cpp/comms/std/src/cuML_std_comms_impl.hpp
Owners: @rapidsai/cuml-cpp-codeowners

BUG fixed comms python interface for the verbose arg changes
  python/cuml/dask/common/comms_utils.pyx
Owners: @rapidsai/cuml-python-codeowners

BUG fixed comms python interface for the verbose arg changes
  python/cuml/dask/common/comms_utils.pyx
Owners: @rapidsai/cuml-python-codeowners

DOC copyright year update
  python/cuml/dask/common/comms_utils.pyx
Owners: @rapidsai/cuml-python-codeowners

DOC copyright year update
  python/cuml/dask/common/comms_utils.pyx
Owners: @rapidsai/cuml-python-codeowners

ENH updated decisiontree to accept an integer verbosity level
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated decisiontree to accept an integer verbosity level
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree_impl.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree_impl.h
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated INFO messages in decisiontree to be DEUBG messages
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/levelalgo/common_helper.cuh
  cpp/src/decisiontree/memory.cuh
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated INFO messages in decisiontree to be DEUBG messages
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/levelalgo/common_helper.cuh
  cpp/src/decisiontree/memory.cuh
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/memory.cuh
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/memory.cuh
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated RF to pass verbosity level arg
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest_impl.cuh
  cpp/src/randomforest/randomforest_impl.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated RF to pass verbosity level arg
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest_impl.cuh
  cpp/src/randomforest/randomforest_impl.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/src/randomforest/randomforest_impl.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/src/randomforest/randomforest_impl.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated INFO messages in RF to be DEUBG messages
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated INFO messages in RF to be DEUBG messages
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

BUG updated rf_test to handle verbosity correctly
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/src/randomforest/randomforest.cu
  cpp/test/sg/rf_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
