Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

kpca funtion comment update
  python/cuml/cuml/experimental/experimental/decomposition/kpca.pyx
Owners: @rapidsai/cuml-python-codeowners

FEA Add tests for universal dtypes for estimators
  python/cuml/cuml/tests/test_input_estimators.py
Owners: @rapidsai/cuml-python-codeowners

FIX Multiple small fixes
  python/cuml/cuml/cluster/kmeans.pyx
  python/cuml/cuml/common/doc_utils.py
  python/cuml/cuml/decomposition/incremental_pca.py
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/decomposition/tsvd.pyx
  python/cuml/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/cuml/metrics/pairwise_distances.pyx
  python/cuml/cuml/solvers/cd.pyx
  python/cuml/cuml/solvers/qn.pyx
  python/cuml/cuml/solvers/sgd.pyx
  python/cuml/cuml/tsa/arima.pyx
Owners: @rapidsai/cuml-python-codeowners

FIX style fixes
  python/cuml/cuml/cluster/kmeans.pyx
  python/cuml/cuml/common/doc_utils.py
  python/cuml/cuml/decomposition/incremental_pca.py
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/decomposition/tsvd.pyx
  python/cuml/cuml/explainer/tree_shap.pyx
  python/cuml/cuml/kernel_ridge/kernel_ridge.pyx
  python/cuml/cuml/linear_model/linear_regression.pyx
  python/cuml/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/cuml/metrics/cluster/silhouette_score.pyx
  python/cuml/cuml/metrics/pairwise_distances.pyx
  python/cuml/cuml/metrics/regression.pyx
  python/cuml/cuml/naive_bayes/naive_bayes.py
  python/cuml/cuml/neighbors/kernel_density.py
  python/cuml/cuml/random_projection/random_projection.pyx
  python/cuml/cuml/solvers/cd.pyx
  python/cuml/cuml/solvers/qn.pyx
  python/cuml/cuml/solvers/sgd.pyx
  python/cuml/cuml/tests/test_input_estimators.py
  python/cuml/cuml/tsa/arima.pyx
  python/cuml/cuml/tsa/seasonality.pyx
  python/cuml/cuml/tsa/stationarity.pyx
Owners: @rapidsai/cuml-python-codeowners

FIX style fixes
  python/cuml/cuml/kernel_ridge/kernel_ridge.pyx
Owners: @rapidsai/cuml-python-codeowners

FIX more style fixes
  python/cuml/cuml/cluster/dbscan.pyx
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/explainer/tree_shap.pyx
  python/cuml/cuml/metrics/pairwise_distances.pyx
  python/cuml/cuml/neighbors/nearest_neighbors.pyx
Owners: @rapidsai/cuml-python-codeowners

Fix segfault and other errors in ForestInference.load_from_sklearn (#5973)
  python/cuml/cuml/fil/fil.pyx
  python/cuml/cuml/tests/dask/test_dask_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

FIX convert dtype only if input is not already in an acceptable dtype
  python/cuml/cuml/internals/array.py
Owners: @rapidsai/cuml-python-codeowners

FIX small type corrections in labelencoder and tests for cudf.pandas
  python/cuml/cuml/preprocessing/LabelEncoder.py
  python/cuml/cuml/tests/test_ordinal_encoder.py
Owners: @rapidsai/cuml-python-codeowners

FIX small column transformer fix
  python/cuml/cuml/_thirdparty/sklearn/preprocessing/_column_transformer.py
Owners: @rapidsai/cuml-python-codeowners

FIX style fixes
  python/cuml/cuml/tests/test_ordinal_encoder.py
Owners: @rapidsai/cuml-python-codeowners

FIX skip thirdparty/sklearn on copyright checks
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners

FIX small test fixes
  python/cuml/cuml/testing/utils.py
  python/cuml/cuml/tests/test_module_config.py
Owners: @rapidsai/cuml-python-codeowners

FIX skip rf tests that use sklearn when cudf.pandas is active
  python/cuml/cuml/tests/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

FIX few more small fixes
  python/cuml/cuml/preprocessing/TargetEncoder.py
  python/cuml/cuml/tests/explainer/test_sampling.py
  python/cuml/cuml/tests/test_svm.py
Owners: @rapidsai/cuml-python-codeowners

Make `ci/run_cuml_dask_pytests.sh` environment-agnostic again (#5950)
  ci/run_cuml_dask_pytests.sh
  ci/test_python_dask.sh
Owners: @rapidsai/ci-codeowners

FIX copyright
  python/cuml/cuml/tests/explainer/test_sampling.py
Owners: @rapidsai/cuml-python-codeowners

Support int64 index type in MG sparse LogisticRegression (#5962)
  cpp/include/cuml/linear_model/qn_mg.hpp
  cpp/src/glm/qn/mg/standardization.cuh
  cpp/src/glm/qn/simple_mat/sparse.hpp
  cpp/src/glm/qn_mg.cu
  python/cuml/cuml/dask/linear_model/logistic_regression.py
  python/cuml/cuml/linear_model/base_mg.pyx
  python/cuml/cuml/linear_model/logistic_regression_mg.pyx
  python/cuml/cuml/tests/dask/test_dask_logistic_regression.py
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

reduce memory_footprint for sparse PCA transform (#5964)
  python/cuml/cuml/decomposition/pca.pyx
Owners: @rapidsai/cuml-python-codeowners

[MNT] Small NumPy 2 related fixes (#5954)
  .pre-commit-config.yaml
  python/cuml/cuml/_thirdparty/sklearn/utils/sparsefuncs.py
  python/cuml/cuml/internals/array.py
  python/cuml/cuml/tests/test_make_classification.py
  python/cuml/cuml/tests/test_metrics.py
  python/cuml/cuml/tests/test_umap.py
Owners: @rapidsai/ci-codeowners, @rapidsai/cuml-python-codeowners

remove old comment
  cpp/src/kpca/kpca.cuh
Owners: @rapidsai/cuml-cpp-codeowners

FIX arima fixes
  python/cuml/cuml/tsa/arima.pyx
Owners: @rapidsai/cuml-python-codeowners

change to RAFT_EXPECTS
  cpp/src/umap/knn_graph/algo.cuh
Owners: @rapidsai/cuml-cpp-codeowners

FIX remove commented line of code
  python/cuml/cuml/preprocessing/LabelEncoder.py
Owners: @rapidsai/cuml-python-codeowners

Apply review
  python/cuml/cuml/internals/array.py
Owners: @rapidsai/cuml-python-codeowners

Update python/cuml/cuml/testing/utils.py
  python/cuml/cuml/testing/utils.py
Owners: @rapidsai/cuml-python-codeowners

Apply suggestions from code review
  python/cuml/cuml/common/doc_utils.py
  python/cuml/cuml/internals/array.py
Owners: @rapidsai/cuml-python-codeowners

FIX dtype for idx in NN
  python/cuml/cuml/neighbors/nearest_neighbors.pyx
Owners: @rapidsai/cuml-python-codeowners

Fixes for encoders/transformers for cudf.pandas (#5990)
  python/cuml/cuml/_thirdparty/sklearn/preprocessing/_column_transformer.py
  python/cuml/cuml/preprocessing/LabelEncoder.py
  python/cuml/cuml/preprocessing/TargetEncoder.py
  python/cuml/cuml/testing/utils.py
  python/cuml/cuml/tests/explainer/test_sampling.py
  python/cuml/cuml/tests/test_module_config.py
  python/cuml/cuml/tests/test_ordinal_encoder.py
  python/cuml/cuml/tests/test_random_forest.py
  python/cuml/cuml/tests/test_svm.py
Owners: @rapidsai/cuml-python-codeowners

FIX copyright
  python/cuml/cuml/internals/array.py
  python/cuml/cuml/tsa/arima.pyx
Owners: @rapidsai/cuml-python-codeowners

FIX remove outdated tests that expected exceptions
  python/cuml/cuml/cluster/kmeans.pyx
  python/cuml/cuml/tests/test_metrics.py
Owners: @rapidsai/cuml-python-codeowners

change warn to log
  python/cuml/cuml/manifold/umap.pyx
Owners: @rapidsai/cuml-python-codeowners

Allow estimators to accept any dtype (#5888)
  python/cuml/cuml/cluster/dbscan.pyx
  python/cuml/cuml/cluster/kmeans.pyx
  python/cuml/cuml/common/doc_utils.py
  python/cuml/cuml/decomposition/incremental_pca.py
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/decomposition/tsvd.pyx
  python/cuml/cuml/ensemble/randomforest_common.pyx
  python/cuml/cuml/experimental/linear_model/lars.pyx
  python/cuml/cuml/explainer/tree_shap.pyx
  python/cuml/cuml/internals/array.py
  python/cuml/cuml/kernel_ridge/kernel_ridge.pyx
  python/cuml/cuml/linear_model/linear_regression.pyx
  python/cuml/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/cuml/linear_model/ridge.pyx
  python/cuml/cuml/manifold/simpl_set.pyx
  python/cuml/cuml/metrics/cluster/silhouette_score.pyx
  python/cuml/cuml/metrics/pairwise_distances.pyx
  python/cuml/cuml/metrics/regression.pyx
  python/cuml/cuml/naive_bayes/naive_bayes.py
  python/cuml/cuml/neighbors/kernel_density.py
  python/cuml/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/cuml/random_projection/random_projection.pyx
  python/cuml/cuml/solvers/cd.pyx
  python/cuml/cuml/solvers/qn.pyx
  python/cuml/cuml/solvers/sgd.pyx
  python/cuml/cuml/tests/test_input_estimators.py
  python/cuml/cuml/tests/test_metrics.py
  python/cuml/cuml/tsa/arima.pyx
  python/cuml/cuml/tsa/seasonality.pyx
  python/cuml/cuml/tsa/stationarity.pyx
Owners: @rapidsai/cuml-python-codeowners

set logger level
  python/cuml/cuml/manifold/umap.pyx
Owners: @rapidsai/cuml-python-codeowners

change warn to info
  python/cuml/cuml/manifold/umap.pyx
Owners: @rapidsai/cuml-python-codeowners

move logger set_level
  python/cuml/cuml/manifold/umap.pyx
Owners: @rapidsai/cuml-python-codeowners

styling
  python/cuml/cuml/manifold/umap.pyx
Owners: @rapidsai/cuml-python-codeowners

styling
  python/cuml/cuml/manifold/umap.pyx
Owners: @rapidsai/cuml-python-codeowners

styling
  python/cuml/cuml/manifold/umap.pyx
Owners: @rapidsai/cuml-python-codeowners

[FEA] Enable UMAP to build knn graph using NN Descent (#5910)
  cpp/include/cuml/manifold/umapparams.h
  cpp/src/umap/knn_graph/algo.cuh
  cpp/src/umap/umap.cu
  python/cuml/cuml/manifold/umap.pyx
  python/cuml/cuml/manifold/umap_utils.pxd
  python/cuml/cuml/tests/test_umap.py
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/            @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt          @rapidsai/cuml-cmake-codeowners
**/cmake/                  @rapidsai/cuml-cmake-codeowners
python/cuml/pyproject.toml @rapidsai/cuml-cmake-codeowners
build.sh                   @rapidsai/cuml-cmake-codeowners
**/build.sh                @rapidsai/cuml-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
