Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

adding sync to knn cython, removing syncs from fit() functions
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
Owners: @rapidsai/cuml-python-codeowners

Updating test_input_utils to use named make_blobs args
  python/cuml/test/dask/test_input_utils.py
Owners: @rapidsai/cuml-python-codeowners

Updating test_input_utils to use named make_blobs args
  python/cuml/test/dask/test_input_utils.py
Owners: @rapidsai/cuml-python-codeowners

Add changelog PR
  CHANGELOG.md
Owners: none

Add changelog PR
  CHANGELOG.md
Owners: none

UMAP test modifications
  cpp/test/sg/umap_parametrizable_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

UMAP test modifications
  cpp/test/sg/umap_parametrizable_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

changelog issue
  CHANGELOG.md
Owners: none

changelog issue
  CHANGELOG.md
Owners: none

Python UMAP test modification
  python/cuml/test/test_umap.py
Owners: @rapidsai/cuml-python-codeowners

Python UMAP test modification
  python/cuml/test/test_umap.py
Owners: @rapidsai/cuml-python-codeowners

adding dtype
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

adding dtype
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

addressed PR review comments
  cpp/src/fil/fil.cu
  cpp/src/fil/infer.cu
  cpp/test/sg/fil_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

addressed PR review comments
  cpp/src/fil/fil.cu
  cpp/src/fil/infer.cu
  cpp/test/sg/fil_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

adding F order
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

adding F order
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

use full low rank introduced
  python/cuml/dask/datasets/regression.py
  python/cuml/test/dask/test_datasets.py
Owners: @rapidsai/cuml-python-codeowners

use full low rank introduced
  python/cuml/dask/datasets/regression.py
  python/cuml/test/dask/test_datasets.py
Owners: @rapidsai/cuml-python-codeowners

changelog and style fix
  CHANGELOG.md
  python/cuml/dask/datasets/regression.py
  python/cuml/test/dask/test_datasets.py
Owners: @rapidsai/cuml-python-codeowners

changelog and style fix
  CHANGELOG.md
  python/cuml/dask/datasets/regression.py
  python/cuml/test/dask/test_datasets.py
Owners: @rapidsai/cuml-python-codeowners

ENH make sure to print all failed tests at the end
  cpp/scripts/cuda-memcheck.py
Owners: @rapidsai/cuml-cpp-codeowners

ENH make sure to print all failed tests at the end
  cpp/scripts/cuda-memcheck.py
Owners: @rapidsai/cuml-cpp-codeowners

FIX syntax issue with the script
  cpp/scripts/cuda-memcheck.py
Owners: @rapidsai/cuml-cpp-codeowners

FIX syntax issue with the script
  cpp/scripts/cuda-memcheck.py
Owners: @rapidsai/cuml-cpp-codeowners

Restoring ci/gpu/build.sh file
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Restoring ci/gpu/build.sh file
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

FIX initialize params before using it in COORemoveZeros unit-tests
  cpp/test/prims/coo.cu
Owners: @rapidsai/cuml-cpp-codeowners

FIX initialize params before using it in COORemoveZeros unit-tests
  cpp/test/prims/coo.cu
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/test/prims/coo.cu
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/test/prims/coo.cu
Owners: @rapidsai/cuml-cpp-codeowners

DOC update changelog
  CHANGELOG.md
Owners: none

DOC update changelog
  CHANGELOG.md
Owners: none

remove old code
  python/cuml/manifold/t_sne.pyx
Owners: @rapidsai/cuml-python-codeowners

remove old code
  python/cuml/manifold/t_sne.pyx
Owners: @rapidsai/cuml-python-codeowners

[WIP] Approximation mode to accelerate auto-ARIMA
  cpp/include/cuml/tsa/arima_common.h
  cpp/include/cuml/tsa/batched_arima.hpp
  cpp/include/cuml/tsa/batched_kalman.hpp
  cpp/src/arima/batched_arima.cu
  cpp/src/arima/batched_kalman.cu
  python/cuml/tsa/arima.pyx
  python/cuml/tsa/auto_arima.pyx
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

[WIP] Approximation mode to accelerate auto-ARIMA
  cpp/include/cuml/tsa/arima_common.h
  cpp/include/cuml/tsa/batched_arima.hpp
  cpp/include/cuml/tsa/batched_kalman.hpp
  cpp/src/arima/batched_arima.cu
  cpp/src/arima/batched_kalman.cu
  python/cuml/tsa/arima.pyx
  python/cuml/tsa/auto_arima.pyx
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

flake8 style check
  python/cuml/manifold/t_sne.pyx
Owners: @rapidsai/cuml-python-codeowners

flake8 style check
  python/cuml/manifold/t_sne.pyx
Owners: @rapidsai/cuml-python-codeowners

moved utils.h to common/cudart_utils.h
  cpp/src_prims/common/cudart_utils.h
  cpp/src_prims/cuda_utils.h
  cpp/src_prims/matrix/kernelfactory.h
  cpp/src_prims/random/make_blobs.h
  cpp/src_prims/random/make_regression.h
  cpp/src_prims/stats/histogram.h
  cpp/src_prims/timeSeries/stationarity.h
Owners: @rapidsai/cuml-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
