Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

ENH updated umap-params to expose a verbosity level instead of bool
  cpp/include/cuml/manifold/umapparams.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/include/cuml/manifold/umapparams.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/include/cuml/manifold/umapparams.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated umap runner.h to setLevel based on input verbosity
  cpp/src/umap/runner.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated umap runner.h to setLevel based on input verbosity
  cpp/src/umap/runner.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated fuzzy_simpl_set/naive.h to log debug messages
  cpp/src/umap/fuzzy_simpl_set/naive.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated fuzzy_simpl_set/naive.h to log debug messages
  cpp/src/umap/fuzzy_simpl_set/naive.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated simpl_set_embed/naive.h to log debug messages
  cpp/src/umap/simpl_set_embed/algo.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated simpl_set_embed/naive.h to log debug messages
  cpp/src/umap/simpl_set_embed/algo.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated the umap test to use verbosity member variable
  cpp/src/umap/supervised.h
  cpp/test/sg/umap_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated the umap test to use verbosity member variable
  cpp/src/umap/supervised.h
  cpp/test/sg/umap_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated umap cython wrapper to use verbosity
  python/cuml/manifold/umap.pyx
Owners: @rapidsai/cuml-python-codeowners

ENH updated umap cython wrapper to use verbosity
  python/cuml/manifold/umap.pyx
Owners: @rapidsai/cuml-python-codeowners

DOC changelog update
  CHANGELOG.md
Owners: none

DOC changelog update
  CHANGELOG.md
Owners: none

BUG clang format fixes
  cpp/include/cuml/manifold/umapparams.h
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/include/cuml/manifold/umapparams.h
Owners: @rapidsai/cuml-cpp-codeowners

stupid mistakes
  python/cuml/dask/neighbors/nearest_neighbors.py
  python/cuml/test/test_kneighbors_regressor.py
Owners: @rapidsai/cuml-python-codeowners

stupid mistakes
  python/cuml/dask/neighbors/nearest_neighbors.py
  python/cuml/test/test_kneighbors_regressor.py
Owners: @rapidsai/cuml-python-codeowners

updated the metrics notebook
  notebooks/metrics_demo.ipynb
Owners: none

updated the metrics notebook
  notebooks/metrics_demo.ipynb
Owners: none

[prims] add support for iterator type inputs in reduce_cols_by_key
  cpp/src_prims/metrics/silhouetteScore.h
Owners: @rapidsai/cuml-cpp-codeowners

[kmeans] add weighted kmeans to pytest
  python/cuml/cluster/kmeans.pyx
  python/cuml/test/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

[prims] add support for weighted reduce_rows_by_key
  cpp/src_prims/linalg/reduce_rows_by_key.h
Owners: @rapidsai/cuml-cpp-codeowners

[kmeans] fix style
  cpp/src/kmeans/kmeans.cu
  cpp/src/kmeans/sg_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

[kmeans] support for weighted k-means
  cpp/include/cuml/cluster/kmeans.hpp
  cpp/src/kmeans/common.cuh
  cpp/src/kmeans/kmeans.cu
  cpp/src/kmeans/sg_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

[prims] add support for iterator type inputs in reduce_cols_by_key
  cpp/src_prims/linalg/reduce_cols_by_key.h
Owners: @rapidsai/cuml-cpp-codeowners

[kmeans] cython support for weighted k-means, update pytest
  python/cuml/cluster/kmeans.pyx
  python/cuml/test/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

[prims] add support for iterator type inputs in reduce_cols_by_key
  cpp/src_prims/linalg/reduce_cols_by_key.h
Owners: @rapidsai/cuml-cpp-codeowners

[kmeans] support for weighted k-means
  cpp/include/cuml/cluster/kmeans.hpp
  cpp/src/kmeans/common.cuh
  cpp/src/kmeans/kmeans.cu
  cpp/src/kmeans/sg_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

[prims] add support for weighted reduce_rows_by_key
  cpp/src_prims/linalg/reduce_rows_by_key.h
Owners: @rapidsai/cuml-cpp-codeowners

[kmeans] update C++ tests, benchmarks and examples with weighted k-means
  cpp/bench/sg/kmeans.cu
  cpp/examples/kmeans/kmeans_example.cpp
  cpp/test/sg/kmeans_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

[kmeans] update C++ tests, benchmarks and examples with weighted k-means
  cpp/bench/sg/kmeans.cu
  cpp/examples/kmeans/kmeans_example.cpp
  cpp/test/sg/kmeans_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

[kmeans] fix style
  cpp/src/kmeans/kmeans.cu
  cpp/src/kmeans/sg_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

[kmeans] cython support for weighted k-means, update pytest
  python/cuml/cluster/kmeans.pyx
  python/cuml/test/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

[prims] add support for iterator type inputs in reduce_cols_by_key
  cpp/src_prims/metrics/silhouetteScore.h
Owners: @rapidsai/cuml-cpp-codeowners

[kmeans] add weighted kmeans to pytest
  python/cuml/cluster/kmeans.pyx
  python/cuml/test/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

BUG fixed a typo with self object access
  python/cuml/manifold/umap.pyx
Owners: @rapidsai/cuml-python-codeowners

BUG fixed a typo with self object access
  python/cuml/manifold/umap.pyx
Owners: @rapidsai/cuml-python-codeowners

changelog
  CHANGELOG.md
Owners: none
