Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

BUG updated rf_test to handle verbosity correctly
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/src/randomforest/randomforest.cu
  cpp/test/sg/rf_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/test/sg/rf_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/test/sg/rf_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG updated rf_treelite_test to be less verbose
  cpp/test/sg/rf_treelite_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG updated rf_treelite_test to be less verbose
  cpp/test/sg/rf_treelite_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/test/sg/rf_treelite_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/test/sg/rf_treelite_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG updated rf_accuracy_test to be less verbose
  cpp/test/sg/rf_accuracy_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG updated rf_accuracy_test to be less verbose
  cpp/test/sg/rf_accuracy_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated RF cython wrapper about the verbosity arg change
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Owners: @rapidsai/cuml-python-codeowners

ENH updated RF cython wrapper about the verbosity arg change
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Owners: @rapidsai/cuml-python-codeowners

BUG clang format fixes
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest_impl.h
  cpp/test/sg/rf_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest_impl.h
  cpp/test/sg/rf_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated QN algo to use DEBUG messages, instead of INFO
  cpp/src/glm/qn/qn_solvers.h
  cpp/src/glm/qn/qn_util.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated QN algo to use DEBUG messages, instead of INFO
  cpp/src/glm/qn/qn_solvers.h
  cpp/src/glm/qn/qn_util.h
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/src/glm/qn/qn_util.h
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/src/glm/qn/qn_util.h
Owners: @rapidsai/cuml-cpp-codeowners

[kmeans] add tests to cover the code path without sample weight
  cpp/test/sg/kmeans_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

[kmeans] add tests to cover the code path without sample weight
  cpp/test/sg/kmeans_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

[prims] add weighted and non-weighted reduce_rows_by_key tests
  cpp/test/prims/reduce_rows_by_key.cu
Owners: @rapidsai/cuml-cpp-codeowners

[prims] add weighted and non-weighted reduce_rows_by_key tests
  cpp/test/prims/reduce_rows_by_key.cu
Owners: @rapidsai/cuml-cpp-codeowners

[kmeans] use unaryOp instead of thrust transform
  cpp/src/kmeans/common.cuh
Owners: @rapidsai/cuml-cpp-codeowners

[kmeans] use unaryOp instead of thrust transform
  cpp/src/kmeans/common.cuh
Owners: @rapidsai/cuml-cpp-codeowners

[kmeans] code refactor
  python/cuml/cluster/kmeans.pyx
Owners: @rapidsai/cuml-python-codeowners

[kmeans] code refactor
  python/cuml/cluster/kmeans.pyx
Owners: @rapidsai/cuml-python-codeowners

Adding reproducible random state to umap mnmg tests
  python/cuml/test/dask/test_umap.py
Owners: @rapidsai/cuml-python-codeowners

Adding reproducible random state to umap mnmg tests
  python/cuml/test/dask/test_umap.py
Owners: @rapidsai/cuml-python-codeowners

Updating changelog
  CHANGELOG.md
Owners: none

Updating changelog
  CHANGELOG.md
Owners: none

Adding validation function for umap hyperparams
  cpp/src/umap/init_embed/spectral_algo.h
  python/cuml/manifold/umap.pyx
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

Adding validation function for umap hyperparams
  cpp/src/umap/init_embed/spectral_algo.h
  python/cuml/manifold/umap.pyx
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

Fixing trivial typo in comms
  cpp/comms/std/src/cuML_std_comms_impl.cpp
Owners: @rapidsai/cuml-cpp-codeowners

Fixing trivial typo in comms
  cpp/comms/std/src/cuML_std_comms_impl.cpp
Owners: @rapidsai/cuml-cpp-codeowners

Adding more nan checks in umap tests
  python/cuml/test/test_umap.py
Owners: @rapidsai/cuml-python-codeowners

Adding more nan checks in umap tests
  python/cuml/test/test_umap.py
Owners: @rapidsai/cuml-python-codeowners

update test file and changelog
  CHANGELOG.md
  python/cuml/test/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

update test file and changelog
  CHANGELOG.md
  python/cuml/test/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

FEA cython wrapper for Logger method calls
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

FEA cython wrapper for Logger method calls
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

DOC added copyright header
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners
