Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

[WIP] auto-ARIMA: prediction and forecast
  cpp/include/cuml/tsa/ts_utils.h
  cpp/src/tsa/ts_utils.cu
  cpp/src/tsa/ts_utils.cuh
  python/cuml/tsa/arima.pyx
  python/cuml/tsa/auto_arima.pyx
  python/cuml/tsa/utils.pyx
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

BUG removed stray line in benchmark fixture ctor causing compilation issues
  cpp/bench/sg/benchmark.cuh
Owners: @rapidsai/cuml-cpp-codeowners

BUG removed stray line in benchmark fixture ctor causing compilation issues
  cpp/bench/sg/benchmark.cuh
Owners: @rapidsai/cuml-cpp-codeowners

BUG fixed compilation issues with arima bench
  cpp/bench/sg/arima_loglikelihood.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG fixed compilation issues with arima bench
  cpp/bench/sg/arima_loglikelihood.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH used the loopOnState helper method for arima bench too
  cpp/bench/sg/arima_loglikelihood.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH used the loopOnState helper method for arima bench too
  cpp/bench/sg/arima_loglikelihood.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/bench/sg/arima_loglikelihood.cu
  cpp/bench/sg/benchmark.cuh
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/bench/sg/arima_loglikelihood.cu
  cpp/bench/sg/benchmark.cuh
Owners: @rapidsai/cuml-cpp-codeowners

Refactoring tree parameters related arguments of few more functions and style related corrections
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_regressor.cuh
  cpp/src/decisiontree/memory.cuh
  cpp/src/decisiontree/memory.h
  cpp/src/randomforest/randomforest_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

Refactoring tree parameters related arguments of few more functions and style related corrections
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_regressor.cuh
  cpp/src/decisiontree/memory.cuh
  cpp/src/decisiontree/memory.h
  cpp/src/randomforest/randomforest_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

Fixing file permissions
  cpp/src/decisiontree/decisiontree_impl.h
Owners: @rapidsai/cuml-cpp-codeowners

Fixing file permissions
  cpp/src/decisiontree/decisiontree_impl.h
Owners: @rapidsai/cuml-cpp-codeowners

throwing out code please work this time
  CHANGELOG.md
  python/cuml/dask/common/__init__.py
  python/cuml/dask/common/dask_arr_utils.py
  python/cuml/dask/common/dask_df_utils.py
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/neighbors/nearest_neighbors.py
Owners: @rapidsai/cuml-python-codeowners

throwing out code please work this time
  CHANGELOG.md
  python/cuml/dask/common/__init__.py
  python/cuml/dask/common/dask_arr_utils.py
  python/cuml/dask/common/dask_df_utils.py
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/neighbors/nearest_neighbors.py
Owners: @rapidsai/cuml-python-codeowners

Revert "using DDH parts_to_sizes"
  .gitignore
  BUILD.md
  CHANGELOG.md
  build.sh
  ci/mg/build.sh
  conda/environments/cuml_dev_cuda10.0.yml
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  cpp/README.md
  cpp/cmake/Dependencies.cmake
  cpp/cmake/FindClangFormat.cmake
  cpp/cmake/FindClangTidy.cmake
  cpp/scripts/run-clang-format.py
  python/cuml/dask/neighbors/nearest_neighbors.py
  python/cuml/neighbors/nearest_neighbors_mg.pyx
  python/cuml/test/dask/test_nearest_neighbors.py
  python/cuml/test/test_arima.py
  python/cuml/test/test_umap.py
  python/setup.py
  python/setuputils.py
Owners: @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners, @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

Revert "using DDH parts_to_sizes"
  .gitignore
  BUILD.md
  CHANGELOG.md
  build.sh
  ci/mg/build.sh
  conda/environments/cuml_dev_cuda10.0.yml
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  cpp/README.md
  cpp/cmake/Dependencies.cmake
  cpp/cmake/FindClangFormat.cmake
  cpp/cmake/FindClangTidy.cmake
  cpp/scripts/run-clang-format.py
  python/cuml/dask/neighbors/nearest_neighbors.py
  python/cuml/neighbors/nearest_neighbors_mg.pyx
  python/cuml/test/dask/test_nearest_neighbors.py
  python/cuml/test/test_arima.py
  python/cuml/test/test_umap.py
  python/setup.py
  python/setuputils.py
Owners: @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners, @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

DOC update changelog
  CHANGELOG.md
Owners: none

DOC update changelog
  CHANGELOG.md
Owners: none

BUG use deviceAllocator instead of direct cudaMalloc/cudaFree calls
  cpp/src_prims/metrics/adjustedRandIndex.h
Owners: @rapidsai/cuml-cpp-codeowners

BUG use deviceAllocator instead of direct cudaMalloc/cudaFree calls
  cpp/src_prims/metrics/adjustedRandIndex.h
Owners: @rapidsai/cuml-cpp-codeowners

BUG removed unused workspace pointer
  cpp/src_prims/metrics/adjustedRandIndex.h
Owners: @rapidsai/cuml-cpp-codeowners

BUG removed unused workspace pointer
  cpp/src_prims/metrics/adjustedRandIndex.h
Owners: @rapidsai/cuml-cpp-codeowners

DBG unit-test to repro large value errors with adjusted-rand-index score
  cpp/test/prims/adjustedRandIndex.cu
Owners: @rapidsai/cuml-cpp-codeowners

DBG unit-test to repro large value errors with adjusted-rand-index score
  cpp/test/prims/adjustedRandIndex.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/src_prims/metrics/adjustedRandIndex.h
  cpp/test/prims/adjustedRandIndex.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/src_prims/metrics/adjustedRandIndex.h
  cpp/test/prims/adjustedRandIndex.cu
Owners: @rapidsai/cuml-cpp-codeowners

Cleaning up to_sp_dask_array to make it more readable
  python/cuml/dask/common/dask_arr_utils.py
Owners: @rapidsai/cuml-python-codeowners

Cleaning up to_sp_dask_array to make it more readable
  python/cuml/dask/common/dask_arr_utils.py
Owners: @rapidsai/cuml-python-codeowners

Adjusting style and removing extra skip for comms ucx test
  python/cuml/dask/common/dask_arr_utils.py
  python/cuml/test/dask/test_comms.py
Owners: @rapidsai/cuml-python-codeowners

Adjusting style and removing extra skip for comms ucx test
  python/cuml/dask/common/dask_arr_utils.py
  python/cuml/test/dask/test_comms.py
Owners: @rapidsai/cuml-python-codeowners

BUG early type-casting to double in order to avoid overflow issues
  cpp/src_prims/metrics/adjustedRandIndex.h
  cpp/test/prims/adjustedRandIndex.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG early type-casting to double in order to avoid overflow issues
  cpp/src_prims/metrics/adjustedRandIndex.h
  cpp/test/prims/adjustedRandIndex.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH try to reduce dynamic range even during computation of nC2
  cpp/src_prims/metrics/adjustedRandIndex.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH try to reduce dynamic range even during computation of nC2
  cpp/src_prims/metrics/adjustedRandIndex.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC update changelog
  CHANGELOG.md
Owners: none

DOC update changelog
  CHANGELOG.md
Owners: none

BUG clang format updates
  cpp/src_prims/metrics/adjustedRandIndex.h
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format updates
  cpp/src_prims/metrics/adjustedRandIndex.h
Owners: @rapidsai/cuml-cpp-codeowners

Finishing review feedback for PR.
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/common/part_utils.py
Owners: @rapidsai/cuml-python-codeowners
