Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Fix inverse_transform index
  python/cuml/preprocessing/encoders.py
Owners: @rapidsai/cuml-python-codeowners

Transform now directly fill the entire ohe matrix, removing the use for concat
  python/cuml/preprocessing/encoders.py
  python/cuml/test/test_one_hot_encoder.py
Owners: @rapidsai/cuml-python-codeowners

Transform now directly fill the entire ohe matrix, removing the use for concat
  python/cuml/preprocessing/encoders.py
  python/cuml/test/test_one_hot_encoder.py
Owners: @rapidsai/cuml-python-codeowners

[kmeans] fix style
  python/cuml/test/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

[kmeans] fix style
  python/cuml/test/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

[kmeans] fix style
  python/cuml/cluster/kmeans.pyx
Owners: @rapidsai/cuml-python-codeowners

[kmeans] fix style
  python/cuml/cluster/kmeans.pyx
Owners: @rapidsai/cuml-python-codeowners

Use CumlArray in Random Projection
  python/cuml/random_projection/random_projection.pyx
Owners: @rapidsai/cuml-python-codeowners

Use CumlArray in Random Projection
  python/cuml/random_projection/random_projection.pyx
Owners: @rapidsai/cuml-python-codeowners

Add entry to change log
  CHANGELOG.md
Owners: none

Add entry to change log
  CHANGELOG.md
Owners: none

Add sparse support to OneHotEncoder
  python/cuml/preprocessing/encoders.py
  python/cuml/test/test_one_hot_encoder.py
Owners: @rapidsai/cuml-python-codeowners

Add sparse support to OneHotEncoder
  python/cuml/preprocessing/encoders.py
  python/cuml/test/test_one_hot_encoder.py
Owners: @rapidsai/cuml-python-codeowners

SG classification
  python/cuml/datasets/classification.py
  python/cuml/datasets/utils.py
Owners: @rapidsai/cuml-python-codeowners

SG classification
  python/cuml/datasets/classification.py
  python/cuml/datasets/utils.py
Owners: @rapidsai/cuml-python-codeowners

Make all Scipy imports conditional
  python/cuml/dask/common/dask_arr_utils.py
  python/cuml/manifold/umap.pyx
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/preprocessing/label.py
  python/cuml/test/dask/test_nearest_neighbors.py
  python/cuml/test/test_arima.py
  python/cuml/test/test_label_binarizer.py
  python/cuml/test/test_metrics.py
  python/cuml/test/test_nearest_neighbors.py
  python/cuml/test/test_random_projection.py
Owners: @rapidsai/cuml-python-codeowners

Make all Scipy imports conditional
  python/cuml/dask/common/dask_arr_utils.py
  python/cuml/manifold/umap.pyx
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/preprocessing/label.py
  python/cuml/test/dask/test_nearest_neighbors.py
  python/cuml/test/test_arima.py
  python/cuml/test/test_label_binarizer.py
  python/cuml/test/test_metrics.py
  python/cuml/test/test_nearest_neighbors.py
  python/cuml/test/test_random_projection.py
Owners: @rapidsai/cuml-python-codeowners

ENH updated all messages in umap to use LOG_DEBUG
  cpp/src/umap/optimize.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated all messages in umap to use LOG_DEBUG
  cpp/src/umap/optimize.h
Owners: @rapidsai/cuml-cpp-codeowners

BUG fixed the default verbosity level for SVM unit-tests
  cpp/test/sg/svc_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG fixed the default verbosity level for SVM unit-tests
  cpp/test/sg/svc_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG fixed the default verbosity level for SVM BlobPredict test
  cpp/test/sg/svc_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG fixed the default verbosity level for SVM BlobPredict test
  cpp/test/sg/svc_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated knn to use verbosity level
  cpp/include/cuml/neighbors/knn.hpp
  cpp/src/knn/knn.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated knn to use verbosity level
  cpp/include/cuml/neighbors/knn.hpp
  cpp/src/knn/knn.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated knn to use DEBUG messages
  cpp/src/knn/knn.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated knn to use DEBUG messages
  cpp/src/knn/knn.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH use cuml-log verbosity level in kmeans
  cpp/include/cuml/cluster/kmeans.hpp
Owners: @rapidsai/cuml-cpp-codeowners

ENH use cuml-log verbosity level in kmeans
  cpp/include/cuml/cluster/kmeans.hpp
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/include/cuml/cluster/kmeans.hpp
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/include/cuml/cluster/kmeans.hpp
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated kmeans to use verbosity for finer control over logging messages
  cpp/include/cuml/cluster/kmeans.hpp
  cpp/src/kmeans/common.cuh
  cpp/src/kmeans/sg_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated kmeans to use verbosity for finer control over logging messages
  cpp/include/cuml/cluster/kmeans.hpp
  cpp/src/kmeans/common.cuh
  cpp/src/kmeans/sg_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/src/kmeans/sg_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/src/kmeans/sg_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated cython wrapper for kmeans to use verbosity level
  python/cuml/cluster/kmeans.pyx
Owners: @rapidsai/cuml-python-codeowners

ENH updated cython wrapper for kmeans to use verbosity level
  python/cuml/cluster/kmeans.pyx
Owners: @rapidsai/cuml-python-codeowners

DOC copyright year update
  python/cuml/cluster/kmeans.pyx
Owners: @rapidsai/cuml-python-codeowners

DOC copyright year update
  python/cuml/cluster/kmeans.pyx
Owners: @rapidsai/cuml-python-codeowners

BUG fixed kmeans sg bench to use verbosity level
  cpp/bench/sg/kmeans.cu
Owners: @rapidsai/cuml-cpp-codeowners
