Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Working MG, weird bug in SG
  python/cuml/dask/datasets/classification.py
  python/cuml/datasets/classification.py
  python/cuml/datasets/utils.py
Owners: @rapidsai/cuml-python-codeowners

pytests
  python/cuml/test/dask/test_datasets.py
  python/cuml/test/test_make_classification.py
Owners: @rapidsai/cuml-python-codeowners

pytests
  python/cuml/test/dask/test_datasets.py
  python/cuml/test/test_make_classification.py
Owners: @rapidsai/cuml-python-codeowners

changelog and style fix
  CHANGELOG.md
  python/cuml/test/test_make_classification.py
Owners: @rapidsai/cuml-python-codeowners

changelog and style fix
  CHANGELOG.md
  python/cuml/test/test_make_classification.py
Owners: @rapidsai/cuml-python-codeowners

remove unused import
  python/cuml/dask/neighbors/nearest_neighbors.py
Owners: @rapidsai/cuml-python-codeowners

remove unused import
  python/cuml/dask/neighbors/nearest_neighbors.py
Owners: @rapidsai/cuml-python-codeowners

BUG Ignore negative cache indices in get_vecs
  cpp/src_prims/cache/cache.h
  cpp/src_prims/cache/cache_util.h
Owners: @rapidsai/cuml-cpp-codeowners

BUG Ignore negative cache indices in get_vecs
  cpp/src_prims/cache/cache.h
  cpp/src_prims/cache/cache_util.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC update changelog
  CHANGELOG.md
Owners: none

DOC update changelog
  CHANGELOG.md
Owners: none

sparse test functions
  python/cuml/test/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

sparse test functions
  python/cuml/test/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

Move algo.h -> algo.cuh
  cpp/src/dbscan/vertexdeg/algo.cuh
  cpp/src/dbscan/vertexdeg/runner.cuh
Owners: @rapidsai/cuml-cpp-codeowners

Move algo.h -> algo.cuh
  cpp/src/dbscan/vertexdeg/algo.cuh
  cpp/src/dbscan/vertexdeg/runner.cuh
Owners: @rapidsai/cuml-cpp-codeowners

Update test_pca.py
  python/cuml/test/dask/test_pca.py
Owners: @rapidsai/cuml-python-codeowners

Update test_pca.py
  python/cuml/test/dask/test_pca.py
Owners: @rapidsai/cuml-python-codeowners

tsne adopting cumlarray. pytest passed.
  python/cuml/manifold/t_sne.pyx
Owners: @rapidsai/cuml-python-codeowners

tsne adopting cumlarray. pytest passed.
  python/cuml/manifold/t_sne.pyx
Owners: @rapidsai/cuml-python-codeowners

updated the changelog
  CHANGELOG.md
  python/cuml/test/dask/test_tsvd.py
Owners: @rapidsai/cuml-python-codeowners

updated the changelog
  CHANGELOG.md
  python/cuml/test/dask/test_tsvd.py
Owners: @rapidsai/cuml-python-codeowners

updated dask tsvd test file
  python/cuml/test/dask/test_tsvd.py
Owners: @rapidsai/cuml-python-codeowners

updated dask tsvd test file
  python/cuml/test/dask/test_tsvd.py
Owners: @rapidsai/cuml-python-codeowners

Improved treelite -> FIL sparse import.
  cpp/src/fil/fil.cu
Owners: @rapidsai/cuml-cpp-codeowners

Improved treelite -> FIL sparse import.
  cpp/src/fil/fil.cu
Owners: @rapidsai/cuml-cpp-codeowners

Updated CHANGELOG.md.
  CHANGELOG.md
Owners: none

Updated CHANGELOG.md.
  CHANGELOG.md
Owners: none

Using centers instead of n_centers
  python/cuml/test/dask/test_pca.py
  python/cuml/test/dask/test_tsvd.py
Owners: @rapidsai/cuml-python-codeowners

Using centers instead of n_centers
  python/cuml/test/dask/test_pca.py
  python/cuml/test/dask/test_tsvd.py
Owners: @rapidsai/cuml-python-codeowners

Changing more n_centers into centers
  python/cuml/test/dask/test_base.py
  python/cuml/test/dask/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

Changing more n_centers into centers
  python/cuml/test/dask/test_base.py
  python/cuml/test/dask/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

Fixed style errors.
  cpp/src/fil/fil.cu
Owners: @rapidsai/cuml-cpp-codeowners

Fixed style errors.
  cpp/src/fil/fil.cu
Owners: @rapidsai/cuml-cpp-codeowners

Refactoring ucp_helper a bit to make memory management more straightforward
  cpp/comms/std/src/cuML_std_comms_impl.cpp
  cpp/comms/std/src/cuML_std_comms_impl.hpp
  cpp/comms/std/src/ucp_helper.h
  python/cuml/test/dask/test_comms.py
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

Refactoring ucp_helper a bit to make memory management more straightforward
  cpp/comms/std/src/cuML_std_comms_impl.cpp
  cpp/comms/std/src/cuML_std_comms_impl.hpp
  cpp/comms/std/src/ucp_helper.h
  python/cuml/test/dask/test_comms.py
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

Removing stray debug print
  python/cuml/test/dask/test_umap.py
Owners: @rapidsai/cuml-python-codeowners

Removing stray debug print
  python/cuml/test/dask/test_umap.py
Owners: @rapidsai/cuml-python-codeowners

Updating style for cpp files
  cpp/comms/std/src/cuML_std_comms_impl.cpp
  cpp/comms/std/src/cuML_std_comms_impl.hpp
  cpp/comms/std/src/ucp_helper.h
Owners: @rapidsai/cuml-cpp-codeowners

Updating style for cpp files
  cpp/comms/std/src/cuML_std_comms_impl.cpp
  cpp/comms/std/src/cuML_std_comms_impl.hpp
  cpp/comms/std/src/ucp_helper.h
Owners: @rapidsai/cuml-cpp-codeowners

adding sync to knn cython, removing syncs from fit() functions
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
Owners: @rapidsai/cuml-python-codeowners
