Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

update fit function to use DistributedDataHandler
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
Owners: @rapidsai/cuml-python-codeowners

Updating test
  cpp/src/umap/runner.h
  cpp/test/sg/umap_parametrizable_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

Updating test
  cpp/src/umap/runner.h
  cpp/test/sg/umap_parametrizable_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH Allow float labels. Add helper to print DatasetParams.
  cpp/bench/sg/dataset.cuh
Owners: @rapidsai/cuml-cpp-codeowners

ENH Allow float labels. Add helper to print DatasetParams.
  cpp/bench/sg/dataset.cuh
Owners: @rapidsai/cuml-cpp-codeowners

ENH Add C++ benchmark for SVC and SVR
  cpp/bench/CMakeLists.txt
  cpp/bench/sg/svc.cu
  cpp/bench/sg/svr.cu
Owners: @rapidsai/cuml-cmake-codeowners, @rapidsai/cuml-cpp-codeowners

ENH Add C++ benchmark for SVC and SVR
  cpp/bench/CMakeLists.txt
  cpp/bench/sg/svc.cu
  cpp/bench/sg/svr.cu
Owners: @rapidsai/cuml-cmake-codeowners, @rapidsai/cuml-cpp-codeowners

style fixes
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

style fixes
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

DOC Update changelog.
  CHANGELOG.md
Owners: none

DOC Update changelog.
  CHANGELOG.md
Owners: none

documentation updates
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
Owners: @rapidsai/cuml-python-codeowners

documentation updates
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
Owners: @rapidsai/cuml-python-codeowners

updated changelog.md
  CHANGELOG.md
Owners: none

updated changelog.md
  CHANGELOG.md
Owners: none

updated changelog.md typo
  CHANGELOG.md
Owners: none

updated changelog.md typo
  CHANGELOG.md
Owners: none

Use make_monotonic as required by mutual_info_score prims
  python/cuml/metrics/cluster/utils.pyx
Owners: @rapidsai/cuml-python-codeowners

Use make_monotonic as required by mutual_info_score prims
  python/cuml/metrics/cluster/utils.pyx
Owners: @rapidsai/cuml-python-codeowners

Add failing test when random range equal number of samples
  python/cuml/test/test_metrics.py
Owners: @rapidsai/cuml-python-codeowners

Add failing test when random range equal number of samples
  python/cuml/test/test_metrics.py
Owners: @rapidsai/cuml-python-codeowners

silly typo
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

silly typo
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

update the code based on reviews
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Owners: @rapidsai/cuml-python-codeowners

update the code based on reviews
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Owners: @rapidsai/cuml-python-codeowners

updated if else conditions for get_protobuf_bytes
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Owners: @rapidsai/cuml-python-codeowners

updated if else conditions for get_protobuf_bytes
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Owners: @rapidsai/cuml-python-codeowners

ENH renamed internal-streams to worker-streams (issue #1764)
  cpp/src/common/cumlHandle.cpp
  cpp/src/common/cumlHandle.hpp
Owners: @rapidsai/cuml-cpp-codeowners

copyright year update
  cpp/src/common/cumlHandle.hpp
Owners: @rapidsai/cuml-cpp-codeowners

FIX updated RF code to use internal-streams
  cpp/src/randomforest/randomforest_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

FIX updated cuml.hpp also to rename to worker-streams
  cpp/include/cuml/cuml.hpp
Owners: @rapidsai/cuml-cpp-codeowners

copyright year update
  cpp/include/cuml/cuml.hpp
Owners: @rapidsai/cuml-cpp-codeowners

FIX updated missing rename of default num internal streams to worker-streams
  cpp/include/cuml/cuml.hpp
Owners: @rapidsai/cuml-cpp-codeowners

FIX fixed typo in previous commit
  cpp/include/cuml/cuml.hpp
Owners: @rapidsai/cuml-cpp-codeowners

FIX updated knn to use worker-streams
  cpp/include/cuml/cuml.hpp
  cpp/src/knn/knn.cu
Owners: @rapidsai/cuml-cpp-codeowners

FIX updated knn to use worker-streams
  cpp/src/knn/knn.cu
Owners: @rapidsai/cuml-cpp-codeowners

FIX upated svc unit-test to use worker-streams
  cpp/test/sg/svc_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated documentation and interface for knn prim to call the input streams as worker-streams
  cpp/src_prims/selection/knn.h
Owners: @rapidsai/cuml-cpp-codeowners

copyright year update
  cpp/src_prims/selection/knn.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC update changelog
  CHANGELOG.md
Owners: none
