Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

changelog
  CHANGELOG.md
Owners: none

Reduce number of tests instead of reducing test size
  python/cuml/test/test_mbsgd_classifier.py
  python/cuml/test/test_mbsgd_regressor.py
Owners: @rapidsai/cuml-python-codeowners

Reduce number of tests instead of reducing test size
  python/cuml/test/test_mbsgd_classifier.py
  python/cuml/test/test_mbsgd_regressor.py
Owners: @rapidsai/cuml-python-codeowners

Re-enabling ucx_cluster for dask nearest neighbors tests
  python/cuml/test/dask/test_nearest_neighbors.py
Owners: @rapidsai/cuml-python-codeowners

updating changelog
  CHANGELOG.md
Owners: none

ENH use verbosity instead of boolean verbose flag for SVM
  cpp/include/cuml/svm/svc.hpp
  cpp/include/cuml/svm/svm_api.h
  cpp/include/cuml/svm/svm_parameter.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH use verbosity instead of boolean verbose flag for SVM
  cpp/include/cuml/svm/svc.hpp
  cpp/include/cuml/svm/svm_api.h
  cpp/include/cuml/svm/svm_parameter.h
Owners: @rapidsai/cuml-cpp-codeowners

style fix
  python/cuml/dask/neighbors/nearest_neighbors.py
Owners: @rapidsai/cuml-python-codeowners

style fix
  python/cuml/dask/neighbors/nearest_neighbors.py
Owners: @rapidsai/cuml-python-codeowners

cherrypicking to clean history
  .gitignore
  BUILD.md
  CHANGELOG.md
  build.sh
  ci/mg/build.sh
  conda/environments/cuml_dev_cuda10.0.yml
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  cpp/README.md
  cpp/cmake/Dependencies.cmake
  cpp/cmake/FindClangFormat.cmake
  cpp/cmake/FindClangTidy.cmake
  cpp/scripts/run-clang-format.py
  python/cuml/neighbors/nearest_neighbors_mg.pyx
  python/cuml/test/dask/test_nearest_neighbors.py
  python/cuml/test/test_arima.py
  python/cuml/test/test_umap.py
  python/setup.py
  python/setuputils.py
Owners: @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners, @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

cherrypicking to clean history
  .gitignore
  BUILD.md
  CHANGELOG.md
  build.sh
  ci/mg/build.sh
  conda/environments/cuml_dev_cuda10.0.yml
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  cpp/README.md
  cpp/cmake/Dependencies.cmake
  cpp/cmake/FindClangFormat.cmake
  cpp/cmake/FindClangTidy.cmake
  cpp/scripts/run-clang-format.py
  python/cuml/neighbors/nearest_neighbors_mg.pyx
  python/cuml/test/dask/test_nearest_neighbors.py
  python/cuml/test/test_arima.py
  python/cuml/test/test_umap.py
  python/setup.py
  python/setuputils.py
Owners: @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners, @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

fixing changelog
  CHANGELOG.md
Owners: none

fixing changelog
  CHANGELOG.md
Owners: none

more changelog fix
  CHANGELOG.md
Owners: none

more changelog fix
  CHANGELOG.md
Owners: none

update the changelog.md
  CHANGELOG.md
Owners: none

update the changelog.md
  CHANGELOG.md
Owners: none

ENH updated svm algo to expose a verbosity log level
  cpp/include/cuml/svm/svc.hpp
  cpp/src/svm/kernelcache.h
  cpp/src/svm/smosolver.h
  cpp/src/svm/svc.cu
  cpp/src/svm/svm_api.cpp
  cpp/src/svm/workingset.h
  cpp/src_prims/cache/cache.h
  cpp/test/sg/svc_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated svm algo to expose a verbosity log level
  cpp/include/cuml/svm/svc.hpp
  cpp/src/svm/kernelcache.h
  cpp/src/svm/smosolver.h
  cpp/src/svm/svc.cu
  cpp/src/svm/svm_api.cpp
  cpp/src/svm/workingset.h
  cpp/src_prims/cache/cache.h
  cpp/test/sg/svc_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH use DEBUG messages in svm::workingset instead of INFO
  cpp/src/svm/workingset.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH use DEBUG messages in svm::workingset instead of INFO
  cpp/src/svm/workingset.h
Owners: @rapidsai/cuml-cpp-codeowners

Review feedback
  python/cuml/dask/common/dask_arr_utils.py
Owners: @rapidsai/cuml-python-codeowners

Review feedback
  python/cuml/dask/common/dask_arr_utils.py
Owners: @rapidsai/cuml-python-codeowners

DOC copyright year update
  cpp/src_prims/cache/cache.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/src_prims/cache/cache.h
Owners: @rapidsai/cuml-cpp-codeowners

Adding more clarity in docs for _conv_array_to_sparse
  python/cuml/dask/common/dask_arr_utils.py
Owners: @rapidsai/cuml-python-codeowners

Adding more clarity in docs for _conv_array_to_sparse
  python/cuml/dask/common/dask_arr_utils.py
Owners: @rapidsai/cuml-python-codeowners

ENH updated cvm cython wrapper to refer to verbosity level
  python/cuml/svm/svc.pyx
  python/cuml/svm/svm_base.pyx
  python/cuml/svm/svr.pyx
Owners: @rapidsai/cuml-python-codeowners

ENH updated cvm cython wrapper to refer to verbosity level
  python/cuml/svm/svc.pyx
  python/cuml/svm/svm_base.pyx
  python/cuml/svm/svr.pyx
Owners: @rapidsai/cuml-python-codeowners

BUG fixed log level in tsne unit-test
  cpp/test/sg/tsne_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG fixed log level in tsne unit-test
  cpp/test/sg/tsne_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/include/cuml/svm/svc.hpp
  cpp/src/svm/kernelcache.h
  cpp/src/svm/svc.cu
  cpp/src_prims/cache/cache.h
  cpp/test/sg/svc_test.cu
  cpp/test/sg/tsne_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/include/cuml/svm/svc.hpp
  cpp/src/svm/kernelcache.h
  cpp/src/svm/svc.cu
  cpp/src_prims/cache/cache.h
  cpp/test/sg/svc_test.cu
  cpp/test/sg/tsne_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG fixed log level in dbscan unit-test
  cpp/test/sg/dbscan_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG fixed log level in dbscan unit-test
  cpp/test/sg/dbscan_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

Final review feedback
  python/cuml/dask/common/__init__.py
  python/cuml/dask/common/dask_arr_utils.py
  python/cuml/dask/naive_bayes/naive_bayes.py
  python/cuml/test/dask/test_dask_arr_utils.py
  python/cuml/test/dask/utils.py
Owners: @rapidsai/cuml-python-codeowners

Final review feedback
  python/cuml/dask/common/__init__.py
  python/cuml/dask/common/dask_arr_utils.py
  python/cuml/dask/naive_bayes/naive_bayes.py
  python/cuml/test/dask/test_dask_arr_utils.py
  python/cuml/test/dask/utils.py
Owners: @rapidsai/cuml-python-codeowners

update changelog
  CHANGELOG.md
Owners: none

update changelog
  CHANGELOG.md
Owners: none

Fix inverse_transform index
  python/cuml/preprocessing/encoders.py
Owners: @rapidsai/cuml-python-codeowners
