Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

update change log
  CHANGELOG.md
Owners: none

FIX use old style cythonization for singlegpu target
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

FIX use old style cythonization for singlegpu target
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

Updating copyright headers
  python/cuml/dask/common/comms.py
  python/cuml/dask/common/ucx.py
  python/cuml/test/dask/test_ucx.py
Owners: @rapidsai/cuml-python-codeowners

Updating copyright headers
  python/cuml/dask/common/comms.py
  python/cuml/dask/common/ucx.py
  python/cuml/test/dask/test_ucx.py
Owners: @rapidsai/cuml-python-codeowners

Removing unecessary session state
  python/cuml/dask/common/comms.py
Owners: @rapidsai/cuml-python-codeowners

Removing unecessary session state
  python/cuml/dask/common/comms.py
Owners: @rapidsai/cuml-python-codeowners

Updates based on review feedback
  python/cuml/dask/common/comms.py
  python/cuml/dask/common/ucx.py
Owners: @rapidsai/cuml-python-codeowners

Updates based on review feedback
  python/cuml/dask/common/comms.py
  python/cuml/dask/common/ucx.py
Owners: @rapidsai/cuml-python-codeowners

Some more cleanup based on PR feedback
  python/cuml/dask/common/comms.py
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/common/part_utils.py
  python/cuml/dask/common/ucx.py
  python/cuml/dask/decomposition/base.py
  python/cuml/dask/linear_model/base.py
  python/cuml/dask/neighbors/nearest_neighbors.py
Owners: @rapidsai/cuml-python-codeowners

Some more cleanup based on PR feedback
  python/cuml/dask/common/comms.py
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/common/part_utils.py
  python/cuml/dask/common/ucx.py
  python/cuml/dask/decomposition/base.py
  python/cuml/dask/linear_model/base.py
  python/cuml/dask/neighbors/nearest_neighbors.py
Owners: @rapidsai/cuml-python-codeowners

DOC Add github issue reference
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

DOC Add github issue reference
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

Fixing style
  python/cuml/dask/common/comms.py
  python/cuml/dask/linear_model/base.py
Owners: @rapidsai/cuml-python-codeowners

Fixing style
  python/cuml/dask/common/comms.py
  python/cuml/dask/linear_model/base.py
Owners: @rapidsai/cuml-python-codeowners

FIX Improve path detection of folders to delete
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

FIX Improve path detection of folders to delete
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

FIX Docstring and serch only for folders fix
  python/setuputils.py
Owners: none

FIX Docstring and serch only for folders fix
  python/setuputils.py
Owners: none

FIX Remove --deep option from build.sh
  build.sh
Owners: @rapidsai/cuml-cmake-codeowners

FIX Remove --deep option from build.sh
  build.sh
Owners: @rapidsai/cuml-cmake-codeowners

FIX Move cython import to try/catch
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

FIX Move cython import to try/catch
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

FIX PEP8 fixes
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

FIX PEP8 fixes
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

FIX PEP8 fixes
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

FIX PEP8 fixes
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

kmeans changes
  python/cuml/dask/cluster/kmeans.py
Owners: @rapidsai/cuml-python-codeowners

kmeans changes
  python/cuml/dask/cluster/kmeans.py
Owners: @rapidsai/cuml-python-codeowners

kNN changes
  python/cuml/dask/neighbors/nearest_neighbors.py
Owners: @rapidsai/cuml-python-codeowners

kNN changes
  python/cuml/dask/neighbors/nearest_neighbors.py
Owners: @rapidsai/cuml-python-codeowners

RF changes
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
Owners: @rapidsai/cuml-python-codeowners

RF changes
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
Owners: @rapidsai/cuml-python-codeowners

Added tree_params member to DecisionTreeBase and moved a bunch of arguments of plant under it
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
Owners: @rapidsai/cuml-cpp-codeowners

Added tree_params member to DecisionTreeBase and moved a bunch of arguments of plant under it
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
Owners: @rapidsai/cuml-cpp-codeowners

Copyright correction and style related changes
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
Owners: @rapidsai/cuml-cpp-codeowners

Copyright correction and style related changes
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
Owners: @rapidsai/cuml-cpp-codeowners

Improving the code of ARIMA's C++ benchmark
  cpp/bench/sg/arima_loglikelihood.cu
Owners: @rapidsai/cuml-cpp-codeowners

Improving the code of ARIMA's C++ benchmark
  cpp/bench/sg/arima_loglikelihood.cu
Owners: @rapidsai/cuml-cpp-codeowners

[WIP] auto-ARIMA: prediction and forecast
  cpp/include/cuml/tsa/ts_utils.h
  cpp/src/tsa/ts_utils.cu
  cpp/src/tsa/ts_utils.cuh
  python/cuml/tsa/arima.pyx
  python/cuml/tsa/auto_arima.pyx
  python/cuml/tsa/utils.pyx
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners
