Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Introduce CSS, ML and CSS-ML paths in ARIMA's fit()
  cpp/include/cuml/tsa/batched_arima.hpp
  cpp/src/arima/batched_arima.cu
  python/cuml/tsa/arima.pyx
  python/cuml/tsa/auto_arima.pyx
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

Introduce CSS, ML and CSS-ML paths in ARIMA's fit()
  cpp/include/cuml/tsa/batched_arima.hpp
  cpp/src/arima/batched_arima.cu
  python/cuml/tsa/arima.pyx
  python/cuml/tsa/auto_arima.pyx
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

FIX syntax error with previous memcheck nightly command
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

FIX syntax error with previous memcheck nightly command
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

DOC update changelog
  CHANGELOG.md
Owners: none

DOC update changelog
  CHANGELOG.md
Owners: none

DOC added a logger print for the nightly build command for debugging purposes
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

DOC added a logger print for the nightly build command for debugging purposes
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Refactor headers for decision_tree, glm, pca
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/levelalgo/metric.cuh
  cpp/src/decisiontree/levelalgo/metric_def.cuh
  cpp/src/glm/glm.cu
  cpp/src/glm/ols.cuh
  cpp/src/glm/preprocess.cuh
  cpp/src/glm/qn/glm_base.cuh
  cpp/src/glm/qn/glm_linear.cuh
  cpp/src/glm/qn/glm_logistic.cuh
  cpp/src/glm/qn/glm_regularizer.cuh
  cpp/src/glm/qn/glm_softmax.cuh
  cpp/src/glm/qn/qn.cuh
  cpp/src/glm/qn/qn_linesearch.cuh
  cpp/src/glm/qn/qn_solvers.cuh
  cpp/src/glm/qn/qn_util.cuh
  cpp/src/glm/qn/simple_mat.cuh
  cpp/src/glm/ridge.cuh
  cpp/src/pca/pca.cu
  cpp/src/pca/pca.cuh
  cpp/src/solver/cd.cuh
  cpp/src/solver/sgd.cuh
  cpp/test/sg/ols.cu
  cpp/test/sg/pca_test.cu
  cpp/test/sg/quasi_newton.cu
  cpp/test/sg/ridge.cu
Owners: @rapidsai/cuml-cpp-codeowners

Refactor headers for decision_tree, glm, pca
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/levelalgo/metric.cuh
  cpp/src/decisiontree/levelalgo/metric_def.cuh
  cpp/src/glm/glm.cu
  cpp/src/glm/ols.cuh
  cpp/src/glm/preprocess.cuh
  cpp/src/glm/qn/glm_base.cuh
  cpp/src/glm/qn/glm_linear.cuh
  cpp/src/glm/qn/glm_logistic.cuh
  cpp/src/glm/qn/glm_regularizer.cuh
  cpp/src/glm/qn/glm_softmax.cuh
  cpp/src/glm/qn/qn.cuh
  cpp/src/glm/qn/qn_linesearch.cuh
  cpp/src/glm/qn/qn_solvers.cuh
  cpp/src/glm/qn/qn_util.cuh
  cpp/src/glm/qn/simple_mat.cuh
  cpp/src/glm/ridge.cuh
  cpp/src/pca/pca.cu
  cpp/src/pca/pca.cuh
  cpp/src/solver/cd.cuh
  cpp/src/solver/sgd.cuh
  cpp/test/sg/ols.cu
  cpp/test/sg/pca_test.cu
  cpp/test/sg/quasi_newton.cu
  cpp/test/sg/ridge.cu
Owners: @rapidsai/cuml-cpp-codeowners

some mbsgd classifier test change for CI
  python/cuml/test/test_mbsgd_classifier.py
Owners: @rapidsai/cuml-python-codeowners

some mbsgd classifier test change for CI
  python/cuml/test/test_mbsgd_classifier.py
Owners: @rapidsai/cuml-python-codeowners

update dask rf classifier to convert float64
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/ensemble/randomforestclassifier.pyx
Owners: @rapidsai/cuml-python-codeowners

update dask rf classifier to convert float64
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/ensemble/randomforestclassifier.pyx
Owners: @rapidsai/cuml-python-codeowners

update rf regression code
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Owners: @rapidsai/cuml-python-codeowners

update rf regression code
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Owners: @rapidsai/cuml-python-codeowners

updated the test file and changelog file
  CHANGELOG.md
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

updated the test file and changelog file
  CHANGELOG.md
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

Reverting all, recent refactoring changes temporarily, to work on CI issue
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_regressor.cuh
  cpp/src/decisiontree/memory.cuh
  cpp/src/decisiontree/memory.h
  cpp/src/randomforest/randomforest_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

Reverting all, recent refactoring changes temporarily, to work on CI issue
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_regressor.cuh
  cpp/src/decisiontree/memory.cuh
  cpp/src/decisiontree/memory.h
  cpp/src/randomforest/randomforest_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

NOP change to trigger correct set of CI tests
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_regressor.cuh
  cpp/src/decisiontree/memory.cuh
  cpp/src/decisiontree/memory.h
  cpp/src/randomforest/randomforest_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

NOP change to trigger correct set of CI tests
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_regressor.cuh
  cpp/src/decisiontree/memory.cuh
  cpp/src/decisiontree/memory.h
  cpp/src/randomforest/randomforest_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

Reintroducing the refactoring changes
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_regressor.cuh
  cpp/src/decisiontree/memory.cuh
  cpp/src/decisiontree/memory.h
  cpp/src/randomforest/randomforest_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

Reintroducing the refactoring changes
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_regressor.cuh
  cpp/src/decisiontree/memory.cuh
  cpp/src/decisiontree/memory.h
  cpp/src/randomforest/randomforest_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

Reverting to correct 4b720dd
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/memory.cuh
  cpp/src/randomforest/randomforest_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

Reverting to correct 3266937
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/memory.cuh
  cpp/src/randomforest/randomforest_impl.cuh
Owners: @rapidsai/cuml-cpp-codeowners

updated the notebook
  notebooks/metrics_demo.ipynb
Owners: none

updated the notebook
  notebooks/metrics_demo.ipynb
Owners: none

updated the notebook
  notebooks/metrics_demo.ipynb
Owners: none

updated the notebook
  notebooks/metrics_demo.ipynb
Owners: none

updated the notebook
  notebooks/metrics_demo.ipynb
Owners: none

updated the notebook
  notebooks/metrics_demo.ipynb
Owners: none

Fix PCA transform
  python/cuml/decomposition/pca.pyx
  python/cuml/test/test_pca.py
Owners: @rapidsai/cuml-python-codeowners

Fix PCA transform
  python/cuml/decomposition/pca.pyx
  python/cuml/test/test_pca.py
Owners: @rapidsai/cuml-python-codeowners

Changelog update
  CHANGELOG.md
Owners: none

Changelog update
  CHANGELOG.md
Owners: none

Updates based on review feedback
  cpp/comms/std/src/ucp_helper.h
  cpp/src/umap/runner.h
  python/cuml/test/test_trustworthiness.py
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

Updates based on review feedback
  cpp/comms/std/src/ucp_helper.h
  cpp/src/umap/runner.h
  python/cuml/test/test_trustworthiness.py
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

Fix bug in KPSS test
  cpp/src_prims/timeSeries/stationarity.h
Owners: @rapidsai/cuml-cpp-codeowners

Fix bug in KPSS test
  cpp/src_prims/timeSeries/stationarity.h
Owners: @rapidsai/cuml-cpp-codeowners
