Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

DOC added copyright header
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

BUG return the string with proper decode
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

BUG return the string with proper decode
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

BUG fixed multiple cython declaration related issues
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

BUG fixed multiple cython declaration related issues
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

adding fixture
  python/cuml/test/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

adding fixture
  python/cuml/test/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

FEA exposed logging methods in cython
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

FEA exposed logging methods in cython
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

calling right function
  python/cuml/test/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

calling right function
  python/cuml/test/test_kmeans.py
Owners: @rapidsai/cuml-python-codeowners

DOC changelog update
  CHANGELOG.md
Owners: none

DOC changelog update
  CHANGELOG.md
Owners: none

BUG fixed a typo with cdef extern declaration
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

BUG fixed a typo with cdef extern declaration
  python/cuml/common/logger.pyx
Owners: @rapidsai/cuml-python-codeowners

Only closing ucp handle when UCX was initialized on the comms
  cpp/comms/std/src/cuML_std_comms_impl.cpp
Owners: @rapidsai/cuml-cpp-codeowners

Only closing ucp handle when UCX was initialized on the comms
  cpp/comms/std/src/cuML_std_comms_impl.cpp
Owners: @rapidsai/cuml-cpp-codeowners

Updating cpp style for comms
  cpp/comms/std/src/cuML_std_comms_impl.cpp
Owners: @rapidsai/cuml-cpp-codeowners

Updating cpp style for comms
  cpp/comms/std/src/cuML_std_comms_impl.cpp
Owners: @rapidsai/cuml-cpp-codeowners

Using make_monotonic for computation of probabilities
  cpp/src_prims/selection/knn.h
Owners: @rapidsai/cuml-cpp-codeowners

Using make_monotonic for computation of probabilities
  cpp/src_prims/selection/knn.h
Owners: @rapidsai/cuml-cpp-codeowners

Add hinge-l2-invscaling test combination
  python/cuml/test/test_mbsgd_classifier.py
Owners: @rapidsai/cuml-python-codeowners

Add hinge-l2-invscaling test combination
  python/cuml/test/test_mbsgd_classifier.py
Owners: @rapidsai/cuml-python-codeowners

Add fixtures to generate datasets only once
  python/cuml/test/test_mbsgd_classifier.py
  python/cuml/test/test_mbsgd_regressor.py
Owners: @rapidsai/cuml-python-codeowners

Add fixtures to generate datasets only once
  python/cuml/test/test_mbsgd_classifier.py
  python/cuml/test/test_mbsgd_regressor.py
Owners: @rapidsai/cuml-python-codeowners

Subtracting one from make_monotonic results.
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.h
Owners: @rapidsai/cuml-cpp-codeowners

Subtracting one from make_monotonic results.
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.h
Owners: @rapidsai/cuml-cpp-codeowners

Updating cpp style
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.h
Owners: @rapidsai/cuml-cpp-codeowners

Updating cpp style
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.h
Owners: @rapidsai/cuml-cpp-codeowners

Updating changelog
  CHANGELOG.md
Owners: none

Updating changelog
  CHANGELOG.md
Owners: none

Removing debug prints
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.h
Owners: @rapidsai/cuml-cpp-codeowners

Removing debug prints
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.h
Owners: @rapidsai/cuml-cpp-codeowners

Lowering n_neighbors.
  python/cuml/test/dask/test_umap.py
Owners: @rapidsai/cuml-python-codeowners

Lowering n_neighbors.
  python/cuml/test/dask/test_umap.py
Owners: @rapidsai/cuml-python-codeowners

Initial MG make classification
  python/cuml/__init__.py
  python/cuml/datasets/__init__.py
  python/cuml/datasets/classification.py
  python/cuml/test/utils.py
Owners: @rapidsai/cuml-python-codeowners

Initial MG make classification
  python/cuml/__init__.py
  python/cuml/datasets/__init__.py
  python/cuml/datasets/classification.py
  python/cuml/test/utils.py
Owners: @rapidsai/cuml-python-codeowners

More MG classification
  python/cuml/dask/datasets/classification.py
Owners: @rapidsai/cuml-python-codeowners

More MG classification
  python/cuml/dask/datasets/classification.py
Owners: @rapidsai/cuml-python-codeowners

dask make_blobs to use proper parameters
  python/cuml/dask/datasets/blobs.py
Owners: @rapidsai/cuml-python-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
