Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

Updating style
  cpp/src_prims/sparse/csr.h
Owners: @rapidsai/cuml-cpp-codeowners

Updating changelog again
  CHANGELOG.md
Owners: none

Updating changelog again
  CHANGELOG.md
Owners: none

FEA added doxygen build to our nightly docs-build CI script
  ci/docs/build.sh
Owners: @rapidsai/ops-codeowners

FEA added doxygen build to our nightly docs-build CI script
  ci/docs/build.sh
Owners: @rapidsai/ops-codeowners

DOC copyright year upate
  ci/docs/build.sh
Owners: @rapidsai/ops-codeowners

DOC copyright year upate
  ci/docs/build.sh
Owners: @rapidsai/ops-codeowners

changelog update
  CHANGELOG.md
Owners: none

changelog update
  CHANGELOG.md
Owners: none

Updating changelog
  CHANGELOG.md
Owners: none

Updating changelog
  CHANGELOG.md
Owners: none

ENH moved spdlog dependency declaration inside Dependencies.cmake
  cpp/cmake/Dependencies.cmake
Owners: @rapidsai/cuml-cmake-codeowners

ENH moved spdlog dependency declaration inside Dependencies.cmake
  cpp/cmake/Dependencies.cmake
Owners: @rapidsai/cuml-cmake-codeowners

BUG removed accidental duplication of cuml comms test cpp file
  cpp/CMakeLists.txt
Owners: @rapidsai/cuml-cmake-codeowners

BUG removed accidental duplication of cuml comms test cpp file
  cpp/CMakeLists.txt
Owners: @rapidsai/cuml-cmake-codeowners

ENH clang format updates
  cpp/bench/sg/kmeans.cu
  cpp/bench/sg/rf_classifier.cu
  cpp/bench/sg/rf_regressor.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH clang format updates
  cpp/bench/sg/kmeans.cu
  cpp/bench/sg/rf_classifier.cu
  cpp/bench/sg/rf_regressor.cu
Owners: @rapidsai/cuml-cpp-codeowners

decomp changes
  python/cuml/dask/decomposition/base.py
Owners: @rapidsai/cuml-python-codeowners

decomp changes
  python/cuml/dask/decomposition/base.py
Owners: @rapidsai/cuml-python-codeowners

BUG fixed prims unit-test linker issue
  cpp/test/CMakeLists.txt
Owners: @rapidsai/cuml-cmake-codeowners

BUG fixed prims unit-test linker issue
  cpp/test/CMakeLists.txt
Owners: @rapidsai/cuml-cmake-codeowners

a simple cuda-memcheck + googletest wrapper to "incrementally" run tests and check for their memory violations
  cpp/scripts/cuda-memcheck.py
Owners: @rapidsai/cuml-cpp-codeowners

a simple cuda-memcheck + googletest wrapper to "incrementally" run tests and check for their memory violations
  cpp/scripts/cuda-memcheck.py
Owners: @rapidsai/cuml-cpp-codeowners

update elapsed time measurement logic
  cpp/scripts/cuda-memcheck.py
Owners: @rapidsai/cuml-cpp-codeowners

update elapsed time measurement logic
  cpp/scripts/cuda-memcheck.py
Owners: @rapidsai/cuml-cpp-codeowners

ENH option to run cuda-memcheck with a specific tool
  cpp/scripts/cuda-memcheck.py
Owners: @rapidsai/cuml-cpp-codeowners

ENH option to run cuda-memcheck with a specific tool
  cpp/scripts/cuda-memcheck.py
Owners: @rapidsai/cuml-cpp-codeowners

UMAP pickle done
  python/cuml/manifold/umap.pyx
  python/cuml/test/test_pickle.py
Owners: @rapidsai/cuml-python-codeowners

UMAP pickle done
  python/cuml/manifold/umap.pyx
  python/cuml/test/test_pickle.py
Owners: @rapidsai/cuml-python-codeowners

added a stream-sync before object destruction
  cpp/test/prims/sample_without_replacement.cu
Owners: @rapidsai/cuml-cpp-codeowners

added a stream-sync before object destruction
  cpp/test/prims/sample_without_replacement.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG only copy the output indices if user requests for those explicitly
  cpp/src_prims/random/rng.h
Owners: @rapidsai/cuml-cpp-codeowners

BUG only copy the output indices if user requests for those explicitly
  cpp/src_prims/random/rng.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC update changelog
  CHANGELOG.md
Owners: none

DOC update changelog
  CHANGELOG.md
Owners: none

ENH removed clang and clang-tools installation as they are already in the base image of CI
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

ENH removed clang and clang-tools installation as they are already in the base image of CI
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Fix KNN param error
  python/cuml/manifold/umap.pyx
Owners: @rapidsai/cuml-python-codeowners

Fix KNN param error
  python/cuml/manifold/umap.pyx
Owners: @rapidsai/cuml-python-codeowners

Add C++ ARIMA log-likelihood benchmark
  cpp/bench/CMakeLists.txt
  cpp/bench/sg/arima_loglikelihood.cu
  cpp/bench/sg/benchmark.cuh
  cpp/bench/sg/dataset_ts.cuh
Owners: @rapidsai/cuml-cmake-codeowners, @rapidsai/cuml-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
