Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

FIX add stream-sync before the test teardown
  cpp/test/prims/contingencyMatrix.cu
Owners: @rapidsai/cuml-cpp-codeowners

FIX add stream-sync before the test teardown
  cpp/test/prims/contingencyMatrix.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH use integer log2 for counting number of bits to sort
  cpp/src_prims/metrics/contingencyMatrix.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH use integer log2 for counting number of bits to sort
  cpp/src_prims/metrics/contingencyMatrix.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH added more unit-tests for contingency-matrix
  cpp/test/prims/contingencyMatrix.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH added more unit-tests for contingency-matrix
  cpp/test/prims/contingencyMatrix.cu
Owners: @rapidsai/cuml-cpp-codeowners

FIX issue with unit-test itself while computing the class cardinality
  cpp/test/prims/contingencyMatrix.cu
Owners: @rapidsai/cuml-cpp-codeowners

FIX issue with unit-test itself while computing the class cardinality
  cpp/test/prims/contingencyMatrix.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH minor refactor to the contingency matrix unit-test to reduce code duplication
  cpp/test/prims/contingencyMatrix.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH minor refactor to the contingency matrix unit-test to reduce code duplication
  cpp/test/prims/contingencyMatrix.cu
Owners: @rapidsai/cuml-cpp-codeowners

DOC update changelog
  CHANGELOG.md
Owners: none

DOC update changelog
  CHANGELOG.md
Owners: none

DOC copyright year update
  cpp/src_prims/metrics/contingencyMatrix.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/src_prims/metrics/contingencyMatrix.h
Owners: @rapidsai/cuml-cpp-codeowners

ARIMA output_type rework
  python/cuml/test/test_arima.py
  python/cuml/tsa/arima.pyx
Owners: @rapidsai/cuml-python-codeowners

ARIMA output_type rework
  python/cuml/test/test_arima.py
  python/cuml/tsa/arima.pyx
Owners: @rapidsai/cuml-python-codeowners

Update ARIMA notebook
  notebooks/arima_demo.ipynb
Owners: none

Update ARIMA notebook
  notebooks/arima_demo.ipynb
Owners: none

Auto-ARIMA refactoring
  cpp/CMakeLists.txt
  cpp/include/cuml/tsa/auto_arima.h
  cpp/src/tsa/auto_arima.cu
  cpp/src/tsa/auto_arima.cuh
  python/cuml/tsa/auto_arima.pyx
  python/cuml/tsa/utils.pyx
Owners: @rapidsai/cuml-cmake-codeowners, @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

Auto-ARIMA refactoring
  cpp/CMakeLists.txt
  cpp/include/cuml/tsa/auto_arima.h
  cpp/src/tsa/auto_arima.cu
  cpp/src/tsa/auto_arima.cuh
  python/cuml/tsa/auto_arima.pyx
  python/cuml/tsa/utils.pyx
Owners: @rapidsai/cuml-cmake-codeowners, @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

FIX cudf __array__ exception small fixes
  python/cuml/benchmark/runners.py
  python/cuml/test/test_holtwinters.py
  python/cuml/test/test_linear_model.py
Owners: @rapidsai/cuml-python-codeowners

FIX cudf __array__ exception small fixes
  python/cuml/benchmark/runners.py
  python/cuml/test/test_holtwinters.py
  python/cuml/test/test_linear_model.py
Owners: @rapidsai/cuml-python-codeowners

DOC Added entry to changelog
  CHANGELOG.md
Owners: none

DOC Added entry to changelog
  CHANGELOG.md
Owners: none

Updating sgd solver & mini-batched estimators to use cuml array
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/test/test_mbsgd_classifier.py
  python/cuml/test/test_mbsgd_regressor.py
Owners: @rapidsai/cuml-python-codeowners

Updating sgd solver & mini-batched estimators to use cuml array
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/test/test_mbsgd_classifier.py
  python/cuml/test/test_mbsgd_regressor.py
Owners: @rapidsai/cuml-python-codeowners

Updating changelog
  CHANGELOG.md
Owners: none

Updating changelog
  CHANGELOG.md
Owners: none

Removing unused imports. Surprised flake8 didn't catch it
  python/cuml/solvers/sgd.pyx
Owners: @rapidsai/cuml-python-codeowners

Removing unused imports. Surprised flake8 didn't catch it
  python/cuml/solvers/sgd.pyx
Owners: @rapidsai/cuml-python-codeowners

changes to dask rfc-rfr to get tuple futures
  python/cuml/dask/ensemble/randomforestclassifier.py
Owners: @rapidsai/cuml-python-codeowners

adding dask-rfr changes
  python/cuml/dask/ensemble/randomforestregressor.py
Owners: @rapidsai/cuml-python-codeowners

Changelog update
  CHANGELOG.md
  python/cuml/dask/ensemble/randomforestregressor.py
Owners: @rapidsai/cuml-python-codeowners

unused imports
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
Owners: @rapidsai/cuml-python-codeowners

relaxing failing pca test accuracy constraint
  python/cuml/test/dask/test_pca.py
Owners: @rapidsai/cuml-python-codeowners

relaxing failing pca test accuracy constraint
  python/cuml/test/dask/test_pca.py
Owners: @rapidsai/cuml-python-codeowners

Updating sgd to use cumlarray ptr
  python/cuml/solvers/sgd.pyx
Owners: @rapidsai/cuml-python-codeowners

Updating sgd to use cumlarray ptr
  python/cuml/solvers/sgd.pyx
Owners: @rapidsai/cuml-python-codeowners

cupy low rank covariance
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

cupy low rank covariance
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners
