Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

FIX clang-format fixes
  cpp/src/common/cumlHandle.cpp
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.h
Owners: @rapidsai/cuml-cpp-codeowners

FIX updated cython cumlHandle wrapper to use worker streams
  python/cuml/common/handle.pxd
  python/cuml/common/handle.pyx
  python/cuml/test/test_handle.py
Owners: @rapidsai/cuml-python-codeowners

copyright year update
  python/cuml/common/handle.pxd
  python/cuml/common/handle.pyx
Owners: @rapidsai/cuml-python-codeowners

FIX updated RF python wrapper to use worker-streams
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Owners: @rapidsai/cuml-python-codeowners

A couple small optimizations to UMAP fuzzy simplicial set
  cpp/src/umap/fuzzy_simpl_set/naive.h
Owners: @rapidsai/cuml-cpp-codeowners

A couple small optimizations to UMAP fuzzy simplicial set
  cpp/src/umap/fuzzy_simpl_set/naive.h
Owners: @rapidsai/cuml-cpp-codeowners

Removing old membership strength impl
  cpp/src/umap/fuzzy_simpl_set/naive.h
  cpp/src/umap/runner.h
Owners: @rapidsai/cuml-cpp-codeowners

Removing old membership strength impl
  cpp/src/umap/fuzzy_simpl_set/naive.h
  cpp/src/umap/runner.h
Owners: @rapidsai/cuml-cpp-codeowners

Add cuda_utils.h to qn_util.h
  cpp/src/glm/qn/qn_util.cuh
Owners: @rapidsai/cuml-cpp-codeowners

Add cuda_utils.h to qn_util.h
  cpp/src/glm/qn/qn_util.cuh
Owners: @rapidsai/cuml-cpp-codeowners

Updating c++ style
  cpp/src/umap/runner.h
Owners: @rapidsai/cuml-cpp-codeowners

Updating c++ style
  cpp/src/umap/runner.h
Owners: @rapidsai/cuml-cpp-codeowners

Updating tests
  python/cuml/solvers/sgd.pyx
  python/cuml/test/test_mbsgd_classifier.py
  python/cuml/test/test_mbsgd_regressor.py
Owners: @rapidsai/cuml-python-codeowners

Updating tests
  python/cuml/solvers/sgd.pyx
  python/cuml/test/test_mbsgd_classifier.py
  python/cuml/test/test_mbsgd_regressor.py
Owners: @rapidsai/cuml-python-codeowners

FIX PR Review feedback
  .gitignore
  cpp/CMakeLists.txt
  cpp/cmake/Dependencies.cmake
  python/cuml/nccl/nccl.pyx
  python/setup.py
  python/setuputils.py
Owners: @rapidsai/cuml-cmake-codeowners, @rapidsai/cuml-python-codeowners

FIX PR Review feedback
  .gitignore
  cpp/CMakeLists.txt
  cpp/cmake/Dependencies.cmake
  python/cuml/nccl/nccl.pyx
  python/setup.py
  python/setuputils.py
Owners: @rapidsai/cuml-cmake-codeowners, @rapidsai/cuml-python-codeowners

DOC Updated python README.md
  python/README.md
Owners: none

DOC Updated python README.md
  python/README.md
Owners: none

Updating sgd tests to actually assert correctness of output
  python/cuml/test/test_sgd.py
Owners: @rapidsai/cuml-python-codeowners

Updating sgd tests to actually assert correctness of output
  python/cuml/test/test_sgd.py
Owners: @rapidsai/cuml-python-codeowners

Fixing style
  python/cuml/test/test_sgd.py
Owners: @rapidsai/cuml-python-codeowners

Fixing style
  python/cuml/test/test_sgd.py
Owners: @rapidsai/cuml-python-codeowners

Updating benchmarks test to reflect new UMAP benchmark name
  python/cuml/test/test_benchmark.py
Owners: @rapidsai/cuml-python-codeowners

Updating benchmarks test to reflect new UMAP benchmark name
  python/cuml/test/test_benchmark.py
Owners: @rapidsai/cuml-python-codeowners

Updating changelog
  CHANGELOG.md
Owners: none

Updating changelog
  CHANGELOG.md
Owners: none
