Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Random forest testing speedup
  python/cuml/test/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

updated the predict_proba test
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

updated the predict_proba test
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

updated the dask rf predict proba test
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

updated the dask rf predict proba test
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

updated the dask rf predict proba test threshold
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

updated the dask rf predict proba test threshold
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

update the code based on reviews
  python/cuml/dask/common/base.py
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

update the code based on reviews
  python/cuml/dask/common/base.py
  python/cuml/test/dask/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

reduce the number pf tests and dataset size
  python/cuml/test/dask/test_pca.py
  python/cuml/test/dask/test_tsvd.py
Owners: @rapidsai/cuml-python-codeowners

reduce the number pf tests and dataset size
  python/cuml/test/dask/test_pca.py
  python/cuml/test/dask/test_tsvd.py
Owners: @rapidsai/cuml-python-codeowners

FEA added a new method to logger class for checking logging status at a given level. Useful to cull log-message construction
  cpp/include/cuml/common/logger.hpp
  cpp/src/common/logger.cpp
Owners: @rapidsai/cuml-cpp-codeowners

FEA added a new method to logger class for checking logging status at a given level. Useful to cull log-message construction
  cpp/include/cuml/common/logger.hpp
  cpp/src/common/logger.cpp
Owners: @rapidsai/cuml-cpp-codeowners

ENH upgraded boolean verbose to integer levels for a more fine grained control over logging in dbscan algo
  cpp/include/cuml/cluster/dbscan.hpp
  cpp/src/dbscan/dbscan.cu
  cpp/src/dbscan/dbscan.h
  cpp/src/dbscan/dbscan_api.cpp
  cpp/src/dbscan/dbscan_api.h
  cpp/src/dbscan/runner.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH upgraded boolean verbose to integer levels for a more fine grained control over logging in dbscan algo
  cpp/include/cuml/cluster/dbscan.hpp
  cpp/src/dbscan/dbscan.cu
  cpp/src/dbscan/dbscan.h
  cpp/src/dbscan/dbscan_api.cpp
  cpp/src/dbscan/dbscan_api.h
  cpp/src/dbscan/runner.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC fixed doxygen errors
  cpp/src/tsne/exact_tsne.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC fixed doxygen errors
  cpp/src/tsne/exact_tsne.h
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/include/cuml/cluster/dbscan.hpp
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/include/cuml/cluster/dbscan.hpp
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated python wrapper dbscan to pass an integer log-level
  python/cuml/cluster/dbscan.pyx
  python/cuml/common/base.pyx
Owners: @rapidsai/cuml-python-codeowners

ENH updated python wrapper dbscan to pass an integer log-level
  python/cuml/cluster/dbscan.pyx
  python/cuml/common/base.pyx
Owners: @rapidsai/cuml-python-codeowners

review changes
  python/cuml/dask/neighbors/nearest_neighbors.py
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/neighbors/nearest_neighbors_mg.pyx
  python/cuml/test/test_kneighbors_classifier.py
  python/cuml/test/test_kneighbors_regressor.py
Owners: @rapidsai/cuml-python-codeowners

review changes
  python/cuml/dask/neighbors/nearest_neighbors.py
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/neighbors/nearest_neighbors_mg.pyx
  python/cuml/test/test_kneighbors_classifier.py
  python/cuml/test/test_kneighbors_regressor.py
Owners: @rapidsai/cuml-python-codeowners

Measuring time
  CHANGELOG.md
  ci/gpu/build.sh
  python/cuml/test/test_random_forest.py
Owners: @rapidsai/ops-codeowners, @rapidsai/cuml-python-codeowners

Measuring time
  CHANGELOG.md
  ci/gpu/build.sh
  python/cuml/test/test_random_forest.py
Owners: @rapidsai/ops-codeowners, @rapidsai/cuml-python-codeowners

ENH made log messages in dbscan to be DEBUG level
  cpp/src/dbscan/dbscan.h
  cpp/src/dbscan/runner.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH made log messages in dbscan to be DEBUG level
  cpp/src/dbscan/dbscan.h
  cpp/src/dbscan/runner.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated tsne to use integer verbosity
  cpp/include/cuml/manifold/tsne.h
  cpp/src/tsne/tsne.cu
  cpp/src/tsne/utils.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated tsne to use integer verbosity
  cpp/include/cuml/manifold/tsne.h
  cpp/src/tsne/tsne.cu
  cpp/src/tsne/utils.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC removed duplicate doxygen comments
  cpp/src/tsne/tsne.cu
Owners: @rapidsai/cuml-cpp-codeowners

DOC removed duplicate doxygen comments
  cpp/src/tsne/tsne.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH removed verbose flag in internals of tsne
  cpp/src/tsne/barnes_hut.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH removed verbose flag in internals of tsne
  cpp/src/tsne/barnes_hut.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH default log messages in tsne updated to DEBUG types
  cpp/src/tsne/barnes_hut.h
  cpp/src/tsne/exact_tsne.h
  cpp/src/tsne/tsne.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH default log messages in tsne updated to DEBUG types
  cpp/src/tsne/barnes_hut.h
  cpp/src/tsne/exact_tsne.h
  cpp/src/tsne/tsne.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated tsne cython wrapper to use integer verbosity
  python/cuml/manifold/t_sne.pyx
Owners: @rapidsai/cuml-python-codeowners

ENH updated tsne cython wrapper to use integer verbosity
  python/cuml/manifold/t_sne.pyx
Owners: @rapidsai/cuml-python-codeowners

DOC clang format fixes
  cpp/include/cuml/manifold/tsne.h
  cpp/src/dbscan/runner.h
  cpp/src/tsne/exact_tsne.h
  cpp/src/tsne/tsne.cu
Owners: @rapidsai/cuml-cpp-codeowners

DOC clang format fixes
  cpp/include/cuml/manifold/tsne.h
  cpp/src/dbscan/runner.h
  cpp/src/tsne/exact_tsne.h
  cpp/src/tsne/tsne.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated umap-params to expose a verbosity level instead of bool
  cpp/include/cuml/manifold/umapparams.h
Owners: @rapidsai/cuml-cpp-codeowners
