Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Move Solver codes
  cpp/src/solver/cd.cuh
  cpp/src/solver/sgd.cuh
  cpp/src/solver/solver.cu
Owners: @rapidsai/cuml-cpp-codeowners

Move Solver codes
  cpp/src/solver/cd.cuh
  cpp/src/solver/sgd.cuh
  cpp/src/solver/solver.cu
Owners: @rapidsai/cuml-cpp-codeowners

Updating notebook to include conversion to dataframe and very crude charting
  notebooks/cuml_benchmarks.ipynb
  python/cuml/benchmark/algorithms.py
  python/cuml/benchmark/datagen.py
Owners: @rapidsai/cuml-python-codeowners

Updating notebook to include conversion to dataframe and very crude charting
  notebooks/cuml_benchmarks.ipynb
  python/cuml/benchmark/algorithms.py
  python/cuml/benchmark/datagen.py
Owners: @rapidsai/cuml-python-codeowners

Better error report on test fails
  python/cuml/test/dask/test_one_hot_encoder.py
Owners: @rapidsai/cuml-python-codeowners

Better error report on test fails
  python/cuml/test/dask/test_one_hot_encoder.py
Owners: @rapidsai/cuml-python-codeowners

Removing naive bayes for now- will add that back when we have 20newsgroups dataset
  notebooks/cuml_benchmarks.ipynb
  python/cuml/benchmark/datagen.py
Owners: @rapidsai/cuml-python-codeowners

Removing naive bayes for now- will add that back when we have 20newsgroups dataset
  notebooks/cuml_benchmarks.ipynb
  python/cuml/benchmark/datagen.py
Owners: @rapidsai/cuml-python-codeowners

Better error report on test fails
  python/cuml/test/test_one_hot_encoder.py
Owners: @rapidsai/cuml-python-codeowners

Better error report on test fails
  python/cuml/test/test_one_hot_encoder.py
Owners: @rapidsai/cuml-python-codeowners

FIX Add python/record.txt to gitignore
  .gitignore
Owners: none

FIX Add python/record.txt to gitignore
  .gitignore
Owners: none

FEA Add proper cython deep cleaning to setup.py
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

FEA Add proper cython deep cleaning to setup.py
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

FEA Make build.sh call clean target of setup.py
  build.sh
Owners: @rapidsai/cuml-cmake-codeowners

FEA Make build.sh call clean target of setup.py
  build.sh
Owners: @rapidsai/cuml-cmake-codeowners

Add dbscan and svc
  build.sh
  cpp/src/dbscan/adjgraph/algo.cuh
  cpp/src/dbscan/adjgraph/naive.cuh
  cpp/src/dbscan/adjgraph/runner.cuh
  cpp/src/dbscan/common.cuh
  cpp/src/dbscan/dbscan.cu
  cpp/src/dbscan/dbscan.cuh
  cpp/src/dbscan/runner.cuh
  cpp/src/dbscan/vertexdeg/algo.h
  cpp/src/dbscan/vertexdeg/naive.cuh
  cpp/src/dbscan/vertexdeg/runner.cuh
  cpp/src/svm/kernelcache.cuh
  cpp/src/svm/results.cuh
  cpp/src/svm/smo_sets.cuh
  cpp/src/svm/smoblocksolve.cuh
  cpp/src/svm/smosolver.cuh
  cpp/src/svm/svc.cu
  cpp/src/svm/svc_impl.cuh
  cpp/src/svm/svr.cu
  cpp/src/svm/svr_impl.cuh
  cpp/src/svm/workingset.cuh
  cpp/src/svm/ws_util.cuh
  cpp/test/sg/cd_test.cu
  cpp/test/sg/sgd.cu
  cpp/test/sg/svc_test.cu
Owners: @rapidsai/cuml-cmake-codeowners, @rapidsai/cuml-cpp-codeowners

Add dbscan and svc
  build.sh
  cpp/src/dbscan/adjgraph/algo.cuh
  cpp/src/dbscan/adjgraph/naive.cuh
  cpp/src/dbscan/adjgraph/runner.cuh
  cpp/src/dbscan/common.cuh
  cpp/src/dbscan/dbscan.cu
  cpp/src/dbscan/dbscan.cuh
  cpp/src/dbscan/runner.cuh
  cpp/src/dbscan/vertexdeg/algo.h
  cpp/src/dbscan/vertexdeg/naive.cuh
  cpp/src/dbscan/vertexdeg/runner.cuh
  cpp/src/svm/kernelcache.cuh
  cpp/src/svm/results.cuh
  cpp/src/svm/smo_sets.cuh
  cpp/src/svm/smoblocksolve.cuh
  cpp/src/svm/smosolver.cuh
  cpp/src/svm/svc.cu
  cpp/src/svm/svc_impl.cuh
  cpp/src/svm/svr.cu
  cpp/src/svm/svr_impl.cuh
  cpp/src/svm/workingset.cuh
  cpp/src/svm/ws_util.cuh
  cpp/test/sg/cd_test.cu
  cpp/test/sg/sgd.cu
  cpp/test/sg/svc_test.cu
Owners: @rapidsai/cuml-cmake-codeowners, @rapidsai/cuml-cpp-codeowners

Change back commit for build
  build.sh
Owners: @rapidsai/cuml-cmake-codeowners

Change back commit for build
  build.sh
Owners: @rapidsai/cuml-cmake-codeowners

FIX Import order fix
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

FIX Import order fix
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

DOC Added entry to changelog
  CHANGELOG.md
Owners: none

DOC Added entry to changelog
  CHANGELOG.md
Owners: none

FIX Add --deep flag to avoid conflict with conda build of libcuml script
  build.sh
Owners: @rapidsai/cuml-cmake-codeowners

FIX Add --deep flag to avoid conflict with conda build of libcuml script
  build.sh
Owners: @rapidsai/cuml-cmake-codeowners

Fixing memory issue in weak CC prim
  cpp/src_prims/sparse/csr.h
  cpp/test/prims/csr.cu
Owners: @rapidsai/cuml-cpp-codeowners

Fixing memory issue in weak CC prim
  cpp/src_prims/sparse/csr.h
  cpp/test/prims/csr.cu
Owners: @rapidsai/cuml-cpp-codeowners

Removing unecessary deltas from prim
  cpp/src_prims/sparse/csr.h
Owners: @rapidsai/cuml-cpp-codeowners

Removing unecessary deltas from prim
  cpp/src_prims/sparse/csr.h
Owners: @rapidsai/cuml-cpp-codeowners

regression change
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/linear_model/base.py
  python/cuml/test/dask/test_dask_arr_utils.py
Owners: @rapidsai/cuml-python-codeowners

linear model changes
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/linear_model/base.py
  python/cuml/test/dask/test_dask_arr_utils.py
Owners: @rapidsai/cuml-python-codeowners

linear model changes
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/linear_model/base.py
  python/cuml/test/dask/test_dask_arr_utils.py
Owners: @rapidsai/cuml-python-codeowners

style fixes
  python/cuml/svm/svm_base.pyx
Owners: @rapidsai/cuml-python-codeowners

style fixes
  python/cuml/svm/svm_base.pyx
Owners: @rapidsai/cuml-python-codeowners

Updating changelog
  CHANGELOG.md
Owners: none

Updating changelog
  CHANGELOG.md
Owners: none

Revert "Updating changelog"
  CHANGELOG.md
Owners: none

Revert "Updating changelog"
  CHANGELOG.md
Owners: none

Updating style
  cpp/src_prims/sparse/csr.h
Owners: @rapidsai/cuml-cpp-codeowners
