Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

ENH upgraded std-comms to c++14
  cpp/comms/std/CMakeLists.txt
Owners: @rapidsai/cuml-cmake-codeowners

ENH upgraded std-comms to c++14
  cpp/comms/std/CMakeLists.txt
Owners: @rapidsai/cuml-cmake-codeowners

DOC copyright year update
  cpp/comms/std/CMakeLists.txt
Owners: @rapidsai/cuml-cmake-codeowners

DOC copyright year update
  cpp/comms/std/CMakeLists.txt
Owners: @rapidsai/cuml-cmake-codeowners

ENH upgraded mpi-comms to c++14
  cpp/CMakeLists.txt
  cpp/comms/mpi/CMakeLists.txt
Owners: @rapidsai/cuml-cmake-codeowners

ENH upgraded mpi-comms to c++14
  cpp/CMakeLists.txt
  cpp/comms/mpi/CMakeLists.txt
Owners: @rapidsai/cuml-cmake-codeowners

DOC copyright year update
  cpp/comms/mpi/CMakeLists.txt
Owners: @rapidsai/cuml-cmake-codeowners

DOC copyright year update
  cpp/comms/mpi/CMakeLists.txt
Owners: @rapidsai/cuml-cmake-codeowners

DOC updated cpp11 related comment in clang-format config file
  cpp/.clang-format
Owners: @rapidsai/cuml-cpp-codeowners

DOC updated cpp11 related comment in clang-format config file
  cpp/.clang-format
Owners: @rapidsai/cuml-cpp-codeowners

DOC update changelog
  CHANGELOG.md
Owners: none

DOC update changelog
  CHANGELOG.md
Owners: none

updated tests to match new logic
  cpp/test/sg/fil_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

updated tests to match new logic
  cpp/test/sg/fil_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

fixed style
  cpp/src/fil/fil.cu
  cpp/test/sg/fil_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

fixed style
  cpp/src/fil/fil.cu
  cpp/test/sg/fil_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

Fixing kneighbors classifier tests to use proper test size
  python/cuml/test/test_kneighbors_classifier.py
Owners: @rapidsai/cuml-python-codeowners

Fixing kneighbors classifier tests to use proper test size
  python/cuml/test/test_kneighbors_classifier.py
Owners: @rapidsai/cuml-python-codeowners

FIX removed dependence of c++11/c++14 stuffs in the eval-gpu-archs program, as it was causing centos7 build to fail
  cpp/cmake/EvalGpuArchs.cmake
Owners: @rapidsai/cuml-cmake-codeowners

FIX removed dependence of c++11/c++14 stuffs in the eval-gpu-archs program, as it was causing centos7 build to fail
  cpp/cmake/EvalGpuArchs.cmake
Owners: @rapidsai/cuml-cmake-codeowners

DOC copyright year update
  cpp/cmake/EvalGpuArchs.cmake
Owners: @rapidsai/cuml-cmake-codeowners

DOC copyright year update
  cpp/cmake/EvalGpuArchs.cmake
Owners: @rapidsai/cuml-cmake-codeowners

clang-format test
  cpp/src/glm/glm_api.cpp
Owners: @rapidsai/cuml-cpp-codeowners

Update CHANGELOG
  CHANGELOG.md
Owners: none

low rank covariance
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

low rank covariance
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

fixed include and order of declaration
  cpp/src_prims/common/cudart_utils.h
Owners: @rapidsai/cuml-cpp-codeowners

fixed include and order of declaration
  cpp/src_prims/common/cudart_utils.h
Owners: @rapidsai/cuml-cpp-codeowners

Fixing an error introduced in commit d38b4f970
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
Owners: @rapidsai/cuml-cpp-codeowners

Fixing an error introduced in commit e9824e1ed
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
Owners: @rapidsai/cuml-cpp-codeowners

fixed last uses of old utils.h
  cpp/comms/mpi/src/cuML_comms_mpi_impl.cpp
  cpp/comms/std/src/cuML_std_comms_impl.cpp
  cpp/comms/std/src/ucp_helper.h
  cpp/src/arima/batched_arima.cu
  cpp/src/common/allocatorAdapter.hpp
  cpp/src/common/cuML_comms_impl.cpp
  cpp/src/common/cumlHandle.cpp
  cpp/src/common/cuml_api.cpp
  cpp/src/dbscan/dbscan.cu
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/levelalgo/metric_def.h
  cpp/src/decisiontree/memory.h
  cpp/src/holtwinters/internal/hw_utils.h
  cpp/src/ml_cuda_utils.h
  cpp/src/tsne/bh_kernels.h
  cpp/src/tsne/distances.h
  cpp/src/tsne/tsne.cu
  cpp/src_prims/common/buffer_base.hpp
  cpp/test/prims/test_utils.h
  cpp/test/sg/quasi_newton.cu
Owners: @rapidsai/cuml-cpp-codeowners

fixed last uses of old utils.h
  cpp/comms/mpi/src/cuML_comms_mpi_impl.cpp
  cpp/comms/std/src/cuML_std_comms_impl.cpp
  cpp/comms/std/src/ucp_helper.h
  cpp/src/arima/batched_arima.cu
  cpp/src/common/allocatorAdapter.hpp
  cpp/src/common/cuML_comms_impl.cpp
  cpp/src/common/cumlHandle.cpp
  cpp/src/common/cuml_api.cpp
  cpp/src/dbscan/dbscan.cu
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/levelalgo/metric_def.h
  cpp/src/decisiontree/memory.h
  cpp/src/holtwinters/internal/hw_utils.h
  cpp/src/ml_cuda_utils.h
  cpp/src/tsne/bh_kernels.h
  cpp/src/tsne/distances.h
  cpp/src/tsne/tsne.cu
  cpp/src_prims/common/buffer_base.hpp
  cpp/test/prims/test_utils.h
  cpp/test/sg/quasi_newton.cu
Owners: @rapidsai/cuml-cpp-codeowners

removing double includes of old utils.h
  cpp/bench/prims/benchmark.cuh
  cpp/src/arima/batched_kalman.cu
  cpp/src/glm/qn/glm_base.h
  cpp/src/glm/qn/glm_regularizer.h
  cpp/src/ml_mg_utils.h
Owners: @rapidsai/cuml-cpp-codeowners

removing double includes of old utils.h
  cpp/bench/prims/benchmark.cuh
  cpp/src/arima/batched_kalman.cu
  cpp/src/glm/qn/glm_base.h
  cpp/src/glm/qn/glm_regularizer.h
  cpp/src/ml_mg_utils.h
Owners: @rapidsai/cuml-cpp-codeowners

fixed false positive detection of old utils.h
  cpp/src/tsne/barnes_hut.h
  cpp/src/tsne/exact_tsne.h
Owners: @rapidsai/cuml-cpp-codeowners

fixed false positive detection of old utils.h
  cpp/src/tsne/barnes_hut.h
  cpp/src/tsne/exact_tsne.h
Owners: @rapidsai/cuml-cpp-codeowners

transitive include of cuml/common/utils.hpp needed for errorless compilation
  cpp/src_prims/cuda_utils.h
Owners: @rapidsai/cuml-cpp-codeowners

transitive include of cuml/common/utils.hpp needed for errorless compilation
  cpp/src_prims/cuda_utils.h
Owners: @rapidsai/cuml-cpp-codeowners

updated CHANGELOG
  CHANGELOG.md
Owners: none

updated CHANGELOG
  CHANGELOG.md
Owners: none
