Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Update call to extract_arr_partitions with DistributedDataHandler
  python/cuml/dask/metrics/confusion_matrix.py
Owners: @rapidsai/cuml-python-codeowners

Update call to extract_arr_partitions with DistributedDataHandler
  python/cuml/dask/metrics/confusion_matrix.py
Owners: @rapidsai/cuml-python-codeowners

BUG unit-tests from Simon which show a possible integer overflow issue with contingency matrix prim
  cpp/test/prims/contingencyMatrix.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG unit-tests from Simon which show a possible integer overflow issue with contingency matrix prim
  cpp/test/prims/contingencyMatrix.cu
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/test/prims/contingencyMatrix.cu
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/test/prims/contingencyMatrix.cu
Owners: @rapidsai/cuml-cpp-codeowners

updated the code
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestregressor.pyx
Owners: @rapidsai/cuml-python-codeowners

updated the code
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestregressor.pyx
Owners: @rapidsai/cuml-python-codeowners

FIX input_to_cuml_array cuda array interface bugfix
  python/cuml/utils/input_utils.py
Owners: @rapidsai/cuml-python-codeowners

FIX input_to_cuml_array cuda array interface bugfix
  python/cuml/utils/input_utils.py
Owners: @rapidsai/cuml-python-codeowners

DOC Add entry to changelog
  CHANGELOG.md
Owners: none

DOC Add entry to changelog
  CHANGELOG.md
Owners: none

FIX Remove deep option from build.sh
  build.sh
Owners: @rapidsai/cuml-cmake-codeowners

FIX Remove deep option from build.sh
  build.sh
Owners: @rapidsai/cuml-cmake-codeowners

FIX singlegpu build_ext import fix
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

FIX singlegpu build_ext import fix
  python/setup.py
Owners: @rapidsai/cuml-cmake-codeowners

Further typedef of funcs
  cpp/comms/std/src/ucp_helper.h
Owners: @rapidsai/cuml-cpp-codeowners

Further typedef of funcs
  cpp/comms/std/src/ucp_helper.h
Owners: @rapidsai/cuml-cpp-codeowners

Revert "Fix whitespaces"
  python/cuml/preprocessing/encoders.py
Owners: @rapidsai/cuml-python-codeowners

Revert "Fix whitespaces"
  python/cuml/preprocessing/encoders.py
Owners: @rapidsai/cuml-python-codeowners

Revert "Fix coding style"
  python/cuml/preprocessing/encoders.py
Owners: @rapidsai/cuml-python-codeowners

Revert "Fix coding style"
  python/cuml/preprocessing/encoders.py
Owners: @rapidsai/cuml-python-codeowners

Revert "Update documentation for input as array"
  python/cuml/preprocessing/encoders.py
Owners: @rapidsai/cuml-python-codeowners

Revert "Update documentation for input as array"
  python/cuml/preprocessing/encoders.py
Owners: @rapidsai/cuml-python-codeowners

updated the rf mnmg notebook
  notebooks/random_forest_mnmg_demo.ipynb
Owners: none

updated the rf mnmg notebook
  notebooks/random_forest_mnmg_demo.ipynb
Owners: none

Revert "Tests with cupy input for all features"
  python/cuml/preprocessing/encoders.py
  python/cuml/test/test_one_hot_encoder.py
Owners: @rapidsai/cuml-python-codeowners

Revert "Tests with cupy input for all features"
  python/cuml/preprocessing/encoders.py
  python/cuml/test/test_one_hot_encoder.py
Owners: @rapidsai/cuml-python-codeowners

Add support for arrays by converting input arrays to DataFrame
  python/cuml/preprocessing/encoders.py
Owners: @rapidsai/cuml-python-codeowners

Add support for arrays by converting input arrays to DataFrame
  python/cuml/preprocessing/encoders.py
Owners: @rapidsai/cuml-python-codeowners

Add tests for cp.ndarrays as input
  python/cuml/test/test_one_hot_encoder.py
Owners: @rapidsai/cuml-python-codeowners

Add tests for cp.ndarrays as input
  python/cuml/test/test_one_hot_encoder.py
Owners: @rapidsai/cuml-python-codeowners

FIX use the correct numba checker function
  python/cuml/common/base.pyx
Owners: @rapidsai/cuml-python-codeowners

FIX use the correct numba checker function
  python/cuml/common/base.pyx
Owners: @rapidsai/cuml-python-codeowners

tsne pickling fixed && drop def Y()
  python/cuml/manifold/t_sne.pyx
  python/cuml/test/test_pickle.py
Owners: @rapidsai/cuml-python-codeowners

tsne pickling fixed && drop def Y()
  python/cuml/manifold/t_sne.pyx
  python/cuml/test/test_pickle.py
Owners: @rapidsai/cuml-python-codeowners

fix style
  python/cuml/test/test_pickle.py
Owners: @rapidsai/cuml-python-codeowners

fix style
  python/cuml/test/test_pickle.py
Owners: @rapidsai/cuml-python-codeowners

FIX minor code fixes for contingency matrix prim unit-test
  cpp/test/prims/contingencyMatrix.cu
Owners: @rapidsai/cuml-cpp-codeowners

FIX minor code fixes for contingency matrix prim unit-test
  cpp/test/prims/contingencyMatrix.cu
Owners: @rapidsai/cuml-cpp-codeowners
