Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Finishing review feedback for PR.
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/common/part_utils.py
Owners: @rapidsai/cuml-python-codeowners

addressed review comments, harmonized style
  cpp/include/cuml/fil/fil.h
  cpp/src/fil/fil.cu
  cpp/src/fil/infer.cu
  cpp/test/sg/fil_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

addressed review comments, harmonized style
  cpp/include/cuml/fil/fil.h
  cpp/src/fil/fil.cu
  cpp/src/fil/infer.cu
  cpp/test/sg/fil_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

Initilized min_impurity_decrease
  cpp/include/cuml/tree/decisiontree.hpp
Owners: @rapidsai/cuml-cpp-codeowners

Initilized min_impurity_decrease
  cpp/include/cuml/tree/decisiontree.hpp
Owners: @rapidsai/cuml-cpp-codeowners

DOC updated the todo comment in Logger with the issue id
  cpp/include/cuml/common/logger.hpp
Owners: @rapidsai/cuml-cpp-codeowners

DOC updated the todo comment in Logger with the issue id
  cpp/include/cuml/common/logger.hpp
Owners: @rapidsai/cuml-cpp-codeowners

DOC fixed a typo in qn_util.h doxygen comment
  cpp/src/glm/qn/qn_util.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC fixed a typo in qn_util.h doxygen comment
  cpp/src/glm/qn/qn_util.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH converted unit-test debug messages to DEBUG level
  cpp/test/sg/dbscan_test.cu
  cpp/test/sg/holtwinters_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH converted unit-test debug messages to DEBUG level
  cpp/test/sg/dbscan_test.cu
  cpp/test/sg/holtwinters_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG fixed a typo with logger macro
  cpp/test/sg/holtwinters_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG fixed a typo with logger macro
  cpp/test/sg/holtwinters_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG fixed a typo with logger macro
  cpp/test/sg/dbscan_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

BUG fixed a typo with logger macro
  cpp/test/sg/dbscan_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH reduced CUML_ACTIVE_LEVEL to DEBUG
  cpp/include/cuml/common/logger.hpp
Owners: @rapidsai/cuml-cpp-codeowners

ENH reduced CUML_ACTIVE_LEVEL to DEBUG
  cpp/include/cuml/common/logger.hpp
Owners: @rapidsai/cuml-cpp-codeowners

DOC updated dev-guide with CUML_ACTIVE_LEVEL change
  wiki/cpp/DEVELOPER_GUIDE.md
Owners: @rapidsai/cuml-cpp-codeowners

DOC updated dev-guide with CUML_ACTIVE_LEVEL change
  wiki/cpp/DEVELOPER_GUIDE.md
Owners: @rapidsai/cuml-cpp-codeowners

BUG fixed compilation errors with DEBUG and TRACE log macros
  cpp/include/cuml/common/logger.hpp
Owners: @rapidsai/cuml-cpp-codeowners

BUG fixed compilation errors with DEBUG and TRACE log macros
  cpp/include/cuml/common/logger.hpp
Owners: @rapidsai/cuml-cpp-codeowners

BUG split the file:line printing in TRACE/DEBUG messages with the actual message itself
  cpp/include/cuml/common/logger.hpp
Owners: @rapidsai/cuml-cpp-codeowners

BUG split the file:line printing in TRACE/DEBUG messages with the actual message itself
  cpp/include/cuml/common/logger.hpp
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated kmeans unit-tests to use DEBUG level messages
  cpp/test/sg/kmeans_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated kmeans unit-tests to use DEBUG level messages
  cpp/test/sg/kmeans_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated tsne unit-tests to use DEBUG level messages
  cpp/test/sg/tsne_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated tsne unit-tests to use DEBUG level messages
  cpp/test/sg/tsne_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated umap unit-tests to use DEBUG level messages
  cpp/test/sg/umap_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated umap unit-tests to use DEBUG level messages
  cpp/test/sg/umap_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated ucp_helper.h to use cuml logger
  cpp/comms/std/src/ucp_helper.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH updated ucp_helper.h to use cuml logger
  cpp/comms/std/src/ucp_helper.h
Owners: @rapidsai/cuml-cpp-codeowners

ENH replaced all printf/cout in std-comms with cuml logger
  cpp/comms/std/src/cuML_std_comms_impl.cpp
Owners: @rapidsai/cuml-cpp-codeowners

ENH replaced all printf/cout in std-comms with cuml logger
  cpp/comms/std/src/cuML_std_comms_impl.cpp
Owners: @rapidsai/cuml-cpp-codeowners

make worker streams non-blocking w.r.t. NULL stream
  CHANGELOG.md
  cpp/src/common/cumlHandle.cpp
  cpp/src_prims/sparse/coo.h
  cpp/src_prims/sparse/csr.h
Owners: @rapidsai/cuml-cpp-codeowners

make worker streams non-blocking w.r.t. NULL stream
  CHANGELOG.md
  cpp/src/common/cumlHandle.cpp
  cpp/src_prims/sparse/coo.h
  cpp/src_prims/sparse/csr.h
Owners: @rapidsai/cuml-cpp-codeowners

updated changelog doc for PR
  CHANGELOG.md
Owners: none

updated changelog doc for PR
  CHANGELOG.md
Owners: none

BUG clang format fixes
  cpp/comms/std/src/cuML_std_comms_impl.cpp
  cpp/comms/std/src/ucp_helper.h
  cpp/include/cuml/common/logger.hpp
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/comms/std/src/cuML_std_comms_impl.cpp
  cpp/comms/std/src/ucp_helper.h
  cpp/include/cuml/common/logger.hpp
Owners: @rapidsai/cuml-cpp-codeowners

Random forest testing speedup
  python/cuml/test/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners
