Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

style fixes
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

style fixes
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

Tests with cupy input for all features
  python/cuml/preprocessing/encoders.py
  python/cuml/test/test_one_hot_encoder.py
Owners: @rapidsai/cuml-python-codeowners

Tests with cupy input for all features
  python/cuml/preprocessing/encoders.py
  python/cuml/test/test_one_hot_encoder.py
Owners: @rapidsai/cuml-python-codeowners

Update documentation for input as array
  python/cuml/preprocessing/encoders.py
Owners: @rapidsai/cuml-python-codeowners

Update documentation for input as array
  python/cuml/preprocessing/encoders.py
Owners: @rapidsai/cuml-python-codeowners

Fix coding style
  python/cuml/preprocessing/encoders.py
Owners: @rapidsai/cuml-python-codeowners

Fix coding style
  python/cuml/preprocessing/encoders.py
Owners: @rapidsai/cuml-python-codeowners

Fix whitespaces
  python/cuml/preprocessing/encoders.py
Owners: @rapidsai/cuml-python-codeowners

Fix whitespaces
  python/cuml/preprocessing/encoders.py
Owners: @rapidsai/cuml-python-codeowners

Passing along separate sizes for index vs query vertices
  cpp/include/cuml/neighbors/knn.hpp
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.h
  cpp/test/prims/knn_classify.cu
  cpp/test/prims/knn_regression.cu
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/test/test_pickle.py
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

Passing along separate sizes for index vs query vertices
  cpp/include/cuml/neighbors/knn.hpp
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.h
  cpp/test/prims/knn_classify.cu
  cpp/test/prims/knn_regression.cu
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/test/test_pickle.py
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

fixed cupy bug and removed centroid bottleneck
  python/cuml/datasets/classification.py
Owners: @rapidsai/cuml-python-codeowners

fixed cupy bug and removed centroid bottleneck
  python/cuml/datasets/classification.py
Owners: @rapidsai/cuml-python-codeowners

Reverting test_pickle
  python/cuml/test/test_pickle.py
Owners: @rapidsai/cuml-python-codeowners

Reverting test_pickle
  python/cuml/test/test_pickle.py
Owners: @rapidsai/cuml-python-codeowners

debugging n_parts > 1
  python/cuml/dask/datasets/regression.py
  python/cuml/test/dask/test_datasets.py
Owners: @rapidsai/cuml-python-codeowners

debugging n_parts > 1
  python/cuml/dask/datasets/regression.py
  python/cuml/test/dask/test_datasets.py
Owners: @rapidsai/cuml-python-codeowners

style fix
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

style fix
  python/cuml/dask/datasets/regression.py
Owners: @rapidsai/cuml-python-codeowners

working dask make classification
  python/cuml/dask/datasets/classification.py
  python/cuml/test/dask/test_datasets.py
Owners: @rapidsai/cuml-python-codeowners

working dask make classification
  python/cuml/dask/datasets/classification.py
  python/cuml/test/dask/test_datasets.py
Owners: @rapidsai/cuml-python-codeowners

style fixes
  python/cuml/dask/datasets/classification.py
  python/cuml/datasets/classification.py
Owners: @rapidsai/cuml-python-codeowners

style fixes
  python/cuml/dask/datasets/classification.py
  python/cuml/datasets/classification.py
Owners: @rapidsai/cuml-python-codeowners

ENH added unit-tests for logger
  python/cuml/test/test_logger.py
Owners: @rapidsai/cuml-python-codeowners

ENH added unit-tests for logger
  python/cuml/test/test_logger.py
Owners: @rapidsai/cuml-python-codeowners

ENH test for set_pattern
  python/cuml/test/test_logger.py
Owners: @rapidsai/cuml-python-codeowners

ENH test for set_pattern
  python/cuml/test/test_logger.py
Owners: @rapidsai/cuml-python-codeowners

DOC pep8 style fixes
  python/cuml/test/test_logger.py
Owners: @rapidsai/cuml-python-codeowners

DOC pep8 style fixes
  python/cuml/test/test_logger.py
Owners: @rapidsai/cuml-python-codeowners

FIX memcheck failure in dispersion kernel
  cpp/src_prims/metrics/dispersion.h
Owners: @rapidsai/cuml-cpp-codeowners

FIX memcheck failure in dispersion kernel
  cpp/src_prims/metrics/dispersion.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/src_prims/metrics/dispersion.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC copyright year update
  cpp/src_prims/metrics/dispersion.h
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/src_prims/metrics/dispersion.h
Owners: @rapidsai/cuml-cpp-codeowners

BUG clang format fixes
  cpp/src_prims/metrics/dispersion.h
Owners: @rapidsai/cuml-cpp-codeowners

DOC update changelog
  CHANGELOG.md
Owners: none

DOC update changelog
  CHANGELOG.md
Owners: none

FIX proper import statement for logger
  python/cuml/test/test_logger.py
Owners: @rapidsai/cuml-python-codeowners

FIX proper import statement for logger
  python/cuml/test/test_logger.py
Owners: @rapidsai/cuml-python-codeowners
