Repository rapidsai/cuml, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners, @rapidsai/cuml-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuml-cpp-codeowners

#python code owners
python/cuml/       @rapidsai/cuml-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cuml-cmake-codeowners
**/cmake/          @rapidsai/cuml-cmake-codeowners
python/setup.py    @rapidsai/cuml-cmake-codeowners
build.sh           @rapidsai/cuml-cmake-codeowners
**/build.sh        @rapidsai/cuml-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

re-added previously replaced tests
  cpp/test/sg/fil_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

re-added previously replaced tests
  cpp/test/sg/fil_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

addressed most review comments; new regression logic still buggy
  cpp/include/cuml/fil/fil.h
  cpp/src/fil/fil.cu
  cpp/src/fil/infer.cu
  cpp/test/sg/fil_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

addressed most review comments; new regression logic still buggy
  cpp/include/cuml/fil/fil.h
  cpp/src/fil/fil.cu
  cpp/src/fil/infer.cu
  cpp/test/sg/fil_test.cu
Owners: @rapidsai/cuml-cpp-codeowners

Requested modifications (except fixtures)
  python/cuml/test/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

Requested modifications (except fixtures)
  python/cuml/test/test_random_forest.py
Owners: @rapidsai/cuml-python-codeowners

reduced predict time
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestregressor.pyx
Owners: @rapidsai/cuml-python-codeowners

Updating c++ style
  cpp/include/cuml/neighbors/knn.hpp
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.h
Owners: @rapidsai/cuml-cpp-codeowners

Updating c++ style
  cpp/include/cuml/neighbors/knn.hpp
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.h
Owners: @rapidsai/cuml-cpp-codeowners

Updating doxygen
  cpp/include/cuml/neighbors/knn.hpp
  cpp/src_prims/selection/knn.h
Owners: @rapidsai/cuml-cpp-codeowners

Updating doxygen
  cpp/include/cuml/neighbors/knn.hpp
  cpp/src_prims/selection/knn.h
Owners: @rapidsai/cuml-cpp-codeowners

Updating tests to use train and test
  cpp/src_prims/selection/knn.h
  python/cuml/test/test_kneighbors_classifier.py
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

Updating tests to use train and test
  cpp/src_prims/selection/knn.h
  python/cuml/test/test_kneighbors_classifier.py
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

Removing unecessary character in doxygen
  cpp/src_prims/selection/knn.h
Owners: @rapidsai/cuml-cpp-codeowners

Removing unecessary character in doxygen
  cpp/src_prims/selection/knn.h
Owners: @rapidsai/cuml-cpp-codeowners

update code
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestregressor.pyx
Owners: @rapidsai/cuml-python-codeowners

moved host function from cuda utils to cudart utils. added comment for arr2str
  cpp/src_prims/common/cudart_utils.h
  cpp/src_prims/cuda_utils.h
Owners: @rapidsai/cuml-cpp-codeowners

moved host function from cuda utils to cudart utils. added comment for arr2str
  cpp/src_prims/common/cudart_utils.h
  cpp/src_prims/cuda_utils.h
Owners: @rapidsai/cuml-cpp-codeowners

Adjusting thresholds for umap mnmg tests
  cpp/src/umap/init_embed/spectral_algo.h
  python/cuml/test/dask/test_umap.py
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

Adjusting thresholds for umap mnmg tests
  cpp/src/umap/init_embed/spectral_algo.h
  python/cuml/test/dask/test_umap.py
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

[WIP] Accelerate CSS estimation method for ARIMA
  cpp/src/arima/batched_arima.cu
  python/cuml/tsa/auto_arima.pyx
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

[WIP] Accelerate CSS estimation method for ARIMA
  cpp/src/arima/batched_arima.cu
  python/cuml/tsa/auto_arima.pyx
Owners: @rapidsai/cuml-cpp-codeowners, @rapidsai/cuml-python-codeowners

Fixing style in test prims
  cpp/test/prims/knn_classify.cu
  cpp/test/prims/knn_regression.cu
Owners: @rapidsai/cuml-cpp-codeowners

Fixing style in test prims
  cpp/test/prims/knn_classify.cu
  cpp/test/prims/knn_regression.cu
Owners: @rapidsai/cuml-cpp-codeowners

Bumping fais to v1.6.2
  cpp/cmake/Dependencies.cmake
Owners: @rapidsai/cuml-cmake-codeowners

Bumping fais to v1.6.2
  cpp/cmake/Dependencies.cmake
Owners: @rapidsai/cuml-cmake-codeowners

Updating trustworthiness test w/ threshold.
  python/cuml/metrics/trustworthiness.pyx
  python/cuml/test/dask/test_umap.py
  python/cuml/test/test_trustworthiness.py
Owners: @rapidsai/cuml-python-codeowners

Updating trustworthiness test w/ threshold.
  python/cuml/metrics/trustworthiness.pyx
  python/cuml/test/dask/test_umap.py
  python/cuml/test/test_trustworthiness.py
Owners: @rapidsai/cuml-python-codeowners

Updating based on review feedback so far.
  python/cuml/dask/datasets/blobs.py
Owners: @rapidsai/cuml-python-codeowners

Updating based on review feedback so far.
  python/cuml/dask/datasets/blobs.py
Owners: @rapidsai/cuml-python-codeowners

CI enable memcheck on ml-prims unit-tests in nightlies
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

CI enable memcheck on ml-prims unit-tests in nightlies
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

DOC added header for the nightlies memcheck command
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

DOC added header for the nightlies memcheck command
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

DOC update changelog
  CHANGELOG.md
Owners: none

DOC update changelog
  CHANGELOG.md
Owners: none

ENH upgraded main cmakelists to compile for cpp14
  cpp/CMakeLists.txt
Owners: @rapidsai/cuml-cmake-codeowners

ENH upgraded main cmakelists to compile for cpp14
  cpp/CMakeLists.txt
Owners: @rapidsai/cuml-cmake-codeowners

ENH also updated gpu-archs evaluator helper program to be inline with the same cpp standard
  cpp/cmake/EvalGpuArchs.cmake
Owners: @rapidsai/cuml-cmake-codeowners

ENH also updated gpu-archs evaluator helper program to be inline with the same cpp standard
  cpp/cmake/EvalGpuArchs.cmake
Owners: @rapidsai/cuml-cmake-codeowners
