Repository rapidsai/cuml, changes with the labels that .github/labeler.yml gives for each.
All labels: Cython / Python, libcuml, CMake, cuml (Java), Ops

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Adapted from https://github.com/rapidsai/cuml/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/cuml/labels

Cython / Python:
  - 'python/**'
  - 'notebooks/**'
  
libcuml:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  
cuml (Java):
  - 'java/**'
  
Ops:
  - '.github/**'
  - 'ci/**'
  - 'conda/**'
  - '**/Dockerfile'
  - '**/.dockerignore'
  - 'docker/**'

FIX clang-format fixes
  cpp/include/cuml/genetic/genetic.h
  cpp/include/cuml/genetic/node.h
  cpp/src/genetic/genetic.cu
  cpp/src/genetic/genetic.cuh
  cpp/src/genetic/node.cu
  cpp/src/genetic/node.cuh
  cpp/test/sg/genetic/node_test.cpp
  cpp/test/sg/genetic/param_test.cu
Labels: libcuml

First round changes
  python/cuml/dask/ensemble/base.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/test/dask/test_random_forest.py
Labels: Cython / Python

Removing unnecessary locals
  cpp/src/glm/ridge.cuh
  cpp/src_prims/functions/penalty.cuh
Labels: libcuml

Use stable 1.0.0 version of Treelite
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  conda/environments/cuml_dev_cuda11.0.yml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
Labels: Ops

Second round of changes
  python/cuml/dask/ensemble/base.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/test/dask/test_random_forest.py
Labels: Cython / Python

re-enable cuML's copyright checker script (#3363)
  ci/checks/copyright.py
  ci/checks/style.sh
  cpp/scripts/gitutils.py
Labels: libcuml, Ops

re-enable cuML's copyright checker script (#3363)
  ci/checks/copyright.py
  ci/checks/style.sh
  cpp/scripts/gitutils.py
Labels: libcuml, Ops

Back to Dask
  python/cuml/dask/ensemble/base.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
Labels: Cython / Python

Copyright update
  cpp/include/cuml/neighbors/knn.hpp
Labels: libcuml

Moving git info commands to after the `gpuci_logger` function is available
  ci/gpu/build.sh
Labels: Ops

Avoid unused variable warning
  cpp/src/randomforest/randomforest.cu
Labels: libcuml

Parallelize build_treelite_forest
  cpp/src/randomforest/randomforest.cu
Labels: libcuml

Eliminate CUDA streams limit on non-GPU code
  cpp/src/randomforest/randomforest.cu
Labels: libcuml

Avoid race condition on Treelite tree insertion
  cpp/src/randomforest/randomforest.cu
Labels: libcuml

Update copyright year
  cpp/src/randomforest/randomforest.cu
Labels: libcuml

Fix style error
  python/cuml/test/conftest.py
Labels: Cython / Python

Parallelize max_depth over TL trees
  cpp/src/fil/fil.cu
Labels: libcuml

Pre-allocate memory for treelite to fil conversion
  cpp/src/fil/fil.cu
Labels: libcuml

Use resize to optimize use of vector for nodes
  cpp/src/fil/fil.cu
Labels: libcuml

Avoid initialization of empty nodes
  cpp/src/fil/fil.cu
Labels: libcuml

Fix style
  cpp/src/fil/fil.cu
Labels: libcuml

Revert "Avoid initialization of empty nodes"
  cpp/src/fil/fil.cu
Labels: libcuml

Try parallelized tl->fil call
  cpp/src/fil/fil.cu
Labels: libcuml

Remove unused include
  cpp/src/fil/fil.cu
Labels: libcuml

Treat nodes more consistently as vector
  cpp/src/fil/fil.cu
Labels: libcuml

Update copyright header
  cpp/src/fil/fil.cu
Labels: libcuml

Fix for ANN memory release bug (#3391)
  cpp/include/cuml/neighbors/knn.hpp
Labels: libcuml

Fix for ANN memory release bug (#3391)
  cpp/include/cuml/neighbors/knn.hpp
Labels: libcuml

Updating copyright
  ci/gpu/build.sh
  python/cuml/neighbors/ann.pxd
  python/cuml/neighbors/ann.pyx
Labels: Cython / Python, Ops

Update copyright
  python/cuml/test/conftest.py
Labels: Cython / Python

Use float32 for X in naive bayes tests
  python/cuml/test/dask/test_naive_bayes.py
Labels: Cython / Python

Update copyrights
  python/cuml/dask/ensemble/base.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/test/dask/test_random_forest.py
Labels: Cython / Python

Another test to determine git refs in CI
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: Ops

Adding additional info to the copyright check and better support for fixing copyright issues locally.
  ci/checks/copyright.py
  ci/checks/style.sh
  cpp/scripts/gitutils.py
Labels: libcuml, Ops

Adding copyright information
  ci/cpu/build.sh
Labels: Ops

Also xfail zlib errors when downloading newsgroups data (#3393)
  python/cuml/test/conftest.py
Labels: Cython / Python

Also xfail zlib errors when downloading newsgroups data (#3393)
  python/cuml/test/conftest.py
Labels: Cython / Python

Reverting temp changes to debug git refs in CI
  ci/cpu/build.sh
  ci/gpu/build.sh
  python/.coveragerc
  python/cuml/neighbors/ann.pxd
  python/cuml/neighbors/ann.pyx
Labels: Cython / Python, Ops

Reverting codecov binary back to installed version instead of curl.
  ci/gpu/build.sh
Labels: Ops

Revert "Use stable 1.0.0 version of Treelite"
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  conda/environments/cuml_dev_cuda11.0.yml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
Labels: Ops
