Repository rapidsai/cuml, pull requests merged in 2019-11, with the labels that each got.

#1218 [REVIEW] Histogram prim
  CHANGELOG.md
  cpp/src_prims/common/seive.cuh
  cpp/src_prims/random/rng.h
  cpp/src_prims/stats/histogram.h
  cpp/src_prims/utils.h
  cpp/test/CMakeLists.txt
  cpp/test/prims/histogram.cu
  cpp/test/prims/seive.cu
Labels: 2 - In Progress, CUDA / C++, New Prim

#1312 [REVIEW] Change cupy versions to use conda-forge and be >= 6.5
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda10.0.yml
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda9.2.yml
  conda/recipes/cuml/meta.yaml
  python/cuml/utils/import_utils.py
Labels: 3 - Ready for Review, build

#1340 [REVIEW]Updated the tests to increase the size of the unit test dataset
  CHANGELOG.md
  python/cuml/decomposition/pca.pyx
  python/cuml/test/test_coordinate_descent.py
  python/cuml/test/test_dbscan.py
  python/cuml/test/test_fil.py
  python/cuml/test/test_kmeans.py
  python/cuml/test/test_linear_model.py
  python/cuml/test/test_mbsgd_classifier.py
  python/cuml/test/test_mbsgd_regressor.py
  python/cuml/test/test_nearest_neighbors.py
  python/cuml/test/test_pca.py
  python/cuml/test/test_pickle.py
  python/cuml/test/test_random_forest.py
  python/cuml/test/test_tsvd.py
  python/cuml/test/test_umap.py
  python/cuml/test/utils.py
Labels: 5 - Ready to Merge, tests

#1338 [REVIEW] Remove BUILD_ABI references in CI
  CHANGELOG.md
  ci/cpu/libcuml/build_libcuml.sh
  ci/cpu/prebuild.sh
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
Labels: 3 - Ready for Review, build

#1281 [REVIEW] Making rng.h threadsafe
  CHANGELOG.md
  cpp/src/decisiontree/levelalgo/common_helper.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_regressor.cuh
  cpp/src/randomforest/randomforest_impl.cuh
  cpp/src_prims/random/rng.h
  cpp/test/prims/batched/gemv.cu
  cpp/test/prims/reduce_cols_by_key.cu
  cpp/test/sg/svc_test.cu
  python/cuml/test/test_kmeans.py
  python/cuml/test/test_random_forest.py
Labels: 2 - In Progress, CUDA / C++

#1337 [REVIEW] Fix kmeans init from preset cluster centers
  CHANGELOG.md
  python/cuml/cluster/kmeans.pyx
  python/cuml/test/test_kmeans.py
  python/cuml/test/utils.py
Labels: 3 - Ready for Review, Cython / Python, bug, tests

#1351 [REVIEW] Build treelite temporarily for GPU CI testing of FIL Scikit-learn model importing
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 3 - Ready for Review, build, tests

#1344 [REVIEW] Change other solver based methods to create solver object in init
  CHANGELOG.md
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/solvers/qn.pyx
Labels: 3 - Ready for Review, Cython / Python

#1354 [Review] [Bugfix] SVM gamma='scale' implementation
  CHANGELOG.md
  python/cuml/svm/svm.pyx
  python/cuml/test/test_svm.py
Labels: 5 - Ready to Merge, Cython / Python, bug

#1295 [REVIEW] MNMG PCA
  CHANGELOG.md
  python/cuml/dask/common/dask_df_utils.py
  python/cuml/dask/decomposition/__init__.py
  python/cuml/dask/decomposition/pca.py
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/pca_mg.pyx
  python/cuml/test/dask/test_kmeans.py
  python/cuml/test/dask/test_pca.py
  python/setup.py
Labels: 3 - Ready for Review, CUDA / C++, Cython / Python, Dask / cuml.dask, Multi-GPU, New Algorithm, tests

#1332 [REVIEW] Add option to cuml.dask make_blobs to produce dask array
  CHANGELOG.md
  python/cuml/dask/datasets/blobs.py
  python/cuml/test/dask/test_datasets.py
Labels: 5 - Ready to Merge, Cython / Python, Dask / cuml.dask, tests

#1362 [REVIEW] Small fixes to UMAP, including bug fix. Using device_buffers in UMAP + sparse Primitives.
  CHANGELOG.md
  cpp/include/cuml/manifold/umap.hpp
  cpp/include/cuml/manifold/umapparams.h
  cpp/src/dbscan/runner.h
  cpp/src/tsne/tsne.cu
  cpp/src/umap/fuzzy_simpl_set/naive.h
  cpp/src/umap/fuzzy_simpl_set/runner.h
  cpp/src/umap/init_embed/spectral_algo.h
  cpp/src/umap/knn_graph/algo.h
  cpp/src/umap/optimize.h
  cpp/src/umap/runner.h
  cpp/src/umap/simpl_set_embed/algo.h
  cpp/src/umap/simpl_set_embed/runner.h
  cpp/src/umap/supervised.h
  cpp/src/umap/umap.cu
  cpp/src_prims/sparse/coo.h
  cpp/src_prims/sparse/csr.h
  cpp/src_prims/sparse/cusparse_wrappers.h
  cpp/src_prims/sparse/spectral.h
  cpp/test/prims/coo.cu
  cpp/test/prims/csr.cu
  cpp/test/sg/umap_test.cu
  python/cuml/manifold/umap.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/test/test_pickle.py
  python/cuml/test/test_umap.py
Labels: 3 - Ready for Review, CUDA / C++, Cython / Python, bug

#1361 [REVIEW] [BUG] Improve SMO error handling
  CHANGELOG.md
  cpp/src/svm/smosolver.h
  cpp/test/sg/svc_test.cu
  python/cuml/svm/svm.pyx
  python/cuml/test/test_svm.py
Labels: 2 - In Progress, CUDA / C++, bug

#1368 [REVIEW] --num-rows benchmark command line argument
  CHANGELOG.md
  python/cuml/benchmark/run_benchmarks.py
Labels: 3 - Ready for Review, Cython / Python, benchmarking

#1258 [REVIEW] Updating documentation for recent cuml comms build changes [skip-ci]
  BUILD.md
  CHANGELOG.md
  build.sh
  cpp/README.md
Labels: 3 - Ready for Review, doc

#1194 [REVIEW] Initial support for ARIMA time-series modeling
  .gitignore
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cuml/tsa/stationarity.h
  cpp/src/arima/batched_arima.cu
  cpp/src/arima/batched_arima.hpp
  cpp/src/arima/batched_kalman.cu
  cpp/src/arima/batched_kalman.hpp
  cpp/src/tsa/stationarity.cu
  cpp/src_prims/linalg/cublas_wrappers.h
  cpp/src_prims/matrix/batched_matrix.hpp
  cpp/src_prims/timeSeries/stationarity.h
  cpp/test/CMakeLists.txt
  cpp/test/prims/batched_matrix.cu
  cpp/test/prims/batched_matrix.h
  cpp/test/prims/stationarity.cu
  python/cuml/__init__.py
  python/cuml/common/cuda.pyx
  python/cuml/test/test_arima.py
  python/cuml/test/test_batched_lbfgs.py
  python/cuml/test/test_stationarity.py
  python/cuml/ts/__init__.py
  python/cuml/tsa/arima.pyx
  python/cuml/tsa/batched_lbfgs.py
  python/cuml/tsa/stationarity.pyx
  python/setup.py
Labels: 3 - Ready for Review, CUDA / C++, New Algorithm

#1322 [REVIEW] RF pickling using protobuf
  CHANGELOG.md
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/src/randomforest/randomforest.cu
  cpp/test/sg/rf_treelite_test.cu
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/test/test_pickle.py
Labels: 3 - Ready for Review, CUDA / C++, Cython / Python

#1380 [REVIEW] Fix memory leaks in ARIMA
  CHANGELOG.md
  cpp/src/arima/batched_arima.cu
Labels: 5 - Ready to Merge, CUDA / C++, bug

#1366 [REVIEW] Modify train_test_split to use CuPy and accept device arrays
  CHANGELOG.md
  python/cuml/preprocessing/model_selection.py
  python/cuml/test/test_train_test_split.py
Labels: 3 - Ready for Review, Cython / Python, tests

#1360 [REVIEW] Improved tests for importing SciKit-Learn models into FIL
  CHANGELOG.md
  python/cuml/test/test_fil.py
Labels: 3 - Ready for Review, tests

#1357 [REVIEW] Allow benchmarks to run multiple times
  CHANGELOG.md
  python/cuml/benchmark/algorithms.py
  python/cuml/benchmark/ci_benchmark.py
  python/cuml/benchmark/run_benchmarks.py
  python/cuml/benchmark/runners.py
  python/cuml/test/test_benchmark.py
  python/cuml/utils/cupy_utils.py
  python/cuml/utils/import_utils.py
Labels: 3 - Ready for Review, Cython / Python, benchmarking

#1373 [REVIEW] Fixing a cluster_std and centers in cuml.datasets.make_blobs and adding pytest asserts
  CHANGELOG.md
  python/cuml/datasets/blobs.pyx
  python/cuml/test/test_make_blobs.py
  python/cuml/test/test_mbsgd_classifier.py
Labels: 5 - Ready to Merge, Cython / Python

#1313 [REVIEW] Updated the RF tests to set the seed and n_streams=1
  CHANGELOG.md
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/test/test_random_forest.py
Labels: 2 - In Progress, tests

#1394 Warning added in svd for cuda version 10.1
  CHANGELOG.md
  cpp/src_prims/linalg/svd.h
Labels: 5 - Ready to Merge

#1282 [REVIEW] KNN MNMG
  CHANGELOG.md
  ci/cpu/cuml/upload-anaconda.sh
  ci/cpu/libcuml/upload-anaconda.sh
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda10.0.yml
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda9.2.yml
  cpp/CMakeLists.txt
  cpp/comms/std/CMakeLists.txt
  cpp/include/cuml/cuml.hpp
  cpp/include/cuml/neighbors/knn.hpp
  cpp/include/cuml/neighbors/knn_api.h
  cpp/src/common/cumlHandle.cpp
  cpp/src/common/cumlHandle.hpp
  cpp/src/knn/knn.cu
  cpp/src/tsne/distances.h
  cpp/src/tsne/tsne.cu
  cpp/src/umap/knn_graph/algo.h
  cpp/src/umap/knn_graph/runner.h
  cpp/src/umap/runner.h
  cpp/src/umap/supervised.h
  cpp/src_prims/score/scores.h
  cpp/src_prims/selection/knn.h
  cpp/src_prims/sparse/csr.h
  cpp/src_prims/sparse/spectral.h
  cpp/test/CMakeLists.txt
  cpp/test/mg/knn_test_mg.cu
  cpp/test/prims/knn.cu
  cpp/test/prims/knn_classify.cu
  cpp/test/prims/knn_regression.cu
  cpp/test/sg/knn_test.cu
  python/cuml/cluster/kmeans_mg.pyx
  python/cuml/dask/cluster/kmeans.py
  python/cuml/dask/common/__init__.py
  python/cuml/dask/common/comms.py
  python/cuml/dask/common/comms_utils.pyx
  python/cuml/dask/common/dask_df_utils.py
  python/cuml/dask/common/part_utils.py
  python/cuml/dask/common/utils.py
  python/cuml/dask/decomposition/pca.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/dask/neighbors/nearest_neighbors.py
  python/cuml/nccl/nccl.pyx
  python/cuml/neighbors/__init__.py
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/neighbors/nearest_neighbors_mg.pyx
  python/cuml/test/dask/test_nearest_neighbors.py
  python/cuml/test/test_kneighbors_classifier.py
  python/cuml/test/test_kneighbors_regressor.py
  python/cuml/test/test_nearest_neighbors.py
  python/cuml/test/test_pickle.py
  python/setup.py
Labels: 5 - Ready to Merge, CUDA / C++, Cython / Python, Dask / cuml.dask, Multi-GPU, tests

#1371 [REVIEW] MNMG tSVD
  CHANGELOG.md
  python/cuml/dask/decomposition/__init__.py
  python/cuml/dask/decomposition/tsvd.py
  python/cuml/decomposition/tsvd.pyx
  python/cuml/decomposition/tsvd_mg.pyx
  python/cuml/test/dask/test_tsvd.py
Labels: 2 - In Progress, Dask / cuml.dask, Multi-GPU, New Algorithm

#1401 [REVIEW] Patch for lbfgs solver for logistic regression with no l1 penalty
  CHANGELOG.md
  cpp/src/glm/qn/glm_logistic.h
  cpp/src/glm/qn/qn_solvers.h
  cpp/src/glm/qn/qn_util.h
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/test/test_linear_model.py
Labels: 3 - Ready for Review, Cython / Python, bug

#1407 [REVIEW] Bugfix for RF predict and multiple docstring improvements
  CHANGELOG.md
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/test/test_random_forest.py
Labels: 3 - Ready for Review, Cython / Python, bug, doc

#1416 [FIX] train_test_split numba and rmm device_array output bugfix
  CHANGELOG.md
  python/cuml/preprocessing/model_selection.py
  python/cuml/test/test_linear_model.py
Labels: 5 - Ready to Merge, Cython / Python, bug
