Repository rapidsai/cuml, pull requests merged in 2019-09, with the labels that each got.

#961 [REVIEW] High Peformance RF; HIST algo
  CHANGELOG.md
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/flatnode.h
  cpp/src/decisiontree/kernels/batch_cal.cuh
  cpp/src/decisiontree/kernels/col_condenser.cuh
  cpp/src/decisiontree/kernels/evaluate_classifier.cuh
  cpp/src/decisiontree/kernels/evaluate_regressor.cuh
  cpp/src/decisiontree/kernels/metric.cuh
  cpp/src/decisiontree/kernels/metric_def.h
  cpp/src/decisiontree/kernels/split_labels.cuh
  cpp/src/decisiontree/levelalgo/common_helper.cuh
  cpp/src/decisiontree/levelalgo/common_kernel.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_regressor.cuh
  cpp/src/decisiontree/levelalgo/levelhelper_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelhelper_regressor.cuh
  cpp/src/decisiontree/levelalgo/levelkernel_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelkernel_regressor.cuh
  cpp/src/decisiontree/levelalgo/metric.cuh
  cpp/src/decisiontree/levelalgo/metric_def.h
  cpp/src/decisiontree/memory.cuh
  cpp/src/decisiontree/memory.h
  cpp/src/decisiontree/quantile/quantile.cuh
  cpp/src/decisiontree/quantile/quantile.h
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest.hpp
  cpp/src/randomforest/randomforest_impl.cuh
  cpp/src/randomforest/randomforest_impl.h
  cpp/src_prims/stats/minmax.h
  cpp/test/sg/rf_test.cu
  cpp/test/sg/rf_treelite_test.cu
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/test/test_metrics.py
  python/cuml/test/test_random_forest.py
Labels: 3 - Ready for Review, CUDA / C++

#763 [Review] Add examples to train_test_split docs
  CHANGELOG.md
  python/cuml/preprocessing/model_selection.py
Labels: 3 - Ready for Review, doc

#1075 [REVIEW] Pinning dask and distributed versions
  CHANGELOG.md
  ci/checks/style.sh
  ci/gpu/build.sh
  ci/mg/build.sh
  conda/environments/cuml_dev_cuda10.0.yml
  conda/environments/cuml_dev_cuda9.2.yml
  python/cuml/preprocessing/LabelEncoder.py
Labels: build

#1072 [REVIEW] Remove pip requirements and setup, along with cmakesetuptools
  CHANGELOG.md
  conda/environments/builddocs_py37.yml
  requirements.txt
  setup_pip.py
Labels: Cython / Python, build

#823 [REVIEW] cluster dispersion metric
  CHANGELOG.md
  cpp/src_prims/metrics/dispersion.h
  cpp/test/CMakeLists.txt
  cpp/test/prims/dispersion.cu
Labels: 3 - Ready for Review, CUDA / C++, New Prim

#1114 [REVIEW] Exposing useful params, removing unused params, proxying params in Dask layer
  CHANGELOG.md
  python/cuml/cluster/kmeans.pyx
  python/cuml/cluster/kmeans_mg.pyx
  python/cuml/dask/cluster/kmeans.py
Labels: 3 - Ready for Review, Algorithm API Change, Cython / Python, Dask / cuml.dask, Tech Debt

#855 [REVIEW] Break out benchmark notebook utils and expand (v2)
  CHANGELOG.md
  python/cuml/benchmark/__init__.py
  python/cuml/benchmark/algorithms.py
  python/cuml/benchmark/ci_benchmark.py
  python/cuml/benchmark/datagen.py
  python/cuml/benchmark/run_benchmarks.py
  python/cuml/benchmark/runners.py
  python/cuml/cluster/dbscan.pyx
  python/cuml/pytest_benchmarks/test_bench.py
  python/cuml/test/test_benchmark.py
  python/cuml/utils/import_utils.py
Labels: 2 - In Progress, Cython / Python

#1015 [REVIEW] Use num internal streams instead of creating cumlHandle's inside the C++ layer
  CHANGELOG.md
  cpp/src/common/cumlHandle.cpp
  cpp/src/common/cumlHandle.hpp
  cpp/src/cuML.hpp
  cpp/src/decisiontree/memory.cuh
  cpp/src/decisiontree/memory.h
  cpp/src/randomforest/randomforest_impl.cuh
  cpp/test/sg/rf_test.cu
  cpp/test/sg/rf_treelite_test.cu
  python/cuml/common/handle.pxd
  python/cuml/common/handle.pyx
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/test/test_metrics.py
  python/cuml/test/test_random_forest.py
  python/cuml/test/utils.py
  wiki/cpp/DEVELOPER_GUIDE.md
Labels: 3 - Ready for Review, Blocked!, CUDA / C++

#1132 [REVIEW] Fixed DBSCAN batching bug
  CHANGELOG.md
  cpp/examples/dbscan/dbscan_example.cpp
  cpp/src/datasets/make_blobs.cu
  cpp/src/datasets/make_blobs.hpp
  cpp/src/dbscan/adjgraph/algo.h
  cpp/src/dbscan/adjgraph/naive.h
  cpp/src/dbscan/adjgraph/pack.h
  cpp/src/dbscan/adjgraph/runner.h
  cpp/src/dbscan/dbscan.cu
  cpp/src/dbscan/dbscan.h
  cpp/src/dbscan/dbscan.hpp
  cpp/src/dbscan/dbscan_api.cpp
  cpp/src/dbscan/dbscan_api.h
  cpp/src/dbscan/runner.h
  cpp/src/dbscan/vertexdeg/algo.h
  cpp/src/dbscan/vertexdeg/naive.h
  cpp/src/dbscan/vertexdeg/pack.h
  cpp/src/dbscan/vertexdeg/runner.h
  cpp/src/metrics/metrics.cu
  cpp/src/metrics/metrics.hpp
  cpp/src_prims/random/make_blobs.h
  cpp/src_prims/random/permute.h
  cpp/src_prims/sparse/csr.h
  cpp/test/prims/csr.cu
  cpp/test/sg/dbscan_test.cu
  python/cuml/cluster/dbscan.pyx
  python/cuml/datasets/blobs.pyx
  python/cuml/metrics/cluster/adjustedrandindex.pyx
  python/cuml/test/test_dbscan.py
Labels: 3 - Ready for Review, bug, container

#1165 [REVIEW[ Adding except + everywhere necessary
  CHANGELOG.md
  python/cuml/cluster/kmeans.pyx
  python/cuml/cluster/kmeans_mg.pyx
  python/cuml/common/handle.pxd
  python/cuml/dask/common/comms_utils.pyx
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/decomposition/tsvd_mg.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/fil/fil.pyx
  python/cuml/filter/kalman_filter.pyx
  python/cuml/internals/internals.pyx
  python/cuml/linear_model/linear_regression_mg.pyx
  python/cuml/linear_model/ridge.pyx
  python/cuml/metrics/accuracy.pyx
  python/cuml/metrics/regression.pxd
  python/cuml/metrics/trustworthiness.pyx
  python/cuml/nccl/nccl.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/random_projection/random_projection.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/svm/svm.pyx
  python/cuml/utils/pointer_utils.pyx
Labels: Cython / Python, Tech Debt
