Repository rapidsai/cuml, pull requests merged in 2019-01, with the labels that each got.

#91 [REVIEW] Visual inspection of kmeans and dbscan pytest equivalent and general pytest cleaning
  CHANGELOG.md
  README.md
  python/cuML/linear_model/ols_test_script.py
  python/cuML/pca/pca_random_test.py
  python/cuML/test/cuml_test_figures.ipynb
  python/cuML/test/test_dbscan.py
  python/cuML/test/test_kmeans.py
  python/cuML/test/test_linear_model.py
  python/cuML/test/test_pca.py
  python/cuML/test/test_tsvd.py
  python/cuML/test/test_utils.py
  python/cuML/test/utils.py
Labels: 3 - Ready for Review

#96 [REVIEW] Fix for issue 53, kmeans stack overflow
  CHANGELOG.md
  cuML/src/kmeans/kmeans_labels.h
Labels: 3 - Ready for Review

#69 [REVIEW] Ridge (L2) Linear Regression
  CHANGELOG.md
  cuML/src/glm/glm.cu
  cuML/src/glm/glm_c.h
  cuML/src/glm/ridge.h
  cuML/test/ridge.cu
  ml-prims/src/cuda_utils.h
  ml-prims/src/linalg/svd.h
  ml-prims/src/matrix/math.h
  python/cuML/cuml.pyx
  python/cuML/glm/glm_random_test.py
  python/cuML/linear_model/ridge.pxd
  python/cuML/linear_model/ridge.pyx
  python/cuML/linear_model/ridge_test_script.py
  python/cuML/test/test_linear_model.py
  python/notebooks/linear_regression_demo.ipynb
  python/notebooks/pca_demo.ipynb
  python/notebooks/ridge.ipynb
Labels: 3 - Ready for Review

#113 [REVIEW] Removed old unnecessary glm python/cython files
  CHANGELOG.md
  python/cuML/glm/c_glm.pxd
  python/cuML/glm/glm_random_test.py
Labels: 3 - Ready for Review

#103 [REVIEW] Linear Kalman Filter
  CHANGELOG.md
  README.md
  cuML/CMakeLists.txt
  cuML/src/kalman_filter/KalmanFilter.cuh
  cuML/src/kalman_filter/kf_variables.h
  cuML/src/kalman_filter/lkf.h
  cuML/src/kalman_filter/lkf_py.cu
  cuML/src/kalman_filter/lkf_py.h
  cuML/src/kalman_filter/utils.h
  cuML/test/lkf_test.cu
  python/cuML/cuml.pyx
  python/cuML/kalman/kalman_filter.pyx
  python/cuML/test/test_kalman_filter.py
Labels: 3 - Ready for Review

#118 Fix AttributeError in kmeans predict method
  CHANGELOG.md
  python/cuML/kmeans/kmeans_wrapper.pyx
Labels: 3 - Ready for Review

#109 [REVIEW] Ability to run cuML non faiss related algorithms without faiss installed
  conda-recipes/cuml/meta.yaml
  python/cuML/knn/knn_wrapper.py
Labels: 2 - In Progress, 3 - Ready for Review

#117 [REVIEW] Feature pip build
  README.md
  conda-recipes/libcuml/build.sh
  cuML/CMakeLists.txt
  requirements.txt
  setup_pip.py
Labels: 3 - Ready for Review

#133 Disable dbscan xfail tests for 0.5 CI
  python/cuML/test/test_dbscan.py
Labels: ! - Hotfix, 3 - Ready for Review

#146 [REVIEW] Add contribution guide for community contributors
  CONTRIBUTING.md
Labels: 3 - Ready for Review, doc

#151 [HOTFIX] Add cuML to gpuCI
  .travis.yml
  CHANGELOG.md
  ci/checks/changelog.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/cuml/build_cuml.sh
  ci/cpu/cuml/upload-anaconda.sh
  ci/cpu/libcuml/build_libcuml.sh
  ci/cpu/libcuml/upload-anaconda.sh
  ci/release/update-version.sh
  conda/environments/builddocs_py36.yml
  conda/recipes/cuml/build.sh
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/build.sh
  conda/recipes/libcuml/meta.yaml
  readthedocs.yml
  travisci/cuml/build_cuml.sh
  travisci/cuml/upload-anaconda.sh
  travisci/install-cuda-trusty.sh
  travisci/install-env.sh
  travisci/libcuml/build_libcuml.sh
  travisci/libcuml/upload-anaconda.sh
Labels: ! - Hotfix, conda, feature request, gpuCI

#161 [REVIEW] cuML v0.5 release changes
  CHANGELOG.md
  README.md
  ci/release/update-version.sh
  conda/environments/builddocs_py36.yml
  cuML/CMakeLists.txt
Labels: ! - Release, 3 - Ready for Review

#164 [HOTFIX] [REVIEW] Fea numba rowmajor2
  CHANGELOG.md
  python/cuML/__init__.py
  python/cuML/_version.py
  python/cuML/dbscan/dbscan_wrapper.pyx
  python/cuML/kalman/kalman_filter.pyx
  python/cuML/numba_utils.py
  python/setup.cfg
  python/setup.py
Labels: ! - Hotfix, 3 - Ready for Review

#169 [REVIEW] Added changelog section for 0.6
  CHANGELOG.md
Labels: 3 - Ready for Review
