Repository rapidsai/cuml, pull requests merged in 2019-02, with the labels that each got.

#193 [REVIEW] gdf_datatype setting causes error
  CHANGELOG.md
  python/cuML/pca/pca_wrapper.pyx
  python/cuML/tsvd/tsvd_wrapper.pyx
Labels: 3 - Ready for Review

#200 [REVIEW] Solve issue 196 without reintroducing numpy cimport
  CHANGELOG.md
  python/cuML/knn/knn.pxd
Labels: 3 - Ready for Review

#201 [REVIEW] propagate non-standard cuda toolkit dir to faiss configure script
  CHANGELOG.md
  cuML/CMakeLists.txt
Labels: 3 - Ready for Review

#202 [REVIEW] Adding ability for user to define their own BLAS location. Somehow th…
  CHANGELOG.md
  cuML/CMakeLists.txt
Labels: 3 - Ready for Review

#208 [REVIEW] Issue ml-common-3: Math.h: swap thrust::for_each with binaryOp,unaryOp
  CHANGELOG.md
  cuML/src/pca/pca.h
  cuML/src/tsvd/tsvd.h
  ml-prims/src/matrix/math.h
  ml-prims/test/math.cu
Labels: 3 - Ready for Review

#211 Fixing DBSCAN crash issue by using the proper batch sizing consistently through the algorithm
  CHANGELOG.md
  cuML/src/dbscan/dbscan.h
  cuML/src/dbscan/runner.h
  cuML/src/dbscan/vertexdeg/algo.h
  python/cuML/dbscan/dbscan_wrapper.pyx
Labels: 3 - Ready for Review

#168 [REVIEW] Add /ci/gpu/build.sh file to cuML
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 3 - Ready for Review

#209 [REVIEW] Fix Dockerfile, major README re-organization
  BUILD.md
  CHANGELOG.md
  Dockerfile
  README.md
Labels: 4 - Needs Rework

#215 [REVIEW] Updates to norm primitive--rowNorm and colNorm
  CHANGELOG.md
  cuML/src/glm/preprocess.h
  ml-prims/src/distance/algo1.h
  ml-prims/src/linalg/norm.h
  ml-prims/test/norm.cu
Labels: 3 - Ready for Review

#218 [REVIEW] Fix ext rng seed
  CHANGELOG.md
  ml-prims/src/random/rng.h
  ml-prims/test/cov.cu
  ml-prims/test/mean.cu
  ml-prims/test/rng.cu
  ml-prims/test/rsvd.cu
Labels: 2 - In Progress

#246 extended matrix-vec-op primitive to support working with 2 vectors
  CHANGELOG.md
  ml-prims/src/linalg/matrix_vector_op.h
  ml-prims/test/matrix_vector_op.cu
  ml-prims/test/matrix_vector_op.h
Labels: 3 - Ready for Review
