Repository rapidsai/cuml, pull requests merged in 2019-07, with the labels that each got.

#807 [REVIEW] Added conda environment files for development [skip-ci]
  BUILD.md
  CHANGELOG.md
  conda/environments/cuml_dev_cuda10.0.yml
  conda/environments/cuml_dev_cuda9.2.yml
Labels: 3 - Ready for Review, build

#813 [REVIEW] Column major distance prim
  CHANGELOG.md
  cpp/src_prims/distance/algo1.h
  cpp/src_prims/distance/cosine.h
  cpp/src_prims/distance/distance.h
  cpp/src_prims/distance/euclidean.h
  cpp/src_prims/distance/l1.h
  cpp/src_prims/linalg/row_gemm.h
  cpp/test/prims/dist_adj.cu
  cpp/test/prims/dist_cos.cu
  cpp/test/prims/dist_euc_exp.cu
  cpp/test/prims/dist_euc_unexp.cu
  cpp/test/prims/dist_l1.cu
  cpp/test/prims/distance_base.h
Labels: 3 - Ready for Review, CUDA / C++, New Prim

#789 [REVIEW] [Prim] Sampling without replacement
  CHANGELOG.md
  cpp/src_prims/common/cub_wrappers.h
  cpp/src_prims/common/scatter.h
  cpp/src_prims/random/rng.h
  cpp/test/CMakeLists.txt
  cpp/test/prims/sample_without_replacement.cu
  cpp/test/prims/scatter.cu
Labels: 3 - Ready for Review, CUDA / C++, New Prim

#754 [REVIEW] UMAP & KNN Pickling
  CHANGELOG.md
  python/cuml/manifold/umap.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/test/test_pickle.py
Labels: 3 - Ready for Review, Cython / Python

#832 [REVIEW] Stateless Decision Tree/Random Forest API
  CHANGELOG.md
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest.h
  cpp/src/randomforest/randomforest.hpp
  cpp/src/randomforest/randomforest_impl.cuh
  cpp/src/randomforest/randomforest_impl.h
  cpp/test/sg/rf_test.cu
  python/cuml/ensemble/randomforest.pyx
Labels: 3 - Ready for Review, Algorithm API Change, CUDA / C++

#849 [REVIEW] Fix for PCA transform bug
  CHANGELOG.md
  python/cuml/decomposition/pca.pyx
  python/cuml/test/test_pca.py
Labels: 3 - Ready for Review, Cython / Python, tests

#843 [bug] Rf quantile fix
  CHANGELOG.md
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/randomforest/randomforest_impl.cuh
Labels: 3 - Ready for Review, CUDA / C++

#826 batch-wise jone's transformation of parameters for ARIMA models
  CHANGELOG.md
  cpp/src_prims/cuda_utils.h
  cpp/src_prims/timeSeries/jones_transform.h
  cpp/test/CMakeLists.txt
  cpp/test/prims/jones_transform.cu
Labels: 3 - Ready for Review, CUDA / C++, New Prim

#870 [REVIEW] make blobs python
  CHANGELOG.md
  cpp/src/datasets/make_blobs.cu
  cpp/src/datasets/make_blobs.hpp
  docs/source/api.rst
  python/cuml/__init__.py
  python/cuml/datasets/__init__.py
  python/cuml/datasets/blobs.pyx
  python/cuml/test/test_datasets.py
Labels: 3 - Ready for Review, Cython / Python, tests

#882 [REVIEW] TSNE
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/tsne/barnes_hut.h
  cpp/src/tsne/bh_kernels.h
  cpp/src/tsne/digits.h
  cpp/src/tsne/distances.h
  cpp/src/tsne/exact_kernels.h
  cpp/src/tsne/exact_tsne.h
  cpp/src/tsne/tsne.cu
  cpp/src/tsne/tsne.h
  cpp/src/tsne/utils.h
  cpp/src_prims/sparse/coo.h
  cpp/test/CMakeLists.txt
  cpp/test/sg/tsne_test.cu
  python/cuml/__init__.py
  python/cuml/manifold/__init__.py
  python/cuml/manifold/t_sne.pyx
  python/cuml/test/test_pickle.py
  python/cuml/test/test_tsne.py
Labels: 3 - Ready for Review, CUDA / C++, Cython / Python, New Algorithm, New Prim, doc

#883 [REVIEW] MNMG KMeans Python
  CHANGELOG.md
  conda/recipes/cuml-cuda10/build.sh
  python/cuml/cluster/__init__.py
  python/cuml/cluster/kmeans_mg.pyx
  python/cuml/dask/cluster/kmeans.py
  python/cuml/dask/common/comms.py
  python/cuml/dask/common/dask_df_utils.py
  python/cuml/nccl/nccl.pyx
  python/cuml/test/dask/test_kmeans.py
  python/cuml/test/dask/utils.py
  python/setup.py
Labels: 3 - Ready for Review, Cython / Python, Multi-GPU, New Algorithm

#835 [REVIEW] Holt Winters algorithm
  CHANGELOG.md
  ci/gpu/build.sh
  cpp/CMakeLists.txt
  cpp/src/holtwinters/holtwinters.cu
  cpp/src/holtwinters/holtwinters.h
  cpp/src/holtwinters/holtwinters_api.cpp
  cpp/src/holtwinters/holtwinters_api.h
  cpp/src/holtwinters/holtwinters_params.h
  cpp/src/holtwinters/internal/hw_decompose.h
  cpp/src/holtwinters/internal/hw_eval.h
  cpp/src/holtwinters/internal/hw_forecast.h
  cpp/src/holtwinters/internal/hw_optim.h
  cpp/src/holtwinters/internal/hw_utils.h
  cpp/src/holtwinters/runner.h
  cpp/test/CMakeLists.txt
  cpp/test/sg/holtwinters_test.cu
  cpp/test/sg/time_series_datasets.h
  python/cuml/__init__.py
  python/cuml/test/test_holtwinters.py
  python/cuml/tsa/__init__.py
  python/cuml/tsa/holtwinters.pyx
Labels: 2 - In Progress, CUDA / C++, Cython / Python, New Algorithm
