Repository rapidsai/cuml, pull requests merged in 2019-08, with the labels that each got.

#879 [REVIEW] Import of treelite models to FIL
  CHANGELOG.md
  cpp/src/fil/fil.cu
  cpp/src/fil/fil.h
  cpp/test/sg/fil_test.cu
Labels: 3 - Ready for Review, Algorithm API Change, CUDA / C++

#865 [REVIEW] High performance RF
  CHANGELOG.md
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/kernels/batch_cal.cuh
  cpp/src/decisiontree/kernels/evaluate_classifier.cuh
  cpp/src/decisiontree/kernels/evaluate_regressor.cuh
  cpp/src/decisiontree/kernels/quantile.cuh
  cpp/src/decisiontree/levelalgo/common_helper.cuh
  cpp/src/decisiontree/levelalgo/common_kernel.cuh
  cpp/src/decisiontree/levelalgo/flatnode.h
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_regressor.cuh
  cpp/src/decisiontree/levelalgo/levelhelper_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelhelper_regressor.cuh
  cpp/src/decisiontree/levelalgo/levelkernel_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelkernel_regressor.cuh
  cpp/src/decisiontree/memory.cuh
  cpp/src/decisiontree/memory.h
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest.hpp
  cpp/src/randomforest/randomforest_impl.cuh
  cpp/src/randomforest/randomforest_impl.h
  cpp/test/sg/rf_test.cu
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Labels: 3 - Ready for Review, CUDA / C++

#926 [REVIEW] Wrapper for FIL code with treelite
  CHANGELOG.md
  ci/gpu/build.sh
  python/cuml/__init__.py
  python/cuml/fil/__init__.py
  python/cuml/fil/fil.pyx
  python/cuml/test/test_fil.py
  python/cuml/utils/import_utils.py
Labels: 2 - In Progress, Cython / Python, New Algorithm

#908 Fix local build creating directories owned by root
  CHANGELOG.md
  ci/local/build.sh
Labels: 5 - Ready to Merge, build

#934 [REVIEW] Cache cudaDeviceProp inside cumlHandle for perf reasons
  CHANGELOG.md
  cpp/src/common/cumlHandle.cpp
  cpp/src/common/cumlHandle.hpp
  cpp/src/cuML.hpp
  cpp/src/decisiontree/kernels/evaluate_classifier.cuh
  cpp/src/decisiontree/kernels/evaluate_regressor.cuh
  cpp/src_prims/stats/minmax.h
  cpp/test/prims/minmax.cu
Labels: 3 - Ready for Review, CUDA / C++

#957 [REVIEW] Update dask-RF tests and asserts
  CHANGELOG.md
  python/cuml/dask/cluster/__init__.py
  python/cuml/dask/cluster/kmeans.py
  python/cuml/dask/common/dask_df_utils.py
  python/cuml/dask/common/utils.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/test/dask/test_kmeans.py
  python/cuml/test/dask/test_random_forest.py
  python/cuml/test/dask/utils.py
Labels: 2 - In Progress, Dask / cuml.dask, tests

#773 [REVIEW] Add dtype and dimension checks and new convert parameter to all models
  CHANGELOG.md
  python/cuml/cluster/dbscan.pyx
  python/cuml/cluster/kmeans.pyx
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.pyx
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/linear_model/ridge.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/metrics/regression.pyx
  python/cuml/metrics/trustworthiness.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/random_projection/random_projection.pyx
  python/cuml/solvers/cd.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/test/test_input_utils.py
  python/cuml/test/test_trustworthiness.py
  python/cuml/test/test_umap.py
  python/cuml/utils/input_utils.py
Labels: 2 - In Progress, Cython / Python

#976 [REVIEW] api.rst update for new 0.9 classes [skip-ci]
  CHANGELOG.md
  docs/source/api.rst
Labels: 3 - Ready for Review, doc

#960 [REVIEW] Enable cumlprims for 0.9
  CHANGELOG.md
  ci/gpu/build.sh
  conda/recipes/cuml-cuda10/build.sh
  conda/recipes/cuml-cuda10/meta.yaml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
  python/cuml/decomposition/tsvd_mg.pyx
  python/cuml/linear_model/linear_regression_mg.pyx
  python/cuml/manifold/t_sne.pyx
  python/cuml/test/dask/test_linear_regression.py
  python/setup.py
Labels: 3 - Ready for Review, build, tests

#1018 [HOTFIX][REVIEW] Add NCCL_PATH to build.sh and comms cmake
  CHANGELOG.md
  build.sh
  cpp/comms/std/CMakeLists.txt
Labels: ! - Hotfix, build

#1016 [REVIEW] conda packages updates for branch-0.10
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda10.0.yml
  conda/environments/cuml_dev_cuda9.2.yml
  conda/recipes/cuml-cuda10/meta.yaml
Labels: 3 - Ready for Review, build

#624 [REVIEW] Dimensionality Reduction Visualization
  CHANGELOG.md
  cpp/src/internals/internals.h
  cpp/src/umap/runner.h
  cpp/src/umap/simpl_set_embed/algo.h
  cpp/src/umap/umapparams.h
  python/cuml/internals/__init__.py
  python/cuml/internals/callbacks_implems.h
  python/cuml/internals/internals.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/test/test_internals_api.py
Labels: 3 - Ready for Review, Algorithm API Change, CUDA / C++, Cython / Python

#1043 [REVIEW] Update calls for cudf python reorg
  CHANGELOG.md
  python/cuml/dask/linear_model/linear_regression.py
  python/cuml/dask/neighbors/nearest_neighbors.py
  python/cuml/test/dask/test_nearest_neighbors.py
  python/cuml/test/test_train_test_split.py
  python/cuml/utils/input_utils.py
Labels: 2 - In Progress, Cython / Python
