Repository rapidsai/cuml, pull requests merged in 2019-05, with the labels that each got.

#460 [REVIEW] Random Forest & Decision Trees
  CHANGELOG.md
  cuML/CMakeLists.txt
  cuML/src/decisiontree/.gitkeep
  cuML/src/decisiontree/algo_helper.h
  cuML/src/decisiontree/decisiontree.cu
  cuML/src/decisiontree/decisiontree.h
  cuML/src/decisiontree/kernels/col_condenser.cuh
  cuML/src/decisiontree/kernels/evaluate.cuh
  cuML/src/decisiontree/kernels/gini.cuh
  cuML/src/decisiontree/kernels/gini_def.h
  cuML/src/decisiontree/kernels/quantile.cuh
  cuML/src/decisiontree/kernels/split_labels.cuh
  cuML/src/decisiontree/memory.cuh
  cuML/src/randomforest/.gitkeep
  cuML/src/randomforest/randomforest.cu
  cuML/src/randomforest/randomforest.h
  cuML/test/rf_test.cu
  ml-prims/src/common/Timer.h
  ml-prims/src/cuda_utils.h
Labels: 3 - Ready for Review, New Algorithm, cuda

#531 [REVIEW] Adding stream argument to updateDevice() in RF impl [skip ci]
  CHANGELOG.md
  cuML/src/randomforest/randomforest.cu
  cuML/test/rf_test.cu
Labels: bug

#524 [REVIEW] CI lapack test fix
  CHANGELOG.md
  ci/cpu/build.sh
  ci/gpu/build.sh
  conda/recipes/libcuml/meta.yaml
  cuML/CMakeLists.txt
Labels: build, gpuCI

#527 [REVIEW] Add notes on unsupported UMAP features
  CHANGELOG.md
  python/cuml/manifold/umap.pyx
Labels: 2 - In Progress, doc

#533 [REVIEW] Add cudatoolkit dependency
  CHANGELOG.md
  README.md
  ci/cpu/cuml/upload-anaconda.sh
  ci/cpu/libcuml/upload-anaconda.sh
  conda/recipes/cuml-cuda10/meta.yaml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
Labels: 3 - Ready for Review

#526 [REVIEW] Fix the issues reported in issue #488 regarding PCA
  CHANGELOG.md
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
Labels: 3 - Ready for Review, bug

#511 [WIP] A minmax ml-prim
  CHANGELOG.md
  ml-prims/src/cuda_utils.h
  ml-prims/src/stats/minmax.h
  ml-prims/test/CMakeLists.txt
  ml-prims/test/minmax.cu
Labels: 2 - In Progress, New Prim

#540 [REVIEW] Use latest tag in update-version
  CHANGELOG.md
  ci/release/update-version.sh
Labels: 3 - Ready for Review

#519 [REVIEW] Updates to README for 0.7 and adding BUILD.md build instructions back
  BUILD.md
  CHANGELOG.md
  README.md
Labels: 3 - Ready for Review, doc

#507 [REVIEW] Coordinate Descent for Lasso and Elastic-net
  CHANGELOG.md
  cuML/src/solver/cd.h
  cuML/src/solver/shuffle.h
  cuML/src/solver/solver.cu
  cuML/src/solver/solver_c.h
  cuML/test/cd_test.cu
  ml-prims/src/functions/linearReg.h
  ml-prims/src/functions/softThres.h
  ml-prims/src/linalg/eltwise.h
  ml-prims/src/matrix/math.h
  python/cuml/__init__.py
  python/cuml/linear_model/__init__.py
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.pyx
  python/cuml/solvers/__init__.py
  python/cuml/solvers/cd.pyx
  python/cuml/test/test_elastic_net.py
  python/cuml/test/test_lasso.py
Labels: 3 - Ready for Review, New Algorithm

#525 [REVIEW] Docs build script for cuML [skip ci]
  CHANGELOG.md
  ci/docs/build.sh
Labels: 3 - Ready for Review, build, doc

#444 [REVIEW] UMAP support for supervised training
  CHANGELOG.md
  cuML/src/knn/knn.cu
  cuML/src/knn/knn.h
  cuML/src/metrics/metrics.h
  cuML/src/umap/fuzzy_simpl_set/naive.h
  cuML/src/umap/fuzzy_simpl_set/runner.h
  cuML/src/umap/init_embed/runner.h
  cuML/src/umap/init_embed/spectral_algo.h
  cuML/src/umap/knn_graph/algo.h
  cuML/src/umap/knn_graph/runner.h
  cuML/src/umap/runner.h
  cuML/src/umap/simpl_set_embed/algo.h
  cuML/src/umap/simpl_set_embed/runner.h
  cuML/src/umap/supervised.h
  cuML/src/umap/umap.cu
  cuML/src/umap/umap.h
  cuML/src/umap/umapparams.h
  cuML/test/umap_test.cu
  ml-prims/src/cuda_utils.h
  ml-prims/src/sparse/coo.h
  ml-prims/src/sparse/csr.h
  ml-prims/src/sparse/cusparse_wrappers.h
  ml-prims/src/sparse/nvgraph_wrappers.h
  ml-prims/test/coo.cu
  ml-prims/test/coo.h
  ml-prims/test/csr.cu
  ml-prims/test/csr.h
  ml-prims/test/test_utils.h
  python/cuml/manifold/umap.pyx
  python/cuml/test/test_umap.py
Labels: 3 - Ready for Review, Algorithm API Change

#481 [REVIEW] Refactoring Quasi-Newton to use cumlHandle
  CHANGELOG.md
  cuML/src/glm/glm.cu
  cuML/src/glm/glm.hpp
  cuML/src/glm/glm_api.h
  cuML/src/glm/qn/glm_base.h
  cuML/src/glm/qn/glm_linear.h
  cuML/src/glm/qn/glm_logistic.h
  cuML/src/glm/qn/glm_regularizer.h
  cuML/src/glm/qn/glm_softmax.h
  cuML/src/glm/qn/qn.h
  cuML/src/glm/qn/qn_solvers.h
  cuML/src/glm/qn/simple_mat.h
  cuML/test/quasi_newton.cu
  ml-prims/src/cuda_utils.h
  ml-prims/src/matrix/math.h
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/linear_model/ridge.pyx
Labels: 3 - Ready for Review, Algorithm API Change

#505 [REVIEW] R2 score cython/python
  CHANGELOG.md
  cuML/CMakeLists.txt
  cuML/src/metrics/metrics.cu
  cuML/src/metrics/metrics.hpp
  ml-prims/src/score/scores.h
  ml-prims/test/CMakeLists.txt
  ml-prims/test/score.cu
  python/cuml/__init__.py
  python/cuml/linear_model/ridge.pyx
  python/cuml/metrics/__init__.py
  python/cuml/metrics/base.py
  python/cuml/metrics/regression.pxd
  python/cuml/metrics/regression.pyx
  python/cuml/test/test_metrics.py
Labels: 3 - Ready for Review, Cython / Python

#528 [REVIEW] Single GPU KMeans
  CHANGELOG.md
  cuML/examples/kmeans/kmeans_example.cpp
  cuML/src/common/tensor.hpp
  cuML/src/kmeans/kmeans-inl.cuh
  cuML/src/kmeans/kmeans.cu
  cuML/src/kmeans/kmeans.cuh
  cuML/src/kmeans/kmeans.h
  cuML/src/kmeans/kmeans.hpp
  cuML/src/kmeans/kmeans_c.h
  cuML/src/kmeans/kmeans_centroids.h
  cuML/src/kmeans/kmeans_general.h
  cuML/src/kmeans/kmeans_impl.h
  cuML/src/kmeans/kmeans_labels.h
  cuML/src/kmeans/logger.h
  cuML/src/kmeans/timer.h
  cuML/src/kmeans/utils.h
  cuML/src/ml_cuda_utils.h
  cuML/test/kmeans_test.cu
  ml-prims/src/linalg/reduce_rows_by_key.h
  python/cuml/cluster/kmeans.pyx
  python/cuml/test/test_kmeans.py
Labels: 3 - Ready for Review, Algorithm API Change

#543 [REVIEW] Fix batching and expose DBSCAN batch size through cython
  CHANGELOG.md
  cuML/examples/dbscan/dbscan_example.cpp
  cuML/src/dbscan/adjgraph/algo.h
  cuML/src/dbscan/dbscan.cu
  cuML/src/dbscan/dbscan.h
  cuML/src/dbscan/dbscan.hpp
  cuML/src/dbscan/dbscan_api.h
  cuML/src/dbscan/runner.h
  cuML/src/dbscan/vertexdeg/algo.h
  cuML/test/dbscan_test.cu
  python/cuml/cluster/dbscan.pyx
  python/cuml/test/test_dbscan.py
Labels: 3 - Ready for Review, bug

#552 [REVIEW] Re-enable assert in test_kmeans with xfail as needed
  CHANGELOG.md
  python/cuml/test/test_kmeans.py
Labels: 3 - Ready for Review, Cython / Python, tests

#482 [WIP] cumlhandle for pca and tsvd
  CHANGELOG.md
  cuML/src/common/cumlHandle.cpp
  cuML/src/glm/glm.cu
  cuML/src/glm/ols.h
  cuML/src/glm/preprocess.h
  cuML/src/glm/ridge.h
  cuML/src/pca/pca.cu
  cuML/src/pca/pca.h
  cuML/src/pca/pca.hpp
  cuML/src/pca/pca_c.h
  cuML/src/solver/cd.h
  cuML/src/solver/sgd.h
  cuML/src/tsvd/tsvd.cu
  cuML/src/tsvd/tsvd.h
  cuML/src/tsvd/tsvd.hpp
  cuML/src/tsvd/tsvd_c.h
  cuML/test/ols.cu
  cuML/test/pca_test.cu
  cuML/test/ridge.cu
  cuML/test/tsvd_test.cu
  ml-prims/src/common/cuml_allocator.hpp
  ml-prims/src/common/device_buffer.hpp
  ml-prims/src/device_allocator.h
  ml-prims/src/linalg/eig.h
  ml-prims/src/linalg/lstsq.h
  ml-prims/src/linalg/qr.h
  ml-prims/src/linalg/rsvd.h
  ml-prims/src/linalg/svd.h
  ml-prims/src/matrix/math.h
  ml-prims/src/matrix/matrix.h
  ml-prims/test/eig.cu
  ml-prims/test/math.cu
  ml-prims/test/rsvd.cu
  ml-prims/test/score.cu
  ml-prims/test/svd.cu
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/test/test_pca.py
  python/cuml/test/test_tsvd.py
Labels: Algorithm API Change

#580 [BUG] [HOTFIX] Making X_m instance variable to avoid knn garbage collection
  CHANGELOG.md
  cuML/src/knn/knn.cu
  python/cuml/neighbors/nearest_neighbors.pyx
Labels: 3 - Ready for Review, bug

#573 [REVIEW] Cython: Fix unnecessary cudf column copies
  CHANGELOG.md
  python/cuml/cluster/dbscan.pyx
  python/cuml/cluster/kmeans.pyx
  python/cuml/common/base.pyx
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/filter/kalman_filter.pyx
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/linear_model/ridge.pyx
  python/cuml/solvers/cd.pyx
  python/cuml/solvers/sgd.pyx
Labels: 3 - Ready for Review, Cython / Python, bug, cuda

#594 [HOTFIX] [REVIEW] fixed the mean_center test to resolve cuda-memcheck failures
  CHANGELOG.md
  ml-prims/test/mean_center.cu
Labels: 3 - Ready for Review, bug, cuda

#504 [REVIEW] Contingency Matrix prim
  CHANGELOG.md
  ml-prims/src/metrics/contingencyMatrix.h
  ml-prims/test/CMakeLists.txt
  ml-prims/test/contingencyMatrix.cu
Labels: 3 - Ready for Review, New Prim

#572 [REVIEW] DBSCAN: Refactor reusable algorithmic components into CSR sparse prims API
  CHANGELOG.md
  cuML/src/dbscan/adjgraph/algo.h
  cuML/src/dbscan/adjgraph/pack.h
  cuML/src/dbscan/adjgraph/runner.h
  cuML/src/dbscan/labelling/algo1.h
  cuML/src/dbscan/labelling/algo2.h
  cuML/src/dbscan/labelling/naive.h
  cuML/src/dbscan/labelling/pack.h
  cuML/src/dbscan/labelling/runner.h
  cuML/src/dbscan/runner.h
  cuML/src/dbscan/vertexdeg/algo.h
  cuML/src/dbscan/vertexdeg/runner.h
  ml-prims/src/array/array.h
  ml-prims/src/distance/distance.h
  ml-prims/src/sparse/coo.h
  ml-prims/src/sparse/csr.h
  ml-prims/test/CMakeLists.txt
  ml-prims/test/array.cu
  ml-prims/test/coo.cu
  ml-prims/test/csr.cu
  ml-prims/test/dist_eps.cu
Labels: 3 - Ready for Review, cuda

#604 [REVIEW] Adding cumlHandle to kNN, Spectral methods, & UMAP
  CHANGELOG.md
  cuML/src/knn/knn.cu
  cuML/src/knn/knn.h
  cuML/src/spectral/spectral.h
  cuML/src/umap/init_embed/runner.h
  cuML/src/umap/init_embed/spectral_algo.h
  cuML/src/umap/runner.h
  cuML/src/umap/supervised.h
  cuML/src/umap/umap.cu
  cuML/src/umap/umap.h
  cuML/test/knn_test.cu
  cuML/test/spectral_test.cu
  cuML/test/umap_test.cu
  cuML/test_mg/knn_test.cu
  python/cuml/manifold/umap.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
Labels: 3 - Ready for Review, Algorithm API Change, Cython / Python

#516 [REVIEW] Trustworthiness score
  CHANGELOG.md
  cuML/CMakeLists.txt
  cuML/src/metrics/trustworthiness.cu
  cuML/src/metrics/trustworthiness.h
  cuML/src/metrics/trustworthiness_c.h
  cuML/test/trustworthiness_test.cu
  ml-prims/src/selection/columnWiseSort.h
  python/cuml/metrics/__init__.py
  python/cuml/metrics/trustworthiness.pyx
  python/cuml/test/test_trustworthiness.py
Labels: 2 - In Progress, New Prim

#515 [REVIEW] Random Projection
  CHANGELOG.md
  cuML/CMakeLists.txt
  cuML/src/random_projection/rproj.cu
  cuML/src/random_projection/rproj.hxx
  cuML/src/random_projection/rproj_c.h
  cuML/src/random_projection/utils.hxx
  cuML/test/rproj_test.cu
  ml-prims/src/linalg/cusparse_wrappers.h
  ml-prims/src/random/rng.h
  ml-prims/test/rng.cu
  python/cuml/__init__.py
  python/cuml/random_projection/__init__.py
  python/cuml/random_projection/rproj.pyx
  python/cuml/test/test_rproj.py
Labels: 3 - Ready for Review, New Algorithm, New Prim

#601 [REVIEW] Cython flake8 config file and PEP8 cleanup
  CHANGELOG.md
  ci/checks/style.sh
  python/.flake8.cython
  python/cuml/__init__.py
  python/cuml/cluster/kmeans.pyx
  python/cuml/common/base.pyx
  python/cuml/common/cuda.pyx
  python/cuml/common/handle.pyx
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/decomposition/tsvd_mg.pyx
  python/cuml/decomposition/utils.pxd
  python/cuml/filter/kalman_filter.pyx
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.pyx
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/linear_model/linear_regression_mg.pyx
  python/cuml/linear_model/ridge.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/metrics/regression.pxd
  python/cuml/metrics/regression.pyx
  python/cuml/metrics/trustworthiness.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/random_projection/__init__.py
  python/cuml/random_projection/random_projection.pyx
  python/cuml/solvers/cd.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/test/test_random_projection.py
  python/cuml/utils/pointer_utils.pyx
Labels: 3 - Ready for Review, Cython / Python

#407 [REVIEW] Run stress, correctness and unit tests
  CHANGELOG.md
  ci/gpu/build.sh
  python/cuml/test/conftest.py
  python/cuml/test/test_coordinate_descent.py
  python/cuml/test/test_dbscan.py
  python/cuml/test/test_kalman_filter.py
  python/cuml/test/test_kmeans.py
  python/cuml/test/test_linear_model.py
  python/cuml/test/test_nearest_neighbors.py
  python/cuml/test/test_pca.py
  python/cuml/test/test_sgd.py
  python/cuml/test/test_tsvd.py
  python/cuml/test/test_umap.py
Labels: 2 - In Progress, tests

#633 Auto-detection of GPU archs to be compiled against
  CHANGELOG.md
  build.sh
  conda/recipes/libcuml/build.sh
  cpp/CMakeLists.txt
  cpp/README.md
  cpp/cmake/EvalGpuArchs.cmake
Labels: 3 - Ready for Review, build, gpuCI

#627 [REVIEW] Fix for dbscan crash filed in issue #613
  CHANGELOG.md
  cpp/src/dbscan/adjgraph/algo.h
  cpp/src/dbscan/adjgraph/naive.h
  cpp/src/dbscan/adjgraph/pack.h
  cpp/src/dbscan/adjgraph/runner.h
  cpp/src/dbscan/dbscan.cu
  cpp/src/dbscan/dbscan.h
  cpp/src/dbscan/runner.h
  cpp/src/dbscan/vertexdeg/algo.h
  cpp/src/dbscan/vertexdeg/naive.h
  cpp/src/dbscan/vertexdeg/pack.h
  cpp/src/dbscan/vertexdeg/runner.h
  cpp/src_prims/distance/algo1.h
  cpp/src_prims/distance/cosine.h
  cpp/src_prims/distance/distance.h
  cpp/src_prims/distance/euclidean.h
  cpp/src_prims/distance/l1.h
  cpp/src_prims/linalg/cutlass_wrappers.h
  cpp/src_prims/linalg/gemm.h
  cpp/src_prims/linalg/row_gemm.h
Labels: 3 - Ready for Review, Prim API change, cuda

#631 [Review] Implement nvcategory based label encoder
  CHANGELOG.md
  python/cuml/__init__.py
  python/cuml/preprocessing/LabelEncoder.py
  python/cuml/preprocessing/__init__.py
  python/cuml/test/test_label_encoder.py
Labels: 2 - In Progress, Cython / Python
