Repository rapidsai/cuml, pull requests merged in 2019-10, with the labels that each got.

#1162 [REVIEW] To fix DASK RF random seed bug in issue #1050
  CHANGELOG.md
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest.hpp
  cpp/src/randomforest/randomforest_impl.cuh
  cpp/test/sg/rf_test.cu
  cpp/test/sg/rf_treelite_test.cu
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Labels: CUDA / C++, Cython / Python, Multi-GPU, bug

#1163 [REVIEW] More DBSCAN fixes. Exposing both int and long variants through the API. Will need to find a good way to allow the user to select one through the Python API
  CHANGELOG.md
  cpp/examples/dbscan/dbscan_example.cpp
  cpp/src/datasets/make_blobs.cu
  cpp/src/datasets/make_blobs.hpp
  cpp/src/dbscan/adjgraph/algo.h
  cpp/src/dbscan/adjgraph/naive.h
  cpp/src/dbscan/adjgraph/pack.h
  cpp/src/dbscan/dbscan.cu
  cpp/src/dbscan/dbscan.h
  cpp/src/dbscan/dbscan.hpp
  cpp/src/dbscan/dbscan_api.cpp
  cpp/src/dbscan/dbscan_api.h
  cpp/src/dbscan/runner.h
  cpp/src/dbscan/vertexdeg/algo.h
  cpp/src/dbscan/vertexdeg/naive.h
  cpp/src/dbscan/vertexdeg/runner.h
  cpp/src/metrics/metrics.cu
  cpp/src/metrics/metrics.hpp
  cpp/src_prims/sparse/csr.h
  cpp/src_prims/utils.h
  cpp/test/sg/dbscan_test.cu
  python/cuml/cluster/dbscan.pyx
  python/cuml/cluster/kmeans.pyx
  python/cuml/manifold/t_sne.pyx
  python/cuml/metrics/accuracy.pyx
  python/cuml/metrics/cluster/adjustedrandindex.pyx
  python/cuml/test/test_dbscan.py
Labels: 3 - Ready for Review, CUDA / C++, Tech Debt, bug

#1170 [REVIEW] Use cmake git cloning instead of submodules
  CHANGELOG.md
  build.sh
  ci/gpu/build.sh
  conda/recipes/cuml/build.sh
  conda/recipes/cuml/meta.yaml
  cpp/CMakeLists.txt
  cpp/bench/CMakeLists.txt
  cpp/test/CMakeLists.txt
Labels: 3 - Ready for Review, build

#1211 [REVIEW] Fixing Dask k-means transform bug and adding test to verify correctness
  CHANGELOG.md
  python/cuml/dask/cluster/kmeans.py
  python/cuml/dask/datasets/blobs.py
  python/cuml/test/dask/test_comms.py
  python/cuml/test/dask/test_dask_df_utils.py
  python/cuml/test/dask/test_datasets.py
  python/cuml/test/dask/test_kmeans.py
  python/cuml/test/dask/test_linear_regression.py
  python/cuml/test/dask/test_nearest_neighbors.py
  python/cuml/test/dask/test_random_forest.py
  python/cuml/test/utils.py
Labels: 3 - Ready for Review, Cython / Python, Multi-GPU, bug, dask-cuml, tests

#1249 [REVIEW] Add c api libcuml.so to install targets
  CHANGELOG.md
  build.sh
  cpp/CMakeLists.txt
Labels: 5 - Ready to Merge, build

#1225 [REVIEW] setup.py clone dependencies like cmake and correct include paths
  .gitignore
  CHANGELOG.md
  build.sh
  cpp/external
  python/setup.py
  python/setuputils.py
Labels: 3 - Ready for Review, Cython / Python, build

#1135 [REVIEW] Bug fixes, add boundary cases for kmeans||, support finer control with convergence
  CHANGELOG.md
  cpp/src/kmeans/common.cuh
  cpp/src/kmeans/kmeans.hpp
  cpp/src/kmeans/sg_impl.cuh
  python/cuml/cluster/kmeans.pyx
  python/cuml/cluster/kmeans_mg.pyx
  python/cuml/dask/cluster/kmeans.py
  python/cuml/test/dask/test_kmeans.py
Labels: 3 - Ready for Review, CUDA / C++, Multi-GPU, bug

#1138 [REVIEW] Using new ucx-py API & implementing CUML_ANY_SOURCE semantics on irecv
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/README.md
  cpp/comms/mpi/CMakeLists.txt
  cpp/comms/mpi/src/cuML_comms_mpi_impl.cpp
  cpp/comms/std/CMakeLists.txt
  cpp/comms/std/src/cuML_std_comms_impl.cpp
  cpp/comms/std/src/ucp_helper.h
  cpp/src/comms/cuML_comms_test.cpp
  cpp/src/comms/cuML_comms_test.hpp
  cpp/src_prims/common/cuml_comms_iface.hpp
  cpp/src_prims/common/cuml_comms_int.hpp
  python/cuml/dask/common/__init__.py
  python/cuml/dask/common/comms.py
  python/cuml/dask/common/comms_utils.pyx
  python/cuml/test/dask/test_comms.py
Labels: 2 - In Progress, CUDA / C++, Comms, Cython / Python, tests

#1259 [REVIEW] Update conda packages versions in dev environments and ci
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda10.0.yml
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda9.2.yml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
Labels: 3 - Ready for Review, build

#1260 [REVIEW][HOTFIX] Small hotfix for major conversion in input_utils
  CHANGELOG.md
  python/cuml/test/test_input_utils.py
  python/cuml/utils/input_utils.py
Labels: ! - Hotfix, 3 - Ready for Review, Cython / Python, tests

#1267 [REVIEW] Update build.sh for recent change of building comms in main CMakeLists
  CHANGELOG.md
  build.sh
  cpp/comms/std/CMakeLists.txt
Labels: 5 - Ready to Merge, build

#1278 [REVIEW] Removed incorrect overloaded instance of eigJacobi
  CHANGELOG.md
  cpp/src/tsvd/tsvd.h
  cpp/src_prims/linalg/eig.h
  cpp/src_prims/linalg/rsvd.h
  cpp/test/prims/eig.cu
Labels: 5 - Ready to Merge, CUDA / C++

#1271 [REVIEW]updated the documentation for ridge regression
  CHANGELOG.md
  python/cuml/linear_model/ridge.pyx
Labels: 3 - Ready for Review, doc

#1264 [REVIEW] Add -s flag to GPU CI pytest
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 5 - Ready to Merge, build

#820 [REVIEW] Updating DEVELOPER GUIDE to be more precise about the cuml threading model [skip-ci]
  CHANGELOG.md
  wiki/cpp/DEVELOPER_GUIDE.md
Labels: 3 - Ready for Review, CUDA / C++, doc

#1242 [REVIEW] Initial implementation of FIL sparse forests
  CHANGELOG.md
  cpp/include/cuml/fil/fil.h
  cpp/src/fil/common.cuh
  cpp/src/fil/fil.cu
  cpp/src/fil/infer.cu
  cpp/test/sg/fil_test.cu
Labels: 3 - Ready for Review, CUDA / C++

#1219 [REVIEW] A few updates to benchmarking packages
  CHANGELOG.md
  python/cuml/benchmark/algorithms.py
  python/cuml/benchmark/bench_helper_funcs.py
  python/cuml/benchmark/runners.py
  python/cuml/dask/datasets/blobs.py
  python/cuml/random_projection/random_projection.pyx
  python/cuml/test/test_benchmark.py
Labels: 3 - Ready for Review, benchmarking

#1110 [REVIEW] Added tests to use the default param values
  CHANGELOG.md
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/test/test_coordinate_descent.py
  python/cuml/test/test_dbscan.py
  python/cuml/test/test_fil.py
  python/cuml/test/test_holtwinters.py
  python/cuml/test/test_kalman_filter.py
  python/cuml/test/test_kmeans.py
  python/cuml/test/test_linear_model.py
  python/cuml/test/test_mbsgd_classifier.py
  python/cuml/test/test_mbsgd_regressor.py
  python/cuml/test/test_metrics.py
  python/cuml/test/test_nearest_neighbors.py
  python/cuml/test/test_pca.py
  python/cuml/test/test_pickle.py
  python/cuml/test/test_qn.py
  python/cuml/test/test_random_forest.py
  python/cuml/test/test_random_projection.py
  python/cuml/test/test_sgd.py
  python/cuml/test/test_svm.py
  python/cuml/test/test_tsne.py
  python/cuml/test/test_tsvd.py
  python/cuml/test/test_umap.py
  python/cuml/test/utils.py
Labels: 4 - Needs Rework, tests

#1285 [REVIEW] Fea minimum impurity decrease RF param
  CHANGELOG.md
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_regressor.cuh
  cpp/src/decisiontree/levelalgo/levelhelper_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelhelper_regressor.cuh
  cpp/src/randomforest/randomforest.cu
  cpp/test/sg/rf_test.cu
  cpp/test/sg/rf_treelite_test.cu
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/test/test_random_forest.py
Labels: 5 - Ready to Merge, CUDA / C++, Cython / Python

#1302 [REVIEW] numba 0.46 and CuPy < 7.0 fixes
  CHANGELOG.md
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/internals/internals.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/test/dask/test_nearest_neighbors.py
  python/cuml/test/test_input_utils.py
  python/cuml/test/test_random_forest.py
  python/cuml/utils/__init__.py
  python/cuml/utils/cupy_utils.py
  python/cuml/utils/import_utils.py
  python/cuml/utils/input_utils.py
  python/cuml/utils/numba_utils.py
Labels: 3 - Ready for Review, Cython / Python, bug, tests

#1239 [REVIEW] Updated the treelite version
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/include/cuml/ensemble/treelite_defs.hpp
  cpp/include/cuml/fil/fil.h
  cpp/src/fil/fil.cu
  cpp/test/CMakeLists.txt
  cpp/test/sg/fil_test.cu
Labels: 2 - In Progress, build

#1287 [REVIEW] Spelling and Grammar updates of cuML docs [skip-ci]
  python/cuml/cluster/dbscan.pyx
  python/cuml/cluster/kmeans.pyx
  python/cuml/dask/cluster/kmeans.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/fil/fil.pyx
  python/cuml/filter/kalman_filter.pyx
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/ridge.pyx
  python/cuml/manifold/t_sne.pyx
  python/cuml/manifold/umap.pyx
Labels: 2 - In Progress, doc

#1286 [REVIEW] Import treelite models as sparse FIL forests
  CHANGELOG.md
  cpp/include/cuml/fil/fil.h
  cpp/src/fil/fil.cu
  cpp/test/sg/fil_test.cu
  python/cuml/fil/fil.pyx
  python/cuml/test/test_fil.py
Labels: 3 - Ready for Review, CUDA / C++, Cython / Python
