Repository rapidsai/cuml, pull requests merged in 2019-12, with the labels that each got.

#1367 [REVIEW] Train-test split as a command-line parameter
  CHANGELOG.md
  python/cuml/benchmark/run_benchmarks.py
  python/cuml/benchmark/runners.py
Labels: 3 - Ready for Review, Cython / Python, benchmarking

#1428 [REVIEW] Updating algorithms in readme for release 0.11.
  README.md
Labels: doc

#1425 [REVIEW] Deprecate seed and use random_state similar to Scikit-learn in train_test_split
  CHANGELOG.md
  python/cuml/preprocessing/model_selection.py
  python/cuml/test/test_train_test_split.py
Labels: 5 - Ready to Merge, Cython / Python

#1439 [REVIEW] Fix sklearn 0.22 crashes
  CHANGELOG.md
  python/cuml/benchmark/algorithms.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/test/dask/test_tsvd.py
  python/cuml/test/test_kmeans.py
  python/cuml/test/test_random_forest.py
Labels: 3 - Ready for Review, bug, tests

#1441 FIX Remove unused CUDA conda labels
  CHANGELOG.md
  ci/cpu/cuml/upload-anaconda.sh
  ci/cpu/libcuml/upload-anaconda.sh
  ci/docs/build.sh
Labels: 5 - Ready to Merge

#1445 Improved performance of FIL sparse trees
  CHANGELOG.md
  cpp/include/cuml/fil/fil.h
  cpp/src/fil/common.cuh
Labels: 5 - Ready to Merge, CUDA / C++

#1376 [REVIEW] AUTO value for FIL algorithm
  CHANGELOG.md
  cpp/include/cuml/fil/fil.h
  cpp/src/fil/fil.cu
  cpp/test/sg/fil_test.cu
  python/cuml/fil/fil.pyx
  python/cuml/test/test_fil.py
Labels: Algorithm API Change, CUDA / C++

#1438 [REVIEW] Some small fixes to dataframe inputs for knn classifier
  CHANGELOG.md
  python/cuml/metrics/accuracy.pyx
  python/cuml/metrics/regression.pyx
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/test/test_kneighbors_classifier.py
  python/cuml/test/test_kneighbors_regressor.py
  python/cuml/test/test_nearest_neighbors.py
Labels: ! - Release, 5 - Ready to Merge, Cython / Python, bug

#1461 [HOTFIX][REVIEW] Adding kneighbors classifier / regressor to API docs
  CHANGELOG.md
  docs/source/api.rst
Labels: ! - Release

#1444 [HOTFIX][REVIEW] Using separate UCX listener thread on workers
  CHANGELOG.md
  build.sh
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda10.0.yml
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda9.2.yml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
  python/cuml/dask/common/comms.py
  python/cuml/dask/neighbors/nearest_neighbors.py
  python/cuml/test/dask/conftest.py
  python/cuml/test/dask/test_comms.py
  python/cuml/test/dask/test_nearest_neighbors.py
  python/setup.py
Labels: ! - Release, Comms, Cython / Python, Multi-GPU

#1473 [REVIEW] Lazy initialization of "costly" resources inside cumlHandle
  CHANGELOG.md
  cpp/src/common/cumlHandle.cpp
  cpp/src/common/cumlHandle.hpp
Labels: 5 - Ready to Merge

#1463 [REVIEW] Update FAISS to 1.6.1
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src_prims/selection/knn.h
Labels: 3 - Ready for Review, CUDA / C++, build

#1443 Added a new overloaded GEMM primitive
  CHANGELOG.md
  cpp/src_prims/linalg/gemm.h
  cpp/test/CMakeLists.txt
  cpp/test/prims/gemm_layout.cu
Labels: 2 - In Progress, CUDA / C++, New Prim

#1488 [REVIEW] Add codeowners file [skip ci]
  .github/CODEOWNERS
  CHANGELOG.md
Labels: 3 - Ready for Review, Build or Dep

#1491 [REVIEW] Update dev environments for 0.12 [skip ci]
  CHANGELOG.md
  conda/environments/cuml_dev_cuda10.0.yml
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda9.2.yml
Labels: 3 - Ready for Review, Build or Dep, conda

#1490 [REVIEW] Use dask master instead of conda package for testing
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda10.0.yml
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda9.2.yml
Labels: 3 - Ready for Review, Build or Dep, conda

#1498 [REVIEW] Add build.sh to code owners [skip ci]
  .github/CODEOWNERS
  CHANGELOG.md
Labels: 3 - Ready for Review, git

#1505 added cub/cutlass as dependencies for prims-bench build
  CHANGELOG.md
  cpp/bench/CMakeLists.txt
Labels: 5 - Ready to Merge, Build or Dep

#1483 [REVIEW] Prim: Fused L2 distance and 1-nearest-neighbor
  CHANGELOG.md
  cpp/src_prims/distance/fused_l2_nn.h
  cpp/test/CMakeLists.txt
  cpp/test/prims/fused_l2_nn.cu
Labels: 3 - Ready for Review, CUDA / C++, New Prim

#1512 [REVIEW] Fixing small bug in SpeedupComparisonRunner and adding test
  CHANGELOG.md
  python/cuml/benchmark/runners.py
  python/cuml/test/test_benchmark.py
Labels: Cython / Python, benchmarking, bug

#1493 [REVIEW] Perf optimizations to kmeans - add tiling support for 1-NN computation and use fusedL2-1NN prim for L2 distance metric
  CHANGELOG.md
  cpp/bench/sg/kmeans.cu
  cpp/include/cuml/cluster/kmeans.hpp
  cpp/src/kmeans/common.cuh
  cpp/src/kmeans/sg_impl.cuh
  python/cuml/cluster/kmeans.pyx
  python/cuml/cluster/kmeans_mg.pyx
Labels: 2 - In Progress, CUDA / C++
