Repository rapidsai/cuml, pull requests merged in 2019-03, with the labels that each got.

#275 [REVIEW] kmeans change to use cuml.numba_utils gpu_matrix
  CHANGELOG.md
  python/cuml/cluster/kmeans.pyx
Labels: ! - Hotfix, 3 - Ready for Review

#277 [REVIEW] Row- and column-wise weighted mean
  CHANGELOG.md
  ml-prims/src/stats/weighted_mean.h
  ml-prims/test/CMakeLists.txt
  ml-prims/test/weighted_mean.cu
Labels: 3 - Ready for Review

#295 [REVIEW] SG Distance Matrix: API changes and test compilation-time change
  CHANGELOG.md
  cuML/src/dbscan/vertexdeg/algo.h
  ml-prims/CMakeLists.txt
  ml-prims/src/distance/algo1.h
  ml-prims/src/distance/distance.h
  ml-prims/src/distance/distance_epilogue_traits.h
  ml-prims/src/distance/euclidean.h
  ml-prims/src/distance/l1.h
  ml-prims/src/linalg/cutlass_wrappers.h
  ml-prims/test/CMakeLists.txt
  ml-prims/test/dist_adj.cu
  ml-prims/test/dist_cos.cu
  ml-prims/test/dist_euc_exp.cu
  ml-prims/test/dist_euc_unexp.cu
  ml-prims/test/dist_l1.cu
  ml-prims/test/distance.cu
  ml-prims/test/distance_base.h
Labels: 3 - Ready for Review, Prim API change

#290 [REVIEW] NearestNeighbors to properly chunk up numpy arrays for MG
  CHANGELOG.md
  cuML/src/knn/knn.cu
  cuML/src/knn/knn.h
  python/cuml/neighbors/nearest_neighbors.pyx
Labels: 2 - In Progress

#247 [REVIEW] Proposal for "proper" C/C++ API (issue #92)
  CHANGELOG.md
  CONTRIBUTING.md
  cuML/CMakeLists.txt
  cuML/DEVELOPER_GUIDE.md
  cuML/src/common/allocatorAdapter.hpp
  cuML/src/common/cumlHandle.cpp
  cuML/src/common/cumlHandle.hpp
  cuML/src/common/cuml_api.cpp
  cuML/src/common/rmmAllocatorAdapter.hpp
  cuML/src/cuML.hpp
  cuML/src/cuML_api.h
  ml-prims/src/common/buffer_base.hpp
  ml-prims/src/common/cuml_allocator.hpp
  ml-prims/src/common/device_buffer.hpp
  ml-prims/src/common/host_buffer.hpp
Labels: 2 - In Progress, proposal

#303 [REVIEW] Spectral Clustering & Embedding algorithms
  CHANGELOG.md
  cuML/src/spectral/spectral.h
  cuML/src/umap/fuzzy_simpl_set/naive.h
  cuML/src/umap/init_embed/spectral_algo.h
  cuML/src/umap/runner.h
  cuML/test/spectral_test.cu
  ml-prims/src/sparse/coo.h
  ml-prims/src/sparse/csr.h
  ml-prims/src/sparse/cusparse_wrappers.h
  ml-prims/src/sparse/nvgraph_wrappers.h
  ml-prims/src/utils.h
  ml-prims/test/test_utils.h
  python/cuml/test/test_umap.py
Labels: 3 - Ready for Review, New Algorithm

#314 [REVIEW] Add prebuild script
  ci/cpu/prebuild.sh
Labels: ! - Release, 3 - Ready for Review

#321 [REVIEW] Fix release script for patches
  CHANGELOG.md
  ci/release/update-version.sh
Labels: ! - Release, 3 - Ready for Review

#322 Fea get params small changes
  CHANGELOG.md
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/linear_model/ridge.pyx
Labels: 3 - Ready for Review, bug

#325 [REVIEW] Support for spmg OLS/TSVD
  CHANGELOG.md
  README.md
  ci/cpu/cuml/build_cuml.sh
  conda/recipes/cuml-cuda10/build.sh
  conda/recipes/cuml-cuda10/meta.yaml
  cuML/src/glm/glm_spmg.h
  cuML/src/tsvd/tsvd_spmg.h
  python/cuml/cluster/kmeans.pyx
  python/cuml/decomposition/tsvd_mg.pyx
  python/cuml/linear_model/linear_regression_mg.pyx
  python/setup.py
  setup_pip.py
Labels: 3 - Ready for Review

#342 [REVIEW] Change default CXX11 ABI to ON
  CHANGELOG.md
  cuML/CMakeLists.txt
Labels: ! - Release, gcc g++

#345 [HOTFIX] [WIP] Added test running step in build
  CHANGELOG.md
  conda/recipes/cuml/build.sh
  conda/recipes/libcuml/meta.yaml
Labels: ! - Hotfix, ! - Release, 3 - Ready for Review

#385 [HOTFIX] Resubmission of Fix for long import of cuml in containers and for PIP package
  CHANGELOG.md
  cuML/CMakeLists.txt
  setup_pip.py
Labels: ! - Hotfix, ! - Release

#380 [REVIEW] [HOTFIX] Update `numba_utils.row_matrix` to support arbitrary data size on ingress
  CHANGELOG.md
  python/cuml/numba_utils.py
Labels: ! - Hotfix, ! - Release

#398 [REVIEW] Fix upload conda scripts
  CHANGELOG.md
  ci/cpu/cuml/upload-anaconda.sh
  ci/cpu/libcuml/upload-anaconda.sh
Labels: 3 - Ready for Review
