Repository rapidsai/cuml, pull requests merged in 2019-06, with the labels that each got.

#636 [REVIEW] Fea ext rand index implementation
  CHANGELOG.md
  cpp/src/metrics/metrics.cu
  cpp/src/metrics/metrics.hpp
  cpp/src_prims/metrics/randIndex.h
  cpp/test/CMakeLists.txt
  cpp/test/prims/randIndex.cu
Labels: 3 - Ready for Review, CUDA / C++, New Prim

#641 [REVIEW] Separate c library build
  BUILD.md
  CHANGELOG.md
  build.sh
  cpp/CMakeLists.txt
  cpp/src/cuML_api.h
  cpp/src/dbscan/dbscan.cu
  cpp/src/dbscan/dbscan.hpp
  cpp/src/dbscan/dbscan_api.cpp
  cpp/src/dbscan/dbscan_api.h
  cpp/src/glm/glm.cu
  cpp/src/glm/glm_api.cpp
  cpp/test/CMakeLists.txt
Labels: 3 - Ready for Review, build, gpuCI

#616 [REVIEW] Enable clang format
  .gitignore
  BUILD.md
  CHANGELOG.md
  Dockerfile
  ci/gpu/build.sh
  conda/recipes/libcuml/meta.yaml
  cpp/.clang-format
  cpp/CMakeLists.txt
  cpp/DEVELOPER_GUIDE.md
  cpp/README.md
  cpp/cmake/FindClangFormat.cmake
  cpp/examples/dbscan/CMakeLists.txt
  cpp/examples/kmeans/CMakeLists.txt
  cpp/scripts/gitutils.py
  cpp/scripts/run-clang-format.py
  cpp/test/CMakeLists.txt
Labels: 3 - Ready for Review, CUDA / C++, build, gcc g++

#612 [REVIEW] Cuda Array Interface input and data input code cleanup
  CHANGELOG.md
  ci/gpu/build.sh
  conda/recipes/cuml-cuda10/meta.yaml
  conda/recipes/cuml/meta.yaml
  python/cuml/cluster/dbscan.pyx
  python/cuml/cluster/kmeans.pyx
  python/cuml/common/base.pyx
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/decomposition/tsvd_mg.pyx
  python/cuml/filter/kalman_filter.pyx
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.pyx
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/linear_model/linear_regression_mg.pyx
  python/cuml/linear_model/ridge.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/metrics/trustworthiness.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/random_projection/random_projection.pyx
  python/cuml/solvers/cd.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/test/test_coordinate_descent.py
  python/cuml/test/test_dbscan.py
  python/cuml/test/test_elastic_net.py
  python/cuml/test/test_input_utils.py
  python/cuml/test/test_lasso.py
  python/cuml/test/test_linear_model.py
  python/cuml/test/test_metrics.py
  python/cuml/test/test_pca.py
  python/cuml/test/test_random_projection.py
  python/cuml/test/test_sgd.py
  python/cuml/test/test_trustworthiness.py
  python/cuml/test/test_tsvd.py
  python/cuml/utils/__init__.py
  python/cuml/utils/input_utils.py
  python/cuml/utils/numba_utils.py
Labels: 3 - Ready for Review, Cython / Python, tests

#671 [REVIEW] Fix base class and pytests to check pickle save and load for models
  CHANGELOG.md
  python/cuml/common/base.pyx
  python/cuml/test/test_pickle.py
Labels: 3 - Ready for Review, Cython / Python, tests

#678 [REVIEW] Fea randomforest wrapper
  CHANGELOG.md
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree.h
  cpp/src/decisiontree/kernels/evaluate.cuh
  cpp/src/decisiontree/kernels/gini.cuh
  cpp/src/decisiontree/kernels/gini_def.h
  cpp/src/decisiontree/memory.cu
  cpp/src/decisiontree/memory.cuh
  cpp/src/decisiontree/memory.h
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest.h
  python/cuml/__init__.py
  python/cuml/ensemble/__init__.py
  python/cuml/ensemble/randomforest.pyx
  python/cuml/test/test_random_forest.py
Labels: 3 - Ready for Review, Cython / Python, New Algorithm

#679 [REVIEW] Class label manipulation
  CHANGELOG.md
  cpp/src/dbscan/runner.h
  cpp/src_prims/array/array.h
  cpp/src_prims/label/classlabels.h
  cpp/src_prims/metrics/contingencyMatrix.h
  cpp/src_prims/sparse/csr.h
  cpp/test/CMakeLists.txt
  cpp/test/prims/label.cu
  cpp/test/prims/test_utils.h
Labels: 3 - Ready for Review, CUDA / C++, New Prim, Prim API change

#652 [REVIEW] Adjusted Rand Index implementation
  CHANGELOG.md
  cpp/src/metrics/metrics.cu
  cpp/src/metrics/metrics.hpp
  cpp/src_prims/metrics/adjustedRandIndex.h
  cpp/src_prims/metrics/contingencyMatrix.h
  cpp/test/CMakeLists.txt
  cpp/test/prims/adjustedRandIndex.cu
  cpp/test/prims/contingencyMatrix.cu
Labels: 3 - Ready for Review, CUDA / C++, New Prim

#675 [REVIEW] atomicMin/Max(float, double) with integer atomics and bit flipping
  CHANGELOG.md
  cpp/src_prims/stats/minmax.h
  cpp/test/prims/minmax.cu
Labels: 3 - Ready for Review, CUDA / C++, Prim API change

#685 [REVIEW] FIX Make CuPy optional temporarily for 0.8
  CHANGELOG.md
  conda/recipes/cuml-cuda10/meta.yaml
  conda/recipes/cuml/meta.yaml
  python/cuml/ensemble/randomforest.pyx
  python/cuml/utils/input_utils.py
Labels: 3 - Ready for Review, Cython / Python, build

#644 [Review] Add train_test_split implementation using host-side permutations and iloc
  CHANGELOG.md
  python/cuml/__init__.py
  python/cuml/preprocessing/__init__.py
  python/cuml/preprocessing/model_selection.py
  python/cuml/test/test_train_test_split.py
Labels: 3 - Ready for Review, Cython / Python

#606 [REVIEW] Added tests for host_buffer and improved device_buffer and host_buffer implementation
  CHANGELOG.md
  cpp/src_prims/common/buffer_base.hpp
  cpp/src_prims/common/device_buffer.hpp
  cpp/src_prims/common/host_buffer.hpp
  cpp/test/CMakeLists.txt
  cpp/test/prims/host_buffer.cu
Labels: 3 - Ready for Review, CUDA / C++, tests

#719 [REVIEW] Added additional error checks in RF wrapper
  CHANGELOG.md
  python/cuml/ensemble/randomforest.pyx
Labels: 3 - Ready for Review, Cython / Python

#721 [REVIEW] Tests for DBSCAN and Random Projections
  CHANGELOG.md
  python/cuml/test/test_pickle.py
Labels: 3 - Ready for Review, tests

#688 [REVIEW] Update to our contributing guide related to push guidelines [skip ci]
  CONTRIBUTING.md
Labels: 3 - Ready for Review, doc, gpuCI

#547 [REVIEW] Fixed issue if C++ compiler is specified via CXX during configure.
  CHANGELOG.md
  cpp/CMakeLists.txt
Labels: 2 - In Progress, build

#705 [REVIEW] Quasi-newton and LogisticRegression python classes
  CHANGELOG.md
  cpp/src/glm/glm.hpp
  python/cuml/__init__.py
  python/cuml/linear_model/__init__.py
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/solvers/__init__.py
  python/cuml/solvers/qn.pyx
  python/cuml/test/test_linear_model.py
  python/cuml/test/test_qn.py
Labels: 3 - Ready for Review, Cython / Python, New Algorithm, tests

#681 [REVIEW] Wrappers for MBSGDClassifier and MBSGDRegressor
  CHANGELOG.md
  python/cuml/__init__.py
  python/cuml/linear_model/__init__.py
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/test/test_mbsgd_classifier.py
  python/cuml/test/test_mbsgd_regressor.py
Labels: 2 - In Progress, Cython / Python, New Algorithm

#718 [REVIEW] Fix stress test
  CHANGELOG.md
  python/cuml/test/test_coordinate_descent.py
  python/cuml/test/test_dbscan.py
  python/cuml/test/test_elastic_net.py
  python/cuml/test/test_kmeans.py
  python/cuml/test/test_lasso.py
  python/cuml/test/test_linear_model.py
  python/cuml/test/test_nearest_neighbors.py
  python/cuml/test/test_sgd.py
  python/cuml/test/test_tsvd.py
  python/cuml/test/test_umap.py
Labels: 2 - In Progress, Cython / Python, tests

#746 [REVIEW] QN and LogisticRegression docstrings
  CHANGELOG.md
  docs/source/api.rst
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/solvers/qn.pyx
Labels: 3 - Ready for Review, doc

#753 [HOTFIX][REVIEW] Make PCA and tsvd picklable
  CHANGELOG.md
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/test/test_pickle.py
Labels: ! - Hotfix, 3 - Ready for Review, Cython / Python

#762 [HOTFIX][REVIEW] Add threshold to fix flaky umap test
  CHANGELOG.md
  python/cuml/test/test_umap.py
Labels: ! - Hotfix, tests

#768 [HOTFIX][REVIEW][BUG] Properly freeing memory in nearest neighbors python class
  CHANGELOG.md
  python/cuml/manifold/umap.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
Labels: Cython / Python, bug

#772 [REVIEW] Add missing cython directives in SGD and CD
  CHANGELOG.md
  python/cuml/solvers/cd.pyx
  python/cuml/solvers/sgd.pyx
Labels: 3 - Ready for Review, Cython / Python

#776 [HOTFIX][REVIEW] Fix variables variable of RandomForest python class
  CHANGELOG.md
  python/cuml/ensemble/randomforest.pyx
Labels: ! - Hotfix, Cython / Python

#777 [HOTFIX][REVIEW] Fix random forest numpy input
  CHANGELOG.md
  python/cuml/ensemble/randomforest.pyx
Labels: ! - Hotfix, 3 - Ready for Review, Cython / Python

#766 [REVIEW] KMeans: Exposing sklearn style score function
  CHANGELOG.md
  cpp/src/kmeans/kmeans-inl.cuh
  cpp/src/kmeans/kmeans.cu
  cpp/src/kmeans/kmeans.cuh
  cpp/src/kmeans/kmeans.hpp
  python/cuml/cluster/kmeans.pyx
  python/cuml/test/test_kmeans.py
Labels: 4 - Needs Rework, Cython / Python

#672 [REVIEW] Proposal for guidelines on stateful and stateless cuML APIs [skip ci]
  cpp/DEVELOPER_GUIDE.md
Labels: 3 - Ready for Review, CUDA / C++, doc

#793 [HOTFIX][REVIEW] Numba dtype conversion output type
  CHANGELOG.md
  python/cuml/utils/input_utils.py
Labels: ! - Hotfix, Cython / Python

#724 [REVIEW] entropy implementation
  CHANGELOG.md
  cpp/src/metrics/metrics.cu
  cpp/src/metrics/metrics.hpp
  cpp/src_prims/metrics/entropy.h
  cpp/test/CMakeLists.txt
  cpp/test/prims/entropy.cu
Labels: 2 - In Progress, CUDA / C++, New Prim

#674 [REVIEW] KL Divergence metric implementation
  CHANGELOG.md
  cpp/src/metrics/metrics.cu
  cpp/src/metrics/metrics.hpp
  cpp/src_prims/metrics/klDivergence.h
  cpp/test/CMakeLists.txt
  cpp/test/prims/klDivergence.cu
Labels: 3 - Ready for Review, CUDA / C++, New Prim

#697 [REVIEW] silhouette score implementation
  CHANGELOG.md
  cpp/src/metrics/metrics.cu
  cpp/src/metrics/metrics.hpp
  cpp/src/metrics/trustworthiness_c.h
  cpp/src_prims/label/classlabels.h
  cpp/src_prims/metrics/silhouetteScore.h
  cpp/test/CMakeLists.txt
  cpp/test/prims/silhouetteScore.cu
  cpp/test/prims/test_utils.h
Labels: 3 - Ready for Review, CUDA / C++, New Prim
