Repository rapidsai/cuml, pull requests merged in 2019-04, with the labels that each got.

#434 [REVIEW] Fixing strange memory bug in CSR test.
  CHANGELOG.md
  ml-prims/src/sparse/csr.h
  ml-prims/test/csr.cu
Labels: 3 - Ready for Review

#384 [REVIEW] support for 64b indexing for the kernels in ml-prims
  CHANGELOG.md
  ml-prims/src/functions/hinge.h
  ml-prims/src/functions/log.h
  ml-prims/src/functions/sigmoid.h
  ml-prims/src/functions/sign.h
  ml-prims/src/linalg/add.h
  ml-prims/src/linalg/binary_op.h
  ml-prims/src/linalg/divide.h
  ml-prims/src/linalg/eltwise.h
  ml-prims/src/linalg/multiply.h
  ml-prims/src/linalg/norm.h
  ml-prims/src/linalg/power.h
  ml-prims/src/linalg/sqrt.h
  ml-prims/src/linalg/strided_reduction.h
  ml-prims/src/linalg/subtract.h
  ml-prims/src/linalg/ternary_op.h
  ml-prims/src/linalg/unary_op.h
  ml-prims/src/matrix/math.h
  ml-prims/src/stats/mean.h
  ml-prims/src/stats/mean_center.h
  ml-prims/src/stats/stddev.h
  ml-prims/src/stats/sum.h
  ml-prims/test/binary_op.cu
  ml-prims/test/binary_op.h
  ml-prims/test/matrix_vector_op.cu
  ml-prims/test/mean_center.cu
  ml-prims/test/unary_op.cu
  ml-prims/test/unary_op.h
Labels: 4 - Needs Rework

#462 [HOTFIX] Changed setup_pip runtime lib path
  CHANGELOG.md
  cuML/test/pca_test.cu
  setup_pip.py
Labels: ! - Hotfix

#467 [REVIEW] cumlHandle_t from a struct to an int handle
  CHANGELOG.md
  cuML/src/common/cumlHandle.cpp
  cuML/src/common/cumlHandle.hpp
  cuML/src/common/cuml_api.cpp
  cuML/src/cuML_api.h
  cuML/src/dbscan/dbscan.cu
  cuML/test/handle_test.cu
Labels: 3 - Ready for Review

#463 [REVIEW] Add matrix gather prim
  CHANGELOG.md
  ml-prims/src/matrix/gather.h
  ml-prims/test/CMakeLists.txt
  ml-prims/test/gather.cu
Labels: 3 - Ready for Review

#473 [REVIEW] Small fix to gather ml-prim test
  CHANGELOG.md
  ml-prims/test/gather.cu
Labels: 3 - Ready for Review

#477 [REVIEW] Fixes default stream initialization in cumlHandle
  CHANGELOG.md
  cuML/src/common/cumlHandle.cpp
  cuML/src/dbscan/dbscan.cu
Labels: 3 - Ready for Review, Algorithm API Change

#480 [REVIEW] Replaced qn_fit() declaration with #include of file containing definition to fix linker error
  CHANGELOG.md
  cuML/test/quasi_newton.cu
Labels: 3 - Ready for Review, bug, build

#447 [REVIEW] Added building and running mlprims tests to ci gpu script
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 3 - Ready for Review, tests

#461 [REVIEW] Rewrote permute and added column major version
  CHANGELOG.md
  ml-prims/src/random/permute.h
  ml-prims/src/utils.h
  ml-prims/test/permute.cu
Labels: 4 - Needs Rework

#475 [REVIEW] Expose cumlhandle for dbscan in python
  CHANGELOG.md
  cuML/src/dbscan/dbscan.cu
  cuML/src/dbscan/dbscan.hpp
  python/cuml/cluster/dbscan.pyx
  python/cuml/common/base.pyx
  python/cuml/common/handle.pxd
  python/cuml/common/handle.pyx
  python/cuml/test/test_base.py
  python/cuml/test/test_dbscan.py
  python/cuml/test/utils.py
Labels: 3 - Ready for Review, Algorithm API Change

#495 [REVIEW][HOTFIX] Update rmm and cuDF versions for ci gpu tests
  CHANGELOG.md
  ci/gpu/build.sh
  conda/recipes/cuml-cuda10/meta.yaml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
Labels: 3 - Ready for Review

#506 [REVIEW] Re enable mlprims test for CI of PRs
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 3 - Ready for Review

#395 [REVIEW] Updated CONTRIBUTING.md
  CHANGELOG.md
  CONTRIBUTING.md
Labels: 4 - Needs Rework, doc

#512 [WIP] Generic copy interface
  CHANGELOG.md
  cuML/src/dbscan/adjgraph/naive.h
  cuML/src/dbscan/labelling/algo1.h
  cuML/src/dbscan/labelling/algo2.h
  cuML/src/dbscan/labelling/naive.h
  cuML/src/dbscan/runner.h
  cuML/src/glm/preprocess.h
  cuML/src/glm/qn/simple_mat.h
  cuML/src/glm/ridge.h
  cuML/src/kalman_filter/lkf.h
  cuML/src/knn/knn.cu
  cuML/src/solver/sgd.h
  cuML/src/tsvd/tsvd.h
  cuML/src/umap/fuzzy_simpl_set/naive.h
  cuML/src/umap/optimize.h
  cuML/src/umap/runner.h
  cuML/src/umap/simpl_set_embed/algo.h
  cuML/test/dbscan_test.cu
  cuML/test/kmeans_test.cu
  cuML/test/knn_test.cu
  cuML/test/lkf_test.cu
  cuML/test/ols.cu
  cuML/test/pca_test.cu
  cuML/test/quasi_newton.cu
  cuML/test/ridge.cu
  cuML/test/sgd.cu
  cuML/test/tsvd_test.cu
  cuML/test/umap_test.cu
  cuML/test_mg/knn_test.cu
  ml-prims/src/cuda_utils.h
  ml-prims/src/linalg/eig.h
  ml-prims/src/linalg/svd.h
  ml-prims/src/random/mvg.h
  ml-prims/src/sparse/coo.h
  ml-prims/src/utils.h
  ml-prims/test/coo.cu
  ml-prims/test/cov.cu
  ml-prims/test/csr.cu
  ml-prims/test/decoupled_lookback.cu
  ml-prims/test/eig.cu
  ml-prims/test/gather.cu
  ml-prims/test/gemm.cu
  ml-prims/test/hinge.cu
  ml-prims/test/kselection.cu
  ml-prims/test/linearReg.cu
  ml-prims/test/log.cu
  ml-prims/test/logisticReg.cu
  ml-prims/test/math.cu
  ml-prims/test/metrics.cu
  ml-prims/test/mvg.cu
  ml-prims/test/penalty.cu
  ml-prims/test/permute.cu
  ml-prims/test/rng.cu
  ml-prims/test/rng_int.cu
  ml-prims/test/rsvd.cu
  ml-prims/test/sigmoid.cu
  ml-prims/test/sum.cu
  ml-prims/test/svd.cu
  ml-prims/test/test_utils.h
  ml-prims/test/transpose.cu
Labels: 3 - Ready for Review, Prim API change
