Repository rapidsai/cuml, pull requests merged in 2020-11, with the labels that each got.

#3033 Splitting ml metrics to individual files
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/metrics/accuracy_score.cu
  cpp/src/metrics/adjusted_rand_index.cu
  cpp/src/metrics/completeness_score.cu
  cpp/src/metrics/entropy.cu
  cpp/src/metrics/homogeneity_score.cu
  cpp/src/metrics/kl_divergence.cu
  cpp/src/metrics/mutual_info_score.cu
  cpp/src/metrics/pairwise_distance.cu
  cpp/src/metrics/r2_score.cu
  cpp/src/metrics/rand_index.cu
  cpp/src/metrics/silhouette_score.cu
  cpp/src/metrics/v_measure.cu
Labels: Build or Dep, CUDA / C++

#3052 [REVIEW] Speeding up MNMG KNN Cl&Re testing
  CHANGELOG.md
  cpp/src_prims/selection/knn.cuh
  python/cuml/test/dask/test_kneighbors_classifier.py
  python/cuml/test/dask/test_kneighbors_regressor.py
Labels: 4 - Waiting on Reviewer

#3084 Fix artifacts in t-SNE results
  CHANGELOG.md
  cpp/src/tsne/barnes_hut.cuh
  cpp/src/tsne/bh_kernels.cuh
Labels: CUDA / C++, bug

#3077 [REVIEW] Improve test_kmeans runtime
  CHANGELOG.md
  python/cuml/test/test_kmeans.py
Labels: 4 - Waiting on Reviewer, tests

#3060 [REVIEW] Speed up test_fil
  CHANGELOG.md
  python/cuml/test/test_fil.py
Labels: 5 - Ready to Merge

#3065 [REVIEW] [BUG] Refactoring prims metrics function names from camelcase to underscore format
  CHANGELOG.md
  cpp/include/cuml/metrics/metrics.hpp
  cpp/src/kmeans/common.cuh
  cpp/src/kmeans/sg_impl.cuh
  cpp/src/metrics/adjusted_rand_index.cu
  cpp/src/metrics/completeness_score.cu
  cpp/src/metrics/homogeneity_score.cu
  cpp/src/metrics/kl_divergence.cu
  cpp/src/metrics/mutual_info_score.cu
  cpp/src/metrics/pairwise_distance.cu
  cpp/src/metrics/rand_index.cu
  cpp/src/metrics/silhouette_score.cu
  cpp/src/metrics/v_measure.cu
  cpp/src_prims/distance/distance.cuh
  cpp/src_prims/metrics/adjusted_rand_index.cuh
  cpp/src_prims/metrics/completeness_score.cuh
  cpp/src_prims/metrics/homogeneity_score.cuh
  cpp/src_prims/metrics/kl_divergence.cuh
  cpp/src_prims/metrics/mutual_info_score.cuh
  cpp/src_prims/metrics/pairwise_distance.cuh
  cpp/src_prims/metrics/rand_index.cuh
  cpp/src_prims/metrics/silhouette_score.cuh
  cpp/src_prims/metrics/v_measure.cuh
  cpp/test/CMakeLists.txt
  cpp/test/prims/adjusted_rand_index.cu
  cpp/test/prims/completeness_score.cu
  cpp/test/prims/homogeneity_score.cu
  cpp/test/prims/kl_divergence.cu
  cpp/test/prims/mutual_info_score.cu
  cpp/test/prims/rand_index.cu
  cpp/test/prims/silhouette_score.cu
  cpp/test/prims/v_measure.cu
  cpp/test/sg/dbscan_test.cu
  cpp/test/sg/kmeans_test.cu
  docs/source/api.rst
  python/cuml/__init__.py
  python/cuml/metrics/__init__.py
  python/cuml/metrics/cluster/__init__.py
  python/cuml/metrics/cluster/adjusted_rand_index.pyx
  python/cuml/metrics/cluster/completeness_score.pyx
  python/cuml/metrics/cluster/homogeneity_score.pyx
  python/cuml/metrics/cluster/mutual_info_score.pyx
  python/cuml/metrics/pairwise_distances.pyx
Labels: 4 - Waiting on Author, Algorithm API Change, CUDA / C++, Cython / Python, Prim API change

#3112 [REVIEW] speed test_array
  CHANGELOG.md
  python/cuml/test/test_array.py
Labels: 4 - Waiting on Author, tests

#3115 [REVIEW] Speed up UMAP mnmg tests
  CHANGELOG.md
  python/cuml/test/dask/test_umap.py
Labels: 5 - Ready to Merge, Cython / Python, Tech Debt, tests

#3111 [REVIEW] Adding Cython to Code Coverage
  CHANGELOG.md
  build.sh
  ci/gpu/build.sh
  python/.coveragerc
  python/cython_build_ext.py
  python/setup.cfg
Labels: 4 - Waiting on Reviewer, Build or Dep, Cython / Python, tests

#3129 [REVIEW] Update notebooks README [skip-ci]
  CHANGELOG.md
  notebooks/README.md
Labels: 5 - Ready to Merge, doc

#3130 Return Python string from dump_as_json() of RF
  CHANGELOG.md
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Labels: 5 - Ready to Merge

#3117 [REVIEW] Fix experimental RF backend crashes and add tests
  CHANGELOG.md
  cpp/src/decisiontree/batched-levelalgo/builder_base.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels.cuh
  cpp/test/sg/rf_batched_classification_test.cu
  cpp/test/sg/rf_batched_regression_test.cu
  python/cuml/test/test_random_forest.py
Labels: 4 - Waiting on Reviewer

#3088 [REVIEW] better C++ test parameter management
  CHANGELOG.md
  cpp/include/cuml/fil/fil.h
  cpp/test/sg/fil_test.cu
Labels: 5 - Ready to Merge, CUDA / C++

#2956 [REVIEW] ARIMA: follow cuML array conventions and remove redundancy
  CHANGELOG.md
  cpp/include/cuml/tsa/batched_arima.hpp
  cpp/src/arima/batched_arima.cu
  notebooks/arima_demo.ipynb
  python/cuml/tsa/arima.pyx
Labels: 4 - Waiting on Reviewer, Cython / Python

#3096 [REVIEW] Avoid useless copy when exchanging flag buffers in CSR WeakCC
  CHANGELOG.md
  cpp/src_prims/sparse/csr.cuh
Labels: 4 - Waiting on Reviewer, CUDA / C++

#3069 [REVIEW] Keep single-series DataFrames as DataFrames in preprocessing
  CHANGELOG.md
  python/cuml/_thirdparty/sklearn/preprocessing/_data.py
  python/cuml/test/test_adapters.py
  python/cuml/thirdparty_adapters/adapters.py
Labels: 5 - Ready to Merge, Cython / Python

#3136 [REVIEW] Fix Stochastic Gradient Descent Example
  CHANGELOG.md
  python/cuml/solvers/sgd.pyx
Labels: 5 - Ready to Merge

#3137 [REVIEW] Reorganize Pytest Config and Add Quick Run Option
  CHANGELOG.md
  python/conftest.py
  python/cuml/test/conftest.py
  python/cuml/test/plugins/__init__.py
  python/cuml/test/plugins/quick_run_plugin.py
  python/pytest.ini
  python/setup.cfg
Labels: 4 - Waiting on Reviewer

#3135 [REVIEW] Add QuasiNewton tests
  CHANGELOG.md
  python/cuml/test/test_qn.py
Labels: 5 - Ready to Merge, Cython / Python, tests

#3155 [REVIEW] Get rid of warnings in random projection test and related deprecation warnings
  CHANGELOG.md
  cpp/examples/dbscan/gen_dataset.py
  python/cuml/random_projection/random_projection.pyx
  python/cuml/test/test_dbscan.py
  python/cuml/test/test_metrics.py
  python/cuml/test/test_nearest_neighbors.py
  python/cuml/test/test_pca.py
  python/cuml/test/test_random_projection.py
  python/cuml/test/test_sgd.py
  python/cuml/test/test_tsne.py
  python/cuml/test/test_tsvd.py
  python/cuml/test/test_umap.py
Labels: 5 - Ready to Merge

#3156 Force local install by specifying exact build string
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 5 - Ready to Merge

#3002 [REVIEW] Update flake8 Config To With Per File Settings
  CHANGELOG.md
  ci/checks/copyright.py
  ci/checks/style.sh
  ci/local/README.md
  python/.flake8.cython
  python/cuml/__init__.py
  python/cuml/cluster/__init__.py
  python/cuml/common/__init__.py
  python/cuml/dask/common/__init__.py
  python/cuml/dask/ensemble/__init__.py
  python/cuml/dask/feature_extraction/text/__init__.py
  python/cuml/dask/linear_model/__init__.py
  python/cuml/dask/manifold/__init__.py
  python/cuml/dask/metrics/__init__.py
  python/cuml/dask/neighbors/__init__.py
  python/cuml/dask/solvers/__init__.py
  python/cuml/metrics/__init__.py
  python/cuml/metrics/cluster/__init__.py
  python/cuml/prims/__init__.py
  python/cuml/random_projection/__init__.py
  python/cuml/test/plugins/__init__.py
  python/setup.cfg
Labels: 5 - Ready to Merge, Cython / Python

#3144 [REVIEW] Adding Ability to Set Arbitrary Cmake Flags in ./build.sh [skip-ci]
  CHANGELOG.md
  build.sh
Labels: 5 - Ready to Merge

#2836 [REVIEW] Sparse KNN + UMAP Sparse Inputs
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/bench/sg/umap.cu
  cpp/cmake/Dependencies.cmake
  cpp/include/cuml/distance/distance_type.h
  cpp/include/cuml/manifold/common.hpp
  cpp/include/cuml/manifold/umap.hpp
  cpp/include/cuml/neighbors/knn_sparse.hpp
  cpp/src/knn/knn_sparse.cu
  cpp/src/umap/fuzzy_simpl_set/naive.cuh
  cpp/src/umap/fuzzy_simpl_set/runner.cuh
  cpp/src/umap/init_embed/random_algo.cuh
  cpp/src/umap/init_embed/runner.cuh
  cpp/src/umap/init_embed/spectral_algo.cuh
  cpp/src/umap/knn_graph/algo.cuh
  cpp/src/umap/knn_graph/runner.cuh
  cpp/src/umap/runner.cuh
  cpp/src/umap/simpl_set_embed/runner.cuh
  cpp/src/umap/supervised.cuh
  cpp/src/umap/umap.cu
  cpp/src_prims/distance/distance.cuh
  cpp/src_prims/selection/columnWiseSort.cuh
  cpp/src_prims/selection/knn.cuh
  cpp/src_prims/sparse/csr.cuh
  cpp/src_prims/sparse/distance.cuh
  cpp/src_prims/sparse/knn.cuh
  cpp/src_prims/sparse/selection.cuh
  cpp/src_prims/sparse/utils.h
  cpp/test/CMakeLists.txt
  cpp/test/prims/columnSort.cu
  cpp/test/prims/csr.cu
  cpp/test/prims/sparse/csr_row_slice.cu
  cpp/test/prims/sparse/csr_to_dense.cu
  cpp/test/prims/sparse/csr_transpose.cu
  cpp/test/prims/sparse/distance.cu
  cpp/test/prims/sparse/knn.cu
  cpp/test/prims/sparse/selection.cu
  cpp/test/sg/umap_parametrizable_test.cu
  python/cuml/common/array_sparse.py
  python/cuml/common/sparse_utils.py
  python/cuml/manifold/umap.pyx
  python/cuml/neighbors/__init__.py
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/test/test_nearest_neighbors.py
  python/cuml/test/test_umap.py
  python/debug_out
Labels: 5 - Ready to Merge, CUDA / C++, Cython / Python, feature request

#3132 [Breaking] Add min_samples_split + Rename min_rows_per_node -> min_samples_leaf
  CHANGELOG.md
  cpp/bench/sg/fil.cu
  cpp/bench/sg/rf_classifier.cu
  cpp/bench/sg/rf_regressor.cu
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/batched-levelalgo/builder_base.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels.cuh
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_regressor.cuh
  cpp/src/randomforest/randomforest.cu
  cpp/test/CMakeLists.txt
  cpp/test/sg/decisiontree_batchedlevel_algo.cu
  cpp/test/sg/decisiontree_batchedlevel_unittest.cu
  cpp/test/sg/rf_accuracy_test.cu
  cpp/test/sg/rf_batched_classification_test.cu
  cpp/test/sg/rf_batched_regression_test.cu
  cpp/test/sg/rf_depth_test.cu
  cpp/test/sg/rf_test.cu
  cpp/test/sg/rf_treelite_test.cu
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/ensemble/randomforest_shared.pxd
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/test/test_metrics.py
  python/cuml/test/test_random_forest.py
Labels: 5 - Ready to Merge, CUDA / C++, Cython / Python

#3113 [REVIEW][PROPOSAL] Add tags and prefered memory order tags to estimators
  CHANGELOG.md
  python/cuml/cluster/dbscan.pyx
  python/cuml/cluster/kmeans.pyx
  python/cuml/common/base.pyx
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/fil/fil.pyx
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.pyx
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/linear_model/ridge.pyx
  python/cuml/manifold/t_sne.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/random_projection/random_projection.pyx
  python/cuml/solvers/cd.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/svm/svc.pyx
  python/cuml/svm/svm_base.pyx
  python/cuml/test/test_api.py
  wiki/python/ESTIMATOR_GUIDE.md
Labels: 5 - Ready to Merge, Cython / Python, proposal

#3162 [REVIEW] Removing extra unneeded file
  CHANGELOG.md
  python/debug_out
Labels: 5 - Ready to Merge, bug

#3152 [REVIEW] Fix access to attributes of individual NB objects in dask NB
  CHANGELOG.md
  python/cuml/dask/naive_bayes/naive_bayes.py
  python/cuml/test/dask/test_naive_bayes.py
Labels: 3 - Ready for Review, Cython / Python, Dask / cuml.dask

#3032 [REVIEW] FIL: Add optimization parameter `blocks_per_sm` for all but the tiniest models
  CHANGELOG.md
  cpp/include/cuml/fil/fil.h
  cpp/src/fil/common.cuh
  cpp/src/fil/fil.cu
  cpp/src/fil/infer.cu
  cpp/test/sg/fil_test.cu
  python/cuml/fil/fil.pyx
Labels: 3 - Ready for Review, CUDA / C++, Cython / Python

#2988 [REVIEW] FIL: use tree reduction for GROVE_PER_CLASS_FEW_CLASSES
  CHANGELOG.md
  cpp/include/cuml/fil/multi_sum.cuh
  cpp/src/fil/infer.cu
  cpp/test/CMakeLists.txt
  cpp/test/sg/fil_test.cu
  cpp/test/sg/multi_sum_test.cu
Labels: 5 - Ready to Merge, CUDA / C++

#3151 [REVIEW] link Logisitc MNMG via dask-glm demo to readme
  CHANGELOG.md
  README.md
Labels: 5 - Ready to Merge, doc

#3054 [REVIEW] Add 0.15 and 0.16 release dates [skip-ci]
  CHANGELOG.md
Labels: 5 - Ready to Merge, doc

#3179 [WIP] Remove previously-replaced metrics.cu file
  CHANGELOG.md
  cpp/src/metrics/metrics.cu
Labels: 5 - Ready to Merge, CUDA / C++

#3164 [REVIEW] Expose silhouette score in Python
  CHANGELOG.md
  cpp/include/cuml/metrics/metrics.hpp
  cpp/src/metrics/silhouette_score.cu
  cpp/src_prims/metrics/silhouette_score.cuh
  cpp/test/prims/silhouette_score.cu
  python/cuml/metrics/cluster/__init__.py
  python/cuml/metrics/cluster/silhouette_score.pyx
  python/cuml/metrics/distance_type.pxd
  python/cuml/metrics/pairwise_distances.pyx
  python/cuml/test/test_metrics.py
Labels: 4 - Waiting on Reviewer, Cython / Python

#3175 [REVIEW] Fix gtest pinned cmake version for build from source option [skip-ci]
  CHANGELOG.md
  cpp/cmake/Dependencies.cmake
Labels: 5 - Ready to Merge, Build or Dep

#3154 [REVIEW] Estimator Pickling Demo & Adding to Docs
  CHANGELOG.md
  docs/source/index.rst
  docs/source/pickling_cuml_models.ipynb
Labels: 5 - Ready to Merge, Notebook, doc

#3051 [REVIEW] MNMG KNN Cl&Re fix + multiple improvements
  CHANGELOG.md
  python/cuml/dask/neighbors/kneighbors_classifier.py
  python/cuml/dask/neighbors/kneighbors_regressor.py
  python/cuml/neighbors/nearest_neighbors_mg.pyx
  python/cuml/test/dask/test_kneighbors_classifier.py
  python/cuml/test/dask/test_kneighbors_regressor.py
  python/cuml/test/dask/test_nearest_neighbors.py
Labels: 5 - Ready to Merge, Cython / Python, Multi-GPU

#3196 [REVIEW] Disable ascending=false path for sortColumnsPerRow and sporadically-failing FIL test [skip ci]
  CHANGELOG.md
  cpp/src_prims/selection/columnWiseSort.cuh
  cpp/test/prims/columnSort.cu
  cpp/test/sg/fil_test.cu
Labels: 5 - Ready to Merge, CUDA / C++, bug
