Repository rapidsai/cuml, pull requests merged in 2020-04, with the labels that each got.

#1947 [REVIEW] cleaning up cmake flow based on guidelines in "effective cmake"
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/bench/CMakeLists.txt
  cpp/cmake/Dependencies.cmake
  cpp/examples/dbscan/CMakeLists.txt
  cpp/examples/kmeans/CMakeLists.txt
  cpp/test/CMakeLists.txt
  python/setuputils.py
Labels: Build or Dep

#1971 [REVIEW] python setup.py updates
  CHANGELOG.md
  python/setup.py
Labels: Build or Dep, Cython / Python

#1973 [REVIEW] Add missing mg files for setup.py --singlegpu flag
  CHANGELOG.md
  python/setup.py
Labels: 3 - Ready for Review, Build or Dep, bug

#1974 [REVIEW] Disable test case in ARIMA because the reference (statsmodels) takes too long to fit
  CHANGELOG.md
  python/cuml/test/test_arima.py
Labels: 5 - Ready to Merge, tests

#2028 [REVIEW] Skipping umap knn parameters test to unblock CI
  CHANGELOG.md
  python/cuml/test/test_umap.py
Labels: bug, tests

#2031 [REVIEW] cuML Comms Singleton UCX Endpoints
  CHANGELOG.md
  python/cuml/dask/common/comms.py
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/common/part_utils.py
  python/cuml/dask/common/ucx.py
  python/cuml/dask/decomposition/base.py
  python/cuml/dask/linear_model/base.py
  python/cuml/dask/neighbors/nearest_neighbors.py
  python/cuml/test/dask/test_comms.py
  python/cuml/test/dask/test_ucx.py
Labels: Comms, Dask / cuml.dask, Multi-GPU, bug, feature request

#1968 [REWORK] Update SVC SVR with CumlArray
  CHANGELOG.md
  python/cuml/svm/svc.pyx
  python/cuml/svm/svm_base.pyx
  python/cuml/svm/svr.pyx
  python/cuml/test/test_pickle.py
  python/cuml/test/test_svm.py
Labels: 4 - Waiting on Author

#2017 [REVIEW] Fixing memory issue in weak CC prim
  CHANGELOG.md
  cpp/src_prims/sparse/csr.h
  cpp/test/prims/csr.cu
Labels: CUDA / C++, bug

#1906 [REVIEW] UMAP MNMG
  CHANGELOG.md
  python/cuml/dask/manifold/__init__.py
  python/cuml/dask/manifold/umap.py
  python/cuml/manifold/umap.pyx
  python/cuml/test/dask/test_umap.py
  python/cuml/test/test_pickle.py
Labels: 4 - Waiting on Author, Cython / Python, Dask / cuml.dask, Multi-GPU, New Algorithm

#1540 [REVIEW] Fix indexing arithmetic in adjusted rand index metric
  CHANGELOG.md
  cpp/src/metrics/metrics.cu
  cpp/src_prims/cuda_utils.h
  cpp/src_prims/metrics/adjustedRandIndex.h
  cpp/src_prims/metrics/contingencyMatrix.h
  cpp/src_prims/vectorized.h
  cpp/test/prims/adjustedRandIndex.cu
Labels: 5 - Ready to Merge, CUDA / C++

#1873 [REVIEW] Remove usage of nvstring and nvcat from labelEncoder
  CHANGELOG.md
  python/cuml/preprocessing/LabelEncoder.py
  python/cuml/preprocessing/__init__.py
  python/cuml/test/test_label_encoder.py
Labels: 2 - In Progress, Cython / Python

#2018 [REVIEW] Dask `extract_partitions` cleanup
  CHANGELOG.md
  python/cuml/dask/cluster/kmeans.py
  python/cuml/dask/common/__init__.py
  python/cuml/dask/common/dask_arr_utils.py
  python/cuml/dask/common/dask_df_utils.py
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/common/part_utils.py
  python/cuml/dask/datasets/blobs.py
  python/cuml/dask/decomposition/base.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/dask/linear_model/base.py
  python/cuml/dask/naive_bayes/naive_bayes.py
  python/cuml/dask/neighbors/nearest_neighbors.py
  python/cuml/test/dask/conftest.py
  python/cuml/test/dask/test_dask_arr_utils.py
  python/cuml/test/dask/test_input_utils.py
  python/cuml/test/dask/utils.py
Labels: 4 - Waiting on Reviewer, Cython / Python, Dask / cuml.dask, Multi-GPU, Tech Debt

#2047 [REVIEW] make worker streams non-blocking w.r.t. NULL stream
  CHANGELOG.md
  cpp/src/common/cumlHandle.cpp
  cpp/src_prims/sparse/coo.h
  cpp/src_prims/sparse/csr.h
Labels: 3 - Ready for Review, CUDA / C++

#2032 [REVIEW] Reduce number of tests for mbsgd classifier and regressor
  CHANGELOG.md
  python/cuml/test/test_mbsgd_classifier.py
  python/cuml/test/test_mbsgd_regressor.py
Labels: 2 - In Progress, 4 - Waiting on Author, Cython / Python, Tech Debt, tests

#2044 [REVIEW] A helper cuda memcheck wrapper around our unit-tests
  CHANGELOG.md
  cpp/scripts/cuda-memcheck.py
Labels: 3 - Ready for Review, CUDA / C++, tests

#2053 [REVIEW] Introduce verbosity arg in algos in C++ layer
  CHANGELOG.md
  cpp/bench/sg/kmeans.cu
  cpp/comms/std/src/cuML_comms_py.hpp
  cpp/comms/std/src/cuML_std_comms_impl.cpp
  cpp/comms/std/src/cuML_std_comms_impl.hpp
  cpp/comms/std/src/ucp_helper.h
  cpp/include/cuml/cluster/kmeans.hpp
  cpp/include/cuml/common/logger.hpp
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/include/cuml/manifold/umapparams.h
  cpp/include/cuml/neighbors/knn.hpp
  cpp/include/cuml/svm/svc.hpp
  cpp/include/cuml/svm/svm_api.h
  cpp/include/cuml/svm/svm_parameter.h
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/common/logger.cpp
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/levelalgo/common_helper.cuh
  cpp/src/decisiontree/memory.cuh
  cpp/src/glm/qn/qn_solvers.h
  cpp/src/glm/qn/qn_util.h
  cpp/src/kmeans/common.cuh
  cpp/src/kmeans/sg_impl.cuh
  cpp/src/knn/knn.cu
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest_impl.cuh
  cpp/src/randomforest/randomforest_impl.h
  cpp/src/svm/kernelcache.h
  cpp/src/svm/smosolver.h
  cpp/src/svm/svc.cu
  cpp/src/svm/svm_api.cpp
  cpp/src/svm/workingset.h
  cpp/src/umap/fuzzy_simpl_set/naive.h
  cpp/src/umap/optimize.h
  cpp/src/umap/runner.h
  cpp/src/umap/simpl_set_embed/algo.h
  cpp/src/umap/supervised.h
  cpp/src_prims/cache/cache.h
  cpp/test/sg/dbscan_test.cu
  cpp/test/sg/rf_accuracy_test.cu
  cpp/test/sg/rf_test.cu
  cpp/test/sg/rf_treelite_test.cu
  cpp/test/sg/svc_test.cu
  cpp/test/sg/tsne_test.cu
  cpp/test/sg/umap_test.cu
  python/cuml/cluster/kmeans.pyx
  python/cuml/cluster/kmeans_mg.pyx
  python/cuml/dask/common/comms_utils.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/svm/svc.pyx
  python/cuml/svm/svm_base.pyx
  python/cuml/svm/svr.pyx
Labels: 3 - Ready for Review, Algorithm API Change, CUDA / C++, Cython / Python

#1980 [REVIEW] a version of unaryOp kernel that can be used to initialize an array without any extra global memory reads
  CHANGELOG.md
  cpp/src_prims/linalg/unary_op.h
  cpp/test/prims/unary_op.cu
  cpp/test/prims/unary_op.h
Labels: 3 - Ready for Review, CUDA / C++, New Prim

#2077 [REVIEW] Dask make_blobs to match sklearn exactly
  CHANGELOG.md
  python/cuml/dask/datasets/blobs.py
  python/cuml/test/dask/test_base.py
  python/cuml/test/dask/test_input_utils.py
  python/cuml/test/dask/test_kmeans.py
  python/cuml/test/dask/test_pca.py
  python/cuml/test/dask/test_tsvd.py
Labels: Cython / Python, bug, dask-cuml, good first issue

#2089 [REVIEW] enable nightly memcheck for ml-prims unit-tests
  CHANGELOG.md
  ci/gpu/build.sh
Labels: Build or Dep, CUDA / C++, Tech Debt, gpuCI

#2015 [REVIEW] Renaming .h to .cuh in solver, dbscan and svm
  CHANGELOG.md
  cpp/src/dbscan/adjgraph/algo.cuh
  cpp/src/dbscan/adjgraph/naive.cuh
  cpp/src/dbscan/adjgraph/runner.cuh
  cpp/src/dbscan/common.cuh
  cpp/src/dbscan/dbscan.cu
  cpp/src/dbscan/dbscan.cuh
  cpp/src/dbscan/runner.cuh
  cpp/src/dbscan/vertexdeg/algo.cuh
  cpp/src/dbscan/vertexdeg/naive.cuh
  cpp/src/dbscan/vertexdeg/runner.cuh
  cpp/src/solver/cd.cuh
  cpp/src/solver/sgd.cuh
  cpp/src/solver/solver.cu
  cpp/src/svm/kernelcache.cuh
  cpp/src/svm/results.cuh
  cpp/src/svm/smo_sets.cuh
  cpp/src/svm/smoblocksolve.cuh
  cpp/src/svm/smosolver.cuh
  cpp/src/svm/svc.cu
  cpp/src/svm/svc_impl.cuh
  cpp/src/svm/svr.cu
  cpp/src/svm/svr_impl.cuh
  cpp/src/svm/workingset.cuh
  cpp/src/svm/ws_util.cuh
  cpp/test/sg/cd_test.cu
  cpp/test/sg/sgd.cu
  cpp/test/sg/svc_test.cu
Labels: 2 - In Progress, CUDA / C++, Tech Debt

#2090 [REVIEW] Upgrade cuML C++ build to cpp14
  CHANGELOG.md
  cpp/.clang-format
  cpp/CMakeLists.txt
  cpp/cmake/EvalGpuArchs.cmake
  cpp/comms/mpi/CMakeLists.txt
  cpp/comms/std/CMakeLists.txt
Labels: 3 - Ready for Review, Build or Dep, CUDA / C++, Tech Debt

#2117 [WIP] cudf __array__ exception small fixes (to fix CI)
  CHANGELOG.md
  python/cuml/benchmark/runners.py
  python/cuml/test/dask/test_pca.py
  python/cuml/test/dask/test_umap.py
  python/cuml/test/test_holtwinters.py
  python/cuml/test/test_linear_model.py
Labels: 2 - In Progress, Cython / Python

#2016 [REREVIEW] setup.py cleanup, proper cython artifact cleaning and singlegpu build bugfix
  .gitignore
  CHANGELOG.md
  build.sh
  python/cuml/test/dask/test_nearest_neighbors.py
  python/setup.py
  python/setuputils.py
Labels: 5 - Ready to Merge, Cython / Python

#1981 [REVIEW] SG, MG, and Dask KNN refactor
  CHANGELOG.md
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/neighbors/nearest_neighbors.py
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/neighbors/nearest_neighbors_mg.pyx
  python/cuml/test/test_kneighbors_classifier.py
  python/cuml/test/test_kneighbors_regressor.py
Labels: 5 - Merge After Dependencies, Cython / Python, Dask / cuml.dask, Tech Debt

#1883 [REREVIEW] Use cuML arrays in ARIMA
  CHANGELOG.md
  notebooks/arima_demo.ipynb
  python/cuml/test/test_arima.py
  python/cuml/tsa/arima.pyx
Labels: 4 - Waiting on Author, Algorithm API Change, Cython / Python, Tech Debt

#2062 [REVIEW] Adding reproducible random state to umap mnmg tests
  CHANGELOG.md
  cpp/comms/std/src/cuML_std_comms_impl.cpp
  cpp/comms/std/src/cuML_std_comms_impl.hpp
  cpp/comms/std/src/ucp_helper.h
  cpp/src/umap/init_embed/spectral_algo.h
  cpp/src/umap/runner.h
  python/cuml/manifold/umap.pyx
  python/cuml/metrics/trustworthiness.pyx
  python/cuml/test/dask/test_comms.py
  python/cuml/test/dask/test_umap.py
  python/cuml/test/test_trustworthiness.py
  python/cuml/test/test_umap.py
Labels: 3 - Ready for Review, Cython / Python, Tech Debt, tests

#2051 [REVIEW] [TEST] Reduce the time required to run tsvd and pca tests
  CHANGELOG.md
  python/cuml/test/dask/test_pca.py
  python/cuml/test/dask/test_tsvd.py
Labels: 5 - Ready to Merge, Tech Debt, tests

#2109 [REVIEW] input_to_cuml_array __cuda_array_interface__ bugfix
  CHANGELOG.md
  python/cuml/common/base.pyx
  python/cuml/utils/input_utils.py
Labels: 3 - Ready for Review, Cython / Python, bug

#1817 [REVIEW] Confusion matrix in cupy + Distributed confusion matrix
  CHANGELOG.md
  python/cuml/dask/metrics/__init__.py
  python/cuml/dask/metrics/confusion_matrix.py
  python/cuml/dask/metrics/utils.py
  python/cuml/metrics/__init__.py
  python/cuml/metrics/confusion_matrix.py
  python/cuml/metrics/utils.py
  python/cuml/prims/label/classlabels.py
  python/cuml/test/dask/test_metrics.py
  python/cuml/test/test_metrics.py
  python/cuml/test/utils.py
Labels: 3 - Ready for Review, Cython / Python, Dask / cuml.dask, tests

#2048 [REWORK][TEST] Random forest testing speedup
  CHANGELOG.md
  python/cuml/test/test_random_forest.py
Labels: 5 - Ready to Merge, Tech Debt, tests

#1978 [REVIEW] Predict proba function for dask rf
  CHANGELOG.md
  python/cuml/dask/common/base.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/test/dask/test_random_forest.py
Labels: 3 - Ready for Review, Cython / Python, Dask / cuml.dask

#2120 [REVIEW] speeding up dask rf tests
  CHANGELOG.md
  python/cuml/test/dask/test_random_forest.py
Labels: 5 - Ready to Merge

#2107 [REVIEW] [FIX] Fix PCA transform
  CHANGELOG.md
  python/cuml/decomposition/pca.pyx
  python/cuml/test/test_pca.py
Labels: 5 - Ready to Merge, Cython / Python, Tech Debt, bug, tests

#2115 [REVIEW] Fix issues with contingency matrix unit-tests
  CHANGELOG.md
  cpp/src_prims/metrics/contingencyMatrix.h
  cpp/test/prims/contingencyMatrix.cu
Labels: 4 - Waiting on Author

#2059 [REREVIEW] Make all Scipy imports conditional
  CHANGELOG.md
  python/cuml/dask/common/dask_arr_utils.py
  python/cuml/manifold/umap.pyx
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/preprocessing/label.py
  python/cuml/test/dask/test_nearest_neighbors.py
  python/cuml/test/test_arima.py
  python/cuml/test/test_label_binarizer.py
  python/cuml/test/test_metrics.py
  python/cuml/test/test_nearest_neighbors.py
  python/cuml/test/test_random_projection.py
  python/cuml/utils/import_utils.py
Labels: 5 - Ready to Merge, Cython / Python, bug

#2096 [REVIEW] Fix syntax error with previous memcheck nightly command
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 5 - Ready to Merge, Build or Dep

#2068 [REVIEW] Using make_monotonic for computation of KNN probabilities
  CHANGELOG.md
  cpp/cmake/Dependencies.cmake
  cpp/include/cuml/neighbors/knn.hpp
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.h
  cpp/test/prims/knn_classify.cu
  cpp/test/prims/knn_regression.cu
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/test/test_kneighbors_classifier.py
Labels: 5 - Ready to Merge, CUDA / C++, Tech Debt, feature request

#2118 [REVIEW] Updating sgd solver & mini-batched estimators to use cuml array
  CHANGELOG.md
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/test/test_mbsgd_classifier.py
  python/cuml/test/test_mbsgd_regressor.py
  python/cuml/test/test_sgd.py
Labels: 5 - Ready to Merge, Cython / Python, Tech Debt

#2135 [REVIEW] A couple small UMAP optimizations
  CHANGELOG.md
  cpp/src/umap/fuzzy_simpl_set/naive.h
  cpp/src/umap/runner.h
Labels: 3 - Ready for Review, CUDA / C++, Perf, Tech Debt

#2004 [REVIEW] Refactoring the arguments to plant() call
  CHANGELOG.md
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_regressor.cuh
  cpp/src/decisiontree/memory.cuh
  cpp/src/decisiontree/memory.h
  cpp/src/randomforest/randomforest_impl.cuh
Labels: 4 - Waiting on Author, Algorithm API Change, CUDA / C++

#2098 [REVIEW] Refactor headers for decision_tree, glm, pca
  CHANGELOG.md
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/levelalgo/metric.cuh
  cpp/src/decisiontree/levelalgo/metric_def.cuh
  cpp/src/glm/glm.cu
  cpp/src/glm/ols.cuh
  cpp/src/glm/preprocess.cuh
  cpp/src/glm/qn/glm_base.cuh
  cpp/src/glm/qn/glm_linear.cuh
  cpp/src/glm/qn/glm_logistic.cuh
  cpp/src/glm/qn/glm_regularizer.cuh
  cpp/src/glm/qn/glm_softmax.cuh
  cpp/src/glm/qn/qn.cuh
  cpp/src/glm/qn/qn_linesearch.cuh
  cpp/src/glm/qn/qn_solvers.cuh
  cpp/src/glm/qn/qn_util.cuh
  cpp/src/glm/qn/simple_mat.cuh
  cpp/src/glm/ridge.cuh
  cpp/src/pca/pca.cu
  cpp/src/pca/pca.cuh
  cpp/src/solver/cd.cuh
  cpp/src/solver/sgd.cuh
  cpp/test/sg/ols.cu
  cpp/test/sg/pca_test.cu
  cpp/test/sg/quasi_newton.cu
  cpp/test/sg/ridge.cu
Labels: 3 - Ready for Review, CUDA / C++, Tech Debt

#1892 [REVIEW] One hot encoder
  CHANGELOG.md
  python/cuml/preprocessing/__init__.py
  python/cuml/preprocessing/encoders.py
  python/cuml/test/test_one_hot_encoder.py
Labels: 5 - Ready to Merge, Cython / Python, New Algorithm

#2067 [REVIEW] [FEA] cython wrapper for logger
  CHANGELOG.md
  cpp/include/cuml/common/logger.hpp
  cpp/src/common/logger.cpp
  cpp/test/CMakeLists.txt
  cpp/test/sg/logger.cpp
  python/cuml/cluster/dbscan.pyx
  python/cuml/cluster/kmeans.pyx
  python/cuml/common/base.pyx
  python/cuml/common/logger.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/manifold/t_sne.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/svm/svm_base.pyx
  python/cuml/test/test_logger.py
  python/setup.py
Labels: 2 - In Progress, Algorithm API Change, Cython / Python

#1914 [REVIEW] Change of meaning of the intercept in ARIMA to match the literature and other implementations
  CHANGELOG.md
  cpp/include/cuml/tsa/arima_common.h
  cpp/src/arima/batched_arima.cu
  cpp/src/arima/batched_kalman.cu
  cpp/src_prims/timeSeries/arima_helpers.h
  python/cuml/test/test_arima.py
  python/cuml/tsa/arima.pyx
Labels: 5 - Ready to Merge

#2150 [REVIEW] Remove deprecated RMM calls in RMM allocator adapter
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cuml/common/rmmAllocatorAdapter.hpp
  python/cuml/common/handle.pyx
Labels: 3 - Ready for Review, CUDA / C++, Tech Debt

#2140 [REVIEW] Returning self in fit model functions
  CHANGELOG.md
  python/cuml/dask/linear_model/linear_regression.py
  python/cuml/dask/linear_model/ridge.py
  python/cuml/linear_model/linear_regression_mg.pyx
  python/cuml/linear_model/ridge_mg.pyx
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/test/test_fit_function.py
  python/cuml/tsa/arima.pyx
Labels: 4 - Waiting on Reviewer, Cython / Python, Tech Debt, bug

#2005 [REVIEW] Benchmark updates
  CHANGELOG.md
  notebooks/cuml_benchmarks.ipynb
  python/cuml/benchmark/algorithms.py
  python/cuml/benchmark/datagen.py
  python/cuml/test/test_benchmark.py
Labels: 5 - Ready to Merge, Cython / Python, Notebook, benchmarking

#2156 [REVIEW] Add Docker 19 support to local gpuci build
  CHANGELOG.md
  ci/local/README.md
  ci/local/build.sh
Labels: 5 - Ready to Merge

#2155 [REVIEW] fix doxygen build
  CHANGELOG.md
  cpp/include/cuml/neighbors/knn.hpp
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src_prims/distance/fused_l2_nn.h
  cpp/src_prims/metrics/adjustedRandIndex.h
Labels: 5 - Ready to Merge

#2055 [REVIEW] Update the Metrics notebook
  CHANGELOG.md
  notebooks/metrics_demo.ipynb
Labels: 4 - Waiting on Author, Notebook

#2139 [REVIEW] CumlArray for adjusted_rand_score
  CHANGELOG.md
  python/cuml/metrics/cluster/adjustedrandindex.pyx
Labels: 4 - Waiting on Reviewer, Cython / Python

#2165 [REVIEW] Fit function test correction
  CHANGELOG.md
  python/cuml/test/test_fit_function.py
Labels: 5 - Ready to Merge, tests

#2161 [REVIEW] Replacing depreciated bruteForceKnn
  CHANGELOG.md
  cpp/src_prims/selection/knn.h
Labels: 5 - Ready to Merge, Cython / Python, Deprecation!, bug

#1687 [REVIEW] Cython wrapper for mutual info score
  CHANGELOG.md
  cpp/src_prims/metrics/mutualInfoScore.h
  python/cuml/metrics/__init__.py
  python/cuml/metrics/cluster/__init__.py
  python/cuml/metrics/cluster/mutual_info_score.pyx
  python/cuml/metrics/cluster/utils.pyx
  python/cuml/test/test_metrics.py
  python/cuml/test/utils.py
Labels: 5 - Ready to Merge, Cython / Python

#2131 [REVIEW] Update Dask RF fit to use DistributedDataHandler
  CHANGELOG.md
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
Labels: 5 - Ready to Merge, Cython / Python, Dask / cuml.dask, Tech Debt

#2166 Fix handling of temp file in RF pickling
  CHANGELOG.md
  cpp/src/randomforest/randomforest.cu
  python/cuml/test/test_pickle.py
Labels: 5 - Ready to Merge

#2085 [REVIEW] TSNE adopts cumlarray
  CHANGELOG.md
  python/cuml/manifold/t_sne.pyx
  python/cuml/test/test_pickle.py
Labels: 4 - Waiting on Author, Cython / Python

#2162 [REVIEW] Use stream in transpose prim
  CHANGELOG.md
  cpp/src_prims/linalg/transpose.h
Labels: 4 - Waiting on Reviewer, CUDA / C++, Tech Debt, bug

#1655 [REVIEW] Cython wrapper for homogeneity score
  CHANGELOG.md
  python/cuml/metrics/__init__.py
  python/cuml/metrics/cluster/__init__.py
  python/cuml/metrics/cluster/homogeneity_score.pyx
  python/cuml/test/test_metrics.py
Labels: 5 - Ready to Merge, Cython / Python, tests
