Repository rapidsai/cuml, pull requests merged in 2020-05, with the labels that each got.

#2175 [REVIEW] Add CPU-only and dataset sweep params to benchmark
  CHANGELOG.md
  python/cuml/benchmark/run_benchmarks.py
  python/cuml/benchmark/runners.py
Labels: 3 - Ready for Review

#2151 [REVIEW] Add pytest duration and pytest timeout
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda10.0.yml
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
Labels: 5 - Ready to Merge, Cython / Python, tests

#2125 [REREVIEW] Build infrastructure to use RAFT
  .gitignore
  CHANGELOG.md
  build.sh
  cpp/CMakeLists.txt
  cpp/cmake/Dependencies.cmake
  python/README.md
  python/cuml/__init__.py
  python/cuml/test/test_raft.py
  python/setup.py
  python/setuputils.py
Labels: 5 - Ready to Merge, Build or Dep

#2183 [REVIEW] Fix RAFT in nightly package
  CHANGELOG.md
  python/cuml/test/dask/test_comms.py
  python/setuputils.py
Labels: ! - Hotfix, 3 - Ready for Review, Build or Dep

#2124 [REVIEW] PoC adding more intro docs for API documentation [skip-ci]
  CHANGELOG.md
  docs/requirement.txt
  docs/source/conf.py
  docs/source/cuml_blogs.rst
  docs/source/cuml_intro.rst
  docs/source/estimator_intro.ipynb
  docs/source/index.rst
Labels: 3 - Ready for Review, doc

#2179 [REVIEW] Fix clang tools version in libcuml recipe
  CHANGELOG.md
  conda/recipes/libcuml/meta.yaml
Labels: 3 - Ready for Review, Build or Dep, conda

#2191 [Review] [DOC] Fix placement of SVM parameter documentation and add examples [skip-ci]
  CHANGELOG.md
  python/cuml/svm/svc.pyx
  python/cuml/svm/svr.pyx
Labels: 4 - Waiting on Author

#2185 [REVIEW] Add has_sklearn function and use it in datasets/classification
  CHANGELOG.md
  python/cuml/datasets/classification.py
  python/cuml/utils/import_utils.py
Labels: 3 - Ready for Review, Cython / Python

#2187 [REVIEW] CMake improvements to manage conda environment dependencies
  BUILD.md
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/cmake/Dependencies.cmake
  cpp/test/CMakeLists.txt
  python/cuml/test/dask/test_dask_arr_utils.py
Labels: 5 - Ready to Merge, Build or Dep

#2128 [REVIEW] Reduce time required for GPU predict in dask RF
  CHANGELOG.md
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Labels: 4 - Waiting on Author, Cython / Python, Dask / cuml.dask

#2196 More benchmark updates
  CHANGELOG.md
  README.md
  notebooks/tools/cuml_benchmarks.ipynb
  python/cuml/benchmark/algorithms.py
  python/cuml/benchmark/runners.py
Labels: 5 - Ready to Merge

#2201 [REVIEW] Re-enabling umap repro tests
  CHANGELOG.md
  python/cuml/test/test_umap.py
Labels: 3 - Ready for Review, Cython / Python, tests

#2176 [REVIEW] adjusted rand index corner-case bug when input array is all zeros
  CHANGELOG.md
  cpp/include/cuml/metrics/metrics.hpp
  cpp/src/metrics/metrics.cu
  cpp/src_prims/metrics/adjustedRandIndex.h
  cpp/test/prims/adjustedRandIndex.cu
  cpp/test/sg/dbscan_test.cu
  cpp/test/sg/kmeans_test.cu
  python/cuml/metrics/cluster/adjustedrandindex.pyx
Labels: 5 - Ready to Merge, CUDA / C++, Prim API change, Tech Debt, bug

#2199 [REVIEW] Remove redundant or unnecessary notebooks
  CHANGELOG.md
  README.md
  notebooks/DBSCAN_Demo_Full.ipynb
  notebooks/README.md
  notebooks/coordinate_descent_demo.ipynb
  notebooks/dbscan_demo.ipynb
  notebooks/forest_inference_demo.ipynb
  notebooks/holtwinters_demo.ipynb
  notebooks/holtwinters_demo_full.ipynb
  notebooks/kmeans_demo.ipynb
  notebooks/kneighbors_classifier_demo.ipynb
  notebooks/kneighbors_regressor_demo.ipynb
  notebooks/linear_regression_demo.ipynb
  notebooks/mini_batch_sgd_demo.ipynb
  notebooks/pca_demo.ipynb
  notebooks/pca_mnmg_demo.ipynb
  notebooks/random_forest_demo.ipynb
  notebooks/ridge_regression_demo.ipynb
  notebooks/sgd_demo.ipynb
  notebooks/svm_demo.ipynb
  notebooks/tsne_demo.ipynb
  notebooks/tsvd_demo.ipynb
  notebooks/tsvd_mnmg_demo.ipynb
  notebooks/umap_demo.ipynb
  notebooks/umap_demo_graphed.ipynb
  notebooks/umap_supervised_demo.ipynb
  python/cuml/utils/input_utils.py
Labels: 5 - Ready to Merge, Notebook, doc

#2184 [REVIEW] Refactor headers for holtwinters, rproj, tsvd, tsne, umap
  CHANGELOG.md
  cpp/src/holtwinters/holtwinters.cu
  cpp/src/holtwinters/internal/hw_decompose.cuh
  cpp/src/holtwinters/internal/hw_eval.cuh
  cpp/src/holtwinters/internal/hw_forecast.cuh
  cpp/src/holtwinters/internal/hw_optim.cuh
  cpp/src/holtwinters/internal/hw_utils.cuh
  cpp/src/holtwinters/runner.cuh
  cpp/src/pca/pca.cuh
  cpp/src/random_projection/rproj.cu
  cpp/src/random_projection/rproj.cuh
  cpp/src/random_projection/rproj.hxx
  cpp/src/random_projection/rproj_utils.cuh
  cpp/src/random_projection/utils.hxx
  cpp/src/tsne/barnes_hut.cuh
  cpp/src/tsne/bh_kernels.cuh
  cpp/src/tsne/exact_kernels.cuh
  cpp/src/tsne/exact_tsne.cuh
  cpp/src/tsne/tsne.cu
  cpp/src/tsne/utils.h
  cpp/src/tsvd/tsvd.cu
  cpp/src/tsvd/tsvd.cuh
  cpp/src/umap/fuzzy_simpl_set/naive.cuh
  cpp/src/umap/fuzzy_simpl_set/runner.cuh
  cpp/src/umap/init_embed/runner.cuh
  cpp/src/umap/init_embed/spectral_algo.cuh
  cpp/src/umap/knn_graph/algo.h
  cpp/src/umap/optimize.cuh
  cpp/src/umap/runner.cuh
  cpp/src/umap/simpl_set_embed/algo.cuh
  cpp/src/umap/simpl_set_embed/runner.cuh
  cpp/src/umap/supervised.cuh
  cpp/src/umap/umap.cu
  cpp/test/sg/tsvd_test.cu
  cpp/test/sg/umap_test.cu
Labels: 5 - Ready to Merge, Tech Debt

#2057 [REVIEW] Weighted k-means
  CHANGELOG.md
  cpp/bench/sg/kmeans.cu
  cpp/examples/kmeans/kmeans_example.cpp
  cpp/include/cuml/cluster/kmeans.hpp
  cpp/src/kmeans/common.cuh
  cpp/src/kmeans/kmeans.cu
  cpp/src/kmeans/sg_impl.cuh
  cpp/src_prims/linalg/reduce_cols_by_key.h
  cpp/src_prims/linalg/reduce_rows_by_key.h
  cpp/src_prims/metrics/silhouetteScore.h
  cpp/test/prims/reduce_rows_by_key.cu
  cpp/test/sg/kmeans_test.cu
  python/cuml/cluster/kmeans.pyx
  python/cuml/test/test_kmeans.py
Labels: 4 - Waiting on Author

#2180 [REVIEW] Add fully single GPU singlegpu python build
  BUILD.md
  CHANGELOG.md
  build.sh
  python/setup.py
Labels: 4 - Waiting on Reviewer, Build or Dep, Cython / Python

#1985 [REVIEW][TEST] C++ UMAP parametrizable tests
  CHANGELOG.md
  cpp/include/cuml/manifold/umapparams.h
  cpp/src/umap/runner.cuh
  cpp/test/CMakeLists.txt
  cpp/test/sg/umap_parametrizable_test.cu
  python/cuml/test/test_umap.py
Labels: 4 - Waiting on Author, CUDA / C++, tests

#2205 [REVIEW] Use timeout to add 2 hour hard limit to dask tests
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 3 - Ready for Review, gpuCI

#2186 [REVIEW] Refactor cython code to build OPG structs in common utils file
  CHANGELOG.md
  python/cuml/dask/common/part_utils.py
  python/cuml/linear_model/base_mg.pyx
  python/cuml/linear_model/linear_regression_mg.pyx
  python/cuml/linear_model/ridge_mg.pyx
  python/cuml/utils/opg_data_utils.pxd
  python/cuml/utils/opg_data_utils.pyx
Labels: 3 - Ready for Review, 5 - Ready to Merge, Cython / Python, Tech Debt

#2217 [REVIEW] fix opg_utils naming to fix singlegpu build
  CHANGELOG.md
  python/cuml/common/opg_data_utils_mg.pxd
  python/cuml/common/opg_data_utils_mg.pyx
  python/cuml/linear_model/base_mg.pyx
  python/cuml/linear_model/linear_regression_mg.pyx
  python/cuml/linear_model/ridge_mg.pyx
  python/setup.py
Labels: ! - Hotfix, 3 - Ready for Review, Build or Dep

#2224 [REVIEW] Copying recent fix by John Kirkham over to cuml
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 3 - Ready for Review

#2210 [REVIEW] KNN Gtest for multiple index partitions
  CHANGELOG.md
  cpp/src_prims/selection/knn.h
  cpp/test/sg/knn_test.cu
Labels: 5 - Ready to Merge

#1814 [REVIEW] Roc auc score implementation with cupy
  CHANGELOG.md
  python/cuml/metrics/__init__.py
  python/cuml/metrics/_ranking.py
  python/cuml/test/test_metrics.py
Labels: 4 - Waiting on Reviewer, Cython / Python, New Algorithm, tests

#2223 [REVIEX] Fix bug in ARIMA C++ benchmark
  CHANGELOG.md
  cpp/bench/sg/arima_loglikelihood.cu
Labels: 5 - Ready to Merge

#2228 [REVIEW] Update to use __reduce_ex__ in CumlArray to override cudf.Buffer
  CHANGELOG.md
  python/cuml/common/array.py
  python/cuml/metrics/_ranking.py
  python/cuml/test/test_array.py
Labels: 3 - Ready for Review, Cython / Python, gpuCI

#2127 [REVIEW] Make Blobs
  CHANGELOG.md
  python/cuml/__init__.py
  python/cuml/dask/common/dask_arr_utils.py
  python/cuml/dask/datasets/blobs.py
  python/cuml/dask/datasets/classification.py
  python/cuml/dask/datasets/regression.py
  python/cuml/dask/datasets/utils.py
  python/cuml/datasets/__init__.py
  python/cuml/datasets/blobs.py
  python/cuml/datasets/blobs.pyx
  python/cuml/datasets/classification.py
  python/cuml/test/dask/test_base.py
  python/cuml/test/dask/test_dask_df_utils.py
  python/cuml/test/dask/test_datasets.py
  python/cuml/test/dask/test_input_utils.py
  python/cuml/test/dask/test_kmeans.py
  python/cuml/test/dask/test_pca.py
  python/cuml/test/dask/test_tsvd.py
  python/cuml/test/test_kmeans.py
  python/cuml/test/test_make_blobs.py
Labels: 5 - Ready to Merge, Cython / Python, New Algorithm

#2225 [REVIEW] input_to_cuml_array keep order option, test updates and cleanup
  CHANGELOG.md
  python/cuml/common/input_utils.py
  python/cuml/test/test_input_utils.py
Labels: 3 - Ready for Review, Cython / Python, Tech Debt, tests

#2244 [REVIEW] Re-enable slow ARIMA tests as stress tests
  CHANGELOG.md
  python/cuml/test/test_arima.py
Labels: 5 - Ready to Merge

#2208 [REVIEW] Coordinate Descent, Lasso and ElasticNet CumlArray updates
  CHANGELOG.md
  notebooks/forest_inference_demo.ipynb
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.pyx
  python/cuml/metrics/base.py
  python/cuml/metrics/regression.pyx
  python/cuml/solvers/cd.pyx
Labels: 5 - Ready to Merge, Cython / Python

#2231 [REVIEW] Decomposition algorithms opg struct refactor
  CHANGELOG.md
  python/cuml/common/opg_data_utils_mg.pyx
  python/cuml/dask/decomposition/tsvd.py
  python/cuml/decomposition/base_mg.pyx
  python/cuml/decomposition/pca_mg.pyx
  python/cuml/decomposition/tsvd_mg.pyx
  python/cuml/linear_model/base_mg.pyx
Labels: 3 - Ready for Review, Cython / Python, Tech Debt

#2242 [REVIEW] Pandas input support with output as NumPy arrays by default
  CHANGELOG.md
  python/cuml/common/array.py
  python/cuml/common/base.pyx
  python/cuml/common/input_utils.py
  python/cuml/test/test_input_utils.py
  python/cuml/test/test_module_config.py
Labels: 5 - Ready to Merge, Cython / Python

#2249 [REVIEW] Fixing bug in target_metric=euclidean for larger datasets
  CHANGELOG.md
  cpp/src/umap/supervised.cuh
  cpp/src_prims/sparse/coo.h
  cpp/src_prims/sparse/csr.h
  python/cuml/test/test_umap.py
Labels: 5 - Ready to Merge, CUDA / C++, bug

#2178 [REVIEW] Reduce duplicated code in dask RF
  CHANGELOG.md
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/common/utils.py
  python/cuml/dask/ensemble/base.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Labels: 5 - Ready to Merge, Cython / Python, Dask / cuml.dask

#2255 [REVIEW] Update dask rf test to unblock CI
  CHANGELOG.md
  python/cuml/test/dask/test_random_forest.py
Labels: 5 - Ready to Merge, Dask / cuml.dask, tests

#877 [REVIEW] Adding definition of done to wiki and updating README to link to it. [skip-ci]
  CHANGELOG.md
  wiki/DEFINITION_OF_DONE_CRITERIA.md
  wiki/README.md
Labels: 4 - Waiting on Author, Tech Debt, doc, wiki

#2252 [REVIEW] Add benchmark for the Gram matrix prims
  CHANGELOG.md
  cpp/bench/CMakeLists.txt
  cpp/bench/prims/gram_matrix.cu
Labels: 5 - Ready to Merge

#2258 [REVIEW] fix doxygen breakage
  CHANGELOG.md
  cpp/src_prims/linalg/reduce_rows_by_key.h
Labels: 5 - Ready to Merge

#2132 [REVIEW] SVM C++ benchmark
  CHANGELOG.md
  cpp/bench/CMakeLists.txt
  cpp/bench/sg/dataset.cuh
  cpp/bench/sg/svc.cu
  cpp/bench/sg/svr.cu
Labels: 2 - In Progress, CUDA / C++, benchmarking

#2259 [REVIEW] Add CumlArray support to Naive Bayes
  CHANGELOG.md
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/prims/label/classlabels.py
  python/cuml/test/test_mbsgd_classifier.py
Labels: 5 - Ready to Merge, Cython / Python

#2212 [REVIEW] Bugs in dbscan concerning memory and results
  CHANGELOG.md
  cpp/src/dbscan/adjgraph/algo.cuh
  cpp/src/dbscan/adjgraph/naive.cuh
  cpp/src/dbscan/adjgraph/pack.h
  cpp/src/dbscan/adjgraph/runner.cuh
  cpp/src/dbscan/dbscan.cuh
  cpp/src/dbscan/runner.cuh
  cpp/src_prims/sparse/csr.cuh
  cpp/test/sg/dbscan_test.cu
  python/cuml/test/test_dbscan.py
Labels: 3 - Ready for Review, CUDA / C++, bug

#1994 [REVIEW] Distributed One Hot Encoder
  CHANGELOG.md
  python/cuml/dask/common/base.py
  python/cuml/dask/preprocessing/__init__.py
  python/cuml/dask/preprocessing/encoders.py
  python/cuml/preprocessing/encoders.py
  python/cuml/preprocessing/onehotencoder_mg.py
  python/cuml/test/dask/test_one_hot_encoder.py
  python/cuml/test/test_one_hot_encoder.py
Labels: 4 - Waiting on Reviewer, Cython / Python, Dask / cuml.dask, Multi-GPU, New Algorithm

#2274 [REVIEW] Fix parameter name verbose to verbosity in mnmg OneHotEncoder
  CHANGELOG.md
  python/cuml/dask/preprocessing/encoders.py
Labels: 3 - Ready for Review, Cython / Python

#2257 [REVIEW] Use CumlArray in LogisticRegression and QN
  CHANGELOG.md
  python/cuml/common/input_utils.py
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/test/test_input_utils.py
  python/cuml/test/test_linear_model.py
  python/cuml/test/test_qn.py
Labels: 4 - Waiting on Reviewer, Cython / Python

#2269 [REVIEW] Add docs targets to build.sh and fix python cuml.common docs
  CHANGELOG.md
  build.sh
  conda/environments/cuml_dev_cuda10.0.yml
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  cpp/include/cuml/datasets/make_arima.hpp
  docs/source/api.rst
Labels: 3 - Ready for Review, doc

#2275 [REVIEW] Alternative simplified approach to RF memory leak removal
  CHANGELOG.md
  ci/gpu/build.sh
  cpp/bench/sg/rf_classifier.cu
  cpp/bench/sg/rf_regressor.cu
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/src/randomforest/randomforest.cu
  cpp/test/sg/rf_accuracy_test.cu
  cpp/test/sg/rf_test.cu
  cpp/test/sg/rf_treelite_test.cu
  python/cuml/ensemble/randomforest_shared.pxd
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/test/dask/test_random_forest.py
  python/cuml/test/test_random_forest.py
Labels: 4 - Waiting on Reviewer

#2281 Rely on cuDF's `Serializable` in `CumlArray`
  CHANGELOG.md
  python/cuml/common/array.py
Labels: 4 - Waiting on Author, Cython / Python

#2285 [REVIEW] Increase the threshold for elastic_net test in dask test_coordinate_descent
  CHANGELOG.md
  python/cuml/test/dask/test_coordinate_descent.py
Labels: 5 - Ready to Merge

#2282 [REVIEW] Fix RF concat memory leak
  CHANGELOG.md
  python/cuml/dask/ensemble/base.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/fil/fil.pyx
  python/cuml/test/dask/test_random_forest.py
  python/cuml/test/test_random_forest.py
Labels: 5 - Ready to Merge

#2284 [REVIEW] Update SG RF notebook to reduce dataset size
  CHANGELOG.md
  notebooks/random_forest_demo.ipynb
Labels: 5 - Ready to Merge

#2215 [REVIEW] Fixes the printing of forest object and adds test for checking RF printing functions
  CHANGELOG.md
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/randomforest/randomforest.cu
  python/cuml/test/test_random_forest.py
Labels: 5 - Ready to Merge

#2293 [REVIEW] Contiguity fixes for input_to_cuml_array and train_test_split
  CHANGELOG.md
  python/cuml/common/input_utils.py
  python/cuml/common/memory_utils.py
  python/cuml/preprocessing/model_selection.py
  python/cuml/test/test_input_utils.py
  python/cuml/test/test_train_test_split.py
Labels: 5 - Ready to Merge, Cython / Python

#2305 [BUG] fixed race condition, added appropriate test
  CHANGELOG.md
  cpp/src_prims/sparse/csr.cuh
  python/cuml/test/test_dbscan.py
Labels: 3 - Ready for Review, CUDA / C++, bug

#2264 [REVIEW] use make blobs from libcuml++
  CHANGELOG.md
  ci/gpu/build.sh
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
  cpp/bench/sg/dataset.cuh
  cpp/test/sg/knn_test.cu
  cpp/test/sg/svc_test.cu
  cpp/test/sg/umap_parametrizable_test.cu
Labels: 5 - Ready to Merge

#1945 [REVIEW] Enable clang tidy on cuML c++ sources
  CHANGELOG.md
  ci/checks/style.sh
  ci/gpu/build.sh
  cpp/.clang-tidy
  cpp/CMakeLists.txt
  cpp/bench/prims/main.cpp
  cpp/bench/sg/main.cpp
  cpp/cmake/Dependencies.cmake
  cpp/scripts/run-clang-tidy.py
  cpp/src/common/cumlHandle.cpp
  cpp/src/common/cumlHandle.hpp
  cpp/src/common/logger.cpp
  cpp/src/holtwinters/holtwinters_api.cpp
Labels: 3 - Ready for Review, Build or Dep, CUDA / C++, Tech Debt

#2316 [REVIEW] 0.14 release docs additions and fixes [skip-ci]
  CHANGELOG.md
  docs/source/api.rst
  docs/source/index.rst
  python/cuml/cluster/dbscan.pyx
  python/cuml/common/memory_utils.py
  python/cuml/dask/datasets/classification.py
  python/cuml/dask/datasets/regression.py
  python/cuml/dask/linear_model/elastic_net.py
  python/cuml/dask/linear_model/lasso.py
  python/cuml/dask/manifold/umap.py
  python/cuml/dask/preprocessing/encoders.py
  python/cuml/dask/preprocessing/label.py
  python/cuml/datasets/blobs.py
  python/cuml/datasets/classification.py
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/fil/fil.pyx
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/preprocessing/encoders.py
  python/cuml/random_projection/random_projection.pyx
  python/cuml/solvers/cd.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/svm/svr.pyx
Labels: 4 - Waiting on Reviewer, doc

#2314 [REVIEW] Updated FIL default values
  CHANGELOG.md
  python/cuml/ensemble/randomforest_common.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/fil/fil.pyx
  python/cuml/test/test_fil.py
Labels: ! - Release, 4 - Waiting on Reviewer

#2323 [REVIEW] Change verbose levels and parameter name to match Scikit-learn API
  CHANGELOG.md
  docs/source/api.rst
  python/cuml/cluster/dbscan.pyx
  python/cuml/cluster/kmeans.pyx
  python/cuml/common/base.pyx
  python/cuml/common/kernel_utils.py
  python/cuml/common/logger.pyx
  python/cuml/dask/cluster/kmeans.py
  python/cuml/dask/common/base.py
  python/cuml/dask/common/comms.py
  python/cuml/dask/common/dask_df_utils.py
  python/cuml/dask/common/func.py
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/common/spmg_ipc.py
  python/cuml/dask/datasets/blobs.py
  python/cuml/dask/decomposition/base.py
  python/cuml/dask/decomposition/pca.py
  python/cuml/dask/decomposition/tsvd.py
  python/cuml/dask/ensemble/base.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/dask/linear_model/linear_regression.py
  python/cuml/dask/linear_model/ridge.py
  python/cuml/dask/naive_bayes/naive_bayes.py
  python/cuml/dask/preprocessing/encoders.py
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/experimental/hyperparams/HPO_demo.ipynb
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.pyx
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/linear_model/ridge.pyx
  python/cuml/manifold/t_sne.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/nccl/nccl.pyx
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/neighbors/nearest_neighbors_mg.pyx
  python/cuml/random_projection/random_projection.pyx
  python/cuml/solvers/cd.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/svm/svc.pyx
  python/cuml/svm/svm_base.pyx
  python/cuml/svm/svr.pyx
  python/cuml/test/test_logger.py
  python/cuml/test/test_tsne.py
  python/cuml/tsa/arima.pyx
  python/cuml/tsa/batched_lbfgs.py
Labels: 5 - Ready to Merge

#1728 [WIP] Add notebook testing
  .conda/environments.txt
  .gitignore
  CHANGELOG.md
  ci/gpu/build.sh
  ci/gpu/test-notebooks.sh
  ci/utils/nbtest.sh
  ci/utils/nbtestlog2junitxml.py
Labels: 2 - In Progress, Build or Dep, Notebook, tests

#2262 [REVIEW] Using Shared PartDescriptor and MNMG decomp and OPG API change
  CHANGELOG.md
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
  python/cuml/common/opg_data_utils_mg.pxd
  python/cuml/common/opg_data_utils_mg.pyx
  python/cuml/dask/common/base.py
  python/cuml/dask/common/part_utils.py
  python/cuml/dask/decomposition/base.py
  python/cuml/decomposition/base_mg.pyx
  python/cuml/decomposition/pca_mg.pyx
  python/cuml/decomposition/tsvd_mg.pyx
  python/cuml/linear_model/base_mg.pyx
  python/cuml/linear_model/linear_regression_mg.pyx
  python/cuml/linear_model/ridge_mg.pyx
  python/cuml/solvers/cd_mg.pyx
Labels: 5 - Ready to Merge, Algorithm API Change, Cython / Python, Multi-GPU

#2320 [REVIEW] Add prediction notes for RF [skip-ci]
  CHANGELOG.md
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
Labels: 5 - Ready to Merge

#2335 [REVIEW] Update FIL to raise an error when treelite cannot be imported
  CHANGELOG.md
  python/cuml/common/__init__.py
  python/cuml/common/import_utils.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/fil/fil.pyx
  python/cuml/test/test_fil.py
Labels: 5 - Ready to Merge
