Repository rapidsai/cuml, pull requests merged in 2020-09, with the labels that each got.

#2783 [REVIEW] Reproducer that will fail when GPU IDs in Dask cluster are not unique
  CHANGELOG.md
  python/cuml/test/dask/test_comms.py
  python/cuml/test/dask/test_nearest_neighbors.py
Labels: 3 - Ready for Review, Cython / Python, tests

#2787 [REVIEW] skip lightgbm test for version 3 and above temporarily
  CHANGELOG.md
  python/cuml/test/test_fil.py
Labels: 5 - Ready to Merge, gpuCI, tests

#2788 Bugfix for 2767 - fix rf path trying to sample 0 columns
  CHANGELOG.md
  cpp/src/decisiontree/memory.cuh
Labels: 3 - Ready for Review, CUDA / C++

#2808 [REVIEW] Relax Doxygen version required in CMake to coincide with integration repo
  CHANGELOG.md
  cpp/cmake/doxygen.cmake
Labels: 3 - Ready for Review, Build or Dep, doc

#2810 [REVIEW] Rf MNMG threshold value
  CHANGELOG.md
  python/cuml/test/dask/test_random_forest.py
Labels: 5 - Ready to Merge, Cython / Python, tests

#2813 [REVIEW] Fix memory access in non-row_major blob creation
  CHANGELOG.md
  cpp/src_prims/random/make_blobs.cuh
Labels: 3 - Ready for Review

#2818 [REVIEW] Fix parsing of singlegpu option in build command
  CHANGELOG.md
  python/setup.py
Labels: 3 - Ready for Review, Build or Dep, Cython / Python

#2824 [REVIEW] Make data conversions warnings be debug level
  CHANGELOG.md
  python/cuml/common/input_utils.py
Labels: 5 - Ready to Merge

#2784 [REVIEW] SparseCumlArray container object for (CSR) sparse index/data arrays
  CHANGELOG.md
  python/cuml/comm/serialize.py
  python/cuml/common/__init__.py
  python/cuml/common/array_sparse.py
  python/cuml/common/import_utils.py
  python/cuml/test/dask/test_serialization.py
  python/cuml/test/test_array_sparse.py
Labels: 5 - Ready to Merge, Cython / Python

#2677 [FEA] Ability to export RF trees as JSON
  CHANGELOG.md
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/randomforest/randomforest.cu
  python/cuml/ensemble/randomforest_shared.pxd
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/test/test_random_forest.py
Labels: 5 - Ready to Merge, CUDA / C++, Cython / Python

#2781 [REVIEW] Use Python print for outputting formatted logs
  CHANGELOG.md
  cpp/include/cuml/common/callbackSink.hpp
  cpp/include/cuml/common/logger.hpp
  cpp/src/common/logger.cpp
  cpp/test/sg/logger.cpp
  python/cuml/common/logger.pyx
  python/cuml/test/test_logger.py
Labels: 5 - Ready to Merge

#2831 [REVIEW] fixing stream capture in lambda function
  CHANGELOG.md
  cpp/src/glm/qn/qn_solvers.cuh
Labels: 5 - Ready to Merge, CUDA / C++, bug

#2832 [REVIEW] Fixing stress tests OOM
  CHANGELOG.md
  python/cuml/test/test_linear_model.py
  python/cuml/test/test_pickle.py
Labels: 5 - Ready to Merge

#2152 [REVIEW] add C++ FIL benchmark code
  CHANGELOG.md
  cpp/bench/CMakeLists.txt
  cpp/bench/sg/fil.cu
Labels: 4 - Waiting on Reviewer, CUDA / C++, benchmarking

#2829 [REVIEW] Small fixes for mid-release bug squash
  CHANGELOG.md
  cpp/src/pca/pca.cuh
  cpp/src/tsvd/tsvd.cuh
  python/cuml/common/doc_utils.py
  python/cuml/preprocessing/model_selection.py
Labels: 5 - Ready to Merge, CUDA / C++, Cython / Python, bug

#2842 [REVIEW] KNN index preprocessors were using incorrect n_samples
  CHANGELOG.md
  cpp/src_prims/selection/knn.cuh
  python/cuml/test/test_nearest_neighbors.py
Labels: 5 - Ready to Merge, CUDA / C++, Cython / Python, bug

#2848 [REVIEW] Fix typo in Python doc string for UMAP fit_transform
  CHANGELOG.md
  python/cuml/manifold/umap.pyx
Labels: 3 - Ready for Review, bug, doc

#2855 [REVIEW] Updates for RMM being header only
  CHANGELOG.md
  build.sh
  cpp/CMakeLists.txt
  cpp/README.md
  cpp/cmake/Dependencies.cmake
  python/setup.py
Labels: 3 - Ready for Review

#2850 [REVIEW] Clean up paramsPCA
  CHANGELOG.md
  cpp/include/cuml/decomposition/params.hpp
  cpp/test/sg/tsvd_test.cu
  python/cuml/decomposition/utils.pxd
Labels: 5 - Ready to Merge

#2827 This fix forces to use whole dataset when sample bootstrapping is disabled
  CHANGELOG.md
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/src/randomforest/randomforest_impl.cuh
Labels: 4 - Waiting on Author

#2847 [REVIEW] Resolves deadlock behaviour in Barnes Hut's summarization kernel.
  CHANGELOG.md
  cpp/src/tsne/barnes_hut.cuh
Labels: 5 - Ready to Merge, CUDA / C++, bug

#2789 [REVIEW] Dask LabelEncoder
  CHANGELOG.md
  python/cuml/dask/common/base.py
  python/cuml/dask/preprocessing/LabelEncoder.py
  python/cuml/dask/preprocessing/__init__.py
  python/cuml/preprocessing/LabelEncoder.py
  python/cuml/test/conftest.py
  python/cuml/test/dask/test_label_encoder.py
Labels: 5 - Ready to Merge, Cython / Python, Dask / cuml.dask

#2560 Update RF MNMG example to use float32
  CHANGELOG.md
  notebooks/random_forest_mnmg_demo.ipynb
Labels: ! - Release, 5 - Ready to Merge

#2792 [REVIEW] Project Flash script changes
  CHANGELOG.md
  build.sh
  ci/cpu/cuml/build_cuml.sh
  ci/cpu/cuml/upload-anaconda.sh
  ci/cpu/libcuml/build_libcuml.sh
  ci/cpu/libcuml/upload-anaconda.sh
  ci/cpu/prebuild.sh
  ci/gpu/build.sh
  conda/recipes/libcuml/build.sh
  conda/recipes/libcuml/meta.yaml
Labels: 2 - In Progress

#2849 [REVIEW] make num_classes significant in FLOAT_SCALAR case
  CHANGELOG.md
  cpp/src/fil/fil.cu
  cpp/test/sg/fil_test.cu
Labels: 3 - Ready for Review

#2863 [REVIEW] rename leaf_value_t names to reflect new convention for multiclass
  CHANGELOG.md
  cpp/include/cuml/fil/fil.h
  cpp/src/fil/common.cuh
  cpp/src/fil/fil.cu
  cpp/src/fil/infer.cu
  cpp/test/sg/fil_test.cu
Labels: 3 - Ready for Review

#2856 [REVIEW] Fix LabelEncoder for filtered input
  CHANGELOG.md
  python/cuml/preprocessing/LabelEncoder.py
  python/cuml/test/test_label_encoder.py
Labels: 5 - Ready to Merge

#2805 [REVIEW] Retain index in stratified splitting for dataframes
  CHANGELOG.md
  python/cuml/preprocessing/model_selection.py
  python/cuml/test/test_train_test_split.py
Labels: 5 - Ready to Merge, Cython / Python

#2541 [REVIEW] Improve Documentation Examples and Source Linking
  CHANGELOG.md
  docs/source/_static/copybutton.css
  docs/source/_static/example_mod.js
  docs/source/api.rst
  docs/source/conf.py
  docs/source/sphinxext/github_link.py
  python/cuml/metrics/_ranking.py
  python/cuml/preprocessing/TargetEncoder.py
  python/cuml/tsa/auto_arima.pyx
Labels: 3 - Ready for Review, Build or Dep, doc
