Repository rapidsai/cuml, pull requests merged in 2020-12, with the labels that each got.

#3194 [REVIEW] Fix cuDF to cuPy conversion (missing value)
  CHANGELOG.md
  python/cuml/common/input_utils.py
  python/cuml/test/test_input_utils.py
  python/cuml/thirdparty_adapters/adapters.py
Labels: 5 - Ready to Merge

#3190 [REVIEW] Fix Attribute error on ICPA #3183 and PCA input type
  CHANGELOG.md
  python/cuml/decomposition/pca.pyx
  python/cuml/experimental/decomposition/incremental_pca.py
  python/cuml/test/test_incremental_pca.py
  python/cuml/test/test_pca.py
Labels: 3 - Ready for Review, 6 - Okay to Auto-Merge, Cython / Python, bug, non-breaking

#3214 [REVIEW] Set absolute tolerance to improve silhouette_score test consistency
  CHANGELOG.md
  python/cuml/test/test_metrics.py
Labels: 6 - Okay to Auto-Merge, bug, non-breaking

#3186 Add gain to RF JSON dump
  CHANGELOG.md
  cpp/src/decisiontree/decisiontree_impl.cuh
Labels: 6 - Okay to Auto-Merge, CUDA / C++, improvement, non-breaking

#3185 [REVIEW]Add documentation for Distributed TFIDF Transformer
  CHANGELOG.md
  docs/source/api.rst
  python/cuml/dask/feature_extraction/text/tfidf_transformer.py
Labels: 6 - Okay to Auto-Merge, doc, non-breaking

#3177 [REVIEW] Make Multinomial Naive Bayes inherit from ClassifierMixin
  CHANGELOG.md
  python/cuml/naive_bayes/naive_bayes.py
Labels: 5 - Ready to Merge, 6 - Okay to Auto-Merge, Cython / Python, improvement, non-breaking

#3215 [REVIEW] Added a missing __syncthreads()
  CHANGELOG.md
  cpp/src/fil/infer.cu
  cpp/test/sg/fil_test.cu
Labels: 6 - Okay to Auto-Merge, bug, non-breaking

#3160 [REVIEW] Least Angle Regression
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/cmake/Dependencies.cmake
  cpp/include/cuml/solvers/lars.hpp
  cpp/src/solver/lars.cu
  cpp/src/solver/lars_impl.cuh
  cpp/test/CMakeLists.txt
  cpp/test/sg/lars_test.cu
  python/cuml/experimental/linear_model/__init__.py
  python/cuml/experimental/linear_model/lars.pyx
  python/cuml/test/test_lars.py
Labels: 4 - Waiting on Reviewer, CUDA / C++, Cython / Python, New Algorithm, feature request, non-breaking

#3218 [REVIEW] Specify branches to avoid pip resolver issue
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  conda/environments/cuml_dev_cuda11.0.yml
Labels: 6 - Okay to Auto-Merge, bug, non-breaking

#3223 [REVIEW] Increase default SVM kernel cache to 1 GiB
  CHANGELOG.md
  python/cuml/svm/svc.pyx
  python/cuml/svm/svm_base.pyx
  python/cuml/svm/svr.pyx
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking

#3126 [REVIEW] Experimental versions of GPU accelerated Kernel and Permutation SHAP
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cuml/explainer/kernel_shap.hpp
  cpp/include/cuml/explainer/permutation_shap.hpp
  cpp/src/explainer/kernel_shap.cu
  cpp/src/explainer/permutation_shap.cu
  cpp/test/CMakeLists.txt
  cpp/test/sg/shap_kernel.cu
  python/cuml/__init__.py
  python/cuml/common/import_utils.py
  python/cuml/experimental/explainer/__init__.py
  python/cuml/experimental/explainer/base.py
  python/cuml/experimental/explainer/common.py
  python/cuml/experimental/explainer/kernel_shap.pyx
  python/cuml/experimental/explainer/permutation_shap.pyx
  python/cuml/test/experimental/test_explainer_base.py
  python/cuml/test/experimental/test_explainer_common.py
  python/cuml/test/experimental/test_explainer_kernel_shap.py
  python/cuml/test/experimental/test_explainer_permutation_shap.py
  python/cuml/test/utils.py
Labels: 5 - Ready to Merge, CUDA / C++, Cython / Python, New Algorithm, feature request, non-breaking

#3221 [REVIEW] Update contributing doc for new label approach [skip-ci]
  CHANGELOG.md
  CONTRIBUTING.md
Labels: doc, non-breaking

#3216 Ignore splits that do not satisfy constraints
  CHANGELOG.md
  cpp/src/decisiontree/batched-levelalgo/builder_base.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels.cuh
  cpp/src/decisiontree/batched-levelalgo/metrics.cuh
  cpp/test/sg/decisiontree_batchedlevel_unittest.cu
Labels: 5 - Ready to Merge, CUDA / C++, bug, non-breaking

#3219 [REVIEW] Update to XGBoost 1.3.0rc1 [skip-ci]
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 3 - Ready for Review, improvement, non-breaking

#3191 [REVIEW] Fix __repr__ function for preprocessing models
  CHANGELOG.md
  python/cuml/_thirdparty/sklearn/utils/_pprint.py
  python/cuml/_thirdparty/sklearn/utils/skl_dependencies.py
  python/cuml/test/test_preprocessing.py
Labels: 5 - Ready to Merge, bug, non-breaking

#3187 Update docstring to document behavior of bootstrap=False [skip-ci]
  CHANGELOG.md
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Labels: 6 - Okay to Auto-Merge, Cython / Python, doc, non-breaking

#3240 [REVIEW] Minor doc updates for 0.17
  CHANGELOG.md
  README.md
  docs/Makefile
  docs/source/api.rst
  python/cuml/dask/neighbors/kneighbors_classifier.py
  python/cuml/dask/neighbors/kneighbors_regressor.py
  python/cuml/experimental/explainer/kernel_shap.pyx
  python/cuml/experimental/explainer/permutation_shap.pyx
  python/cuml/fil/fil.pyx
Labels: 6 - Okay to Auto-Merge, doc, non-breaking

#3239 [REVIEW] Fix intermittent dask random forest failure
  CHANGELOG.md
  python/cuml/test/dask/test_random_forest.py
Labels: 3 - Ready for Review, 6 - Okay to Auto-Merge, bug, non-breaking

#3241 [REVIEW] updating raft to latest
  CHANGELOG.md
  cpp/cmake/Dependencies.cmake
  python/cuml/test/experimental/test_explainer_permutation_shap.py
Labels: 3 - Ready for Review, 6 - Okay to Auto-Merge, RAFT, improvement, non-breaking

#3245 [REVIEW] Rename rows_sample -> max_samples in RF to be consistent with sklearn's RF
  CHANGELOG.md
  cpp/bench/sg/fil.cu
  cpp/bench/sg/rf_classifier.cu
  cpp/bench/sg/rf_regressor.cu
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest_impl.cuh
  cpp/test/sg/rf_accuracy_test.cu
  cpp/test/sg/rf_batched_classification_test.cu
  cpp/test/sg/rf_batched_regression_test.cu
  cpp/test/sg/rf_depth_test.cu
  cpp/test/sg/rf_test.cu
  cpp/test/sg/rf_treelite_test.cu
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/ensemble/randomforest_shared.pxd
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/test/test_random_forest.py
Labels: 6 - Okay to Auto-Merge, CUDA / C++, Cython / Python, breaking, bug

#3243 [REVIEW] Avoid unnecessary split for degenerate case where all labels are identical
  CHANGELOG.md
  cpp/src/decisiontree/batched-levelalgo/builder_base.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels.cuh
  cpp/src/decisiontree/batched-levelalgo/metrics.cuh
  cpp/test/sg/decisiontree_batchedlevel_unittest.cu
  python/cuml/test/test_random_forest.py
Labels: 6 - Okay to Auto-Merge, CUDA / C++, bug, non-breaking

#3250 [REVIEW] Fixing label binarizer bug with multiple partitions
  CHANGELOG.md
  python/cuml/dask/preprocessing/label.py
  python/cuml/test/dask/test_label_binarizer.py
Labels: 6 - Okay to Auto-Merge, Dask / cuml.dask, bug, non-breaking

#3258 [REVIEW] Hide silhouette_score Python binding due to memory issue
  CHANGELOG.md
  docs/source/api.rst
  python/cuml/metrics/cluster/__init__.py
  python/cuml/metrics/cluster/silhouette_score.pyx
  python/cuml/test/test_metrics.py
Labels: 6 - Okay to Auto-Merge, breaking, bug

#3246 [REVIEW] Fix MNMG KNN doc (adding batch_size)
  CHANGELOG.md
  python/cuml/dask/neighbors/kneighbors_classifier.py
  python/cuml/dask/neighbors/kneighbors_regressor.py
  python/cuml/dask/neighbors/nearest_neighbors.py
  python/cuml/neighbors/kneighbors_classifier_mg.pyx
  python/cuml/neighbors/kneighbors_regressor_mg.pyx
  python/cuml/neighbors/nearest_neighbors_mg.pyx
Labels: 6 - Okay to Auto-Merge, breaking, bug

#3282 Add secondary test to kernel explainer pytests for stability in Volta
  CHANGELOG.md
  python/cuml/experimental/explainer/common.py
  python/cuml/test/experimental/test_explainer_kernel_shap.py
Labels: 3 - Ready for Review, 6 - Okay to Auto-Merge, bug, non-breaking, tests

#3279 [REVIEW] Correct pure virtual declaration in manifold_inputs_t
  CHANGELOG.md
  cpp/include/cuml/manifold/common.hpp
Labels: 4 - Waiting on Reviewer, bug, non-breaking

#3289 [REVIEW] Remove unused keyword in PorterStemmer code
  python/cuml/preprocessing/text/stem/porter_stemmer.py
Labels: 6 - Okay to Auto-Merge, bug, non-breaking

#3294 [REVIEW] Fix SVR unit test parameter
  cpp/test/sg/svc_test.cu
Labels: 6 - Okay to Auto-Merge, bug, non-breaking

#2592 Add KNN parameter to t-SNE
  cpp/include/cuml/manifold/tsne.h
  cpp/src/tsne/distances.cuh
  cpp/src/tsne/tsne.cu
  cpp/test/sg/tsne_test.cu
  python/cuml/common/sparsefuncs.py
  python/cuml/manifold/t_sne.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/test/test_tsne.py
Labels: 6 - Okay to Auto-Merge, Algorithm API Change, CUDA / C++, feature request, non-breaking

#3256 Linear models predict function consolidation
  cpp/include/cuml/linear_model/glm.hpp
  cpp/src/glm/glm.cu
  cpp/src/glm/ols.cuh
  cpp/src/glm/ridge.cuh
  cpp/test/sg/ols.cu
  cpp/test/sg/ridge.cu
  python/cuml/linear_model/base.pyx
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.pyx
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/linear_model/ridge.pyx
Labels: 5 - Ready to Merge, CUDA / C++, Cython / Python, Tech Debt, improvement, non-breaking

#3292 [REVIEW] Refactoring: move internal FIL interface to a separate file
  cpp/include/cuml/fil/fil.h
  cpp/src/fil/common.cuh
  cpp/src/fil/internal.cuh
  cpp/test/sg/fil_test.cu
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking

#2780 Approximate Nearest Neighbors
  cpp/include/cuml/neighbors/knn.hpp
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.cuh
  python/cuml/neighbors/__init__.py
  python/cuml/neighbors/ann.pxd
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/test/test_nearest_neighbors.py
Labels: 6 - Okay to Auto-Merge, CUDA / C++, New Algorithm, New Prim, breaking, feature request

#3291 [REVIEW] Add xfail on fetching 20newsgroup dataset (test_naive_bayes)
  python/cuml/test/conftest.py
Labels: 6 - Okay to Auto-Merge, bug, non-breaking

#3296 Adding highlighting to bibtex in readme
  README.md
Labels: 6 - Okay to Auto-Merge, doc, non-breaking

#3272 [REVIEW] 018 add unfitted error pca & tests on IPCA
  python/cuml/decomposition/pca.pyx
  python/cuml/experimental/decomposition/incremental_pca.py
  python/cuml/test/test_incremental_pca.py
  python/cuml/test/test_pca.py
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking

#3314 [REVIEW] Removed FIL node types with `_t` suffix
  cpp/src/fil/common.cuh
  cpp/src/fil/fil.cu
  cpp/src/fil/internal.cuh
  cpp/test/sg/fil_test.cu
Labels: improvement, non-breaking

#3315 [REVIEW] Provide workaround for cupy.percentile bug
  python/cuml/_thirdparty/sklearn/preprocessing/_discretization.py
  python/cuml/test/test_preprocessing.py
Labels: 6 - Okay to Auto-Merge, bug, non-breaking

#3275 [REVIEW] Return confusion matrix as int unless float weights are used
  CHANGELOG.md
  python/cuml/metrics/confusion_matrix.py
Labels: 6 - Okay to Auto-Merge, breaking, improvement

#3281 Remove static specifier in DecisionTree unit test for C++14 compliance
  cpp/test/sg/decisiontree_batchedlevel_unittest.cu
Labels: 6 - Okay to Auto-Merge, bug, non-breaking
