Repository rapidsai/cuml, pull requests merged in 2020-07, with the labels that each got.

#2486 [REVIEW] Fix cupy input for kmeans
  CHANGELOG.md
  python/cuml/cluster/kmeans.pyx
Labels: 5 - Ready to Merge

#2431 [REVIEW] Match output of classifier predict with target dtype
  CHANGELOG.md
  python/cuml/common/array.py
  python/cuml/common/base.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/fil/fil.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/svm/svc.pyx
  python/cuml/svm/svm_base.pyx
  python/cuml/test/test_array.py
Labels: 4 - Waiting on Reviewer, Cython / Python

#2494 [REVIEW] Set QN regularization strength consistent with scikit-learn
  CHANGELOG.md
  cpp/src/glm/qn/qn.cuh
  cpp/test/sg/quasi_newton.cu
  python/cuml/test/test_linear_model.py
  python/cuml/test/test_qn.py
Labels: 5 - Ready to Merge

#2427 [REVIEW] Moving MNMG decomp to cuml
  CHANGELOG.md
  build.sh
  cpp/CMakeLists.txt
  cpp/README.md
  cpp/include/cuml/decomposition/pca_mg.hpp
  cpp/include/cuml/decomposition/sign_flip_mg.hpp
  cpp/include/cuml/decomposition/tsvd_mg.hpp
  cpp/src/pca/pca_mg.cu
  cpp/src/pca/sign_flip_mg.cu
  cpp/src/tsvd/tsvd_mg.cu
  cpp/test/CMakeLists.txt
  cpp/test/mg/main.cu
  cpp/test/mg/pca.cu
  cpp/test/mg/test_opg_utils.h
  python/cuml/decomposition/pca_mg.pyx
Labels: 4 - Waiting on Reviewer, CUDA / C++, Multi-GPU

#2496 [REVIEW] Fixing indentation for simulate_data in test_fil.py
  CHANGELOG.md
  python/cuml/test/test_fil.py
Labels: 5 - Ready to Merge

#2439 [REVIEW] Update dask RF code to have print_detailed function
  CHANGELOG.md
  python/cuml/dask/ensemble/base.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
Labels: 5 - Ready to Merge, Cython / Python, Dask / cuml.dask

#2483 [REVIEW] Moving MNMG KNN to cuml
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cuml/neighbors/knn_mg.hpp
  cpp/src/knn/knn_mg.cu
  cpp/src_prims/selection/knn.cuh
  cpp/test/CMakeLists.txt
  cpp/test/mg/knn.cu
  python/cuml/neighbors/nearest_neighbors_mg.pyx
  python/cuml/test/dask/test_nearest_neighbors.py
Labels: 5 - Ready to Merge, CUDA / C++, Multi-GPU, Tech Debt

#2099 [REVIEW] Update rf code to handle float64 better
  CHANGELOG.md
  python/cuml/dask/ensemble/base.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/test/dask/test_random_forest.py
  python/cuml/test/test_pickle.py
Labels: 5 - Ready to Merge, Cython / Python, bug

#2267 [REVIEW] CountVectorizer estimator
  CHANGELOG.md
  docs/source/api.rst
  python/cuml/common/type_utils.py
  python/cuml/feature_extraction/text.py
  python/cuml/test/test_text_feature_extraction.py
Labels: 4 - Waiting on Reviewer, New Algorithm

#2490 [REVIEW] Moving MNMG Kmeans to cuml
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cuml/cluster/kmeans_mg.hpp
  cpp/src/kmeans/common.cuh
  cpp/src/kmeans/kmeans.cu
  cpp/src/kmeans/kmeans_mg.cu
  cpp/src/kmeans/kmeans_mg_impl.cuh
  cpp/src/kmeans/sg_impl.cuh
  cpp/src/ml_cuda_utils.h
  python/cuml/cluster/kmeans.pyx
  python/cuml/cluster/kmeans_mg.pyx
  python/cuml/cluster/kmeans_utils.pxd
  python/cuml/test/dask/test_nearest_neighbors.py
Labels: 5 - Ready to Merge, CUDA / C++, Multi-GPU, Tech Debt

#2473 [REVIEW] metrics.roc_auc_score should be added to API
  CHANGELOG.md
  conda/environments/cuml_dev_cuda10.0.yml
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  docs/README.md
  docs/requirement.txt
  docs/source/api.rst
  docs/source/conf.py
  python/cuml/metrics/_ranking.py
  python/cuml/preprocessing/model_selection.py
  python/setup.py
Labels: 4 - Waiting on Reviewer, doc

#2526 [REVIEW] removing pca tsqr as a solver
  CHANGELOG.md
  python/cuml/dask/decomposition/pca.py
  python/cuml/decomposition/pca_mg.pyx
  python/cuml/test/dask/test_pca.py
Labels: 3 - Ready for Review, Cython / Python, Dask / cuml.dask, Multi-GPU

#2240 [REVIEW] Enabling distributed model save/load with `model.get_combined_model()`
  CHANGELOG.md
  conda/environments/cuml_dev_cuda10.0.yml
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  python/cuml/dask/cluster/kmeans.py
  python/cuml/dask/common/base.py
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/decomposition/base.py
  python/cuml/dask/decomposition/pca.py
  python/cuml/dask/ensemble/base.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/dask/linear_model/elastic_net.py
  python/cuml/dask/linear_model/lasso.py
  python/cuml/dask/linear_model/linear_regression.py
  python/cuml/dask/linear_model/ridge.py
  python/cuml/dask/manifold/umap.py
  python/cuml/dask/naive_bayes/naive_bayes.py
  python/cuml/dask/neighbors/nearest_neighbors.py
  python/cuml/dask/preprocessing/encoders.py
  python/cuml/dask/preprocessing/label.py
  python/cuml/dask/solvers/cd.py
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/preprocessing/encoders.py
  python/cuml/preprocessing/label.py
  python/cuml/test/dask/test_base.py
  python/cuml/test/dask/test_random_forest.py
Labels: 5 - Ready to Merge, Dask / cuml.dask, Multi-GPU

#2521 [REVIEW] Fixing invalid smem calculation in KNeighborsClassifier
  CHANGELOG.md
  cpp/include/cuml/neighbors/knn.hpp
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.cuh
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/test/test_kneighbors_classifier.py
Labels: 3 - Ready for Review, CUDA / C++, bug

#2542 [REVIEW] Fix memory leak and unnecessary allocs in TSNE::get_distances
  CHANGELOG.md
  cpp/src/tsne/distances.cuh
Labels: 3 - Ready for Review, CUDA / C++, bug

#2540 [REVIEW] Update umap n_epochs default value
  CHANGELOG.md
  python/cuml/manifold/umap.pyx
Labels: 5 - Ready to Merge, Cython / Python

#2553 Test pickle protocol 5 support
  CHANGELOG.md
  python/cuml/test/test_array.py
Labels: 5 - Ready to Merge

#2237 [REVIEW] Reduce duplicated cython code in RF
  CHANGELOG.md
  python/cuml/benchmark/algorithms.py
  python/cuml/dask/ensemble/base.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/ensemble/__init__.py
  python/cuml/ensemble/randomforest_common.py
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/fil/fil.pyx
  python/cuml/test/test_fil.py
Labels: 4 - Waiting on Reviewer, Cython / Python, Tech Debt

#2499 [REVIEW] Provide access to cuml.DBSCAN core samples
  CHANGELOG.md
  cpp/bench/sg/dbscan.cu
  cpp/examples/dbscan/dbscan_example.cpp
  cpp/include/cuml/cluster/dbscan.hpp
  cpp/src/dbscan/dbscan.cu
  cpp/src/dbscan/dbscan.cuh
  cpp/src/dbscan/dbscan_api.cpp
  cpp/src/dbscan/dbscan_api.h
  cpp/src/dbscan/runner.cuh
  cpp/test/sg/dbscan_test.cu
  python/cuml/cluster/dbscan.pyx
  python/cuml/test/test_dbscan.py
Labels: 3 - Ready for Review

#2362 [REVIEW] Binary and Multi classification log loss / cross entropy
  CHANGELOG.md
  python/cuml/metrics/__init__.py
  python/cuml/metrics/_classification.py
  python/cuml/test/test_metrics.py
Labels: 4 - Waiting on Reviewer, Cython / Python, New Algorithm

#2558 [REVIEW] Disabled a Long-Running FIL Test
  CHANGELOG.md
  cpp/test/sg/fil_test.cu
Labels: 5 - Ready to Merge

#2532 [REVIEW] Updating doxygen for new mg headers.
  CHANGELOG.md
  cpp/include/cuml/cluster/kmeans_mg.hpp
  cpp/include/cuml/decomposition/pca_mg.hpp
  cpp/include/cuml/decomposition/sign_flip_mg.hpp
  cpp/include/cuml/decomposition/tsvd_mg.hpp
  cpp/include/cuml/neighbors/knn_mg.hpp
Labels: 4 - Waiting on Author, bug, doc

#2480 [REVIEW] Moving MNMG GLM and solvers to cuml
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cuml/cluster/kmeans_mg.hpp
  cpp/include/cuml/linear_model/ols_mg.hpp
  cpp/include/cuml/linear_model/preprocess_mg.hpp
  cpp/include/cuml/linear_model/ridge_mg.hpp
  cpp/include/cuml/neighbors/knn.hpp
  cpp/include/cuml/solvers/cd_mg.hpp
  cpp/src/glm/ols_mg.cu
  cpp/src/glm/preprocess_mg.cu
  cpp/src/glm/ridge_mg.cu
  cpp/src/solver/cd_mg.cu
  cpp/src/solver/shuffle.h
  python/cuml/internals/callbacks_implems.h
  python/cuml/linear_model/linear_regression_mg.pyx
  python/cuml/linear_model/ridge_mg.pyx
  python/cuml/solvers/cd_mg.pyx
Labels: 3 - Ready for Review, CUDA / C++, Multi-GPU, New Algorithm, Tech Debt

#2544 [REVIEW] Actually use post_learning_rate in BH tSNE
  CHANGELOG.md
  cpp/src/tsne/barnes_hut.cuh
Labels: 3 - Ready for Review, Cython / Python

#2563 [REVIEW] Update scipy call for arima gradient test
  CHANGELOG.md
  python/cuml/test/test_arima.py
Labels: 3 - Ready for Review, tests

#2566 [REVIEW] Remove deprecated cuDF from_gpu_matrix calls
  CHANGELOG.md
  notebooks/kmeans_demo.ipynb
  notebooks/linear_regression_demo.ipynb
  notebooks/nearest_neighbors_demo.ipynb
  python/cuml/common/array.py
  python/cuml/dask/common/dask_arr_utils.py
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/preprocessing/encoders.py
  python/cuml/preprocessing/onehotencoder_mg.py
  python/cuml/test/dask/test_dask_arr_utils.py
  python/cuml/test/test_array.py
  python/cuml/test/test_input_utils.py
  python/cuml/test/test_kneighbors_classifier.py
  python/cuml/test/test_kneighbors_regressor.py
  python/cuml/test/test_metrics.py
  python/cuml/test/test_module_config.py
  python/cuml/test/test_nearest_neighbors.py
  python/cuml/test/test_random_forest.py
  python/cuml/test/test_sgd.py
  python/cuml/test/test_svm.py
  python/cuml/test/test_trustworthiness.py
  python/cuml/tsa/holtwinters.pyx
Labels: 4 - Waiting on Reviewer, Cython / Python, Tech Debt

#2500 [REVIEW] Replace UMAP functionality dependency on nvgraph with RAFT Spectral Clustering
  CHANGELOG.md
  cpp/cmake/Dependencies.cmake
  cpp/src_prims/sparse/spectral.cuh
Labels: 4 - Waiting on Reviewer, CUDA / C++, Tech Debt

#2554 [REVIEW]Hashing Vectorizer and general vectorizer improvements
  CHANGELOG.md
  docs/source/api.rst
  python/cuml/common/sparsefuncs.py
  python/cuml/feature_extraction/_tfidf.py
  python/cuml/feature_extraction/_vectorizers.py
  python/cuml/feature_extraction/text.py
  python/cuml/test/test_text_feature_extraction.py
Labels: 4 - Waiting on Author, Cython / Python, New Algorithm

#2461 [REVIEW] Add KNN Sparse Output Functionality
  CHANGELOG.md
  python/cuml/dask/neighbors/nearest_neighbors.py
  python/cuml/neighbors/__init__.py
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/test/test_nearest_neighbors.py
Labels: 5 - Ready to Merge, Cython / Python

#2575 [REVIEW]Speed up TfidfTransformer
  CHANGELOG.md
  python/cuml/common/sparsefuncs.py
  python/cuml/feature_extraction/_tfidf.py
Labels: 5 - Ready to Merge

#2570 [REVIEW] Accepting single df or array input in train_test_split
  CHANGELOG.md
  python/cuml/preprocessing/model_selection.py
  python/cuml/test/test_train_test_split.py
Labels: 5 - Ready to Merge, Cython / Python

#2573 [REVIEW] Considering managed memory in the device type checking
  CHANGELOG.md
  cpp/src/kmeans/kmeans_mg_impl.cuh
  cpp/src/kmeans/sg_impl.cuh
  cpp/src/ml_cuda_utils.h
Labels: 5 - Ready to Merge

#2577 [REVIEW] Fully removing NVGraph dependency for CUDA 11 compatibility
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cuml/cluster/spectral.hpp
  cpp/src/spectral/spectral.cu
  cpp/src_prims/sparse/spectral.cuh
  cpp/test/CMakeLists.txt
  cpp/test/sg/spectral_test.cu
Labels: 5 - Ready to Merge, Build or Dep, CUDA / C++

#2543 [REVIEW] Improve QN solver
  CHANGELOG.md
  cpp/src/glm/qn/glm_logistic.cuh
  cpp/src/glm/qn/qn_linesearch.cuh
  cpp/src/glm/qn/qn_solvers.cuh
  cpp/src/glm/qn/qn_util.cuh
  python/cuml/test/test_linear_model.py
Labels: 4 - Waiting on Reviewer

#2548 [REVIEW] Use device_buffer in tSNE, fix limitation on number of rows
  CHANGELOG.md
  cpp/src/tsne/barnes_hut.cuh
  cpp/src/tsne/distances.cuh
  cpp/src/tsne/exact_tsne.cuh
  cpp/src/tsne/tsne.cu
  cpp/src_prims/sparse/coo.cuh
  cpp/test/prims/knn.cu
  python/cuml/test/test_tsne.py
Labels: 4 - Waiting on Reviewer, CUDA / C++, Tech Debt

#2589 [REVIEW] updated raft commit id to include cuda-11 build fixes
  CHANGELOG.md
  cpp/cmake/Dependencies.cmake
Labels: 5 - Ready to Merge

#2591 Generate Datasets for Benchmarks Using cuml.datasets
  CHANGELOG.md
  python/cuml/benchmark/datagen.py
Labels: 5 - Ready to Merge

#2584 [REVIEW] Removing dependency on sklearn's NotFittedError
  CHANGELOG.md
  python/cuml/feature_extraction/_tfidf.py
  python/cuml/preprocessing/LabelEncoder.py
  python/cuml/preprocessing/encoders.py
  python/cuml/test/test_label_encoder.py
Labels: 5 - Ready to Merge

#2519 [Review] Precision recall curve using cupy
  CHANGELOG.md
  python/cuml/metrics/__init__.py
  python/cuml/metrics/_ranking.py
  python/cuml/test/test_metrics.py
Labels: 4 - Waiting on Reviewer

#2487 [REVIEW] Set classes_ attribute during classifier fit
  CHANGELOG.md
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/svm/svc.pyx
  python/cuml/test/test_fit_function.py
Labels: 5 - Ready to Merge

#2545 [REVIEW] Fix n_iter_without_progress docs in tSNE Py bindings
  CHANGELOG.md
  python/cuml/manifold/t_sne.pyx
Labels: 5 - Ready to Merge, doc

#2211 [REVIEW] MNMG KNN Classifier & Regressor
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cuml/neighbors/knn_mg.hpp
  cpp/src/knn/knn_classify_mg.cu
  cpp/src/knn/knn_opg_common.cu
  cpp/src/knn/knn_opg_common.cuh
  cpp/src/knn/knn_regress_mg.cu
  cpp/src_prims/selection/knn.cuh
  cpp/test/CMakeLists.txt
  cpp/test/mg/knn_classify.cu
  cpp/test/mg/knn_regress.cu
  cpp/test/mg/knn_test_helper.cuh
  python/cuml/common/opg_data_utils_mg.pxd
  python/cuml/common/opg_data_utils_mg.pyx
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/neighbors/__init__.py
  python/cuml/dask/neighbors/kneighbors_classifier.py
  python/cuml/dask/neighbors/kneighbors_regressor.py
  python/cuml/neighbors/__init__.py
  python/cuml/neighbors/kneighbors_classifier_mg.pyx
  python/cuml/neighbors/kneighbors_mg.pyx
  python/cuml/neighbors/kneighbors_regressor_mg.pyx
  python/cuml/neighbors/nearest_neighbors_mg.pyx
  python/cuml/test/dask/test_kneighbors_classifier.py
  python/cuml/test/dask/test_kneighbors_regressor.py
  python/cuml/test/test_pickle.py
Labels: 5 - Ready to Merge, CUDA / C++, Cython / Python, New Algorithm

#2583 [REVIEW] findpackage.cmake.in template for cmake dependencies
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/cmake/Dependencies.cmake
  cpp/cmake/FindNCCL.cmake
  cpp/cmake/FindUCX.cmake
  cpp/cmake/Findcumlprims_mg.cmake
  cpp/cmake/templates/CMakeLists.txt
  cpp/cmake/templates/Findpkg.cmake.in
Labels: 5 - Ready to Merge, Build or Dep

#2610 [REVIEW] Remove cuDF tolist call
  CHANGELOG.md
  python/cuml/test/test_text_feature_extraction.py
Labels: 3 - Ready for Review, Cython / Python, gpuCI

#2609 [REVIEW] Fix small doxygen issues
  CHANGELOG.md
  cpp/include/cuml/cluster/dbscan.hpp
  cpp/include/cuml/neighbors/knn_mg.hpp
Labels: 5 - Ready to Merge, doc

#2607 Add support for probability estimates in SVC
  CHANGELOG.md
  python/cuml/common/input_utils.py
  python/cuml/svm/svc.pyx
  python/cuml/svm/svm_base.pyx
  python/cuml/test/test_pickle.py
  python/cuml/test/test_svm.py
Labels: 5 - Ready to Merge, Cython / Python

#2593 [BUG] train_test_split returns inconsistent indexers for X and y elemennts.
  CHANGELOG.md
  ci/local/README.md
  python/cuml/preprocessing/model_selection.py
  python/cuml/test/test_train_test_split.py
Labels: 5 - Ready to Merge, Cython / Python, bug

#2565 [BUG] tSNE Lock up
  CHANGELOG.md
  cpp/src/tsne/barnes_hut.cuh
  cpp/src/tsne/bh_kernels.cuh
  cpp/src/tsne/exact_kernels.cuh
Labels: 4 - Waiting on Reviewer, CUDA / C++, bug

#2616 [REVIEW] Small test code fix for pandas dtype tests
  CHANGELOG.md
  python/cuml/test/dask/test_kmeans.py
  python/cuml/test/test_input_utils.py
Labels: 3 - Ready for Review, gpuCI

#2522 [REVIEW] Renaming a few arguments in KNeighborsClassifier to be more readable
  CHANGELOG.md
  cpp/include/cuml/neighbors/knn.hpp
  cpp/include/cuml/neighbors/knn_api.h
  cpp/include/cuml/neighbors/knn_mg.hpp
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.cuh
Labels: 4 - Waiting on Reviewer, CUDA / C++, Tech Debt

#2613 [REVIEW] Removing thresholds from kmeans score tests
  CHANGELOG.md
  python/cuml/test/dask/test_kmeans.py
  python/cuml/test/test_kmeans.py
Labels: 5 - Ready to Merge

#2619 [REVIEW] explicitly skip raft test folder for pytest 6.0.0
  CHANGELOG.md
  ci/gpu/build.sh
  python/setup.cfg
Labels: 3 - Ready for Review, gpuCI

#2611 [REVIEW] Adding building doxygen docs to gpu ci
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 5 - Ready to Merge, gpuCI

#2489 [REVIEW] Adding FAISS conda package as a dependency
  CHANGELOG.md
  build.sh
  conda/environments/cuml_dev_cuda10.0.yml
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  conda/recipes/libcuml/meta.yaml
  cpp/CMakeLists.txt
  cpp/README.md
  cpp/cmake/Dependencies.cmake
  cpp/test/CMakeLists.txt
Labels: 3 - Ready for Review, Build or Dep

#2551 [REVIEW] RF multi class classification using FIL
  CHANGELOG.md
  cpp/src/fil/fil.cu
  cpp/test/sg/fil_test.cu
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/fil/fil.pyx
  python/cuml/test/test_fil.py
  python/cuml/test/test_pickle.py
  python/cuml/test/test_random_forest.py
Labels: 5 - Ready to Merge, CUDA / C++, Cython / Python
