Repository rapidsai/cuml, pull requests merged in 2020-08, with the labels that each got.

#2502 [REVIEW] cuML Implementation of sklearn.metrics.pairwise_distances
  CHANGELOG.md
  cpp/bench/prims/distance_common.cuh
  cpp/bench/prims/distance_cosine.cu
  cpp/bench/prims/distance_exp_l2.cu
  cpp/bench/prims/distance_l1.cu
  cpp/bench/prims/distance_unexp_l2.cu
  cpp/include/cuml/cluster/kmeans.hpp
  cpp/include/cuml/distance/distance_type.h
  cpp/include/cuml/metrics/metrics.hpp
  cpp/src/kmeans/common.cuh
  cpp/src/kmeans/kmeans_mg_impl.cuh
  cpp/src/kmeans/sg_impl.cuh
  cpp/src/metrics/metrics.cu
  cpp/src/metrics/trustworthiness.cu
  cpp/src/metrics/trustworthiness.cuh
  cpp/src/metrics/trustworthiness_c.h
  cpp/src_prims/distance/cosine.cuh
  cpp/src_prims/distance/distance.cuh
  cpp/src_prims/matrix/grammatrix.cuh
  cpp/src_prims/matrix/kernelmatrices.cuh
  cpp/src_prims/metrics/pairwiseDistance.cuh
  cpp/src_prims/metrics/silhouetteScore.cuh
  cpp/src_prims/score/scores.cuh
  cpp/test/prims/dist_adj.cu
  cpp/test/prims/dist_cos.cu
  cpp/test/prims/dist_euc_exp.cu
  cpp/test/prims/dist_euc_unexp.cu
  cpp/test/prims/dist_l1.cu
  cpp/test/prims/distance_base.cuh
  cpp/test/prims/silhouetteScore.cu
  cpp/test/prims/trustworthiness.cu
  cpp/test/sg/rproj_test.cu
  cpp/test/sg/trustworthiness_test.cu
  cpp/test/sg/tsne_test.cu
  cpp/test/sg/umap_parametrizable_test.cu
  docs/source/api.rst
  python/cuml/common/base.pyx
  python/cuml/metrics/__init__.py
  python/cuml/metrics/pairwise_distances.pyx
  python/cuml/metrics/trustworthiness.pyx
  python/cuml/test/test_metrics.py
Labels: 4 - Waiting on Reviewer, CUDA / C++, Cython / Python, New Prim

#2634 [REVIEW] singlegpu build option fixes
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/cmake/Dependencies.cmake
  python/cuml/neighbors/__init__.py
  python/cuml/neighbors/kneighbors_classifier_mg.pyx
  python/cuml/neighbors/kneighbors_mg.pyx
  python/cuml/neighbors/kneighbors_regressor_mg.pyx
  python/cuml/test/test_pickle.py
Labels: 3 - Ready for Review, Build or Dep, bug

#2506 [REVIEW] Audit cuML source code and add test to catch incorrect use of cuML array
  CHANGELOG.md
  python/cuml/common/base.pyx
  python/cuml/common/input_utils.py
  python/cuml/decomposition/pca.pyx
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/preprocessing/label.py
  python/cuml/solvers/qn.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/svm/svm_base.pyx
  python/cuml/test/conftest.py
  python/cuml/test/test_fit_function.py
  python/cuml/test/test_linear_model.py
  python/cuml/test/test_nearest_neighbors.py
  python/cuml/test/test_pickle.py
  python/cuml/test/test_qn.py
  python/cuml/test/test_svm.py
Labels: 4 - Waiting on Reviewer, Cython / Python, Tech Debt

#2599 [REVIEW] Add Stratified train_test_split
  CHANGELOG.md
  python/cuml/preprocessing/model_selection.py
  python/cuml/test/test_train_test_split.py
Labels: 3 - Ready for Review, 4 - Waiting on Reviewer, Cython / Python

#2550 [Review] Target encoding.
  CHANGELOG.md
  notebooks/target_encoder_walkthrough.ipynb
  python/cuml/preprocessing/TargetEncoder.py
  python/cuml/preprocessing/__init__.py
  python/cuml/test/test_target_encoder.py
Labels: 3 - Ready for Review, 4 - Waiting on Reviewer, Cython / Python, New Algorithm

#2594 [REVIEW] Confidence intervals for ARIMA forecasts + support for differencing as part of the Kalman filter
  CHANGELOG.md
  cpp/bench/sg/arima_loglikelihood.cu
  cpp/include/cuml/tsa/arima_common.h
  cpp/include/cuml/tsa/batched_arima.hpp
  cpp/include/cuml/tsa/batched_kalman.hpp
  cpp/src/arima/batched_arima.cu
  cpp/src/arima/batched_kalman.cu
  cpp/src/tsa/auto_arima.cuh
  cpp/src_prims/linalg/batched/matrix.cuh
  cpp/src_prims/timeSeries/arima_helpers.cuh
  notebooks/arima_demo.ipynb
  python/cuml/test/test_arima.py
  python/cuml/tsa/arima.pyx
  python/cuml/tsa/auto_arima.pyx
  python/cuml/tsa/batched_lbfgs.py
Labels: 4 - Waiting on Reviewer, CUDA / C++

#2654 [REVIEW] Fix for vecorizer concatenations
  CHANGELOG.md
  python/cuml/feature_extraction/_vectorizers.py
Labels: 3 - Ready for Review

#2651 [REVIEW] Fix AutoARIMA Python bug
  CHANGELOG.md
  python/cuml/tsa/auto_arima.pyx
Labels: 5 - Ready to Merge

#2587 [REVIEW] Attributes for estimators relying on solvers
  CHANGELOG.md
  python/cuml/common/base.pyx
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/test/test_linear_model.py
  python/cuml/test/test_qn.py
  python/cuml/test/test_solver_attributes.py
Labels: 5 - Ready to Merge, Cython / Python

#2322 [REVIEW] 8-byte sparse nodes
  CHANGELOG.md
  cpp/include/cuml/fil/fil.h
  cpp/src/fil/common.cuh
  cpp/src/fil/fil.cu
  cpp/src/fil/infer.cu
  cpp/test/sg/fil_test.cu
  python/cuml/fil/fil.pyx
  python/cuml/test/test_fil.py
Labels: 2 - In Progress, CUDA / C++

#2668 [REVIEW] order conversion improvements to account for cupy behavior changes
  CHANGELOG.md
  python/cuml/dask/datasets/regression.py
Labels: 5 - Ready to Merge

#2650 [REVIEW] Make max_depth behave consistently for max_depth > 14
  CHANGELOG.md
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_regressor.cuh
  cpp/test/CMakeLists.txt
  cpp/test/sg/rf_depth_test.cu
Labels: 3 - Ready for Review

#2675 FIX Update conda recipes to support CUDA 11
  CHANGELOG.md
  ci/gpu/build.sh
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
Labels: ! - Release, 5 - Ready to Merge, CUDA / C++, conda, gpuCI

#2683 [REVIEW] Fix incorrect "Bad CumlArray Use" error messages on test failures
  CHANGELOG.md
  python/cuml/test/conftest.py
Labels: 5 - Ready to Merge, tests

#2648 Replace CNMeM with `rmm::mr::pool_memory_resource`
  CHANGELOG.md
  cpp/include/cuml/common/rmmAllocatorAdapter.hpp
  cpp/include/cuml/common/rmmPoolAllocatorAdapter.hpp
Labels: 5 - Ready to Merge

#2581 [REVIEW] Add model persistence via joblib to each section of estimator_intro.ipynb
  CHANGELOG.md
  docs/source/estimator_intro.ipynb
Labels: 5 - Ready to Merge, Cython / Python, Notebook

#2684 [REVIEW] CUDA 11 conda development environment yml
  CHANGELOG.md
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  conda/environments/cuml_dev_cuda11.0.yml
  cpp/cmake/Dependencies.cmake
  cpp/cmake/faiss_cuda11.patch
Labels: 4 - Waiting on Reviewer

#2687 [REVIEW] Use xgboost 1.2.0 for all CUDA versions
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 3 - Ready for Review

#2666 [REVIEW] Update mbsgd documentation [skip-ci]
  CHANGELOG.md
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
Labels: 5 - Ready to Merge, doc

#2692 [REVIEW] Updating LBFGS warnings log level
  CHANGELOG.md
  cpp/src/glm/qn/qn_util.cuh
Labels: 3 - Ready for Review

#2623 [REVIEW] Fix score() on Kmeans to be compatible w/ Sklearn
  CHANGELOG.md
  python/cuml/cluster/kmeans.pyx
Labels: 3 - Ready for Review, Algorithm API Change, Cython / Python, Tech Debt, bug

#2631 [REVIEW] Building libcuml++ w/ conda-installed gtest by default and providing BUILD_GTEST flag to enable it for non-conda environments
  CHANGELOG.md
  build.sh
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  conda/environments/cuml_dev_cuda11.0.yml
  conda/recipes/libcuml/meta.yaml
  cpp/CMakeLists.txt
  cpp/README.md
  cpp/cmake/Dependencies.cmake
  cpp/src_prims/cuda_utils.cuh
  cpp/src_prims/matrix/reverse.cuh
  cpp/test/CMakeLists.txt
Labels: 5 - Ready to Merge, Build or Dep, CUDA / C++, bug

#2615 [REVIEW] Incremental PCA
  CHANGELOG.md
  python/cuml/common/memory_utils.py
  python/cuml/decomposition/pca.pyx
  python/cuml/experimental/decomposition/__init__.py
  python/cuml/experimental/decomposition/incremental_pca.py
  python/cuml/test/conftest.py
  python/cuml/test/test_incremental_pca.py
Labels: 4 - Waiting on Author, Cython / Python, New Algorithm

#2701 [REVIEW] Updating README + Adding ref to UMAP paper [skip-ci]
  CHANGELOG.md
  README.md
  python/cuml/manifold/umap.pyx
Labels: 3 - Ready for Review, doc

#2617 [REVIEW] Fix floating point precision error in tSNE
  CHANGELOG.md
  cpp/src/tsne/barnes_hut.cuh
  cpp/src/tsne/bh_kernels.cuh
Labels: 5 - Ready to Merge, CUDA / C++, bug

#2705 [REVIEW] Add sum operator and base operator overloader functions to cumlarray
  CHANGELOG.md
  python/cuml/common/array.py
  python/cuml/test/test_array.py
Labels: 4 - Waiting on Reviewer, bug

#2709 [REVIEW] Fixing OneHotEncoder Overflow Error
  CHANGELOG.md
  python/cuml/preprocessing/encoders.py
  python/cuml/test/test_one_hot_encoder.py
Labels: 3 - Ready for Review, 4 - Waiting on Reviewer, Cython / Python, bug

#2270 [REVIEW] RF MNMG multi class implementation
  CHANGELOG.md
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/test/dask/test_random_forest.py
Labels: 5 - Ready to Merge, Cython / Python, Dask / cuml.dask

#2635 [REVIEW] Decorator to generate docstrings with autodetection of parameters
  .gitignore
  CHANGELOG.md
  docs/source/api.rst
  python/cuml/__init__.py
  python/cuml/cluster/dbscan.pyx
  python/cuml/cluster/kmeans.pyx
  python/cuml/common/base.pyx
  python/cuml/common/doc_utils.py
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.pyx
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/linear_model/ridge.pyx
  python/cuml/manifold/t_sne.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/solvers/cd.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/svm/svc.pyx
  python/cuml/svm/svr.pyx
  python/cuml/test/test_fit_function.py
Labels: 4 - Waiting on Reviewer, Cython / Python, doc

#2718 FIX Set temp dir for pytest
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 3 - Ready for Review, bug, tests

#2711 [REVIEW] Fix dask rf intermittently failing due to workers with no input data [skip-ci]
  CHANGELOG.md
  python/cuml/dask/ensemble/base.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/test/dask/test_random_forest.py
Labels: 5 - Ready to Merge, Cython / Python

#2722 [REVIEW] Getting cuML covariance passing w/ Cupy 7.8 & CUDA 11
  CHANGELOG.md
  python/cuml/test/test_stats.py
Labels: 5 - Ready to Merge, Cython / Python, bug

#2726 [REVIEW] Return correct output type in QN [HOTFIX for 0.15]
  CHANGELOG.md
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/test/test_linear_model.py
  python/cuml/test/test_qn.py
Labels: ! - Release, 5 - Ready to Merge

#2749 [REVIEW] Set up Python version correctly in docs [skip-ci]
  BUILD.md
  CHANGELOG.md
Labels: doc

#2744 [REVIEW] Support larger numbers of classes in KNeighborsClassifier
  CHANGELOG.md
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.cuh
  python/cuml/test/test_kneighbors_classifier.py
Labels: 5 - Ready to Merge, CUDA / C++, Cython / Python, bug, feature request

#2739 [REVIEW] Use cusparse_wrappers.h from RAFT
  CHANGELOG.md
  cpp/cmake/Dependencies.cmake
  cpp/src/common/cumlHandle.cpp
  cpp/src/random_projection/rproj.cuh
  cpp/src_prims/sparse/coo.cuh
  cpp/src_prims/sparse/cusparse_wrappers.h
  cpp/src_prims/sparse/spectral.cuh
Labels: 5 - Ready to Merge, CUDA / C++, RAFT, Tech Debt

#2735 [REVIEW] Update seed to random_state in random forest and associated tests
  CHANGELOG.md
  python/cuml/dask/ensemble/base.py
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/preprocessing/model_selection.py
  python/cuml/test/dask/test_random_forest.py
  python/cuml/test/test_pickle.py
  python/cuml/test/test_random_forest.py
Labels: 4 - Waiting on Reviewer, Cython / Python

#2723 [REVIEW] Support and enable convert_dtype in estimator predict
  CHANGELOG.md
  python/cuml/common/base.pyx
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.pyx
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/ridge.pyx
  python/cuml/metrics/regression.pyx
  python/cuml/svm/svc.pyx
  python/cuml/svm/svm_base.pyx
  python/cuml/svm/svr.pyx
  python/cuml/test/test_coordinate_descent.py
  python/cuml/test/test_linear_model.py
  python/cuml/test/test_svm.py
Labels: 4 - Waiting on Reviewer, Cython / Python

#2758 [REVIEW] Match sklearn's default n_components in PCA
  CHANGELOG.md
  python/cuml/decomposition/pca.pyx
  python/cuml/test/test_pca.py
Labels: 5 - Ready to Merge

#2741 [REVIEW] Use rapids build packages in conda environments [skip-ci]
  BUILD.md
  CHANGELOG.md
  ci/release/update-version.sh
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  conda/environments/cuml_dev_cuda11.0.yml
Labels: 4 - Waiting on Reviewer, conda

#2769 [REVIEW] Remove outdated doxygen options for 1.8.20
  CHANGELOG.md
  cpp/Doxyfile.in
Labels: 3 - Ready for Review, doc, gpuCI

#2698 [REVIEW]Distributed TF-IDF transformer
  CHANGELOG.md
  python/cuml/dask/feature_extraction/__init__.py
  python/cuml/dask/feature_extraction/text/__init__.py
  python/cuml/dask/feature_extraction/text/tfidf_transformer.py
  python/cuml/feature_extraction/_tfidf.py
  python/cuml/test/conftest.py
  python/cuml/test/dask/test_tfidf.py
Labels: 3 - Ready for Review, Cython / Python, Multi-GPU, New Algorithm

#2766 [REVIEW] Update default RandomForestRegressor score function to use r2
  CHANGELOG.md
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestregressor.pyx
Labels: 5 - Ready to Merge, Cython / Python

#2691 [REVIEW] Generic Base class attribute setter
  CHANGELOG.md
  python/cuml/cluster/dbscan.pyx
  python/cuml/cluster/kmeans.pyx
  python/cuml/cluster/kmeans_mg.pyx
  python/cuml/common/base.pyx
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/experimental/decomposition/incremental_pca.py
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.pyx
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/linear_model/ridge.pyx
  python/cuml/manifold/t_sne.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_mg.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/neighbors/nearest_neighbors_mg.pyx
  python/cuml/random_projection/random_projection.pyx
  python/cuml/solvers/cd.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/svm/svc.pyx
  python/cuml/svm/svr.pyx
  python/cuml/tsa/arima.pyx
  python/cuml/tsa/auto_arima.pyx
Labels: 5 - Ready to Merge, Cython / Python
