Repository rapidsai/cuml, pull requests merged in 2021-04, with the labels that each got.

#3685 Restore the functionality of RF score()
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/test/test_random_forest.py
Labels: 5 - Ready to Merge, Cython / Python, bug, non-breaking

#3687 [gpuCI] Forward-merge branch-0.19 to branch-0.20 [skip ci]
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/test/test_random_forest.py
Labels: Cython / Python

#3679 Skip tests that fail on CUDA 11.2
  cpp/test/sg/decisiontree_batchedlevel_algo.cu
  cpp/test/sg/lars_test.cu
  cpp/test/sg/quasi_newton.cu
  cpp/test/sg/umap_parametrizable_test.cu
  python/cuml/test/test_arima.py
Labels: 3 - Ready for Review, CUDA/C++, Cython / Python, bug, non-breaking, tests

#3677 [REVIEW] Update LogisticRegression documentation
  python/cuml/linear_model/logistic_regression.pyx
Labels: 5 - Ready to Merge, Cython / Python, improvement, non-breaking

#3693 [REVIEW] Fix irreproducibility issue in RF classification
  cpp/src/decisiontree/batched-levelalgo/node.cuh
  cpp/src/decisiontree/batched-levelalgo/split.cuh
Labels: CUDA/C++, bug, non-breaking

#3516 [REVIEW] Expose sparse distances via semiring to Python API
  cpp/cmake/Dependencies.cmake
  cpp/include/cuml/metrics/metrics.hpp
  cpp/src/metrics/pairwise_distance.cu
  python/cuml/metrics/__init__.py
  python/cuml/metrics/pairwise_distances.pyx
  python/cuml/neighbors/__init__.py
  python/cuml/test/test_metrics.py
Labels: CMake, CUDA/C++, Cython / Python, feature request, non-breaking

#3690 BUG fix BatchedLevelAlgo DtClsTest & DtRegTest failing tests
  cpp/test/sg/decisiontree_batchedlevel_algo.cu
Labels: CUDA / C++, bug, non-breaking, tests

#3624 [REVIEW] SimpleImputer fix
  python/cuml/_thirdparty/sklearn/preprocessing/__init__.py
  python/cuml/_thirdparty/sklearn/preprocessing/_imputation.py
  python/cuml/experimental/preprocessing/__init__.py
  python/cuml/test/test_preproc_utils.py
  python/cuml/test/test_preprocessing.py
Labels: 5 - Ready to Merge, Cython / Python, bug, non-breaking

#3698 FIL and Dask demo
  notebooks/forest_inference_demo.ipynb
Labels: 3 - Ready for Review, Cython / Python, Multi-GPU, Notebook, doc, non-breaking

#3596 Move SHAP explainers out of experimental
  ci/gpu/build.sh
  docs/source/api.rst
  python/cuml/__init__.py
  python/cuml/common/import_utils.py
  python/cuml/explainer/__init__.py
  python/cuml/explainer/base.pyx
  python/cuml/explainer/common.py
  python/cuml/explainer/kernel_shap.pyx
  python/cuml/explainer/permutation_shap.pyx
  python/cuml/test/conftest.py
  python/cuml/test/experimental/test_explainer_permutation_shap.py
  python/cuml/test/explainer/test_explainer_base.py
  python/cuml/test/explainer/test_explainer_common.py
  python/cuml/test/explainer/test_explainer_kernel_shap.py
  python/cuml/test/explainer/test_explainer_permutation_shap.py
  python/cuml/test/explainer/test_shap_plotting.py
  python/cuml/test/test_metrics.py
  python/cuml/test/utils.py
Labels: 5 - Ready to Merge, Cython / Python, gpuCI, improvement, non-breaking

#3616 ENH Decision Tree new backend `computeSplitClassificationKernel` histogram calculation and occupancy optimization
  cpp/src/decisiontree/batched-levelalgo/builder_base.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels.cuh
  cpp/src/decisiontree/batched-levelalgo/metrics.cuh
Labels: 4 - Waiting on Author, CUDA/C++, Perf, improvement, non-breaking

#3702 Reduce the size of the cuml libraries
  cpp/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake, CUDA/C++, feature request, non-breaking

#3712 Add sparse docstring comments
  python/cuml/manifold/t_sne.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/metrics/pairwise_distances.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
Labels: Cython / Python, doc, non-breaking

#3674 [REVIEW] ENH Decision Tree new backend `computeSplit*Kernel` histogram calculation optimization
  cpp/src/decisiontree/batched-levelalgo/builder_base.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels.cuh
Labels: CUDA/C++, Perf, improvement, non-breaking

#3708 Upgrade to Treelite 1.1.0
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
Labels: 5 - Ready to Merge, conda, improvement, non-breaking

#3715 [REVIEW] Fixes the out of memory access issue for computeSplit kernels
  cpp/src/decisiontree/batched-levelalgo/builder_base.cuh
Labels: CUDA/C++, bug, non-breaking

#3716 [REVIEW] Fix random state generator
  python/cuml/datasets/utils.py
Labels: 3 - Ready for Review, bug, non-breaking

#3721 [REVIEW] Locking RAFT hash for 0.19
  cpp/cmake/Dependencies.cmake
Labels: CMake, CUDA/C++, improvement, non-breaking

#3699 Update to XGBoost 1.4.0rc1
  ci/gpu/build.sh
Labels: gpuCI, improvement, non-breaking, tests

#3668 [REVIEW] Dask KNN Cl&Re 1D labels
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/common/part_utils.py
  python/cuml/dask/neighbors/kneighbors_classifier.py
  python/cuml/dask/neighbors/kneighbors_regressor.py
  python/cuml/neighbors/nearest_neighbors_mg.pyx
  python/cuml/test/dask/test_kneighbors_classifier.py
  python/cuml/test/dask/test_kneighbors_regressor.py
Labels: 4 - Waiting on Reviewer, Cython / Python, bug, non-breaking

#3686 Use the new RF backend by default for classification
  cpp/test/sg/rf_accuracy_test.cu
  cpp/test/sg/rf_depth_test.cu
  cpp/test/sg/rf_test.cu
  cpp/test/sg/rf_treelite_test.cu
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/test/dask/test_random_forest.py
  python/cuml/test/test_random_forest.py
Labels: 3 - Ready for Review, CUDA/C++, Cython / Python, breaking, improvement

#3696 [REVIEW] Fixing umap gtest failure under cuda 11.2.
  cpp/include/cuml/cluster/spectral.hpp
  cpp/src/spectral/spectral.cu
  cpp/src/umap/init_embed/spectral_algo.cuh
  cpp/src/umap/runner.cuh
  cpp/test/sg/umap_parametrizable_test.cu
  python/cuml/test/dask/test_umap.py
Labels: 5 - Ready to Merge, CUDA/C++, Cython / Python, bug, non-breaking

#3731 [REVIEW] Updating docs, readme, and umap param tests for 0.19
  README.md
  cpp/test/sg/umap_parametrizable_test.cu
  docs/source/api.rst
Labels: improvement, non-breaking

#3730 Fix NaN errors observed with ARIMA in CUDA 11.2 builds
  cpp/src/arima/batched_kalman.cu
  python/cuml/test/test_arima.py
Labels: 3 - Ready for Review, CUDA/C++, Cython / Python, bug, non-breaking

#3691 Add support in column major distance metrics to use contractions_nt instead of cutlass
  cpp/bench/prims/distance_common.cuh
  cpp/src_prims/distance/cosine.cuh
  cpp/src_prims/distance/distance.cuh
  cpp/src_prims/distance/euclidean.cuh
  cpp/src_prims/distance/l1.cuh
  cpp/src_prims/distance/pairwise_distance_base.cuh
  cpp/src_prims/matrix/grammatrix.cuh
  cpp/src_prims/matrix/kernelmatrices.cuh
  cpp/src_prims/metrics/scores.cuh
  cpp/test/prims/dist_adj.cu
  cpp/test/prims/distance_base.cuh
  cpp/test/sg/rproj_test.cu
Labels: CUDA/C++, Tech Debt, breaking, improvement

#3735 [REVIEW] Fix min_max_axis
  cpp/test/sg/umap_parametrizable_test.cu
  python/cuml/_thirdparty/sklearn/utils/sparsefuncs.py
  python/cuml/test/test_agglomerative.py
  python/cuml/test/test_thirdparty.py
Labels: 3 - Ready for Review, CUDA/C++, Cython / Python, bug, non-breaking

#3717 [REVIEW] Remove cutlass dependencies from cmake and elsewhere as it is no longer needed.
  cpp/CMakeLists.txt
  cpp/README.md
  cpp/cmake/Dependencies.cmake
  cpp/src_prims/distance/algo1.cuh
  cpp/src_prims/distance/distance_epilogue.cuh
  cpp/src_prims/distance/distance_epilogue_functor.cuh
  cpp/src_prims/distance/distance_epilogue_traits.h
  cpp/src_prims/distance/distance_fragment_multiply_add.cuh
  cpp/src_prims/distance/distance_tile_traits.h
  cpp/src_prims/distance/fragment_sqrt.cuh
  cpp/src_prims/distance/linear_scaling_sqrt.cuh
  cpp/src_prims/linalg/cutlass_gemm.cuh
  cpp/src_prims/linalg/cutlass_wrappers.cuh
  cpp/test/CMakeLists.txt
  cpp/test/prims/cutlass_gemm.cu
Labels: CMake, CUDA/C++, breaking, improvement

#3754 `convert_dtype` in ConfusionMatrix
  python/cuml/metrics/confusion_matrix.py
  python/cuml/test/test_metrics.py
Labels: 3 - Ready for Review, Cython / Python, bug, non-breaking

#3755 [REVIEW] Fix brute force KNN distance metric issue
  cpp/src/knn/knn_opg_common.cuh
  cpp/src_prims/metrics/scores.cuh
Labels: 3 - Ready for Review, CUDA/C++, bug, non-breaking

#3756 [REVIEW] Use distance metrics from RAFT and remove it from cuML
  cpp/bench/prims/distance_common.cuh
  cpp/cmake/Dependencies.cmake
  cpp/src/hierarchy/pw_dist_graph.cuh
  cpp/src/kmeans/common.cuh
  cpp/src/metrics/pairwise_distance.cu
  cpp/src/metrics/trustworthiness.cu
  cpp/src/metrics/trustworthiness.cuh
  cpp/src_prims/matrix/grammatrix.cuh
  cpp/src_prims/matrix/kernelmatrices.cuh
  cpp/src_prims/metrics/batched/silhouette_score.cuh
  cpp/src_prims/metrics/pairwise_distance.cuh
  cpp/src_prims/metrics/scores.cuh
  cpp/src_prims/metrics/silhouette_score.cuh
  cpp/src_prims/selection/knn.cuh
  cpp/test/CMakeLists.txt
  cpp/test/prims/dist_cos.cu
  cpp/test/prims/dist_euc_exp.cu
  cpp/test/prims/dist_euc_unexp.cu
  cpp/test/prims/dist_l1.cu
  cpp/test/prims/silhouette_score.cu
  cpp/test/prims/trustworthiness.cu
  cpp/test/sg/dbscan_test.cu
  cpp/test/sg/linkage_test.cu
  cpp/test/sg/rproj_test.cu
  cpp/test/sg/trustworthiness_test.cu
  cpp/test/sg/umap_parametrizable_test.cu
Labels: CMake, CUDA / C++, improvement, non-breaking

#3774 Better starting coefficients for QN solver (logistic regression)
  python/cuml/solvers/qn.pyx
Labels: Cython / Python, improvement, non-breaking

#3782 Add missing include for size_t to FIL
  cpp/include/cuml/fil/fil.h
Labels: 3 - Ready for Review, CUDA/C++, bug, non-breaking

#3423 FIT-SNE
  cpp/CMakeLists.txt
  cpp/include/cuml/manifold/tsne.h
  cpp/src/tsne/barnes_hut_kernels.cuh
  cpp/src/tsne/barnes_hut_tsne.cuh
  cpp/src/tsne/distances.cuh
  cpp/src/tsne/exact_kernels.cuh
  cpp/src/tsne/exact_tsne.cuh
  cpp/src/tsne/fft_kernels.cuh
  cpp/src/tsne/fft_tsne.cuh
  cpp/src/tsne/kluger_lab_license.txt
  cpp/src/tsne/tsne.cu
  cpp/src/tsne/tsne_runner.cuh
  cpp/src/tsne/utils.cuh
  cpp/src_prims/common/device_utils.cuh
  cpp/src_prims/cufft_utils.h
  cpp/src_prims/datasets/boston.h
  cpp/src_prims/datasets/breast_cancer.h
  cpp/src_prims/datasets/diabetes.h
  cpp/src_prims/datasets/digits.h
  cpp/src_prims/linalg/init.h
  cpp/test/sg/tsne_test.cu
  python/cuml/manifold/t_sne.pyx
  python/cuml/metrics/trustworthiness.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/test/test_tsne.py
Labels: 3 - Ready for Review, CMake, CUDA / C++, CUDA/C++, Cython / Python, Experimental, breaking, improvement, libcuml

#3775 Fix failing MNMG RF nightly test
  python/cuml/test/dask/test_random_forest.py
Labels: 3 - Ready for Review, Cython / Python, Multi-GPU, bug, non-breaking, tests

#3776 Add RF Classifier predict accuracy issue as a known limitation in docs
  python/cuml/ensemble/randomforestclassifier.pyx
Labels: 5 - Ready to Merge, Cython / Python, doc, non-breaking

#3766 Improve QN solver stopping conditions (logistic regression) to match sklearn closer
  cpp/src/glm/qn/qn_solvers.cuh
  cpp/src/glm/qn/qn_util.cuh
  cpp/src/glm/qn/simple_mat.cuh
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/solvers/qn.pyx
Labels: 5 - Ready to Merge, CUDA / C++, CUDA/C++, Cython / Python, improvement, non-breaking

#2976 [REVIEW] replacing logging.warn with logging.warning
  python/cuml/dask/common/utils.py
Labels: 4 - Waiting on Author, Cython / Python, improvement, non-breaking

#3785 [REVIEW] Fix RF classification irreproducibility
  cpp/src/decisiontree/batched-levelalgo/kernels.cuh
  cpp/src/decisiontree/batched-levelalgo/split.cuh
Labels: 3 - Ready for Review, CUDA / C++, CUDA/C++, bug, non-breaking

#3777 Expose the secondary stopping condition for QN solver
  cpp/include/cuml/linear_model/glm.hpp
  cpp/include/cuml/linear_model/glm_api.h
  cpp/src/glm/glm.cu
  cpp/src/glm/glm_api.cpp
  cpp/src/glm/qn/qn.cuh
  cpp/test/c_api/glm_api_test.c
  cpp/test/sg/quasi_newton.cu
  python/cuml/solvers/qn.pyx
Labels: 3 - Ready for Review, CUDA/C++, Cython / Python, improvement, non-breaking

#3790 Deprecate usage of `bootstrap_features` parameter in Random Forests
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/randomforest/randomforest.cu
Labels: 4 - Waiting on Author, CUDA/C++, Deprecation!, improvement, non-breaking

#3797 predicate bugfix to old-backend feature-sampling
  cpp/src/decisiontree/decisiontree_impl.cuh
Labels: CUDA/C++, bug, non-breaking

#3799 Remove redundant pairwise distance metrics src as raft version is been used
  cpp/src_prims/distance/cosine.cuh
  cpp/src_prims/distance/distance.cuh
  cpp/src_prims/distance/euclidean.cuh
  cpp/src_prims/distance/l1.cuh
  cpp/src_prims/distance/pairwise_distance_base.cuh
Labels: 3 - Ready for Review, CUDA/C++, Tech Debt, improvement, non-breaking

#3798 Allow CuPy 9 to be used with cuML
  conda/recipes/cuml/meta.yaml
Labels: 4 - Waiting on Reviewer, conda, feature request, non-breaking

#3762 doc: removing deprecated use of libcumlcomms for containerized build [skip-ci]
  Dockerfile
  python/README.md
Labels: Cython / Python, doc, non-breaking

#3800 Refactor `ForestInference_impl` keyword arguments for easier import parameter threading
  python/cuml/fil/fil.pyx
Labels: 5 - Ready to Merge, Cython / Python, improvement, non-breaking

#3804 Remove xfail for KBinsDiscretizer quantile tests
  python/cuml/test/test_preprocessing.py
Labels: 3 - Ready for Review, Cython / Python, bug, non-breaking

#3803 ENH Remove defaults channel from conda build
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
Labels: 5 - Ready to Merge, conda, improvement, non-breaking

#3806 [REVIEW] Fix issue related to CuPy update
  python/cuml/common/memory_utils.py
  python/cuml/dask/common/dask_arr_utils.py
  python/cuml/test/dask/test_base.py
  python/cuml/test/test_kneighbors_classifier.py
  python/cuml/test/test_kneighbors_regressor.py
  python/cuml/test/test_mbsgd_classifier.py
  python/cuml/test/test_metrics.py
  python/cuml/test/test_nearest_neighbors.py
  python/cuml/test/test_pca.py
  python/cuml/test/test_preprocessing.py
Labels: 3 - Ready for Review, Cython / Python, bug, non-breaking

#3815 ENH Remove conda defaults channel in builddocs environment
  conda/environments/builddocs_py36.yml
Labels: conda, improvement, non-breaking

#3811 Small auto arima fixes
  python/cuml/tsa/auto_arima.pyx
Labels: 5 - Ready to Merge, Cython / Python, bug, non-breaking

#3808 Exact TSNE fewer log statements
  cpp/src/tsne/exact_tsne.cuh
Labels: 5 - Ready to Merge, CUDA / C++, improvement, non-breaking
