Repository rapidsai/cuml, pull requests merged in 2021-02, with the labels that each got.

#3426 Adding tol to dask test_kmeans
  python/cuml/test/dask/test_kmeans.py
Labels: Cython / Python, Dask / cuml.dask, bug, non-breaking, tests

#3362 Batched Silhouette Score
  CHANGELOG.md
  cpp/include/cuml/metrics/metrics.hpp
  cpp/src/metrics/silhouette_score.cu
  cpp/src_prims/metrics/batched/silhouette_score.cuh
  cpp/src_prims/metrics/silhouette_score.cuh
  cpp/test/prims/silhouette_score.cu
  docs/source/api.rst
  python/cuml/metrics/cluster/__init__.py
  python/cuml/metrics/cluster/silhouette_score.pyx
  python/cuml/test/test_metrics.py
Labels: 4 - Waiting on Author, CUDA / C++, Cython / Python, Prim API change, breaking, feature request, libcuml

#3442 Prepare Changelog for Automation [skip-ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#3364 [REVIEW] Enable feature sampling for the experimental backend of Random Forest
  cpp/bench/sg/fil.cu
  cpp/bench/sg/rf_classifier.cu
  cpp/bench/sg/rf_regressor.cu
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/include/cuml/tree/flatnode.h
  cpp/src/decisiontree/batched-levelalgo/builder.cuh
  cpp/src/decisiontree/batched-levelalgo/builder_base.cuh
  cpp/src/decisiontree/batched-levelalgo/input.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels.cuh
  cpp/src/decisiontree/batched-levelalgo/node.cuh
  cpp/src/decisiontree/batched-levelalgo/split.cuh
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest_impl.cuh
  cpp/test/sg/decisiontree_batchedlevel_algo.cu
  cpp/test/sg/decisiontree_batchedlevel_unittest.cu
  cpp/test/sg/rf_accuracy_test.cu
  cpp/test/sg/rf_batched_classification_test.cu
  cpp/test/sg/rf_batched_regression_test.cu
  cpp/test/sg/rf_depth_test.cu
  cpp/test/sg/rf_test.cu
  cpp/test/sg/rf_treelite_test.cu
  python/cuml/ensemble/randomforest_shared.pxd
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/test/test_random_forest.py
Labels: Algorithm API Change, CUDA / C++, Cython / Python, breaking, feature request, libcuml

#3445 [REVIEW] Improve Python Docs with Default Role
  docs/source/api.rst
  docs/source/conf.py
  python/cuml/common/input_utils.py
  python/cuml/dask/datasets/classification.py
  python/cuml/datasets/blobs.py
  python/cuml/datasets/classification.py
  python/cuml/decomposition/incremental_pca.py
  python/cuml/svm/svc.pyx
Labels: 3 - Ready for Review, Cython / Python, doc, non-breaking

#3307 [REVIEW] MNMG KNN consolidation
  cpp/CMakeLists.txt
  cpp/include/cuml/neighbors/knn_mg.hpp
  cpp/src/knn/knn_classify_mg.cu
  cpp/src/knn/knn_mg.cu
  cpp/src/knn/knn_opg_common.cu
  cpp/src/knn/knn_opg_common.cuh
  cpp/src/knn/knn_regress_mg.cu
  python/cuml/dask/neighbors/kneighbors_classifier.py
  python/cuml/dask/neighbors/kneighbors_regressor.py
  python/cuml/dask/neighbors/nearest_neighbors.py
  python/cuml/neighbors/kneighbors_classifier_mg.pyx
  python/cuml/neighbors/kneighbors_mg.pyx
  python/cuml/neighbors/kneighbors_regressor_mg.pyx
  python/cuml/neighbors/nearest_neighbors_mg.pyx
  python/cuml/test/dask/test_nearest_neighbors.py
Labels: 4 - Waiting on Reviewer, CMake, Cython / Python, breaking, improvement, libcuml

#3415 [REVIEW] Ensure make_classification respects output type
  python/cuml/datasets/classification.py
  python/cuml/test/test_dataset_generator_types.py
  python/cuml/test/test_make_blobs.py
Labels: 3 - Ready for Review, Cython / Python, bug, non-breaking

#3387 [REVIEW] genetic programming initial structures
  cpp/CMakeLists.txt
  cpp/include/cuml/genetic/genetic.h
  cpp/include/cuml/genetic/node.h
  cpp/include/cuml/genetic/program.h
  cpp/src/genetic/genetic.cu
  cpp/src/genetic/genetic.cuh
  cpp/src/genetic/node.cu
  cpp/src/genetic/node.cuh
  cpp/src/genetic/reg_stack.cuh
  cpp/test/CMakeLists.txt
  cpp/test/sg/genetic/node_test.cpp
  cpp/test/sg/genetic/param_test.cu
Labels: 3 - Ready for Review, CMake, CUDA / C++, New Algorithm, feature request, libcuml, non-breaking

#3452 Relaxing Batched SilhouetteScore Test Constraint
  python/cuml/test/test_metrics.py
Labels: 3 - Ready for Review, Cython / Python, bug, non-breaking, tests

#3454 Fix failing sparse NN test in CI by allowing small number of index discrepancies
  python/cuml/test/test_nearest_neighbors.py
Labels: 3 - Ready for Review, Cython / Python, bug, non-breaking, tests

#3370 [FEA] FIL to use L1 cache when input columns don't fit into shared memory
  cpp/src/fil/common.cuh
  cpp/src/fil/fil.cu
  cpp/src/fil/infer.cu
  cpp/src/fil/internal.cuh
  cpp/test/sg/fil_test.cu
Labels: 0 - Blocked, feature request, libcuml, non-breaking

#3450 [REVIEW] Mark kbinsdiscretizer quantile tests as xfail
  python/cuml/test/test_preprocessing.py
Labels: 3 - Ready for Review, Cython / Python, bug, non-breaking

#3420 [Review] Fix memory bug for SVM with large n_rows
  cpp/cmake/Dependencies.cmake
  cpp/src/svm/kernelcache.cuh
  cpp/src/svm/smoblocksolve.cuh
  cpp/src_prims/cache/cache_util.cuh
  cpp/src_prims/matrix/kernelmatrices.cuh
  cpp/test/sg/svc_test.cu
Labels: 5 - Ready to Merge, CMake, bug, libcuml, non-breaking

#3453 Exempting thirdparty code from copyright checks
  ci/checks/copyright.py
Labels: Ops, bug, non-breaking

#3448 Fix naive bayes inputs
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/test/dask/test_naive_bayes.py
  python/cuml/test/test_naive_bayes.py
Labels: 4 - Waiting on Reviewer, Cython / Python, improvement, non-breaking

#3411 Speed up knn tests
  python/cuml/test/test_nearest_neighbors.py
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking, tests

#3320 Fix for default arguments of PCA
  python/cuml/decomposition/pca.pyx
  python/cuml/test/test_pca.py
Labels: 5 - Ready to Merge, Cython / Python, bug, non-breaking

#3378 FIX Update cupy to >= 7.8 and remove unused build.sh script
  ci/mg/build.sh
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
  python/README.md
Labels: 3 - Ready for Review, Build or Dep, Cython / Python, Ops, bug, non-breaking

#3408 Replacing sklearn functions with cuml in RF MNMG notebook
  notebooks/random_forest_mnmg_demo.ipynb
Labels: Cython / Python, Notebook, improvement, non-breaking

#3447 Fixing documentation on SimpleImputer
  python/cuml/_thirdparty/sklearn/preprocessing/_imputation.py
Labels: Cython / Python, bug, non-breaking

#3348 [REVIEW] Update failing MNMG tests
  python/cuml/test/dask/test_nearest_neighbors.py
  python/cuml/test/dask/test_random_forest.py
Labels: 5 - Ready to Merge, Cython / Python, breaking, bug

#3474 [REVIEW] Update call to dask client persist
  cpp/src/knn/knn_api.cpp
  cpp/src_prims/sparse/op/slice.h
  cpp/src_prims/sparse/utils.h
  cpp/test/prims/sparse/distance.cu
  python/cuml/common/import_utils.py
  python/cuml/dask/common/utils.py
Labels: Cython / Python, bug, libcuml, non-breaking

#3433 cuml.experimental SHAP improvements
  cpp/include/cuml/explainer/kernel_shap.hpp
  cpp/include/cuml/explainer/permutation_shap.hpp
  cpp/src/explainer/kernel_shap.cu
  cpp/src/explainer/permutation_shap.cu
  cpp/src/glm/ols.cuh
  cpp/src_prims/linalg/lstsq.cuh
  python/cuml/experimental/explainer/base.py
  python/cuml/experimental/explainer/base.pyx
  python/cuml/experimental/explainer/common.py
  python/cuml/experimental/explainer/kernel_shap.pyx
  python/cuml/experimental/explainer/permutation_shap.pyx
  python/cuml/test/conftest.py
  python/cuml/test/experimental/test_explainer_base.py
  python/cuml/test/experimental/test_explainer_common.py
  python/cuml/test/experimental/test_explainer_kernel_shap.py
  python/cuml/test/experimental/test_explainer_permutation_shap.py
Labels: 2 - In Progress, CUDA / C++, Cython / Python, breaking, improvement, libcuml

#3472 [REVIEW] Adding warning for IVFPQ
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/test/test_nearest_neighbors.py
Labels: 3 - Ready for Review, bug, non-breaking

#3475 Minor doc updates for 0.18
  README.md
  docs/source/api.rst
Labels: 3 - Ready for Review, doc, non-breaking

#3480 [FIX] Fix illegal memory accesses when NITEMS > 1, and nrows % NITEMS != 0.
  cpp/src/fil/infer.cu
Labels: bug, libcuml, non-breaking

#3488 [REVIEW] Correct import path in docs for experimental preprocessing features [skip-ci]
  python/cuml/_thirdparty/sklearn/preprocessing/_data.py
Labels: 3 - Ready for Review, Cython / Python, doc, non-breaking

#3487 [REVIEW] Use cmake --build in build.sh to facilitate switching build tools
  build.sh
Labels: 5 - Ready to Merge, feature request, non-breaking

#3494 Temporarily xfail KBinsDiscretizer uniform tests
  python/cuml/test/test_preprocessing.py
Labels: 3 - Ready for Review, bug, non-breaking

#3495 Non project-flash CI ml test 18.04 issue debugging and bugfixing
  ci/gpu/build.sh
Labels: 3 - Ready for Review, Ops, bug, gpuCI, non-breaking

#3500 Add GHA to mark issues/prs as stale/rotten [skip ci]
  .github/workflows/stale.yaml
Labels: 3 - Ready for Review, Ops, improvement, non-breaking

#3407 Auto-label PRs based on their content [skip-ci]
  .github/labeler.yml
Labels: 4 - Waiting on Reviewer, improvement, non-breaking

#3489 List as input for SimpleImputer
  python/cuml/_thirdparty/sklearn/preprocessing/_imputation.py
Labels: 3 - Ready for Review, Cython / Python, bug, non-breaking

#3507 Update stale GHA with exemptions & new labels [skip-ci]
  .github/workflows/stale.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#3506 Fix forward-merger conflicts in #3502
  .github/labeler.yml
  .github/workflows/stale.yaml
  ci/gpu/build.sh
Labels: improvement, non-breaking

#3338 [REVIEW] Adding CodeCov Info for Dask Tests
  .gitignore
  ci/gpu/build.sh
  codecov.yml
  python/.coveragerc
  python/cuml/neighbors/ann.pxd
  python/cuml/neighbors/ann.pyx
Labels: 3 - Ready for Review, Cython / Python, Dask / cuml.dask, Ops, feature request, gpuCI, libcuml, non-breaking, tests

#3513 Fix merge conflicts in 3502 [skip ci]
  .github/workflows/stale.yaml
Labels: improvement, non-breaking

#3515 [Review] Improve warning message when QN solver reaches max_iter
  cpp/src/glm/qn/qn_solvers.cuh
Labels: CUDA/C++, improvement, non-breaking

#3534 Directly invoke make for non-CMake docs target
  build.sh
Labels: 5 - Ready to Merge, Build or Dep, bug, non-breaking

#3409 [REVIEW] Add cython hinge_loss
  python/cuml/metrics/__init__.py
  python/cuml/metrics/hinge_loss.pyx
  python/cuml/test/test_metrics.py
Labels: 5 - Ready to Merge, Cython / Python, feature request, non-breaking

#3508 ENH Pass ccache variables to conda recipe & use Ninja in CI
  ci/cpu/build.sh
  conda/recipes/libcuml/meta.yaml
Labels: 3 - Ready for Review, conda, gpuCI, improvement, non-breaking

#3460 Update sparse KNN to use rmm device buffer
  cpp/src_prims/sparse/selection/knn.cuh
Labels: improvement, libcuml, non-breaking

#3551 HOTFIX Add ucx-proc package back that got lost during an auto merge conflict [skip-ci]
  ci/checks/style.sh
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  conda/environments/cuml_dev_cuda11.0.yml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
Labels: bug, conda, gpuCI, non-breaking

#3550 Add ucx-proc package back that got lost during an auto merge conflict
  ci/checks/style.sh
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  conda/environments/cuml_dev_cuda11.0.yml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
Labels: bug, conda, gpuCI, non-breaking

#3549 [REVIEW] Fix failing Hellinger gtest
  cpp/test/prims/sparse/dist_coo_spmv.cu
  cpp/test/prims/sparse/dist_csr_spmv.cu
  cpp/test/prims/sparse/distance.cu
  cpp/test/prims/sparse/knn.cu
Labels: 5 - Ready to Merge, CUDA / C++, CUDA/C++, bug, non-breaking, tests

#3524 [REVIEW] Fix Codecov.io Coverage Upload for Branch Builds
  ci/gpu/build.sh
  codecov.yml
Labels: 3 - Ready for Review, bug, gpuCI, non-breaking, tests

#3257 Make `_get_tags` a class/static method
  python/cuml/_thirdparty/sklearn/preprocessing/_data.py
  python/cuml/_thirdparty/sklearn/preprocessing/_imputation.py
  python/cuml/_thirdparty/sklearn/preprocessing/_label.py
  python/cuml/cluster/dbscan.pyx
  python/cuml/cluster/kmeans.pyx
  python/cuml/common/base.pyx
  python/cuml/common/mixins.py
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/experimental/linear_model/lars.pyx
  python/cuml/fil/fil.pyx
  python/cuml/internals/__init__.py
  python/cuml/internals/base_helpers.py
  python/cuml/linear_model/base.pyx
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.pyx
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/linear_model/ridge.pyx
  python/cuml/manifold/t_sne.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/multiclass/multiclass.py
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/random_projection/random_projection.pyx
  python/cuml/solvers/cd.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/svm/svc.pyx
  python/cuml/svm/svm_base.pyx
  python/cuml/svm/svr.pyx
  python/cuml/test/test_api.py
  wiki/python/ESTIMATOR_GUIDE.md
Labels: 4 - Waiting on Reviewer, Cython / Python, improvement, non-breaking, proposal

#3557 Fix merge conflicts in 3552 [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#3497 [REVIEW] Ensure global_output_type is thread-safe
  python/cuml/__init__.py
  python/cuml/cluster/dbscan.pyx
  python/cuml/cluster/kmeans.pyx
  python/cuml/common/array_descriptor.py
  python/cuml/common/base.pyx
  python/cuml/common/memory_utils.py
  python/cuml/dask/cluster/dbscan.py
  python/cuml/dask/linear_model/elastic_net.py
  python/cuml/datasets/arima.pyx
  python/cuml/datasets/blobs.py
  python/cuml/datasets/regression.pyx
  python/cuml/decomposition/incremental_pca.py
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/experimental/linear_model/lars.pyx
  python/cuml/feature_extraction/_tfidf.py
  python/cuml/fil/fil.pyx
  python/cuml/internals/api_context_managers.py
  python/cuml/internals/api_decorators.py
  python/cuml/internals/global_settings.py
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.pyx
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/linear_model/ridge.pyx
  python/cuml/manifold/t_sne.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/metrics/pairwise_distances.pyx
  python/cuml/multiclass/multiclass.py
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/preprocessing/LabelEncoder.py
  python/cuml/preprocessing/encoders.py
  python/cuml/preprocessing/label.py
  python/cuml/random_projection/random_projection.pyx
  python/cuml/solvers/cd.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/svm/svc.pyx
  python/cuml/svm/svm_base.pyx
  python/cuml/svm/svr.pyx
  python/cuml/test/dask/test_global_settings.py
  python/cuml/test/test_cuml_descr_decor.py
  python/cuml/tsa/arima.pyx
  python/cuml/tsa/auto_arima.pyx
  python/cuml/tsa/holtwinters.pyx
Labels: 5 - Ready to Merge, Cython / Python, Dask / cuml.dask, bug, non-breaking

#3466 Add flexibility to copyright checker
  ci/checks/copyright.py
Labels: 4 - Waiting on Reviewer, gpuCI, improvement, libcuml, non-breaking

#3014 [REVIEW] NVTX Markers for RF and RF-backend
  cpp/src/decisiontree/batched-levelalgo/builder.cuh
  cpp/src/decisiontree/batched-levelalgo/builder_base.cuh
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/levelalgo/common_helper.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_regressor.cuh
  cpp/src/decisiontree/levelalgo/levelhelper_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelhelper_regressor.cuh
  cpp/src/decisiontree/quantile/quantile.cuh
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest_impl.cuh
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Labels: 2 - In Progress, 3 - Ready for Review, CUDA / C++, Cython / Python, improvement, libcuml, non-breaking
