Repository rapidsai/cuml, pull requests merged in 2021-10, with the labels that each got.

#4260 [REVIEW] Test fixes for release 21.10
  cpp/test/sg/umap_parametrizable_test.cu
  python/cuml/test/test_nearest_neighbors.py
Labels: bug, 2 - In Progress, tests, Cython / Python, non-breaking, CUDA/C++

#4263 [REVIEW] Increasing k and allowing very small mismatch in rbc pytests
  python/cuml/test/test_nearest_neighbors.py
Labels: bug, Cython / Python, non-breaking

#4258 Use individual streams in DT builder as opposed to handle getstream
  cpp/src/decisiontree/batched-levelalgo/builder.cuh
  cpp/src/decisiontree/decisiontree.cuh
  cpp/src/randomforest/randomforest.cuh
Labels: improvement, non-breaking, CUDA/C++
