Repository rapidsai/cuml, pull requests merged in 2021-08, with the labels that each got.

#4106 Correct name of a cmake function in get_spdlog.cmake
  cpp/cmake/thirdparty/get_spdlog.cmake
Labels: 3 - Ready for Review, CMake, CUDA/C++, Tech Debt, conda, improvement, non-breaking

#4147 Include `cpack` to generate source packages
  cpp/CMakeLists.txt
Labels: improvement, non-breaking, CMake, CUDA/C++

#4079 Add Gaussian Naive Bayes
  docs/source/api.rst
  python/cuml/naive_bayes/__init__.py
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/test/test_naive_bayes.py
Labels: feature request, Cython / Python, non-breaking

#4148 Split FIL infer_k into phases to speed up compilation (when a patch is applied)
  cpp/src/fil/infer.cu
Labels: improvement, non-breaking, CUDA/C++

#4160 Add CUDA 11.4 development environment [skip-ci]
  conda/environments/cuml_dev_cuda11.4.yml
Labels: conda, improvement, non-breaking

#4125 RF node queue rewrite
  cpp/include/cuml/tree/flatnode.h
  cpp/src/decisiontree/batched-levelalgo/builder.cuh
  cpp/src/decisiontree/batched-levelalgo/builder_base.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels.cuh
  cpp/src/decisiontree/batched-levelalgo/metrics.cuh
  cpp/src/decisiontree/batched-levelalgo/node.cuh
  cpp/src/decisiontree/decisiontree.cuh
  cpp/test/CMakeLists.txt
  cpp/test/sg/decisiontree_batchedlevel_unittest.cu
  cpp/test/sg/rf_test.cu
  python/cuml/test/dask/test_random_forest.py
Labels: Cython / Python, improvement, non-breaking, CMake, CUDA/C++

#3752 support space in workspace
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/docs/build.sh
  ci/gpu/test-notebooks.sh
  ci/utils/nbtest.sh
Labels: 2 - In Progress, gpuCI, improvement, non-breaking

#4168 Fix for cuDF changes to cudf.core
  python/cuml/benchmark/runners.py
  python/cuml/common/array.py
  python/cuml/dask/common/input_utils.py
  python/cuml/neighbors/nearest_neighbors_mg.pyx
  python/cuml/preprocessing/encoders.py
  python/cuml/preprocessing/onehotencoder_mg.py
  python/cuml/test/dask/test_kneighbors_classifier.py
  python/cuml/test/test_array.py
Labels: bug, 3 - Ready for Review, Cython / Python, non-breaking

#4171 Forward-merge branch-21.08 to branch-21.10 [skip gpuci]
  CHANGELOG.md
  cpp/CMakeLists.txt
Labels: doc, non-breaking, CMake, CUDA/C++

#4145 [gpuCI] Forward-merge branch-21.08 to branch-21.10 [skip gpuci]
  CHANGELOG.md
  cpp/CMakeLists.txt
Labels: CMake, CUDA/C++

#4174 Update to UCX-Py 0.22
  ci/checks/style.sh
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
Labels: gpuCI, conda, improvement, non-breaking
