Repository rapidsai/cuml, pull requests merged in 2021-03, with the labels that each got.

#3562 [Review] Print debug message if SVM convergence is poor
  cpp/src/svm/smosolver.cuh
Labels: 5 - Ready to Merge, CUDA/C++, improvement, non-breaking

#3389 Replace ML::MetricType with raft::distance::DistanceType
  cpp/include/cuml/neighbors/knn.hpp
  cpp/include/cuml/neighbors/knn_api.h
  cpp/include/cuml/neighbors/knn_sparse.hpp
  cpp/src/knn/knn.cu
  cpp/src/knn/knn_api.cpp
  cpp/src/knn/knn_sparse.cu
  cpp/src/tsne/distances.cuh
  cpp/src/umap/knn_graph/algo.cuh
  cpp/src_prims/selection/knn.cuh
  cpp/src_prims/selection/processing.cuh
  cpp/src_prims/sparse/distance/distance.cuh
  cpp/src_prims/sparse/distance/l2_distance.cuh
  cpp/src_prims/sparse/distance/lp_distance.cuh
  cpp/src_prims/sparse/selection/knn.cuh
  cpp/test/prims/knn.cu
  cpp/test/prims/sparse/knn.cu
  cpp/test/sg/umap_test.cu
  python/cuml/metrics/distance_type.pxd
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/test/test_metrics.py
Labels: 5 - Ready to Merge, CUDA/C++, Cython / Python, improvement, libcuml, non-breaking

#3579 [REVIEW] Adding haversine to brute force knn
  cpp/src_prims/selection/haversine_knn.cuh
  cpp/src_prims/selection/knn.cuh
  cpp/test/CMakeLists.txt
  cpp/test/prims/haversine_knn.cu
  python/cuml/neighbors/__init__.py
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/test/test_nearest_neighbors.py
Labels: 3 - Ready for Review, CMake, CUDA / C++, CUDA/C++, Cython / Python, feature request, non-breaking

#3509 Upgrade FAISS to 1.7.x
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  conda/environments/cuml_dev_cuda11.0.yml
  conda/recipes/libcuml/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/Dependencies.cmake
  cpp/src_prims/selection/knn.cuh
  python/setup.py
Labels: 4 - Waiting on Author, Build or Dep, CMake, CUDA/C++, Cython / Python, breaking, conda, improvement

#3593 Change dask and distributed branch to main [skip-ci]
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  conda/environments/cuml_dev_cuda11.0.yml
Labels: 3 - Ready for Review, bug, non-breaking

#3582 [REVIEW] Test FIL probabilities with absolute error thresholds in python
  python/cuml/test/test_fil.py
Labels: 4 - Waiting on Reviewer, Cython / Python, improvement, non-breaking

#3595 Fix documentation of KMeans
  python/cuml/cluster/kmeans.pyx
Labels: 3 - Ready for Review, Cython / Python, doc, non-breaking

#2894 [FEA] Add predict_proba() to XGBoost-style models in FIL C++
  CHANGELOG.md
  cpp/src/fil/common.cuh
  cpp/src/fil/fil.cu
  cpp/src/fil/infer.cu
  cpp/src/fil/internal.cuh
  cpp/test/sg/fil_test.cu
  python/cuml/test/test_fil.py
Labels: CUDA/C++, Cython / Python, feature request, libcuml, non-breaking

#3601 Update Changelog Link [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#3605 [Doc] Update the build doc regarding the use of GCC 7.5
  BUILD.md
Labels: doc, non-breaking

#3600 Update One-Hot Encoder doc
  python/cuml/preprocessing/encoders.py
Labels: 3 - Ready for Review, Cython / Python, doc, non-breaking

#3594 Fixing compatibility issue with CUDA array interface
  python/cuml/common/memory_utils.py
Labels: 4 - Waiting on Author, Cython / Python, improvement, non-breaking

#3613 ENH Fix stale GHA and prevent duplicates [skip-ci]
  .github/workflows/stale.yaml
Labels: improvement, non-breaking

#3614 Revert "ENH Fix stale GHA and prevent duplicates [skip-ci]"
  .github/workflows/stale.yaml
Labels: improvement, non-breaking

#3609 Update predict() / predict_proba() of RF to match sklearn
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/test/dask/test_random_forest.py
  python/cuml/test/test_random_forest.py
Labels: 3 - Ready for Review, Cython / Python, breaking, bug

#3612 [REVIEW] Fixing support for empty rows in sparse Jaccard / Cosine
  cpp/src_prims/sparse/distance/bin_distance.cuh
  cpp/src_prims/sparse/distance/l2_distance.cuh
  cpp/test/prims/sparse/distance.cu
Labels: 3 - Ready for Review, CUDA / C++, CUDA/C++, bug, non-breaking

#3617 Including log loss metric to the documentation website
  docs/source/api.rst
Labels: 5 - Ready to Merge, doc, non-breaking

#3619 Silhouette Score `make_monotonic` for non-monotonic label set
  python/cuml/metrics/cluster/silhouette_score.pyx
  python/cuml/test/test_metrics.py
Labels: 4 - Waiting on Reviewer, Cython / Python, bug, non-breaking

#3586 [REVIEW] Fixes memory allocation for experimental backend and improves quantile computations
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/quantile/quantile.cuh
  cpp/src/decisiontree/quantile/quantile.h
  cpp/src/randomforest/randomforest_impl.cuh
  cpp/test/CMakeLists.txt
  cpp/test/sg/decisiontree_batchedlevel_unittest.cu
  cpp/test/sg/rf_quantiles_test.cu
Labels: 4 - Waiting on Reviewer, CMake, CUDA/C++, bug, non-breaking

#3358 [REVIEW] RF param initialization cython and C++ layer cleanup
  cpp/bench/sg/fil.cu
  cpp/bench/sg/rf_classifier.cu
  cpp/bench/sg/rf_regressor.cu
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/src/randomforest/randomforest.cu
  cpp/test/sg/rf_accuracy_test.cu
  cpp/test/sg/rf_batched_classification_test.cu
  cpp/test/sg/rf_batched_regression_test.cu
  cpp/test/sg/rf_depth_test.cu
  cpp/test/sg/rf_test.cu
  cpp/test/sg/rf_treelite_test.cu
  python/cuml/ensemble/randomforest_shared.pxd
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Labels: CUDA / C++, CUDA/C++, Cython / Python, improvement, libcuml, non-breaking

#3545 [REVIEW] Single-linkage Hierarchical Clustering C++
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
  cpp/CMakeLists.txt
  cpp/bench/CMakeLists.txt
  cpp/bench/sg/linkage.cu
  cpp/cmake/Dependencies.cmake
  cpp/include/cuml/cluster/linkage.hpp
  cpp/include/cuml/neighbors/knn.hpp
  cpp/src/hierarchy/linkage.cu
  cpp/src/hierarchy/pw_dist_graph.cuh
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.cuh
  cpp/test/CMakeLists.txt
  cpp/test/prims/sparse/distance.cu
  cpp/test/sg/linkage_test.cu
  python/cuml/neighbors/nearest_neighbors.pyx
Labels: 4 - Waiting on Reviewer, CMake, CUDA / C++, CUDA/C++, Cython / Python, RAFT, conda, feature request, non-breaking

#3634 Update doc, now that FIL supports multi-class classification
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/fil/fil.pyx
Labels: 3 - Ready for Review, doc, non-breaking

#3533 [REVIEW] Additional distance metrics for ANN
  cpp/include/cuml/neighbors/knn.hpp
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.cuh
  python/cuml/neighbors/__init__.py
  python/cuml/neighbors/ann.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/test/test_metrics.py
  python/cuml/test/test_nearest_neighbors.py
Labels: 5 - Ready to Merge, CUDA/C++, Cython / Python, improvement, non-breaking

#3635 Update doc to indicate ExtraTree support
  python/cuml/fil/fil.pyx
  python/cuml/test/test_fil.py
Labels: 5 - Ready to Merge, doc, non-breaking

#3642 OOB access in GLM SoftMax
  cpp/src/glm/qn/glm_softmax.cuh
Labels: CUDA / C++, bug, non-breaking

#3572 [REVIEW] Support for sample_weight parameter in LogisticRegression
  cpp/include/cuml/linear_model/glm.hpp
  cpp/src/glm/glm.cu
  cpp/src/glm/qn/glm_base.cuh
  cpp/src/glm/qn/qn.cuh
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/test/test_linear_model.py
Labels: 5 - Ready to Merge, CUDA/C++, Cython / Python, feature request, non-breaking

#3648 CUDA 11.2 developer environment [skip-ci]
  conda/environments/cuml_dev_cuda11.2.yml
Labels: conda, improvement, non-breaking

#3633 Document model_type='xgboost_json' in FIL
  python/cuml/fil/fil.pyx
  python/cuml/test/test_fil.py
Labels: 5 - Ready to Merge, Cython / Python, doc, non-breaking

#3647 [REVIEW] Store data frequencies in tree nodes of RF
  cpp/include/cuml/tree/flatnode.h
  cpp/src/decisiontree/batched-levelalgo/builder.cuh
  cpp/src/decisiontree/decisiontree_impl.cuh
  python/cuml/test/dask/test_random_forest.py
  python/cuml/test/test_random_forest.py
Labels: 5 - Ready to Merge, CUDA / C++, CUDA/C++, Cython / Python, Dask / cuml.dask, improvement, non-breaking

#3657 Disable three flaky tests
  cpp/test/prims/adjusted_rand_index.cu
  cpp/test/prims/silhouette_score.cu
  python/cuml/test/test_pca.py
Labels: 3 - Ready for Review, CUDA / C++, CUDA/C++, Cython / Python, improvement, non-breaking, tests

#3658 [REVIEW] Use custom conda build directory for ccache integration
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
Labels: gpuCI, improvement, non-breaking

#3611 [REVIEW] Fix train_test_split with stratify option
  python/cuml/model_selection/_split.py
  python/cuml/test/test_train_test_split.py
Labels: 4 - Waiting on Reviewer, Cython / Python, bug, non-breaking

#3589 Remove cutlass usage in row major input for euclidean exp/unexp, cosine and L1 distance matrix
  cpp/src_prims/distance/cosine.cuh
  cpp/src_prims/distance/euclidean.cuh
  cpp/src_prims/distance/l1.cuh
  cpp/src_prims/distance/pairwise_distance_base.cuh
Labels: CUDA/C++, improvement, non-breaking

#3664 Use ninja as default CMake generator
  BUILD.md
  build.sh
Labels: 3 - Ready for Review, feature request, non-breaking

#3650 [WIP] Fixing Indentation for Docstring Generators
  python/cuml/common/doc_utils.py
Labels: 3 - Ready for Review, Cython / Python, doc, non-breaking

#3585 Support for precomputed distance matrix in DBSCAN
  cpp/bench/sg/dbscan.cu
  cpp/cmake/Dependencies.cmake
  cpp/examples/dbscan/dbscan_example.cpp
  cpp/include/cuml/cluster/dbscan.hpp
  cpp/src/dbscan/dbscan.cu
  cpp/src/dbscan/dbscan.cuh
  cpp/src/dbscan/dbscan_api.cpp
  cpp/src/dbscan/runner.cuh
  cpp/src/dbscan/vertexdeg/precomputed.cuh
  cpp/src/dbscan/vertexdeg/runner.cuh
  cpp/test/sg/dbscan_test.cu
  python/cuml/cluster/dbscan.pyx
  python/cuml/metrics/distance_type.pxd
  python/cuml/test/dask/test_dbscan.py
  python/cuml/test/test_dbscan.py
Labels: 4 - Waiting on Reviewer, CMake, CUDA/C++, Cython / Python, feature request, non-breaking

#3667 [REVIEW] Deprecating quantile-per-tree and removing three previously deprecated Random Forest parameters
  docs/source/estimator_intro.ipynb
  notebooks/random_forest_demo.ipynb
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/test/test_random_forest.py
Labels: Cython / Python, breaking, doc

#3669 [REVIEW] Remove `check_cupy8`
  python/cuml/_thirdparty/sklearn/preprocessing/_data.py
  python/cuml/_thirdparty/sklearn/preprocessing/_discretization.py
  python/cuml/_thirdparty/sklearn/preprocessing/_imputation.py
  python/cuml/common/import_utils.py
  python/cuml/test/test_preprocessing.py
Labels: 4 - Waiting on Author, improvement, non-breaking

#3640 SilhouetteScore C++ tests seed
  cpp/src_prims/metrics/batched/silhouette_score.cuh
  cpp/test/prims/silhouette_score.cu
  python/cuml/test/test_metrics.py
Labels: CUDA / C++, CUDA/C++, Cython / Python, bug, non-breaking

#3639 Row major Gram matrices
  cpp/bench/prims/gram_matrix.cu
  cpp/src/svm/kernelcache.cuh
  cpp/src/svm/svc_impl.cuh
  cpp/src_prims/matrix/grammatrix.cuh
  cpp/src_prims/matrix/kernelmatrices.cuh
  cpp/test/prims/gram.cu
Labels: 4 - Waiting on Reviewer, CUDA/C++, improvement, non-breaking

#3681 Use main build.sh to build docs in docs CI [skip-ci]
  ci/docs/build.sh
Labels: 3 - Ready for Review, bug, gpuCI, non-breaking

#3680 Revert "Update conda recipes pinning of repo dependencies" [skip-ci]
  conda/recipes/cuml/meta.yaml
Labels: bug, conda, non-breaking
