Repository rapidsai/cuml, pull requests merged in 2021-11, with the labels that each got.

#4319 Enable crosslink to rmm
  ci/docs/build.sh
  ci/release/update-version.sh
  cpp/Doxyfile.in
Labels: gpuCI, CUDA/C++

#4325 Revert "Merge pull request #4319 from AyodeAwe/branch-21.12" [skip ci]
  ci/docs/build.sh
  ci/release/update-version.sh
  cpp/Doxyfile.in
Labels: bug, non-breaking

#4306 Split treelite fil import from `forest` object definition
  cpp/CMakeLists.txt
  cpp/include/cuml/fil/fnv_hash.h
  cpp/src/fil/fil.cu
  cpp/src/fil/treelite_import.cu
Labels: Tech Debt, 4 - Waiting on Reviewer, improvement, non-breaking, CMake, CUDA/C++

#4323 [ENH] Ability to pass fp64 type to cuml benchmarks
  python/cuml/benchmark/datagen.py
  python/cuml/benchmark/run_benchmarks.py
  python/cuml/benchmark/runners.py
Labels: Cython / Python, improvement, non-breaking

#4301 update xgboost version
  ci/gpu/build.sh
Labels: 3 - Ready for Review, gpuCI, improvement, non-breaking

#4320 Fix GLM typo on device/host pointer [skip-ci]
  cpp/include/cuml/linear_model/glm.hpp
  cpp/src/glm/ols.cuh
  cpp/src/glm/ridge.cuh
Labels: 3 - Ready for Review, doc, non-breaking, CUDA/C++

#4324 Use compute-sanitizer instead of cuda-memcheck [skip-ci]
  cpp/scripts/cuda-memcheck.py
Labels: Cython / Python, improvement, non-breaking

#4327 rapids-cmake version update to 21.12
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review, improvement, non-breaking, CMake, CUDA/C++

#4255 Fix indexing of PCA to use safer types
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/include/cuml/decomposition/params.hpp
  cpp/include/cuml/decomposition/pca_mg.hpp
  cpp/include/cuml/decomposition/sign_flip_mg.hpp
  cpp/include/cuml/decomposition/tsvd_mg.hpp
  cpp/src/pca/pca.cuh
  cpp/src/pca/pca_mg.cu
  cpp/src/pca/sign_flip_mg.cu
  cpp/src/tsvd/tsvd.cuh
  cpp/src/tsvd/tsvd_mg.cu
  cpp/src_prims/stats/cov.cuh
  python/cuml/decomposition/pca_mg.pyx
  python/cuml/decomposition/utils.pxd
Labels: Cython / Python, improvement, breaking, CMake, CUDA/C++

#4196 Remove most warnings from pytest suite
  python/cuml/_thirdparty/sklearn/preprocessing/_column_transformer.py
  python/cuml/_thirdparty/sklearn/preprocessing/_data.py
  python/cuml/_thirdparty/sklearn/preprocessing/_discretization.py
  python/cuml/_thirdparty/sklearn/preprocessing/_imputation.py
  python/cuml/_thirdparty/sklearn/utils/extmath.py
  python/cuml/_thirdparty/sklearn/utils/sparsefuncs.py
  python/cuml/_thirdparty/sklearn/utils/validation.py
  python/cuml/cluster/agglomerative.pyx
  python/cuml/common/sparsefuncs.py
  python/cuml/dask/decomposition/pca.py
  python/cuml/dask/decomposition/tsvd.py
  python/cuml/dask/ensemble/base.py
  python/cuml/dask/manifold/umap.py
  python/cuml/experimental/linear_model/lars.pyx
  python/cuml/feature_extraction/_tfidf.py
  python/cuml/manifold/t_sne.pyx
  python/cuml/metrics/trustworthiness.pyx
  python/cuml/model_selection/_split.py
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/preprocessing/encoders.py
  python/cuml/preprocessing/text/stem/porter_stemmer.py
  python/cuml/test/dask/test_linear_regression.py
  python/cuml/test/dask/test_ridge_regression.py
  python/cuml/test/dask/test_tfidf.py
  python/cuml/test/dask/test_umap.py
  python/cuml/test/test_adapters.py
  python/cuml/test/test_api.py
  python/cuml/test/test_base.py
  python/cuml/test/test_coordinate_descent.py
  python/cuml/test/test_cuml_descr_decor.py
  python/cuml/test/test_hdbscan.py
  python/cuml/test/test_holtwinters.py
  python/cuml/test/test_kneighbors_classifier.py
  python/cuml/test/test_linear_model.py
  python/cuml/test/test_make_classification.py
  python/cuml/test/test_mbsgd_classifier.py
  python/cuml/test/test_mbsgd_regressor.py
  python/cuml/test/test_metrics.py
  python/cuml/test/test_nearest_neighbors.py
  python/cuml/test/test_one_hot_encoder.py
  python/cuml/test/test_pickle.py
  python/cuml/test/test_preproc_utils.py
  python/cuml/test/test_preprocessing.py
  python/cuml/test/test_random_forest.py
  python/cuml/test/test_stationarity.py
  python/cuml/test/test_tfidf.py
  python/cuml/test/test_thirdparty.py
  python/cuml/test/test_tsne.py
  python/cuml/test/test_umap.py
  python/cuml/thirdparty_adapters/adapters.py
  python/cuml/thirdparty_adapters/sparsefuncs_fast.py
  python/cuml/tsa/seasonality.pyx
  python/cuml/tsa/stationarity.pyx
  python/pytest.ini
Labels: bug, 3 - Ready for Review, tests, Cython / Python, non-breaking

#4311 [FEA] Compress CUDA device code
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: feature request, Build or Dep, 5 - Ready to Merge, non-breaking, CMake, CUDA/C++

#4333 Temporarily disable rmm devicebuffer in array.py
  python/cuml/common/array.py
  python/cuml/test/test_array.py
Labels: bug, Cython / Python, non-breaking

#4330 Update rapids-cmake version
  cpp/CMakeLists.txt
  cpp/cmake/override_cpm.json
  cpp/cmake/thirdparty/get_raft.cmake
Labels: improvement, non-breaking, CMake, CUDA/C++

#4331 Fix unnecessary f32/f64 conversions in t-SNE KL calc
  cpp/src/tsne/utils.cuh
Labels: improvement, non-breaking, CUDA/C++

#4337 Use IS_STABLE_BUILD env variable to detect nightly builds
  ci/cpu/build.sh
Labels: gpuCI, improvement, non-breaking

#4339 Forward merge branch-21.10 into main
  ci/cpu/build.sh
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: gpuCI, CMake, CUDA/C++

#4343 Update `CUDA` Flags [skip ci]
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: bug, non-breaking, CMake, CUDA/C++

#4315 Fix potential CUDA context poison when negative (invalid) categories provided to FIL model [21.10]
  cpp/src/fil/fil.cu
  cpp/src/fil/internal.cuh
  cpp/test/sg/fil_child_index_test.cu
  cpp/test/sg/fil_test.cu
  python/cuml/fil/fil.pyx
  python/cuml/test/test_fil.py
Labels: bug, 3 - Ready for Review, ! - Hotfix, Cython / Python, non-breaking, CUDA/C++

#4347 Fix stable logic
  ci/cpu/build.sh
Labels: bug, gpuCI, non-breaking

#4348 Fix stable logic - `21.08`
  ci/cpu/build.sh
Labels: bug, gpuCI, non-breaking

#4350 Fix `is_stable_build` logic for CI scripts
  ci/cpu/build.sh
Labels: bug, non-breaking

#4355 Mark Hellinger sparse test as xfail
  python/cuml/test/test_metrics.py
Labels: bug, Cython / Python, non-breaking

#4353 Forward merge branch-21.10 into main
  ci/cpu/build.sh
  cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/src/fil/fil.cu
  cpp/src/fil/internal.cuh
  cpp/test/sg/fil_child_index_test.cu
  cpp/test/sg/fil_test.cu
  python/cuml/fil/fil.pyx
  python/cuml/test/test_fil.py
  python/cuml/test/test_metrics.py
Labels: gpuCI, Cython / Python, CMake, CUDA/C++

#4358 Fix SVR intercept AttributeError
  python/cuml/svm/svm_base.pyx
Labels: bug, 3 - Ready for Review, Cython / Python, non-breaking

#3759 Use opt-in shared memory carveout for FIL
  cpp/src/fil/common.cuh
  cpp/src/fil/fil.cu
  cpp/src/fil/internal.cuh
  cpp/test/sg/fil_test.cu
Labels: feature request, CUDA / C++, 5 - Ready to Merge, Perf, non-breaking, CUDA/C++

#4317 Preserve indexing in methods when applied to DataFrame and Series objects
  python/cuml/cluster/dbscan.pyx
  python/cuml/cluster/hdbscan.pyx
  python/cuml/cluster/kmeans.pyx
  python/cuml/common/array.py
  python/cuml/common/array_sparse.py
  python/cuml/common/input_utils.py
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/experimental/linear_model/lars.pyx
  python/cuml/fil/fil.pyx
  python/cuml/linear_model/base.pyx
  python/cuml/manifold/t_sne.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/random_projection/random_projection.pyx
  python/cuml/solvers/cd.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/svm/svm_base.pyx
  python/cuml/test/test_input_utils.py
Labels: bug, 3 - Ready for Review, Cython / Python, non-breaking

#4267 Update of "Gracefully accept 'n_jobs', a common sklearn parameter, in NearestNeighbors Estimator"
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/test/test_nearest_neighbors.py
Labels: Cython / Python, 4 - Waiting on Reviewer, improvement, non-breaking

#4326 Fix categorical test in python
  python/cuml/test/test_fil.py
Labels: bug, tests, Cython / Python, Tech Debt, non-breaking

#4364 Add CUDA 11.5 developer environment [skip-ci]
  conda/environments/cuml_dev_cuda11.5.yml
Labels: conda, improvement, non-breaking

#4300 Enable training single GPU cuML models using Dask DataFrames and Series
  python/cuml/common/import_utils.py
  python/cuml/common/input_utils.py
  python/cuml/solvers/qn.pyx
  python/cuml/test/dask/test_dask_sql.py
Labels: feature request, 4 - Waiting on Author, Cython / Python, non-breaking, Experimental

#4363 Fix aliasing violation in t-SNE
  cpp/src/tsne/utils.cuh
Labels: improvement, non-breaking, CUDA/C++

#4365 Update clang-format version in docs; allow unanchored version string
  cpp/README.md
  cpp/scripts/run-clang-format.py
Labels: improvement, non-breaking, CUDA/C++

#4314 Fix potential CUDA context poison when negative (invalid) categories provided to FIL model [21.12]
  cpp/src/fil/infer.cu
  cpp/src/fil/internal.cuh
  cpp/src/fil/treelite_import.cu
  cpp/test/sg/fil_child_index_test.cu
  cpp/test/sg/fil_test.cu
  python/cuml/fil/fil.pyx
Labels: bug, 4 - Waiting on Author, Cython / Python, non-breaking, CUDA/C++

#4366 Restore FIL convention of inlining code
  cpp/src/fil/infer.cu
Labels: bug, Tech Debt, Perf, non-breaking, CUDA/C++

#4288 Update `conda` recipes for Enhanced Compatibility effort
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
Labels: conda, improvement, non-breaking

#4374 Fix forward merge #4349 [skip-ci]
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: improvement, non-breaking, CMake, CUDA/C++

#4268 LinearSVM using QN solvers
  cpp/CMakeLists.txt
  cpp/include/cuml/svm/linear.hpp
  cpp/src/glm/glm.cu
  cpp/src/glm/qn/glm_base.cuh
  cpp/src/glm/qn/glm_linear.cuh
  cpp/src/glm/qn/glm_logistic.cuh
  cpp/src/glm/qn/glm_svm.cuh
  cpp/src/glm/qn/qn.cuh
  cpp/src/glm/qn/qn_util.cuh
  cpp/src/svm/linear.cu
  cpp/test/CMakeLists.txt
  cpp/test/sg/linear_svm_test.cu
  cpp/test/sg/quasi_newton.cu
  docs/source/api.rst
  python/cuml/__init__.py
  python/cuml/svm/__init__.py
  python/cuml/svm/linear.pyx
  python/cuml/svm/linear_svc.py
  python/cuml/svm/linear_svr.py
  python/cuml/test/test_linear_svm.py
Labels: feature request, 3 - Ready for Review, Cython / Python, non-breaking, CMake, CUDA/C++

#4293 Update cudf matrix calls for to_numpy and to_cupy
  notebooks/arima_demo.ipynb
  notebooks/kmeans_demo.ipynb
  notebooks/nearest_neighbors_demo.ipynb
  notebooks/random_forest_mnmg_demo.ipynb
  python/cuml/benchmark/bench_helper_funcs.py
  python/cuml/benchmark/datagen.py
  python/cuml/benchmark/runners.py
  python/cuml/common/input_utils.py
  python/cuml/common/memory_utils.py
  python/cuml/dask/common/dask_arr_utils.py
  python/cuml/experimental/hyperparams/HPO_demo.ipynb
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/preprocessing/encoders.py
  python/cuml/solvers/sgd.pyx
  python/cuml/test/dask/test_kmeans.py
  python/cuml/test/dask/test_kneighbors_classifier.py
  python/cuml/test/dask/test_kneighbors_regressor.py
  python/cuml/test/dask/test_label_encoder.py
  python/cuml/test/dask/test_nearest_neighbors.py
  python/cuml/test/dask/test_one_hot_encoder.py
  python/cuml/test/dask/test_pca.py
  python/cuml/test/dask/test_random_forest.py
  python/cuml/test/dask/test_tsvd.py
  python/cuml/test/test_array.py
  python/cuml/test/test_cuml_descr_decor.py
  python/cuml/test/test_holtwinters.py
  python/cuml/test/test_input_utils.py
  python/cuml/test/test_kneighbors_classifier.py
  python/cuml/test/test_label_binarizer.py
  python/cuml/test/test_label_encoder.py
  python/cuml/test/test_linear_model.py
  python/cuml/test/test_metrics.py
  python/cuml/test/test_nearest_neighbors.py
  python/cuml/test/test_one_hot_encoder.py
  python/cuml/test/test_random_forest.py
  python/cuml/test/test_sgd.py
  python/cuml/test/test_train_test_split.py
Labels: 2 - In Progress, Cython / Python, improvement, non-breaking

#4221 Add support for exogenous variables to ARIMA
  cpp/bench/sg/arima_loglikelihood.cu
  cpp/include/cuml/tsa/arima_common.h
  cpp/include/cuml/tsa/batched_arima.hpp
  cpp/include/cuml/tsa/batched_kalman.hpp
  cpp/src/arima/batched_arima.cu
  cpp/src/arima/batched_kalman.cu
  cpp/src_prims/linalg/batched/matrix.cuh
  cpp/src_prims/timeSeries/arima_helpers.cuh
  notebooks/arima_demo.ipynb
  python/cuml/datasets/arima.pyx
  python/cuml/test/test_arima.py
  python/cuml/test/ts_datasets/README.md
  python/cuml/test/ts_datasets/endog_deaths_by_region_exog.csv
  python/cuml/test/ts_datasets/endog_guest_nights_by_region_missing_exog.csv
  python/cuml/test/ts_datasets/endog_hourly_earnings_by_industry_missing_exog.csv
  python/cuml/test/ts_datasets/exog_deaths_by_region_exog.csv
  python/cuml/test/ts_datasets/exog_guest_nights_by_region_missing_exog.csv
  python/cuml/test/ts_datasets/exog_hourly_earnings_by_industry_missing_exog.csv
  python/cuml/tsa/arima.pxd
  python/cuml/tsa/arima.pyx
Labels: feature request, 3 - Ready for Review, CUDA / C++, Cython / Python, non-breaking, CUDA/C++

#4351 [FEA] Add GPUTreeSHAP to cuML explainer module (experimental)
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_gputreeshap.cmake
  cpp/include/cuml/explainer/tree_shap.hpp
  cpp/src/decisiontree/decisiontree.cuh
  cpp/src/explainer/tree_shap.cu
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/experimental/explainer/__init__.py
  python/cuml/experimental/explainer/tree_shap.pyx
  python/cuml/fil/fil.pyx
  python/cuml/test/explainer/test_gpu_treeshap.py
Labels: feature request, 3 - Ready for Review, Cython / Python, non-breaking, CMake, Experimental, CUDA/C++

#4361 Promote FITSNE from experimental
  python/cuml/manifold/t_sne.pyx
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking

#4372 [REVIEW] Upgrade `clang` to `11.1.0`
  cpp/README.md
  cpp/scripts/run-clang-format.py
Labels: 5 - Ready to Merge, improvement, non-breaking, CUDA/C++

#4393 Fix Changelog Merge Conflicts for `branch-21.12`
  CHANGELOG.md
Labels: improvement, non-breaking

#4390 [REVIEW] Pin max `dask` and `distributed` to `2012.11.2`
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
Labels: gpuCI, conda, improvement, non-breaking

#4392 Update conda recipe to have explicit libcusolver
  conda/recipes/libcuml/meta.yaml
Labels: bug, 3 - Ready for Review, conda, non-breaking

#4398 Add experimental GPUTreeSHAP to API doc [skip-ci]
  docs/source/api.rst
Labels: doc, non-breaking
