Repository rapidsai/cuml, pull requests merged in 2021-07, with the labels that each got.

#4018 [FIX] Add Treelite_BINARY_DIR include to `cuml++` build interface include paths
  cpp/CMakeLists.txt
Labels: CMake, CUDA/C++, bug, non-breaking

#4017 Small ARIMA-related bug fixes in Hessenberg reduction and make_arima
  cpp/src_prims/linalg/batched/matrix.cuh
  cpp/src_prims/random/make_arima.cuh
Labels: 3 - Ready for Review, CUDA/C++, bug, non-breaking

#3916 Adaptive stress tests when GPU memory capacity is insufficient
  python/cuml/test/conftest.py
  python/cuml/test/dask/test_tsvd.py
  python/cuml/test/test_dbscan.py
  python/cuml/test/test_lars.py
  python/cuml/test/test_mbsgd_regressor.py
  python/cuml/test/test_pca.py
  python/cuml/test/test_pickle.py
Labels: 2 - In Progress, Cython / Python, improvement, non-breaking

#4005 [REVIEW] RF/DT cleanup
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/batched-levelalgo/builder.cuh
  cpp/src/decisiontree/batched-levelalgo/builder_base.cuh
  cpp/src/decisiontree/batched-levelalgo/input.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels.cuh
  cpp/src/decisiontree/batched-levelalgo/metrics.cuh
  cpp/src/decisiontree/batched-levelalgo/node.cuh
  cpp/src/decisiontree/batched-levelalgo/split.cuh
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree.cuh
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/quantile/quantile.cuh
  cpp/src/decisiontree/quantile/quantile.h
  cpp/src/decisiontree/treelite_util.h
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest.cuh
  cpp/src/randomforest/randomforest_impl.cuh
  cpp/src/randomforest/randomforest_impl.h
  cpp/test/sg/decisiontree_batchedlevel_algo.cu
  cpp/test/sg/decisiontree_batchedlevel_unittest.cu
  cpp/test/sg/rf_depth_test.cu
  cpp/test/sg/rf_quantiles_test.cu
  cpp/test/sg/rf_treelite_test.cu
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Labels: CUDA/C++, Cython / Python, breaking, improvement

#4023 [FIX] Add treelite include paths to treelite targets
  cpp/CMakeLists.txt
  cpp/bench/CMakeLists.txt
  cpp/cmake/thirdparty/get_treelite.cmake
Labels: CMake, CUDA/C++, bug, non-breaking

#4026 [DOC] Improve docstrings for silhouette score metrics.
  python/cuml/metrics/cluster/silhouette_score.pyx
Labels: Cython / Python, doc, non-breaking

#4028 [FIX] Always add `faiss` library alias if it's missing
  cpp/cmake/thirdparty/get_faiss.cmake
Labels: CMake, CUDA/C++, bug, non-breaking

#4024 HDBSCAN bug on A100
  cpp/src/hdbscan/detail/condense.cuh
  cpp/src/hdbscan/detail/kernels/condense.cuh
  cpp/src/hdbscan/detail/kernels/select.cuh
  cpp/src/hdbscan/detail/select.cuh
  python/cuml/test/test_hdbscan.py
Labels: 4 - Waiting on Reviewer, CUDA / C++, CUDA/C++, Cython / Python, bug, non-breaking

#4025 Fixing intermittent HBDSCAN pytest failure in CI
  cpp/src/hdbscan/runner.h
Labels: 3 - Ready for Review, CUDA / C++, bug, non-breaking

#3990 [REVIEW] Use chebyshev, canberra, hellinger and minkowski distance metrics
  ci/checks/style.sh
  cpp/CMakeLists.txt
  cpp/include/cuml/metrics/metrics.hpp
  cpp/src/hierarchy/pw_dist_graph.cuh
  cpp/src/kmeans/common.cuh
  cpp/src/metrics/pairwise_distance.cu
  cpp/src/metrics/pairwise_distance_canberra.cu
  cpp/src/metrics/pairwise_distance_canberra.cuh
  cpp/src/metrics/pairwise_distance_chebyshev.cu
  cpp/src/metrics/pairwise_distance_chebyshev.cuh
  cpp/src/metrics/pairwise_distance_cosine.cu
  cpp/src/metrics/pairwise_distance_cosine.cuh
  cpp/src/metrics/pairwise_distance_euclidean.cu
  cpp/src/metrics/pairwise_distance_euclidean.cuh
  cpp/src/metrics/pairwise_distance_hellinger.cu
  cpp/src/metrics/pairwise_distance_hellinger.cuh
  cpp/src/metrics/pairwise_distance_l1.cu
  cpp/src/metrics/pairwise_distance_l1.cuh
  cpp/src/metrics/pairwise_distance_minkowski.cu
  cpp/src/metrics/pairwise_distance_minkowski.cuh
  cpp/src/metrics/silhouette_score.cu
  cpp/src_prims/metrics/batched/silhouette_score.cuh
  cpp/src_prims/metrics/silhouette_score.cuh
  cpp/src_prims/metrics/trustworthiness_score.cuh
  cpp/test/prims/silhouette_score.cu
  cpp/test/sg/dbscan_test.cu
  cpp/test/sg/rproj_test.cu
  python/cuml/metrics/pairwise_distances.pyx
  python/cuml/test/test_metrics.py
Labels: 2 - In Progress, CMake, CUDA/C++, Cython / Python, feature request, gpuCI, non-breaking

#4039 Update `conda` environment name for CI
  ci/checks/style.sh
Labels: gpuCI, improvement, non-breaking

#4009 Testing extract clusters in HDBSCAN
  cpp/include/cuml/cluster/hdbscan.hpp
  cpp/src/hdbscan/condensed_hierarchy.cu
  cpp/src/hdbscan/hdbscan.cu
  python/cuml/experimental/cluster/hdbscan.pyx
  python/cuml/test/test_hdbscan.py
Labels: CUDA / C++, CUDA/C++, Cython / Python, improvement, non-breaking, tests

#4004 [REVIEW] Exposing condensed hierarchy through cython for easier unit-level testing
  cpp/include/cuml/cluster/hdbscan.hpp
  cpp/src/hdbscan/detail/condense.cuh
  cpp/src/hdbscan/hdbscan.cu
  python/cuml/experimental/cluster/__init__.py
  python/cuml/experimental/cluster/hdbscan.pyx
  python/cuml/test/test_hdbscan.py
Labels: 3 - Ready for Review, CUDA/C++, Cython / Python, Tech Debt, improvement, non-breaking, tests

#4040 Fix double fit crash in preprocessing models
  python/cuml/_thirdparty/sklearn/preprocessing/_data.py
  python/cuml/test/test_preprocessing.py
Labels: 5 - Ready to Merge, Cython / Python, bug, non-breaking

#4022 Raise ARIMA parameter limits from 4 to 8
  cpp/src_prims/timeSeries/jones_transform.cuh
  python/cuml/test/test_arima.py
  python/cuml/tsa/arima.pyx
Labels: 3 - Ready for Review, CUDA / C++, CUDA/C++, Cython / Python, improvement, non-breaking

#4006 ARIMA - Kalman loop rewrite: single megakernel instead of host loop
  cpp/include/cuml/tsa/arima_common.h
  cpp/src/arima/batched_kalman.cu
  cpp/src_prims/linalg/block.cuh
  cpp/test/CMakeLists.txt
  cpp/test/prims/linalg_block.cu
Labels: 3 - Ready for Review, CMake, CUDA/C++, Perf, improvement, non-breaking

#4052 Fixing -1 key access in 1nn reduce op in HDBSCAN
  cpp/src/hdbscan/runner.h
Labels: CUDA / C++, bug, non-breaking

#4049 Disable installing gbench to avoid container permission issues
  cpp/bench/CMakeLists.txt
  cpp/cmake/thirdparty/get_gbench.cmake
Labels: 3 - Ready for Review, CMake, CUDA/C++, bug, non-breaking

#4055 Fix fit_transform on KMeans
  python/cuml/cluster/kmeans.pyx
  python/cuml/test/test_kmeans.py
Labels: 3 - Ready for Review, Cython / Python, bug, non-breaking

#4060 [gpuCI] Forward-merge branch-21.08 to branch-21.10 [skip ci]
  python/cuml/cluster/kmeans.pyx
  python/cuml/test/test_kmeans.py
Labels: Cython / Python

#4062 Fix train test split pytest comparison
  python/cuml/test/test_train_test_split.py
Labels: 3 - Ready for Review, Cython / Python, bug, non-breaking

#4038 Rewrite random forest gtests
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/include/cuml/tree/flatnode.h
  cpp/src/decisiontree/batched-levelalgo/builder_base.cuh
  cpp/src/decisiontree/batched-levelalgo/node.cuh
  cpp/src/decisiontree/decisiontree.cuh
  cpp/src/decisiontree/quantile/quantile.cuh
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest.cuh
  cpp/test/CMakeLists.txt
  cpp/test/sg/decisiontree_batchedlevel_algo.cu
  cpp/test/sg/rf_accuracy_test.cu
  cpp/test/sg/rf_batched_classification_test.cu
  cpp/test/sg/rf_batched_regression_test.cu
  cpp/test/sg/rf_depth_test.cu
  cpp/test/sg/rf_quantiles_test.cu
  cpp/test/sg/rf_test.cu
  cpp/test/sg/rf_treelite_test.cu
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/ensemble/randomforestclassifier.pyx
Labels: CMake, CUDA/C++, Cython / Python, improvement, non-breaking

#4074 [gpuCI] Forward-merge branch-21.08 to branch-21.10 [skip ci]
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/include/cuml/tree/flatnode.h
  cpp/src/decisiontree/batched-levelalgo/builder_base.cuh
  cpp/src/decisiontree/batched-levelalgo/node.cuh
  cpp/src/decisiontree/decisiontree.cuh
  cpp/src/decisiontree/quantile/quantile.cuh
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest.cuh
  cpp/test/CMakeLists.txt
  cpp/test/sg/decisiontree_batchedlevel_algo.cu
  cpp/test/sg/rf_accuracy_test.cu
  cpp/test/sg/rf_batched_classification_test.cu
  cpp/test/sg/rf_batched_regression_test.cu
  cpp/test/sg/rf_depth_test.cu
  cpp/test/sg/rf_quantiles_test.cu
  cpp/test/sg/rf_test.cu
  cpp/test/sg/rf_treelite_test.cu
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/ensemble/randomforestclassifier.pyx
Labels: CMake, CUDA/C++, Cython / Python

#4072 Upgrade Treelite to 2.0.0
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
  cpp/cmake/thirdparty/get_treelite.cmake
  cpp/src/randomforest/randomforest.cu
  cpp/test/sg/rf_treelite_test.cu
Labels: 5 - Ready to Merge, CMake, CUDA/C++, Tech Debt, breaking, conda, improvement

#4061 [REVIEW] Adding quick notes to HDBSCAN public API docs as to why discrepancies may occur between cpu and gpu impls.
  cpp/include/cuml/cluster/hdbscan.hpp
  python/cuml/experimental/cluster/hdbscan.pyx
Labels: 3 - Ready for Review, improvement, non-breaking

#4053 Add Multinomial and Bernoulli Naive Bayes variants
  docs/source/api.rst
  python/cuml/naive_bayes/__init__.py
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/prims/array.py
  python/cuml/test/test_naive_bayes.py
Labels: Cython / Python, feature request, non-breaking

#3791 Tolerate QN linesearch failures when it's harmless
  cpp/src/glm/qn/qn_solvers.cuh
Labels: 3 - Ready for Review, CUDA/C++, bug, non-breaking

#3876 [Review] change TargetEncoder's smooth argument from ratio to count
  python/cuml/preprocessing/TargetEncoder.py
  python/cuml/test/test_target_encoder.py
Labels: 3 - Ready for Review, Cython / Python, feature request, non-breaking

#4082 Fix libfaiss dependency to not expressly depend on conda-forge
  conda/recipes/libcuml/meta.yaml
Labels: conda, improvement, non-breaking

#3983 [REVIEW] Using 64-bit array lengths to increase scale of pca & tsvd
  cpp/src/pca/pca.cuh
  cpp/src/tsvd/tsvd.cuh
  cpp/src_prims/linalg/lstsq.cuh
  cpp/src_prims/selection/knn.cuh
Labels: CUDA/C++, bug, non-breaking

#4097 Fix SVM model parameter handling in case n_support=0
  cpp/src/svm/results.cuh
  cpp/src/svm/smosolver.cuh
  cpp/src/svm/svc_impl.cuh
  cpp/test/sg/svc_test.cu
  python/cuml/svm/svm_base.pyx
  python/cuml/test/test_svm.py
Labels: 5 - Ready to Merge, CUDA/C++, Cython / Python, bug, non-breaking

#4099 Creating copy of `components` in PCA transform and inverse transform
  cpp/src/pca/pca.cuh
Labels: 3 - Ready for Review, CUDA / C++, CUDA/C++, bug, non-breaking

#4102 Use the new RAPIDS.cmake to fetch rapids-cmake
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review, CMake, CUDA/C++, bug, non-breaking

#4081 Remove deprecated target_weights in UMAP
  python/cuml/manifold/umap.pyx
  python/cuml/test/test_base.py
Labels: Cython / Python, breaking, improvement

#4109 Remove clang/clang-tools from conda recipe
  conda/recipes/libcuml/meta.yaml
Labels: conda, improvement, non-breaking

#4113 [gpuCI] Forward-merge branch-21.08 to branch-21.10 [skip ci]
  conda/recipes/libcuml/meta.yaml
Labels: conda

#4100 [REVIEW] Minimal fix for `SparseRandomProjection`
  cpp/src/random_projection/rproj.cuh
Labels: 3 - Ready for Review, CUDA/C++, bug, non-breaking

#4114 [gpuCI] Forward-merge branch-21.08 to branch-21.10 [skip ci]
  cpp/src/random_projection/rproj.cuh
Labels: CUDA/C++

#4108 Pin dask version
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
Labels: conda, gpuCI, improvement, non-breaking

#4112 [REVIEW] Running umap mnmg test twice
  python/cuml/test/dask/test_umap.py
Labels: 3 - Ready for Review, Cython / Python, bug, non-breaking

#4070 Optimize dtype conversion for FIL
  python/cuml/common/input_utils.py
  python/cuml/fil/fil.pyx
Labels: 2 - In Progress, Cython / Python, improvement, non-breaking

#4051 [REVIEW] Add weighted K-Means sampling for SHAP
  python/cuml/explainer/__init__.py
  python/cuml/explainer/sampling.py
  python/cuml/test/explainer/test_sampling.py
Labels: 4 - Waiting on Reviewer, Cython / Python, feature request, non-breaking

#4096 Fix set_params for linear models
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/linear_model/ridge.pyx
  python/cuml/test/test_coordinate_descent.py
  python/cuml/test/test_linear_model.py
  python/cuml/test/test_mbsgd_classifier.py
  python/cuml/test/test_mbsgd_regressor.py
Labels: 4 - Waiting on Author, Cython / Python, bug, non-breaking

#4101 [REVIEW] ANN warnings/tests updates
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/test/test_nearest_neighbors.py
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking

#4118 [REVIEW] Remove max version pin for `dask` & `distributed` on development branch
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
Labels: conda, gpuCI, improvement, non-breaking

#4083 [REVIEW] Removing local memory operations from computeSplitKernel and other optimizations
  cpp/src/decisiontree/batched-levelalgo/builder_base.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels.cuh
  cpp/src/decisiontree/batched-levelalgo/split.cuh
  cpp/test/sg/decisiontree_batchedlevel_unittest.cu
  cpp/test/sg/rf_test.cu
Labels: CUDA/C++, improvement, non-breaking

#4126 [REVIEW] Fix for crash in RF when `max_leaves` parameter is specified
  cpp/src/decisiontree/batched-levelalgo/kernels.cuh
Labels: CUDA/C++, bug, non-breaking

#4065 ENH Replace gpuci_conda_retry with gpuci_mamba_retry
  ci/gpu/build.sh
Labels: gpuCI, improvement, non-breaking

#4128 [REVIEW] Disabling umap reproducibility tests for cuda 11.4
  cpp/test/sg/umap_parametrizable_test.cu
Labels: 3 - Ready for Review, CUDA/C++, bug, non-breaking
