Repository rapidsai/cuml, pull requests merged in 2021-06, with the labels that each got.

#3895 ARIMA: pre-allocation of temporary memory to reduce latencies
  cpp/bench/sg/arima_loglikelihood.cu
  cpp/include/cuml/tsa/arima_common.h
  cpp/include/cuml/tsa/batched_arima.hpp
  cpp/include/cuml/tsa/batched_kalman.hpp
  cpp/src/arima/batched_arima.cu
  cpp/src/arima/batched_kalman.cu
  cpp/src_prims/linalg/batched/matrix.cuh
  cpp/src_prims/sparse/batched/csr.cuh
  python/cuml/tsa/arima.pyx
Labels: 4 - Waiting on Reviewer, CUDA/C++, Cython / Python, improvement, non-breaking

#3918 Fix automerge #3900 and correct package versions in meta packages [skip-ci]
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
  cpp/CMakeLists.txt
  cpp/bench/sg/arima_loglikelihood.cu
  cpp/include/cuml/tsa/arima_common.h
  cpp/include/cuml/tsa/batched_arima.hpp
  cpp/include/cuml/tsa/batched_kalman.hpp
  cpp/src/arima/batched_arima.cu
  cpp/src/arima/batched_kalman.cu
  cpp/src/decisiontree/batched-levelalgo/builder_base.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels.cuh
  cpp/src/decisiontree/batched-levelalgo/node.cuh
  cpp/src/decisiontree/batched-levelalgo/split.cuh
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/levelalgo/levelhelper_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelkernel_classifier.cuh
  cpp/src/metrics/trustworthiness.cu
  cpp/src/metrics/trustworthiness.cuh
  cpp/src/metrics/trustworthiness_c.h
  cpp/src_prims/linalg/batched/matrix.cuh
  cpp/src_prims/metrics/scores.cuh
  cpp/src_prims/metrics/trustworthiness_score.cuh
  cpp/src_prims/sparse/batched/csr.cuh
  cpp/test/prims/trustworthiness.cu
  cpp/test/sg/decisiontree_batchedlevel_unittest.cu
  cpp/test/sg/trustworthiness_test.cu
  cpp/test/sg/tsne_test.cu
  docs/source/pickling_cuml_models.ipynb
  python/cuml/_thirdparty/sklearn/preprocessing/__init__.py
  python/cuml/_thirdparty/sklearn/preprocessing/_column_transformer.py
  python/cuml/_thirdparty/sklearn/preprocessing/_function_transformer.py
  python/cuml/_thirdparty/sklearn/utils/skl_dependencies.py
  python/cuml/_thirdparty/sklearn/utils/validation.py
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/experimental/preprocessing/__init__.py
  python/cuml/preprocessing/LabelEncoder.py
  python/cuml/test/dask/test_nearest_neighbors.py
  python/cuml/test/test_compose.py
  python/cuml/test/test_dbscan.py
  python/cuml/test/test_preproc_utils.py
  python/cuml/test/test_preprocessing.py
  python/cuml/test/test_trustworthiness.py
  python/cuml/test/test_umap.py
  python/cuml/thirdparty_adapters/adapters.py
  python/cuml/tsa/arima.pyx
Labels: CMake, CUDA/C++, Cython / Python, conda, gpuCI, improvement, non-breaking

#3827 Support sparse input features in QN solvers and Logistic Regression
  cpp/include/cuml/linear_model/glm.hpp
  cpp/src/glm/glm.cu
  cpp/src/glm/glm_api.cpp
  cpp/src/glm/qn/glm_base.cuh
  cpp/src/glm/qn/glm_regularizer.cuh
  cpp/src/glm/qn/glm_softmax.cuh
  cpp/src/glm/qn/qn.cuh
  cpp/src/glm/qn/qn_solvers.cuh
  cpp/src/glm/qn/qn_util.cuh
  cpp/src/glm/qn/simple_mat.cuh
  cpp/src/glm/qn/simple_mat/base.hpp
  cpp/src/glm/qn/simple_mat/dense.hpp
  cpp/src/glm/qn/simple_mat/sparse.hpp
  cpp/test/sg/quasi_newton.cu
  python/cuml/common/array_sparse.py
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/test/test_linear_model.py
Labels: 4 - Waiting on Reviewer, CUDA/C++, Cython / Python, improvement, non-breaking

#3921 RF: fix the bug in `pdf_to_cdf` device function that causes hang when `n_bins > TPB && n_bins % TPB != 0`
  cpp/src/decisiontree/batched-levelalgo/kernels.cuh
Labels: CUDA/C++, bug, non-breaking

#3920 Fix number of permutations in pytest and getting handle for cuml models
  python/cuml/explainer/common.py
  python/cuml/test/explainer/test_explainer_common.py
  python/cuml/test/explainer/test_explainer_permutation_shap.py
Labels: Cython / Python, bug, non-breaking

#3914 Fix typo in umap `target_weight` parameter
  cpp/include/cuml/manifold/umapparams.h
  cpp/src/umap/supervised.cuh
  python/cuml/manifold/umap.pyx
  python/cuml/test/test_base.py
Labels: 4 - Waiting on Reviewer, CUDA/C++, Cython / Python, bug, non-breaking

#3872 RF: Make experimental-backend default for regression tasks and deprecate old-backend.
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree_impl.cuh
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/test/test_api.py
  python/cuml/test/test_pickle.py
  python/cuml/test/test_random_forest.py
Labels: 4 - Waiting on Author, CUDA/C++, Cython / Python, breaking, improvement

#3908 correct compliation of cuml c library
  cpp/CMakeLists.txt
  cpp/bench/CMakeLists.txt
  cpp/bench/prims/add.cu
  cpp/bench/prims/distance_common.cuh
  cpp/bench/prims/fused_l2_nn.cu
  cpp/bench/prims/gram_matrix.cu
  cpp/bench/prims/make_blobs.cu
  cpp/bench/prims/map_then_reduce.cu
  cpp/bench/prims/matrix_vector_op.cu
  cpp/bench/prims/permute.cu
  cpp/bench/prims/reduce.cu
  cpp/bench/prims/rng.cu
  cpp/cmake/thirdparty/get_faiss.cmake
  cpp/test/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake, CUDA/C++, bug, non-breaking

#3933 Revert #3869
  cpp/src/decisiontree/batched-levelalgo/kernels.cuh
  cpp/src/decisiontree/batched-levelalgo/node.cuh
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/levelalgo/levelhelper_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelkernel_classifier.cuh
Labels: CUDA/C++, bug, non-breaking

#3937 Pin dask ot 2021.5.1 for 21.06 release
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda10.1.yml
  conda/environments/cuml_dev_cuda10.2.yml
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
Labels: 3 - Ready for Review, conda, gpuCI, improvement, non-breaking

#3936 Small doc fixes for 21.06 release [skip-ci]
  docs/source/estimator_intro.ipynb
Labels: 3 - Ready for Review, doc, non-breaking

#3821 [REVIEW] HDBSCAN
  README.md
  cpp/CMakeLists.txt
  cpp/include/cuml/cluster/hdbscan.hpp
  cpp/include/cuml/cluster/linkage.hpp
  cpp/src/hdbscan/condensed_hierarchy.cu
  cpp/src/hdbscan/detail/condense.cuh
  cpp/src/hdbscan/detail/extract.cuh
  cpp/src/hdbscan/detail/kernels/condense.cuh
  cpp/src/hdbscan/detail/kernels/membership.cuh
  cpp/src/hdbscan/detail/kernels/select.cuh
  cpp/src/hdbscan/detail/kernels/stabilities.cuh
  cpp/src/hdbscan/detail/membership.cuh
  cpp/src/hdbscan/detail/reachability.cuh
  cpp/src/hdbscan/detail/reachability_faiss.cuh
  cpp/src/hdbscan/detail/select.cuh
  cpp/src/hdbscan/detail/stabilities.cuh
  cpp/src/hdbscan/detail/utils.h
  cpp/src/hdbscan/hdbscan.cu
  cpp/src/hdbscan/runner.h
  cpp/src_prims/label/classlabels.cuh
  cpp/test/CMakeLists.txt
  cpp/test/sg/hdbscan_inputs.hpp
  cpp/test/sg/hdbscan_test.cu
  cpp/test/sg/umap_parametrizable_test.cu
  docs/source/api.rst
  python/cuml/cluster/agglomerative.pyx
  python/cuml/common/import_utils.py
  python/cuml/experimental/cluster/__init__.py
  python/cuml/experimental/cluster/hdbscan.pyx
  python/cuml/test/test_hdbscan.py
Labels: 5 - Ready to Merge, CMake, CUDA/C++, Cython / Python, New Algorithm, feature request, non-breaking

#3942 Disable UMAP deterministic test on CTK11.2
  cpp/test/sg/umap_parametrizable_test.cu
Labels: CUDA/C++, bug, non-breaking

#3902 Upgrade NCCL to 2.9.9
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
Labels: conda, improvement, non-breaking

#3949 Update UCX-Py version to 0.20
  ci/checks/style.sh
  ci/gpu/build.sh
  ci/release/update-version.sh
Labels: bug, gpuCI, non-breaking

#3952 Fix automerge #3939 [skip-ci]
  README.md
  ci/checks/style.sh
  ci/gpu/build.sh
  ci/release/update-version.sh
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cuml/cluster/hdbscan.hpp
  cpp/include/cuml/cluster/linkage.hpp
  cpp/src/hdbscan/condensed_hierarchy.cu
  cpp/src/hdbscan/detail/condense.cuh
  cpp/src/hdbscan/detail/extract.cuh
  cpp/src/hdbscan/detail/kernels/condense.cuh
  cpp/src/hdbscan/detail/kernels/membership.cuh
  cpp/src/hdbscan/detail/kernels/select.cuh
  cpp/src/hdbscan/detail/kernels/stabilities.cuh
  cpp/src/hdbscan/detail/membership.cuh
  cpp/src/hdbscan/detail/reachability.cuh
  cpp/src/hdbscan/detail/reachability_faiss.cuh
  cpp/src/hdbscan/detail/select.cuh
  cpp/src/hdbscan/detail/stabilities.cuh
  cpp/src/hdbscan/detail/utils.h
  cpp/src/hdbscan/hdbscan.cu
  cpp/src/hdbscan/runner.h
  cpp/src_prims/label/classlabels.cuh
  cpp/test/CMakeLists.txt
  cpp/test/sg/hdbscan_inputs.hpp
  cpp/test/sg/hdbscan_test.cu
  cpp/test/sg/umap_parametrizable_test.cu
  docs/source/api.rst
  docs/source/estimator_intro.ipynb
  python/cuml/cluster/agglomerative.pyx
  python/cuml/common/import_utils.py
  python/cuml/experimental/cluster/__init__.py
  python/cuml/experimental/cluster/hdbscan.pyx
  python/cuml/test/test_hdbscan.py
Labels: 3 - Ready for Review, CMake, CUDA/C++, Cython / Python, bug, conda, gpuCI, non-breaking

#3956 [REVIEW] Update CHANGELOG.md link [skip-ci]
  CHANGELOG.md
Labels: doc, non-breaking

#3960 [REVIEW] xfailing Kbinsdiscretizer quantile strategy
  python/cuml/test/test_preprocessing.py
Labels: bug, non-breaking

#3966 Fix update-version.sh [skip-ci]
  ci/release/update-version.sh
Labels: gpuCI, improvement, non-breaking

#3941 Fix kernel and line info in cmake
  ci/gpu/build.sh
  cpp/CMakeLists.txt
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: 3 - Ready for Review, CMake, CUDA/C++, bug, gpuCI, non-breaking

#3931 [REVIEW] Remove unused code in UMAP.
  cpp/src/umap/init_embed/random_algo.cuh
  cpp/src/umap/init_embed/runner.cuh
  cpp/src/umap/init_embed/spectral_algo.cuh
  cpp/src/umap/runner.cuh
  python/cuml/manifold/umap.pyx
Labels: CUDA/C++, Cython / Python, improvement, non-breaking

#3970 Maintain uppercase cmake project name [skip-ci]
  ci/release/update-version.sh
Labels: ! - Hotfix, 3 - Ready for Review, bug, gpuCI, non-breaking

#3974 Fix `21.06` CHANGELOG.md entries
  CHANGELOG.md
Labels: improvement, non-breaking

#3975 REL Fix `21.06` Release Changelog
  CHANGELOG.md
  ci/release/update-version.sh
Labels: gpuCI

#3971 [HOTFIX] [REVIEW] DBSCAN batch size bug (32-bit int for device mem query)
  cpp/src/dbscan/dbscan.cuh
  cpp/src/dbscan/runner.cuh
Labels: ! - Hotfix, CUDA/C++, bug, non-breaking

#3982 Fix `21.08` forward-merge conflicts
  CHANGELOG.md
  ci/release/update-version.sh
  cpp/src/dbscan/dbscan.cuh
  cpp/src/dbscan/runner.cuh
Labels: CUDA/C++, gpuCI, improvement, non-breaking

#3967 [gpuCI] Forward-merge branch-21.06 to branch-21.08 [skip ci]
  CHANGELOG.md
  ci/release/update-version.sh
  cpp/src/dbscan/dbscan.cuh
  cpp/src/dbscan/runner.cuh
Labels: CUDA/C++, gpuCI

#3978 Update Dask/Distributed version
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
Labels: conda, gpuCI, improvement, non-breaking

#3969 Use clang-tools on x86 only
  conda/recipes/libcuml/meta.yaml
  cpp/scripts/run-clang-format.py
  cpp/scripts/run-clang-tidy.py
Labels: CUDA/C++, conda, improvement, non-breaking

#3964 Fix MNMG test in Dask RF
  python/cuml/test/dask/test_random_forest.py
Labels: 3 - Ready for Review, Cython / Python, bug, non-breaking

#3760 Enable warp-per-tree inference in FIL for regression and binary classification
  cpp/bench/sg/fil.cu
  cpp/include/cuml/fil/fil.h
  cpp/src/fil/common.cuh
  cpp/src/fil/fil.cu
  cpp/src/fil/infer.cu
  cpp/src/fil/internal.cuh
  cpp/test/sg/fil_test.cu
  python/cuml/fil/fil.pyx
  python/cuml/test/test_fil.py
Labels: 5 - Ready to Merge, CUDA / C++, CUDA/C++, Cython / Python, Perf, breaking, feature request

#3950 Update UCX-Py version to 0.21
  ci/checks/style.sh
  ci/gpu/build.sh
Labels: bug, gpuCI, non-breaking

#3987 [REVIEW] Reducing cluster size to number of selected clusters. Returning stability scores
  cpp/include/cuml/cluster/hdbscan.hpp
  cpp/src/hdbscan/detail/extract.cuh
  cpp/src/hdbscan/detail/stabilities.cuh
  cpp/src/hdbscan/runner.h
  cpp/test/sg/hdbscan_test.cu
  python/cuml/experimental/cluster/hdbscan.pyx
  python/cuml/test/test_hdbscan.py
Labels: CUDA/C++, Cython / Python, improvement, non-breaking

#3968 Promote `trustworthiness_score` to public header, add missing includes, update dependencies
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/recipes/cuml/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_thrust.cmake
  cpp/include/cuml/manifold/umap.hpp
  cpp/include/cuml/metrics/metrics.hpp
  cpp/src/metrics/trustworthiness.cu
  cpp/src/metrics/trustworthiness.cuh
  cpp/src/metrics/trustworthiness_c.h
  cpp/src/svm/workingset.cuh
  cpp/src/tsa/auto_arima.cuh
  cpp/test/sg/trustworthiness_test.cu
  cpp/test/sg/tsne_test.cu
  cpp/test/sg/umap_parametrizable_test.cu
  python/cuml/metrics/trustworthiness.pyx
  python/setup.py
Labels: CMake, CUDA/C++, Cython / Python, conda, improvement, non-breaking

#3912 [REVIEW] Fix for multi GPU PCA compute failing bug after transform and added error handling when n_components is not passed
  python/cuml/decomposition/base_mg.pyx
  python/cuml/decomposition/pca_mg.pyx
  python/cuml/test/dask/test_pca.py
Labels: 5 - Ready to Merge, Cython / Python, bug, non-breaking

#3986 [REVIEW] HDBSCAN: Lazy-loading (and caching) condensed & single-linkage tree objects
  python/cuml/experimental/cluster/hdbscan.pyx
  python/cuml/test/test_hdbscan.py
Labels: 5 - Ready to Merge, Cython / Python, improvement, non-breaking

#3868 Remove old RF backend
  cpp/bench/sg/fil.cu
  cpp/bench/sg/rf_classifier.cu
  cpp/bench/sg/rf_regressor.cu
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/include/cuml/tree/algo_helper.h
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/decisiontree.cu
  cpp/src/decisiontree/decisiontree_impl.cuh
  cpp/src/decisiontree/decisiontree_impl.h
  cpp/src/decisiontree/levelalgo/common_helper.cuh
  cpp/src/decisiontree/levelalgo/common_kernel.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelfunc_regressor.cuh
  cpp/src/decisiontree/levelalgo/levelhelper_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelhelper_regressor.cuh
  cpp/src/decisiontree/levelalgo/levelkernel_classifier.cuh
  cpp/src/decisiontree/levelalgo/levelkernel_regressor.cuh
  cpp/src/decisiontree/levelalgo/metric.cuh
  cpp/src/decisiontree/levelalgo/metric_def.cuh
  cpp/src/decisiontree/memory.cuh
  cpp/src/decisiontree/memory.h
  cpp/src/decisiontree/quantile/quantile.cuh
  cpp/src/decisiontree/quantile/quantile.h
  cpp/src/randomforest/randomforest.cu
  cpp/src/randomforest/randomforest_impl.cuh
  cpp/test/sg/decisiontree_batchedlevel_algo.cu
  cpp/test/sg/decisiontree_batchedlevel_unittest.cu
  cpp/test/sg/rf_accuracy_test.cu
  cpp/test/sg/rf_batched_classification_test.cu
  cpp/test/sg/rf_batched_regression_test.cu
  cpp/test/sg/rf_depth_test.cu
  cpp/test/sg/rf_test.cu
  cpp/test/sg/rf_treelite_test.cu
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/ensemble/randomforest_shared.pxd
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/test/dask/test_random_forest.py
  python/cuml/test/explainer/test_explainer_kernel_shap.py
  python/cuml/test/test_random_forest.py
Labels: CUDA/C++, Cython / Python, breaking, improvement

#3989 Fix fopenmp flag
  cpp/CMakeLists.txt
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: ! - Hotfix, CMake, CUDA/C++, improvement, non-breaking

#3996 [RELEASE] cuml v21.06.02
  cpp/CMakeLists.txt
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: CMake, CUDA/C++

#3917 Implement vector leaf prediction for fil.
  cpp/src/fil/common.cuh
  cpp/src/fil/fil.cu
  cpp/src/fil/infer.cu
  cpp/src/fil/internal.cuh
  cpp/test/sg/fil_test.cu
  python/cuml/test/test_fil.py
Labels: 3 - Ready for Review, CUDA/C++, Cython / Python, feature request, non-breaking

#4002 Use the 21.08 branch of rapids-cmake as rmm requires it
  cpp/CMakeLists.txt
Labels: 5 - Ready to Merge, CMake, CUDA/C++, improvement, non-breaking

#3962 Use nested include in destination of install headers to avoid docker permission issues
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review, CMake, CUDA/C++, bug, non-breaking

#4012 [FIX] Fix build with latest RAFT branch-21.08
  cpp/CMakeLists.txt
  cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/src/knn/knn_sparse.cu
  cpp/src/metrics/pairwise_distance.cu
  cpp/src/tsne/distances.cuh
  cpp/src/umap/knn_graph/algo.cuh
  python/cuml/test/dask/test_dbscan.py
  python/cuml/test/test_dbscan.py
  python/cuml/test/test_hdbscan.py
Labels: CMake, CUDA/C++, Cython / Python, bug, non-breaking

#4001 RF: memset and batch size optimization for computing splits
  cpp/include/cuml/tree/decisiontree.hpp
  cpp/src/decisiontree/batched-levelalgo/builder_base.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels.cuh
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
Labels: CUDA/C++, Cython / Python, Perf, breaking, improvement

#3959 Add MG weighted k-means
  cpp/include/cuml/cluster/kmeans.hpp
  cpp/include/cuml/cluster/kmeans_mg.hpp
  cpp/src/kmeans/kmeans.cu
  cpp/src/kmeans/kmeans_mg.cu
  cpp/src/kmeans/kmeans_mg_impl.cuh
  cpp/src/kmeans/sg_impl.cuh
  python/cuml/cluster/kmeans.pyx
  python/cuml/cluster/kmeans_mg.pyx
  python/cuml/dask/cluster/kmeans.py
  python/cuml/test/dask/test_kmeans.py
Labels: 4 - Waiting on Author, CUDA/C++, Cython / Python, Dask / cuml.dask, improvement, non-breaking

#4015 Update setup.py
  python/setup.py
Labels: 5 - Ready to Merge, Cython / Python, bug, non-breaking

#4014 Update `treelite` version in `get_treelite.cmake`
  cpp/cmake/thirdparty/get_treelite.cmake
Labels: 5 - Ready to Merge, CMake, CUDA/C++, bug, non-breaking

#3056 Improve FIL code readability and documentation
  cpp/src/fil/fil.cu
  cpp/src/fil/infer.cu
  python/cuml/fil/README.md
  python/cuml/fil/fil.pyx
  python/cuml/test/test_fil.py
Labels: 3 - Ready for Review, CUDA/C++, Cython / Python, doc, non-breaking
