Repository rapidsai/cuml, pull requests merged in 2022-11, with the labels that each got.

#4958 Remove `CumlArray.copy()`
  python/cuml/common/array.py
Labels: Cython / Python, improvement, breaking

#4961 [REVIEW] Update `cuda-python` dependency to 11.7.1
  conda/environments/builddocs_py37.yml
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
Labels: conda, improvement, non-breaking

#4966 Use new rapids-cmake functionality for rpath handling.
  python/CMakeLists.txt
  python/cuml/cluster/CMakeLists.txt
  python/cuml/cluster/hdbscan/CMakeLists.txt
  python/cuml/common/CMakeLists.txt
  python/cuml/datasets/CMakeLists.txt
  python/cuml/decomposition/CMakeLists.txt
  python/cuml/ensemble/CMakeLists.txt
  python/cuml/experimental/common/CMakeLists.txt
  python/cuml/experimental/linear_model/CMakeLists.txt
  python/cuml/explainer/CMakeLists.txt
  python/cuml/fil/CMakeLists.txt
  python/cuml/internals/CMakeLists.txt
  python/cuml/kernel_ridge/CMakeLists.txt
  python/cuml/linear_model/CMakeLists.txt
  python/cuml/manifold/CMakeLists.txt
  python/cuml/metrics/CMakeLists.txt
  python/cuml/metrics/cluster/CMakeLists.txt
  python/cuml/neighbors/CMakeLists.txt
  python/cuml/random_projection/CMakeLists.txt
  python/cuml/solvers/CMakeLists.txt
  python/cuml/svm/CMakeLists.txt
  python/cuml/tsa/CMakeLists.txt
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking, CMake

#4965 Impl. `CumlArray.deserialize()`
  python/cuml/common/array.py
Labels: Cython / Python, improvement, non-breaking

#4971 Fix integer overflow in AutoARIMA due to bool-to-int cub scan
  cpp/src/tsa/auto_arima.cuh
Labels: bug, 3 - Ready for Review, non-breaking, CUDA/C++

#4948 [HOTFIX] Update cuda-python dependency to 11.7.1
  conda/environments/builddocs_py37.yml
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
Labels: ! - Hotfix, conda, improvement, non-breaking

#4978 [REVIEW] Update `dask` nightly install command in CI
  ci/gpu/build.sh
Labels: improvement, non-breaking

#4980 Remove "Open In Colab" link from Estimator Intro notebook.
  docs/source/estimator_intro.ipynb
Labels: doc, breaking

#4979 [skip-ci] Updating build instructions
  BUILD.md
Labels: doc, non-breaking

#4973 Improve error message for array_equal asserts.
  python/cuml/testing/utils.py
  python/cuml/tests/test_utils.py
Labels: Cython / Python, improvement, non-breaking

#4990 verifying cusparse wrapper revert passes CI
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/src/hdbscan/detail/soft_clustering.cuh
  python/CMakeLists.txt
Labels: bug, Cython / Python, non-breaking, CMake, CUDA/C++

#4952 Implement hypothesis-based tests for linear models
  python/cuml/testing/strategies.py
  python/cuml/tests/conftest.py
  python/cuml/tests/test_linear_model.py
  python/cuml/tests/test_strategies.py
  wiki/python/DEVELOPER_GUIDE.md
Labels: Cython / Python, improvement, non-breaking

#4989 Use rapdsi_cpm_find(COMPONENTS ) for proper component tracking
  cpp/cmake/thirdparty/get_raft.cmake
Labels: bug, 3 - Ready for Review, non-breaking, CMake, CUDA/C++

#4988 LinearRegression: add support for multiple targets
  python/cuml/linear_model/base.pyx
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/tests/test_linear_model.py
Labels: feature request, 3 - Ready for Review, Cython / Python, non-breaking

#5000 Fixing raft pin to 22.12
  cpp/cmake/thirdparty/get_raft.cmake
Labels: improvement, non-breaking, CMake, CUDA/C++

#5010 Reenable copy_prs.
  .github/ops-bot.yaml
Labels: feature request, 3 - Ready for Review, non-breaking

#5007 Don't use CMake 3.25.0 as it has a FindCUDAToolkit show stopping bug
  conda/recipes/cuml/conda_build_config.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  python/pyproject.toml
Labels: bug, 3 - Ready for Review, conda, Cython / Python, non-breaking

#5013 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  conda/recipes/cuml/conda_build_config.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  python/pyproject.toml
Labels: conda, Cython / Python

#5015 fix addition of nan_euclidean_distances to public api
  python/cuml/metrics/__init__.py
Labels: Cython / Python, improvement, non-breaking

#5016 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  python/cuml/metrics/__init__.py
Labels: Cython / Python

#4959 Add check for nsys utility version in the `nvtx_benchmarks.py` script
  python/cuml/benchmark/nvtx_benchmark.py
Labels: Cython / Python, improvement, non-breaking

#4736 Fix for non-contiguous strides
  python/cuml/common/array.py
  python/cuml/common/input_utils.py
  python/cuml/common/memory_utils.py
  python/cuml/model_selection/_split.py
  python/cuml/tests/test_array.py
Labels: bug, Cython / Python, non-breaking, inactive-30d, inactive-90d

#5020 Restore `LinearRegression` documentation
  python/cuml/experimental/common/__init__.py
  python/cuml/experimental/common/base.pyx
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/tests/test_base.py
Labels: bug, Cython / Python, non-breaking

#5024 Remove cupy.cusparse custom serialization
  python/cuml/comm/serialize.py
Labels: bug, Cython / Python, non-breaking

#5018 Upgrade Treelite to 3.0.1
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  cpp/cmake/thirdparty/get_treelite.cmake
  python/CMakeLists.txt
Labels: conda, Cython / Python, improvement, non-breaking, CMake, CUDA/C++

#5040 [gpuCI] Forward-merge branch-22.12 to branch-23.02 [skip gpuci]
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  cpp/cmake/thirdparty/get_treelite.cmake
  python/CMakeLists.txt
Labels: conda, Cython / Python, CMake, CUDA/C++
