Repository rapidsai/cuml, pull requests merged in 2022-07, with the labels that each got.

#4793 Pin max version of `cuda-python` to `11.7.0`
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
Labels: conda, improvement, non-breaking

#4801 Pin max version of `cuda-python` to `11.7.0`
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
Labels: conda

#4675 Clean up Thrust includes.
  cpp/src/arima/batched_arima.cu
  cpp/src/arima/batched_kalman.cu
  cpp/src/dbscan/corepoints/compute.cuh
  cpp/src/dbscan/runner.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels/quantiles.cu
  cpp/src/explainer/tree_shap.cu
  cpp/src/fil/fil.cu
  cpp/src/genetic/fitness.cuh
  cpp/src/glm/qn/glm_base.cuh
  cpp/src/hdbscan/condensed_hierarchy.cu
  cpp/src/hdbscan/detail/condense.cuh
  cpp/src/hdbscan/detail/extract.cuh
  cpp/src/hdbscan/detail/membership.cuh
  cpp/src/hdbscan/detail/reachability.cuh
  cpp/src/hdbscan/detail/select.cuh
  cpp/src/hdbscan/detail/stabilities.cuh
  cpp/src/hdbscan/detail/utils.h
  cpp/src/hdbscan/runner.h
  cpp/src/hierarchy/pw_dist_graph.cuh
  cpp/src/kmeans/kmeans_mg_impl.cuh
  cpp/src/kmeans/sg_impl.cuh
  cpp/src/pca/sign_flip_mg.cu
  cpp/src/randomforest/randomforest.cuh
  cpp/src/solver/lars_impl.cuh
  cpp/src/svm/linear.cu
  cpp/src/svm/smosolver.cuh
  cpp/src/svm/svc_impl.cuh
  cpp/src/svm/workingset.cuh
  cpp/src/tsne/barnes_hut_tsne.cuh
  cpp/src/tsne/distances.cuh
  cpp/src/tsne/exact_kernels.cuh
  cpp/src/tsne/exact_tsne.cuh
  cpp/src/tsne/fft_tsne.cuh
  cpp/src/tsne/tsne_runner.cuh
  cpp/src/tsvd/tsvd.cuh
  cpp/src/umap/init_embed/spectral_algo.cuh
  cpp/src/umap/runner.cuh
  cpp/src/umap/simpl_set_embed/algo.cuh
  cpp/src/umap/supervised.cuh
  cpp/src_prims/linalg/init.h
  cpp/src_prims/metrics/adjusted_rand_index.cuh
  cpp/src_prims/metrics/batched/silhouette_score.cuh
  cpp/src_prims/metrics/contingencyMatrix.cuh
  cpp/src_prims/metrics/scores.cuh
  cpp/src_prims/timeSeries/stationarity.cuh
  cpp/test/prims/knn_regression.cu
  cpp/test/sg/fil_test.cu
  cpp/test/sg/kmeans_test.cu
  cpp/test/sg/multi_sum_test.cu
  cpp/test/sg/rf_test.cu
  cpp/test/sg/shap_kernel.cu
  cpp/test/sg/svc_test.cu
  cpp/test/sg/tsne_test.cu
Labels: improvement, non-breaking, CUDA/C++

#4776 [FEA] Allow cosine distance metric in dbscan
  cpp/src/dbscan/dbscan.cuh
  cpp/src/dbscan/runner.cuh
  cpp/src/dbscan/vertexdeg/algo.cuh
  cpp/src/dbscan/vertexdeg/runner.cuh
  python/cuml/cluster/dbscan.pyx
  python/cuml/tests/test_dbscan.py
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#4809 Update conda recipes to UCX 1.13.0
  conda/recipes/libcuml/conda_build_config.yaml
Labels: conda, improvement, non-breaking

#4805 Add ComplementNB to the documentation
  docs/source/api.rst
Labels: 3 - Ready for Review, doc, non-breaking

#4785 Cython wrapper for v-measure
  cpp/include/cuml/metrics/metrics.hpp
  cpp/src/metrics/v_measure.cu
  cpp/src_prims/metrics/v_measure.cuh
  docs/source/api.rst
  python/cuml/metrics/__init__.py
  python/cuml/metrics/cluster/__init__.py
  python/cuml/metrics/cluster/v_measure.pyx
  python/cuml/tests/test_metrics.py
Labels: feature request, 3 - Ready for Review, Cython / Python, non-breaking, CUDA/C++

#4803 Accelerate adjacency matrix to CSR conversion for DBSCAN
  cpp/src/dbscan/adjgraph/algo.cuh
  cpp/src/dbscan/adjgraph/runner.cuh
  cpp/src/dbscan/runner.cuh
  cpp/src/dbscan/vertexdeg/algo.cuh
  cpp/src/dbscan/vertexdeg/precomputed.cuh
  cpp/src/dbscan/vertexdeg/runner.cuh
Labels: 0 - Blocked, improvement, non-breaking, CUDA/C++

#4829 Remove duplicate adj_to_csr implementation
  cpp/src/dbscan/adjgraph/algo.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, CUDA/C++

#4804 Fix #3414: remove naive versions dbscan algorithms
  cpp/src/dbscan/adjgraph/algo.cuh
  cpp/src/dbscan/adjgraph/naive.cuh
  cpp/src/dbscan/adjgraph/runner.cuh
  cpp/src/dbscan/common.cuh
  cpp/src/dbscan/dbscan.cuh
  cpp/src/dbscan/vertexdeg/naive.cuh
  cpp/src/dbscan/vertexdeg/precomputed.cuh
  cpp/src/dbscan/vertexdeg/runner.cuh
Labels: 5 - Ready to Merge, improvement, non-breaking, CUDA/C++

#4833 [gpuCI] Forward-merge branch-22.08 to branch-22.10 [skip gpuci]
  cpp/src/dbscan/adjgraph/algo.cuh
  cpp/src/dbscan/adjgraph/naive.cuh
  cpp/src/dbscan/adjgraph/runner.cuh
  cpp/src/dbscan/common.cuh
  cpp/src/dbscan/dbscan.cuh
  cpp/src/dbscan/runner.cuh
  cpp/src/dbscan/vertexdeg/algo.cuh
  cpp/src/dbscan/vertexdeg/naive.cuh
  cpp/src/dbscan/vertexdeg/precomputed.cuh
  cpp/src/dbscan/vertexdeg/runner.cuh
Labels: CUDA/C++

#4825 Fix RAFT_NVTX option not set
  cpp/cmake/thirdparty/get_raft.cmake
Labels: bug, non-breaking, CMake, CUDA/C++

#4813 Update conda environment files to UCX 1.13.0
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
Labels: conda, improvement, non-breaking

#4837 Allow CuPy 11
  conda/recipes/cuml/meta.yaml
Labels: conda, improvement, non-breaking

#4811 Vectorizers to accept Pandas Series as input
  python/cuml/feature_extraction/_tfidf_vectorizer.py
  python/cuml/feature_extraction/_vectorizers.py
  python/cuml/tests/test_text_feature_extraction.py
Labels: feature request, 3 - Ready for Review, Cython / Python, non-breaking
