Repository rapidsai/cuml, pull requests merged in 2022-02, with the labels that each got.

#4532 Prepare for Python 3.7 removal
  ci/gpu/build.sh
  python/setup.py
Labels: gpuCI, Cython / Python, improvement, non-breaking

#4541 Update `xgboost` version in CI
  ci/gpu/build.sh
Labels: gpuCI, improvement, non-breaking

#4544 Fix compatibility of OneHotEncoder fit
  python/cuml/preprocessing/encoders.py
Labels: bug, 3 - Ready for Review, Cython / Python, non-breaking

#4559 Removing sign from pca assertions for now.
  python/cuml/test/test_pca.py
Labels: bug, 3 - Ready for Review, Cython / Python, non-breaking

#4547 Moving cusparse wrappers to detail API in RAFT.
  cpp/src/common/cumlHandle.cpp
  cpp/src/glm/qn/simple_mat/sparse.hpp
  cpp/src/random_projection/rproj.cuh
  cpp/src/umap/knn_graph/algo.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, CUDA/C++

#4548 RAFT API updates for lap, label, cluster, and spectral apis
  cpp/src/glm/qn/simple_mat/sparse.hpp
  cpp/src/hdbscan/condensed_hierarchy.cu
  cpp/src/hdbscan/detail/extract.cuh
  cpp/src/hdbscan/detail/membership.cuh
  cpp/src/hdbscan/detail/reachability.cuh
  cpp/src/hdbscan/detail/select.cuh
  cpp/src/hdbscan/detail/stabilities.cuh
  cpp/src/hdbscan/detail/utils.h
  cpp/src/hierarchy/pw_dist_graph.cuh
  cpp/src/holtwinters/internal/hw_eval.cuh
  cpp/src/holtwinters/internal/hw_optim.cuh
  cpp/src/knn/knn.cu
  cpp/src/svm/svc_impl.cuh
  cpp/src/tsne/fft_tsne.cuh
  cpp/src_prims/functions/hinge.cuh
  cpp/src_prims/functions/linearReg.cuh
  cpp/src_prims/label/classlabels.cuh
  cpp/src_prims/linalg/lstsq.cuh
  cpp/src_prims/linalg/rsvd.cuh
  cpp/src_prims/random/make_regression.cuh
  cpp/test/prims/knn_classify.cu
Labels: improvement, non-breaking, CUDA/C++

#4492 Kernel ridge regression
  .gitignore
  python/cuml/__init__.py
  python/cuml/kernel_ridge/__init__.py
  python/cuml/kernel_ridge/kernel_ridge.pyx
  python/cuml/metrics/__init__.py
  python/cuml/metrics/pairwise_kernels.py
  python/cuml/test/test_kernel_ridge.py
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking

#4551 Add CMake `install` rules for tests
  cpp/bench/CMakeLists.txt
  cpp/test/CMakeLists.txt
Labels: improvement, non-breaking, CMake, CUDA/C++

#4414 [WIP] Nightly automated benchmark
  python/cuml/benchmark/algorithms.py
  python/cuml/benchmark/automated/__init__.py
  python/cuml/benchmark/automated/bench_classification.py
  python/cuml/benchmark/automated/bench_dimensionality_reduction.py
  python/cuml/benchmark/automated/bench_preprocessing.py
  python/cuml/benchmark/automated/bench_random_forest.py
  python/cuml/benchmark/automated/bench_regression.py
  python/cuml/benchmark/automated/dask/__init__.py
  python/cuml/benchmark/automated/dask/bench_mnmg_classification.py
  python/cuml/benchmark/automated/dask/bench_mnmg_dimensionality_reduction.py
  python/cuml/benchmark/automated/dask/bench_mnmg_regression.py
  python/cuml/benchmark/automated/dask/conftest.py
  python/cuml/benchmark/automated/pytest.ini
  python/cuml/benchmark/automated/utils/__init__.py
  python/cuml/benchmark/automated/utils/auto_nvtx_bench.py
  python/cuml/benchmark/automated/utils/utils.py
  python/cuml/benchmark/bench_helper_funcs.py
  python/cuml/benchmark/datagen.py
  python/cuml/benchmark/nvtx_benchmark.py
  python/cuml/pytest_benchmarks/test_bench.py
  python/cuml/test/test_benchmark.py
Labels: Cython / Python, improvement, non-breaking

#4446 Rewrite CD solver using more BLAS
  cpp/src/solver/cd.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, CUDA/C++

#4563 Fix RF integer overflow
  cpp/src/decisiontree/batched-levelalgo/kernels/builder_kernels_impl.cuh
  cpp/src/randomforest/randomforest.cuh
  cpp/test/sg/rf_test.cu
Labels: improvement, non-breaking, CUDA/C++

#4539 Fix worker streams in OLS-eig executing in an unsafe order
  cpp/src_prims/linalg/lstsq.cuh
  cpp/test/sg/ols.cu
Labels: bug, 3 - Ready for Review, non-breaking, CUDA/C++

#4546 [REVIEW] Unpin max `dask` and `distributed` versions
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
Labels: gpuCI, conda, improvement, non-breaking

#4549 Faster GLM preprocessing by fusing kernels
  cpp/src/glm/preprocess.cuh
  cpp/src/solver/cd.cuh
  cpp/test/sg/cd_test.cu
  cpp/test/sg/ridge.cu
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/linear_model/ridge.pyx
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking, CUDA/C++

#4567 Moving more ling prims to raft
  cpp/bench/prims/rng.cu
  cpp/src/glm/glm.cu
  cpp/src/glm/ols.cuh
  cpp/src/glm/preprocess.cuh
  cpp/src/glm/qn/simple_mat/dense.hpp
  cpp/src/glm/qn/simple_mat/sparse.hpp
  cpp/src/glm/ridge.cuh
  cpp/src/kmeans/common.cuh
  cpp/src/kmeans/kmeans_mg_impl.cuh
  cpp/src/kmeans/sg_impl.cuh
  cpp/src/randomforest/randomforest.cuh
  cpp/src/tsvd/tsvd.cu
  cpp/src/tsvd/tsvd.cuh
  cpp/src/umap/optimize.cuh
  cpp/src_prims/linalg/lstsq.cuh
  cpp/src_prims/linalg/power.cuh
  cpp/src_prims/linalg/reduce_cols_by_key.cuh
  cpp/src_prims/linalg/reduce_rows_by_key.cuh
  cpp/src_prims/linalg/rsvd.cuh
  cpp/src_prims/linalg/sqrt.cuh
  cpp/src_prims/linalg/ternary_op.cuh
  cpp/src_prims/metrics/scores.cuh
  cpp/src_prims/metrics/silhouette_score.cuh
  cpp/src_prims/random/make_blobs.cuh
  cpp/test/CMakeLists.txt
  cpp/test/mg/knn_test_helper.cuh
  cpp/test/prims/knn_regression.cu
  cpp/test/prims/make_blobs.cu
  cpp/test/prims/power.cu
  cpp/test/prims/reduce_cols_by_key.cu
  cpp/test/prims/reduce_rows_by_key.cu
  cpp/test/prims/rsvd.cu
  cpp/test/prims/sqrt.cu
  cpp/test/prims/ternary_op.cu
  cpp/test/sg/ols.cu
  cpp/test/sg/pca_test.cu
  cpp/test/sg/quasi_newton.cu
  cpp/test/sg/rf_test.cu
  cpp/test/sg/ridge.cu
  cpp/test/sg/tsvd_test.cu
  cpp/test/sg/umap_parametrizable_test.cu
  python/cuml/test/test_nearest_neighbors.py
Labels: Cython / Python, improvement, breaking, CMake, CUDA/C++

#4568 Move remaining stats prims to raft
  cpp/bench/prims/make_blobs.cu
  cpp/bench/prims/permute.cu
  cpp/bench/sg/dataset.cuh
  cpp/src/datasets/make_blobs.cu
  cpp/src/datasets/make_regression.cu
  cpp/src/dbscan/vertexdeg/algo.cuh
  cpp/src/decisiontree/batched-levelalgo/builder.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels/quantiles.cu
  cpp/src/decisiontree/batched-levelalgo/quantiles.cuh
  cpp/src/fil/infer.cu
  cpp/src/hdbscan/detail/utils.h
  cpp/src/hdbscan/hdbscan.cu
  cpp/src/kmeans/common.cuh
  cpp/src/pca/pca.cu
  cpp/src/pca/pca.cuh
  cpp/src/randomforest/randomforest.cuh
  cpp/src_prims/common/seive.cuh
  cpp/src_prims/distance/epsilon_neighborhood.cuh
  cpp/src_prims/metrics/adjusted_rand_index.cuh
  cpp/src_prims/random/curand_wrappers.h
  cpp/src_prims/random/make_blobs.cuh
  cpp/src_prims/random/make_regression.cuh
  cpp/src_prims/random/mvg.cuh
  cpp/src_prims/random/permute.cuh
  cpp/src_prims/stats/cov.cuh
  cpp/src_prims/stats/histogram.cuh
  cpp/src_prims/stats/minmax.cuh
  cpp/src_prims/stats/weighted_mean.cuh
  cpp/test/CMakeLists.txt
  cpp/test/mg/knn.cu
  cpp/test/mg/knn_regress.cu
  cpp/test/mg/knn_test_helper.cuh
  cpp/test/prims/cov.cu
  cpp/test/prims/epsilon_neighborhood.cu
  cpp/test/prims/histogram.cu
  cpp/test/prims/knn_classify.cu
  cpp/test/prims/make_blobs.cu
  cpp/test/prims/make_regression.cu
  cpp/test/prims/minmax.cu
  cpp/test/prims/mvg.cu
  cpp/test/prims/permute.cu
  cpp/test/prims/seive.cu
  cpp/test/prims/weighted_mean.cu
  cpp/test/sg/pca_test.cu
  cpp/test/sg/rf_test.cu
  cpp/test/sg/svc_test.cu
Labels: improvement, non-breaking, CMake, CUDA/C++

#4504 [REVIEW] Remove xfail from test_hinge_loss
  python/cuml/test/test_metrics.py
Labels: bug, 3 - Ready for Review, tests, Cython / Python, non-breaking

#4579 Adding missing FAISS license
  cpp/src/hdbscan/detail/reachability_faiss.cuh
  thirdparty/LICENSES/LICENSE.faiss
Labels: improvement, non-breaking, CUDA/C++

#4576 Add QN solver to ElasticNet and Lasso models
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.py
  python/cuml/test/test_linear_model.py
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking

#4581 Fix for nightly CI tests: Use CUDA_REL variable in gpu build.sh script
  ci/gpu/build.sh
  python/cuml/test/test_nearest_neighbors.py
Labels: bug, gpuCI, Cython / Python, non-breaking

#4584 [REVIEW] Fix mean_squared_error with cudf series
  python/cuml/metrics/regression.pyx
  python/cuml/test/test_metrics.py
Labels: bug, Cython / Python, 4 - Waiting on Reviewer, non-breaking

#4588 [REVIEW] Add get_params() to TargetEncoder
  python/cuml/preprocessing/TargetEncoder.py
  python/cuml/test/test_target_encoder.py
Labels: feature request, Cython / Python, non-breaking

#4590 Upgrade Treelite to 2.3.0
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
  cpp/cmake/thirdparty/get_treelite.cmake
Labels: conda, improvement, non-breaking, CMake, CUDA/C++

#4598 cuml now supports building non static treelite
  cpp/cmake/thirdparty/get_treelite.cmake
  cpp/test/CMakeLists.txt
Labels: bug, 3 - Ready for Review, non-breaking, CMake, CUDA/C++

#4296 Configurable libcuml++ per algorithm
  build.sh
  cpp/CMakeLists.txt
  cpp/cmake/modules/ConfigureAlgorithms.cmake
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/test/CMakeLists.txt
Labels: feature request, 3 - Ready for Review, non-breaking, CMake, inactive-30d, CUDA/C++

#4483 [REVIEW] Target Encoder with variance statistics
  python/cuml/preprocessing/TargetEncoder.py
  python/cuml/test/test_target_encoder.py
Labels: feature request, Cython / Python, 4 - Waiting on Reviewer, non-breaking

#4439 Remove classmethod of SimpleImputer
  python/cuml/_thirdparty/sklearn/utils/skl_dependencies.py
Labels: bug, Cython / Python, 5 - Ready to Merge, non-breaking

#4594 Fix OOM and cudaContext crash in C++ benchmarks
  cpp/bench/prims/distance_common.cuh
  cpp/bench/prims/gram_matrix.cu
  cpp/bench/prims/make_blobs.cu
  cpp/bench/sg/benchmark.cuh
Labels: improvement, non-breaking, CUDA/C++

#4601 [REVIEW] Add a dummy argument `deep` to `TargetEncoder.get_params()`
  python/cuml/preprocessing/TargetEncoder.py
Labels: feature request, Cython / Python, 4 - Waiting on Reviewer, non-breaking

#4597 [FEA] Fitsne as default tsne method
  python/cuml/manifold/t_sne.pyx
Labels: Cython / Python, improvement, non-breaking
