Repository rapidsai/cuml, pull requests merged in 2022-05, with the labels that each got.

#4706 Remove import of `scalar_broadcast_to` from stemmer
  python/cuml/preprocessing/text/stem/porter_stemmer_utils/suffix_utils.py
  python/cuml/tests/test_text_feature_extraction.py
Labels: bug, Cython / Python, non-breaking

#4702 Use conda to build python packages during GPU tests
  ci/gpu/build.sh
  python/conftest.py
  python/cuml/tests/__init__.py
  python/cuml/tests/conftest.py
  python/cuml/tests/test_lars.py
  python/cuml/tests/test_multiclass.py
Labels: gpuCI, Cython / Python, improvement, non-breaking

#4673 [FEA] Enable building static libs
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_gputreeshap.cmake
  cpp/include/cuml/manifold/common.hpp
Labels: 5 - Ready to Merge, improvement, non-breaking, CMake, CUDA/C++

#4716 Fix identifier collision
  cpp/src_prims/metrics/scores.cuh
  cpp/src_prims/metrics/trustworthiness_score.cuh
Labels: improvement, non-breaking, CUDA/C++

#4717 FIX Accept small floats in RandomForest
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/tests/test_random_forest.py
Labels: bug, Cython / Python, non-breaking

#4718 Allow enabling raft NVTX markers when raft is installed
  cpp/cmake/thirdparty/get_raft.cmake
Labels: 3 - Ready for Review, improvement, non-breaking, CMake, CUDA/C++

#4732 MNT Removes unused optim_batch_size from UMAP's docstring
  python/cuml/manifold/umap.pyx
Labels: Cython / Python, improvement, non-breaking

#4733 Fix docs builds
  ci/docs/build.sh
Labels: doc, gpuCI, non-breaking

#4582 Random ball cover algorithm for 3D data
  cpp/src/randomforest/randomforest.cuh
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/tests/test_kneighbors_classifier.py
  python/cuml/tests/test_kneighbors_regressor.py
  python/cuml/tests/test_nearest_neighbors.py
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking, CUDA/C++

#4687 [gpuCI] Forward-merge branch-22.04 to branch-22.06 [skip gpuci]
  CHANGELOG.md
Labels: inactive-30d

#4577 Use conda compilers
  conda/recipes/cuml/conda_build_config.yaml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  conda/recipes/libcuml/meta.yaml
Labels: conda, improvement, non-breaking

#4746 [gpuCI] Forward-merge branch-22.06 to branch-22.08 [skip gpuci]
  conda/recipes/cuml/conda_build_config.yaml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  conda/recipes/libcuml/meta.yaml
Labels: conda

#4749 Simplify recipes
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
Labels: conda, improvement, non-breaking

#4542 Build packages using mambabuild
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: gpuCI, improvement, non-breaking

#4739 Inference for float64 random forests using FIL
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/tests/test_random_forest.py
Labels: Cython / Python, improvement, non-breaking

#4509 Update pydoc and promote `ColumnTransformer` out of experimental
  docs/source/api.rst
  python/cuml/_thirdparty/sklearn/preprocessing/_column_transformer.py
  python/cuml/_thirdparty/sklearn/preprocessing/_discretization.py
  python/cuml/compose/__init__.py
  python/cuml/experimental/preprocessing/__init__.py
  python/cuml/preprocessing/__init__.py
  python/cuml/tests/test_compose.py
  python/cuml/tests/test_preprocessing.py
Labels: doc, Cython / Python, non-breaking

#4711 Expose simplicial set functions
  cpp/bench/sg/umap.cu
  cpp/include/cuml/manifold/umap.hpp
  cpp/src/umap/runner.cuh
  cpp/src/umap/umap.cu
  cpp/test/sg/umap_parametrizable_test.cu
  python/cuml/manifold/simpl_set.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/manifold/umap_utils.pxd
  python/cuml/manifold/umap_utils.pyx
  python/cuml/tests/test_umap.py
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#4696 Add sample_weight for Ridge
  cpp/include/cuml/linear_model/glm.hpp
  cpp/src/glm/glm.cu
  cpp/src/glm/ols.cuh
  cpp/src/glm/preprocess.cuh
  cpp/src/glm/ridge.cuh
  cpp/src/solver/cd.cuh
  cpp/src/solver/sgd.cuh
  cpp/test/sg/ridge.cu
  python/cuml/linear_model/ridge.pyx
  python/cuml/tests/test_linear_model.py
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking, CUDA/C++

#4761 Resolve KRR hypothesis test failure
  python/cuml/tests/test_kernel_ridge.py
Labels: bug, Cython / Python, non-breaking

#4758 [REVIEW] Pin `dask` & `distributed` for release
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
Labels: gpuCI, conda, improvement, non-breaking

#4752 Upgrade Treelite to 2.4.0
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  cpp/cmake/thirdparty/get_treelite.cmake
Labels: conda, improvement, non-breaking, CMake, CUDA/C++

#4756 Simplicial set functions
  ci/gpu/build.sh
  python/cuml/tests/test_simpl_set.py
  python/cuml/tests/test_umap.py
Labels: gpuCI, Cython / Python, improvement, non-breaking
