Repository rapidsai/cuml, pull requests merged in 2022-08, with the labels that each got.

#4835 [gpuCI] Forward-merge branch-22.08 to branch-22.10 [skip gpuci]
  CHANGELOG.md
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
  python/cuml/feature_extraction/_tfidf_vectorizer.py
  python/cuml/feature_extraction/_vectorizers.py
  python/cuml/tests/test_text_feature_extraction.py
Labels: conda, Cython / Python

#4847 Revert "Allow CuPy 11"
  conda/recipes/cuml/meta.yaml
Labels: bug, conda, non-breaking

#4850 [REVIEW] Pin `dask` & `distributed` for release
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
Labels: improvement, non-breaking

#4278 [REVIEW] Improvements in feature sampling
  cpp/src/decisiontree/batched-levelalgo/builder.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels/builder_kernels.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels/builder_kernels_impl.cuh
  python/cuml/tests/dask/test_dask_random_forest.py
  python/cuml/tests/test_random_forest.py
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking, CUDA/C++

#4844 [REVIEW] Centralize common css & js code in docs
  conda/environments/builddocs_py37.yml
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  cpp/Doxyfile.in
  cpp/header.html
Labels: doc, conda, non-breaking, CUDA/C++

#4852 [REVIEW] Use common code in python docs and defer `js` loading
  docs/source/_static/params.css
  docs/source/conf.py
Labels: doc, non-breaking

#4779 TSNE and UMAP allow several distance types
  cpp/include/cuml/manifold/tsne.h
  cpp/include/cuml/manifold/umap.hpp
  cpp/include/cuml/manifold/umapparams.h
  cpp/src/tsne/distances.cuh
  cpp/src/tsne/tsne.cu
  cpp/src/tsne/tsne_runner.cuh
  cpp/src/umap/knn_graph/algo.cuh
  cpp/test/sg/tsne_test.cu
  python/cuml/manifold/t_sne.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/manifold/umap_utils.pxd
  python/cuml/tests/test_tsne.py
  python/cuml/tests/test_umap.py
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#4817 Fixed Large memory requirements for SimpleImputer strategy median #4794
  python/cuml/thirdparty_adapters/adapters.py
Labels: bug, Cython / Python, non-breaking

#4871 Update for thrust 1.17 and fixes to accommodate for cuDF Buffer refactor
  cpp/cmake/thirdparty/get_gputreeshap.cmake
  cpp/src/decisiontree/batched-levelalgo/kernels/builder_kernels.cuh
  python/cuml/common/array.py
Labels: bug, 2 - In Progress, Cython / Python, non-breaking, CMake, CUDA/C++

#4862 Use rapids-cmake 22.10 best practice for RAPIDS.cmake location
  fetch_rapids.cmake
Labels: bug, 3 - Ready for Review, non-breaking

#4873 Remove unused cuDF imports
  python/cuml/cluster/dbscan.pyx
  python/cuml/cluster/kmeans.pyx
  python/cuml/cluster/kmeans_mg.pyx
  python/cuml/decomposition/base_mg.pyx
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/pca_mg.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/decomposition/tsvd_mg.pyx
  python/cuml/experimental/linear_model/lars.pyx
  python/cuml/fil/fil.pyx
  python/cuml/linear_model/base.pyx
  python/cuml/linear_model/base_mg.pyx
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/linear_model/linear_regression_mg.pyx
  python/cuml/linear_model/ridge.pyx
  python/cuml/linear_model/ridge_mg.pyx
  python/cuml/manifold/t_sne.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/metrics/accuracy.pyx
  python/cuml/metrics/trustworthiness.pyx
  python/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/random_projection/random_projection.pyx
  python/cuml/solvers/cd.pyx
  python/cuml/solvers/cd_mg.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/svm/svm_base.pyx
  python/cuml/svm/svr.pyx
Labels: bug, Cython / Python, non-breaking

#4839 Import treelite models into FIL in a different precision
  cpp/include/cuml/fil/fil.h
  cpp/src/fil/treelite_import.cu
  cpp/test/sg/fil_test.cu
  python/cuml/fil/fil.pyx
  python/cuml/tests/test_fil.py
Labels: feature request, Cython / Python, 0 - Blocked, non-breaking, CUDA/C++

#4800 [FEA] All points membership vector for HDBSCAN
  cpp/CMakeLists.txt
  cpp/include/cuml/cluster/hdbscan.hpp
  cpp/src/hdbscan/detail/kernels/soft_clustering.cuh
  cpp/src/hdbscan/detail/soft_clustering.cuh
  cpp/src/hdbscan/detail/utils.h
  cpp/src/hdbscan/hdbscan.cu
  cpp/src/hdbscan/prediction_data.cu
  cpp/src/hdbscan/runner.h
  cpp/test/sg/hdbscan_inputs.hpp
  cpp/test/sg/hdbscan_test.cu
  python/cuml/cluster/__init__.py
  python/cuml/cluster/hdbscan.pyx
  python/cuml/tests/test_hdbscan.py
Labels: Cython / Python, improvement, non-breaking, CMake, CUDA/C++

#4797 #4783 Added nan_euclidean distance metric to pairwise_distances
  python/cuml/metrics/__init__.py
  python/cuml/metrics/pairwise_distances.pyx
  python/cuml/tests/test_metrics.py
Labels: feature request, Cython / Python, non-breaking

#4867 Add `sample_weight` to Coordinate Descent solver (Lasso and ElasticNet)
  cpp/include/cuml/solvers/solver.hpp
  cpp/src/solver/cd.cuh
  cpp/src/solver/solver.cu
  cpp/test/sg/cd_test.cu
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/solvers/cd.pyx
  python/cuml/tests/test_coordinate_descent.py
Labels: feature request, Cython / Python, 5 - Ready to Merge, non-breaking, CUDA/C++
