Repository rapidsai/cuml, pull requests merged in 2022-09, with the labels that each got.

#4826 Update the NVTX bench helper for the new nsys utility
  python/cuml/benchmark/nvtx_benchmark.py
Labels: Cython / Python, improvement, non-breaking

#4872 [FEA] approximate_predict function for HDBSCAN
  cpp/include/cuml/cluster/hdbscan.hpp
  cpp/src/hdbscan/detail/kernels/predict.cuh
  cpp/src/hdbscan/detail/predict.cuh
  cpp/src/hdbscan/detail/reachability.cuh
  cpp/src/hdbscan/detail/soft_clustering.cuh
  cpp/src/hdbscan/hdbscan.cu
  cpp/src/hdbscan/prediction_data.cu
  cpp/src/hdbscan/runner.h
  cpp/test/sg/hdbscan_inputs.hpp
  cpp/test/sg/hdbscan_test.cu
  python/cuml/cluster/CMakeLists.txt
  python/cuml/cluster/__init__.py
  python/cuml/cluster/hdbscan.pyx
  python/cuml/cluster/prediction.pyx
  python/cuml/tests/test_hdbscan.py
Labels: 4 - Waiting on Author, Cython / Python, improvement, non-breaking, CMake, CUDA/C++

#4722 [FEA] Add "median" to TargetEncoder
  python/cuml/preprocessing/TargetEncoder.py
  python/cuml/tests/test_target_encoder.py
Labels: feature request, 4 - Waiting on Author, Cython / Python, non-breaking

#4881 [FEA] Statically link all CUDA toolkit libraries
  cpp/CMakeLists.txt
  cpp/examples/symreg/CMakeLists_standalone.txt
  cpp/src/umap/knn_graph/algo.cuh
  cpp/src/umap/optimize.cuh
  cpp/src/umap/runner.cuh
  cpp/test/CMakeLists.txt
Labels: 5 - Ready to Merge, improvement, non-breaking, CMake, CUDA/C++

#4884 Fix small fp precision failure in linear regression doctest test
  python/cuml/linear_model/linear_regression.pyx
Labels: bug, 3 - Ready for Review, Cython / Python, non-breaking

#4195 Convert fp32 datasets to fp64 in ARIMA and AutoARIMA + update notebook to avoid deprecation warnings with positional parameters
  python/cuml/tsa/arima.pyx
  python/cuml/tsa/auto_arima.pyx
Labels: Cython / Python, Notebook, 4 - Waiting on Reviewer, improvement, non-breaking, inactive-30d

#4755 `PowerTransformer`, `QuantileTransformer` and `KernelCenterer`
  docs/source/api.rst
  python/cuml/_thirdparty/sklearn/preprocessing/__init__.py
  python/cuml/_thirdparty/sklearn/preprocessing/_data.py
  python/cuml/_thirdparty/sklearn/utils/skl_dependencies.py
  python/cuml/_thirdparty/sklearn/utils/validation.py
  python/cuml/preprocessing/__init__.py
  python/cuml/testing/test_preproc_utils.py
  python/cuml/tests/test_preprocessing.py
Labels: feature request, 3 - Ready for Review, Cython / Python, non-breaking

#4889 Cupy 11 fixes
  cpp/CMakeLists.txt
  cpp/cmake/modules/ConfigureCUDA.cmake
  python/cuml/common/memory_utils.py
  python/cuml/tests/test_array.py
Labels: bug, Cython / Python, non-breaking, CMake, CUDA/C++

#3109 [REVIEW] New Feature StratifiedKFold
  python/cuml/model_selection/__init__.py
  python/cuml/model_selection/_split.py
  python/cuml/test/test_stratified_kfold.py
Labels: feature request, 4 - Waiting on Author, Cython / Python, non-breaking

#4885 Upgrade Treelite to 3.0.0
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  cpp/cmake/thirdparty/get_treelite.cmake
  cpp/src/decisiontree/decisiontree.cuh
  cpp/src/randomforest/randomforest.cu
Labels: conda, improvement, non-breaking, CMake, CUDA/C++

#4899 Document that minimum required CMake version is now 3.23.1
  conda/recipes/cuml/conda_build_config.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  cpp/CMakeLists.txt
  cpp/README.md
  cpp/examples/dbscan/CMakeLists_standalone.txt
  cpp/examples/kmeans/CMakeLists_standalone.txt
  python/CMakeLists.txt
  python/pyproject.toml
Labels: 3 - Ready for Review, doc, conda, Cython / Python, non-breaking, CMake, CUDA/C++

#4886 Update KMeans notebook for clarity
  notebooks/kmeans_demo.ipynb
Labels: doc, Cython / Python, non-breaking

#4904 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  notebooks/kmeans_demo.ipynb
Labels: Cython / Python

#4907 [gpuCI] Forward-merge branch-22.10 to branch-22.12 [skip gpuci]
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/tests/test_random_forest.py
Labels: Cython / Python
