Repository rapidsai/cuml, pull requests merged in 2022-06, with the labels that each got.

#4766 Fix sg benchmark build.
  cpp/bench/sg/benchmark.cuh
Labels: bug, non-breaking, CUDA/C++

#4777 [REVIEW] Bump `xgboost` to `1.6.0` from `1.5.2`
  ci/gpu/build.sh
  docs/source/conf.py
  python/cuml/tests/explainer/test_gpu_treeshap.py
  python/cuml/tests/test_benchmark.py
  python/cuml/tests/test_fil.py
  python/cuml/tests/test_nearest_neighbors.py
Labels: bug, gpuCI, Cython / Python, breaking

#4778 [REVIEW] Update raft pinnings in dev yml files
  ci/release/update-version.sh
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
Labels: bug, gpuCI, conda, 5 - Ready to Merge, non-breaking

#4771 [REVIEW] Unpin `dask` & `distributed` for development
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
Labels: gpuCI, conda, improvement, non-breaking

#4782 Fix KNN error message.
  python/cuml/neighbors/nearest_neighbors.pyx
Labels: bug, Cython / Python, non-breaking

#4774 Fixes exception when using predict_proba on fitted Pipeline object with a ColumnTransformer step
  python/cuml/tests/test_adapters.py
  python/cuml/tests/test_nearest_neighbors.py
  python/cuml/thirdparty_adapters/adapters.py
Labels: bug, Cython / Python, non-breaking

#4789 Fix forward-merge branch-22.06 to branch-22.08 [skip-ci]
  CHANGELOG.md
Labels: doc, non-breaking
