Repository rapidsai/cuml, pull requests merged in 2022-01, with the labels that each got.

#4469 Support compilation with Thrust 1.15
  cpp/CMakeLists.txt
  cpp/cmake/override_cpm.json
  cpp/src/dbscan/adjgraph/algo.cuh
  cpp/src/dbscan/adjgraph/runner.cuh
  cpp/src/hdbscan/detail/membership.cuh
  cpp/src/hdbscan/detail/stabilities.cuh
Labels: bug, 3 - Ready for Review, non-breaking, CMake, CUDA/C++

#4487 Allow CuPy 10
  conda/recipes/cuml/meta.yaml
Labels: conda, improvement, non-breaking

#4481 Dataframe Index as columns in ColumnTransformer
  python/cuml/_thirdparty/sklearn/preprocessing/_column_transformer.py
  python/cuml/test/test_compose.py
Labels: bug, Cython / Python, non-breaking

#4453 [WIP] Accept fold index for TargetEncoder
  python/cuml/preprocessing/TargetEncoder.py
  python/cuml/test/test_target_encoder.py
Labels: feature request, 3 - Ready for Review, Cython / Python, non-breaking

#4499 Replace use of RMM provided CUDA bindings with CUDA Python
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
  python/cuml/svm/linear.pyx
  python/cuml/test/test_base.py
  python/cuml/test/utils.py
Labels: bug, conda, Cython / Python, non-breaking

#4502 Fix automerge #4501 [skip-ci]
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
  python/cuml/svm/linear.pyx
  python/cuml/test/test_base.py
  python/cuml/test/utils.py
Labels: bug, non-breaking

#4501 [gpuCI] Forward-merge branch-22.02 to branch-22.04 [skip gpuci]
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
  python/cuml/svm/linear.pyx
  python/cuml/test/test_base.py
  python/cuml/test/utils.py
Labels: conda, Cython / Python

#4500 Prepare upload scripts for Python 3.7 removal
  ci/cpu/prebuild.sh
Labels: gpuCI, improvement, non-breaking

#4256 [FEA] Add option to build faiss and treelite shared libs, inherit common dependencies from raft
  build.sh
  cpp/CMakeLists.txt
  cpp/bench/CMakeLists.txt
  cpp/cmake/thirdparty/get_faiss.cmake
  cpp/cmake/thirdparty/get_gtest.cmake
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/cmake/thirdparty/get_rmm.cmake
  cpp/cmake/thirdparty/get_spdlog.cmake
  cpp/cmake/thirdparty/get_thrust.cmake
  cpp/cmake/thirdparty/get_treelite.cmake
  cpp/cmake/versions.json
  cpp/test/CMakeLists.txt
Labels: 3 - Ready for Review, improvement, non-breaking, CMake, CUDA/C++

#4508 Fix RAFT pin to main branch
  cpp/cmake/thirdparty/get_raft.cmake
Labels: bug, non-breaking, CMake, CUDA/C++

#4484 Upgrade Treelite to 2.2.1
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
  cpp/cmake/thirdparty/get_treelite.cmake
  python/cuml/test/explainer/test_gpu_treeshap.py
Labels: gpuCI, conda, Cython / Python, improvement, non-breaking, CMake, CUDA/C++

#4505 [REVIEW] Pin `dask` & `distributed`
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
Labels: bug, gpuCI, conda, non-breaking

#4514 Testing split fused l2 knn compilation units
  cpp/bench/prims/fused_l2_nn.cu
Labels: improvement, non-breaking, CUDA/C++

#4447 Support cuML / scikit-learn RF classifiers in TreeExplainer
  cpp/src/explainer/tree_shap.cu
  python/cuml/experimental/explainer/tree_shap.pyx
  python/cuml/test/explainer/test_gpu_treeshap.py
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#4457 [gpuCI] Forward-merge branch-21.12 to branch-22.02 [skip gpuci]
  CHANGELOG.md
Labels: inactive-30d

#4530 Always upload libcuml [skip ci]
  ci/cpu/prebuild.sh
Labels: bug, gpuCI, non-breaking

#4517 Fix packages upload
  ci/cpu/build.sh
Labels: gpuCI, improvement, non-breaking

#4473 Support categorical splits in in TreeExplainer
  cpp/include/cuml/explainer/tree_shap.hpp
  cpp/src/explainer/tree_shap.cu
  python/cuml/experimental/explainer/tree_shap.pyx
  python/cuml/test/explainer/test_gpu_treeshap.py
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#4454 Combine and expose SVC's support vectors when fitting multi-class data
  python/cuml/svm/svc.pyx
  python/cuml/test/test_svm.py
Labels: feature request, Cython / Python, non-breaking

#4537 [gpuCI] Forward-merge branch-22.02 to branch-22.04 [skip gpuci]
  python/cuml/svm/svc.pyx
  python/cuml/test/test_svm.py
Labels: Cython / Python
