Repository rapidsai/cuml, pull requests merged in 2022-10, with the labels that each got.

#4859 [REVIEW] Pin `dask` and `distributed` for release
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
  cpp/bench/sg/linkage.cu
  cpp/include/cuml/cluster/linkage.hpp
  cpp/src/glm/ols.cuh
  cpp/src/glm/qn/glm_base.cuh
  cpp/src/glm/ridge.cuh
  cpp/src/hierarchy/linkage.cu
  cpp/src/solver/cd.cuh
  cpp/src_prims/metrics/kl_divergence.cuh
  cpp/test/sg/linkage_test.cu
  cpp/test/sg/tsne_test.cu
  python/cuml/cluster/agglomerative.pyx
  python/cuml/tests/dask/test_dask_one_hot_encoder.py
Labels: gpuCI, conda, Cython / Python, improvement, non-breaking, CUDA/C++

#4916 Skipping some hdbscan tests when cuda version is <= 11.2.
  cpp/test/CMakeLists.txt
  python/cuml/tests/test_hdbscan.py
  python/cuml/tests/test_pca.py
Labels: bug, Cython / Python, non-breaking, CMake, CUDA/C++

#4928 Updates to fix cuml build
  ci/gpu/build.sh
  ci/release/update-version.sh
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  cpp/bench/CMakeLists.txt
  cpp/bench/prims/add.cu
  cpp/bench/prims/distance_common.cuh
  cpp/bench/prims/distance_cosine.cu
  cpp/bench/prims/distance_exp_l2.cu
  cpp/bench/prims/distance_l1.cu
  cpp/bench/prims/distance_unexp_l2.cu
  cpp/bench/prims/fused_l2_nn.cu
  cpp/bench/prims/make_blobs.cu
  cpp/bench/prims/map_then_reduce.cu
  cpp/bench/prims/matrix_vector_op.cu
  cpp/bench/prims/permute.cu
  cpp/bench/prims/reduce.cu
  cpp/bench/prims/rng.cu
  cpp/src/hdbscan/runner.h
Labels: gpuCI, conda, improvement, non-breaking, CMake, CUDA/C++

#4912 [REVIEW] Unpin `dask` and `distributed` for development
  ci/gpu/build.sh
  conda/environments/cuml_dev_cuda11.0.yml
  conda/environments/cuml_dev_cuda11.2.yml
  conda/environments/cuml_dev_cuda11.4.yml
  conda/environments/cuml_dev_cuda11.5.yml
  conda/recipes/cuml/meta.yaml
Labels: gpuCI, conda, improvement, non-breaking

#4868 [gpuCI] Forward-merge branch-22.08 to branch-22.10 [skip gpuci]
  CHANGELOG.md
Labels: inactive-30d

#4925 Documenting hdbscan module to add prediction functions
  docs/source/api.rst
Labels: improvement, non-breaking

#4937 [skip-ci] Fix url in python/setup.py setuptools metadata.
  python/setup.py
Labels: improvement, non-breaking

#4940 [REVIEW] [skip-ci] Assign python/ sub-directory to python-codeowners
  .github/CODEOWNERS
Labels: bug, non-breaking

#4949 Remove stale labeler [skip-ci]
  .github/workflows/stale.yaml
Labels: improvement, non-breaking

#4946 Fix the CMake option for disabling deprecation warnings.
  build.sh
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: bug, 3 - Ready for Review, non-breaking, CMake, CUDA/C++

#4947 Add missing includes
  cpp/include/cuml/datasets/make_blobs.hpp
  cpp/include/cuml/datasets/make_regression.hpp
  cpp/include/cuml/decomposition/params.hpp
Labels: bug, 3 - Ready for Review, non-breaking, libcuml, CUDA/C++

#4950 Switch to using rapids-cmake for gbench.
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_gbench.cmake
Labels: 3 - Ready for Review, improvement, non-breaking, CMake, CUDA/C++

#4945 Make doctest resilient to changes in cupy reprs
  python/cuml/common/memory_utils.py
Labels: bug, 3 - Ready for Review, Cython / Python, non-breaking
