Repository rapidsai/cuml, pull requests merged in 2023-07, with the labels that each got.

#5428 Update `raft::sparse::distance::pairwise_distance` to new API
  cpp/src/metrics/pairwise_distance.cu
Labels: improvement, non-breaking, CUDA/C++

#5496 Update build dependencies
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#5498 Fix PCA test
  python/cuml/tests/test_pca.py
Labels: Cython / Python, improvement, non-breaking

#5487 Use rapids-cmake testing to run tests in parallel
  ci/test_cpp.sh
  cpp/test/CMakeLists.txt
  cpp/test/sg/svc_test.cu
  dependencies.yaml
Labels: feature request, non-breaking, CMake, CUDA/C++, ci

#5500 Stop using setup.py in build.sh
  build.sh
Labels: 3 - Ready for Review, improvement, breaking

#5235 CI: Add custom GitHub Actions job to run clang-tidy
  .github/workflows/pr.yaml
  CONTRIBUTING.md
  build.sh
  ci/run_clang_tidy.sh
  conda/environments/clang_tidy_cuda-118_arch-x86_64.yaml
  cpp/include/cuml/experimental/fil/detail/raft_proto/buffer.hpp
  cpp/scripts/run-clang-tidy.py
  cpp/test/c_api/dbscan_api_test.c
  cpp/test/c_api/glm_api_test.c
  cpp/test/c_api/holtwinters_api_test.c
  cpp/test/c_api/knn_api_test.c
  cpp/test/c_api/svm_api_test.c
  dependencies.yaml
  pyproject.toml
Labels: feature request, conda, non-breaking, CUDA/C++, ci

#5504 Fixed potential overflows in SVM, minor adjustments to nvtx ranges
  cpp/src/svm/kernelcache.cuh
  cpp/src/svm/results.cuh
  cpp/src/svm/smosolver.cuh
  cpp/src/svm/svc_impl.cuh
  python/cuml/svm/svc.pyx
  python/cuml/svm/svr.pyx
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#5515 Pin hdbscan to fix pytests in CI
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
Labels: bug, conda, non-breaking

#5477 Add multi-node-multi-gpu Logistic Regression in C++
  cpp/CMakeLists.txt
  cpp/include/cuml/linear_model/qn_mg.hpp
  cpp/src/glm/qn/glm_base_mg.cuh
  cpp/src/glm/qn_mg.cu
  python/cuml/dask/common/base.py
  python/cuml/dask/linear_model/__init__.py
  python/cuml/dask/linear_model/logistic_regression.py
  python/cuml/linear_model/CMakeLists.txt
  python/cuml/linear_model/base_mg.pyx
  python/cuml/linear_model/logistic_regression_mg.pyx
  python/cuml/tests/dask/test_dask_logistic_regression.py
Labels: Cython / Python, improvement, non-breaking, CMake, CUDA/C++

#5508 Revert CUDA 12.0 CI workflows to branch-23.08.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#5509 Remove raft specializations includes.
  cpp/bench/sg/kmeans.cu
  cpp/bench/sg/svc.cu
  cpp/bench/sg/svr.cu
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/include/cuml/neighbors/knn.hpp
  cpp/include/cuml/neighbors/knn_api.h
  cpp/src/hdbscan/detail/reachability.cuh
  cpp/src/hdbscan/hdbscan.cu
  cpp/src/hierarchy/linkage.cu
  cpp/src/kmeans/kmeans_fit_predict.cu
  cpp/src/kmeans/kmeans_mg.cu
  cpp/src/kmeans/kmeans_predict.cu
  cpp/src/kmeans/kmeans_transform.cu
  cpp/src/knn/knn.cu
  cpp/src/knn/knn_opg_common.cuh
  cpp/src/knn/knn_sparse.cu
  cpp/src/metrics/pairwise_distance.cu
  cpp/src/metrics/pairwise_distance_canberra.cuh
  cpp/src/metrics/pairwise_distance_chebyshev.cuh
  cpp/src/metrics/pairwise_distance_correlation.cuh
  cpp/src/metrics/pairwise_distance_cosine.cuh
  cpp/src/metrics/pairwise_distance_euclidean.cuh
  cpp/src/metrics/pairwise_distance_hamming.cuh
  cpp/src/metrics/pairwise_distance_hellinger.cuh
  cpp/src/metrics/pairwise_distance_jensen_shannon.cuh
  cpp/src/metrics/pairwise_distance_kl_divergence.cuh
  cpp/src/metrics/pairwise_distance_l1.cuh
  cpp/src/metrics/pairwise_distance_minkowski.cuh
  cpp/src/metrics/pairwise_distance_russell_rao.cuh
  cpp/src/metrics/silhouette_score.cu
  cpp/src/metrics/silhouette_score_batched_double.cu
  cpp/src/metrics/silhouette_score_batched_float.cu
  cpp/src/metrics/trustworthiness.cu
  cpp/src/svm/linear.cu
  cpp/src/svm/svc.cu
  cpp/src/svm/svr.cu
  cpp/src/tsne/tsne.cu
  cpp/src/umap/knn_graph/algo.cuh
  cpp/src/umap/umap.cu
  cpp/src_prims/linalg/block.cuh
  cpp/test/prims/knn_classify.cu
  cpp/test/prims/knn_regression.cu
  cpp/test/sg/hdbscan_test.cu
  cpp/test/sg/knn_test.cu
  cpp/test/sg/linear_svm_test.cu
  cpp/test/sg/svc_test.cu
  cpp/test/sg/tsne_test.cu
  cpp/test/sg/umap_parametrizable_test.cu
Labels: Tech Debt, improvement, non-breaking, CMake, CUDA/C++

#5512 Update gputreeshap to use rapids-cmake.
  cpp/cmake/thirdparty/get_gputreeshap.cmake
Labels: improvement, non-breaking, CMake, CUDA/C++

#5507 Enable wheels CI scripts to run locally
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/test_wheel.sh
Labels: improvement, non-breaking, ci

#5522 Branch 23.10 merge 23.08
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/release/update-version.sh
  ci/test_wheel.sh
Labels: conda, Cython / Python, improvement, non-breaking, CMake, CUDA/C++, ci

#5386 [FEA] Update MST Reduction Op
  cpp/src/hdbscan/runner.h
Labels: feature request, 5 - Merge After Dependencies, non-breaking, CUDA/C++

#5513 Remove unused matrix.cuh and math.cuh headers to eliminate deprecation warnings.
  cpp/src/glm/ols.cuh
  cpp/src/glm/ols_mg.cu
  cpp/src/glm/ridge.cuh
  cpp/src/glm/ridge_mg.cu
  cpp/src/hdbscan/detail/utils.h
  cpp/src/hdbscan/prediction_data.cu
  cpp/src/pca/sign_flip_mg.cu
  cpp/src/solver/sgd.cuh
  cpp/src/svm/kernelcache.cuh
  cpp/src/svm/linear.cu
  cpp/src/svm/svc_impl.cuh
  cpp/src/svm/svr_impl.cuh
  cpp/src/umap/optimize.cuh
  cpp/src_prims/functions/hinge.cuh
  cpp/src_prims/functions/linearReg.cuh
  cpp/src_prims/functions/logisticReg.cuh
  cpp/src_prims/functions/penalty.cuh
  cpp/src_prims/sparse/batched/csr.cuh
  cpp/test/mg/pca.cu
  cpp/test/sg/cd_test.cu
  cpp/test/sg/sgd.cu
Labels: Tech Debt, improvement, non-breaking, CUDA/C++

#5529 Skip rf_memleak tests
  python/cuml/tests/test_random_forest.py
Labels: bug, Cython / Python, non-breaking

#5505 Default to nproc for PARALLEL_LEVEL in build.sh.
  build.sh
Labels: improvement, non-breaking

#5516 Support predict in MNMG Logistic Regression
  python/cuml/dask/linear_model/logistic_regression.py
  python/cuml/tests/dask/test_dask_logistic_regression.py
Labels: Cython / Python, improvement, non-breaking

#5533 Forward-merge branch-23.08 to branch-23.10
  python/cuml/dask/linear_model/logistic_regression.py
  python/cuml/tests/dask/test_dask_logistic_regression.py
Labels: Cython / Python

#5527 Improve temporary directory handling in cuML
  python/cuml/benchmark/nvtx_benchmark.py
  python/cuml/tests/test_device_selection.py
Labels: Cython / Python, improvement, non-breaking
