Repository rapidsai/cuml, pull requests merged in 2023-08, with the labels that each got.

#5538 Forward-merge branch-23.08 to branch-23.10
  python/cuml/cluster/hdbscan/prediction.pyx
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/tsa/holtwinters.pyx
Labels: Cython / Python

#5534 Remove Dockerfile.
  .github/CODEOWNERS
  Dockerfile
  README.md
  docs/README.md
Labels: Build or Dep, improvement, non-breaking

#5492 Restrict HDBSCAN metric options to L2 #5415
  python/cuml/cluster/hdbscan/hdbscan.pyx
  python/cuml/tests/test_hdbscan.py
Labels: Cython / Python, improvement, non-breaking

#5537 Use Python builtins to prep benchmark `tmp_dir`
  python/cuml/benchmark/nvtx_benchmark.py
Labels: Cython / Python, improvement, non-breaking

#5519 Support init arguments in MNMG LogisticRegression
  python/cuml/dask/linear_model/logistic_regression.py
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/logistic_regression_mg.pyx
  python/cuml/tests/dask/test_dask_logistic_regression.py
Labels: Cython / Python, improvement, non-breaking

#5540 Forward-merge branch-23.08 to branch-23.10
  python/cuml/dask/linear_model/logistic_regression.py
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/logistic_regression_mg.pyx
  python/cuml/tests/dask/test_dask_logistic_regression.py
Labels: Cython / Python

#5493 Sparse pca patch
  python/cuml/prims/stats/covariance.py
  python/cuml/tests/test_stats.py
Labels: Cython / Python, improvement, non-breaking

#5542 Forward-merge branch-23.08 to branch-23.10
  python/cuml/prims/stats/covariance.py
  python/cuml/tests/test_stats.py
Labels: Cython / Python

#5541 Pin `dask` and `distributed` for `23.08` release
  ci/test_wheel.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cuml/meta.yaml
  dependencies.yaml
  python/README.md
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, ci

#5490 Fix UMAP and simplicial set functions metric
  cpp/src/umap/knn_graph/algo.cuh
  python/cuml/manifold/simpl_set.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/manifold/umap_utils.pyx
  python/cuml/tests/test_umap.py
Labels: bug, 3 - Ready for Review, Cython / Python, non-breaking, CUDA/C++

#5545 Update dependencies.yaml test_notebooks to include dask_ml
  dependencies.yaml
Labels: bug, non-breaking

#5547 Branch 23.10 merge 23.08
  ci/test_wheel.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cuml/meta.yaml
  cpp/src/umap/knn_graph/algo.cuh
  dependencies.yaml
  python/README.md
  python/cuml/manifold/simpl_set.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/manifold/umap_utils.pyx
  python/cuml/tests/test_umap.py
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, CUDA/C++, ci

#5543 Forward-merge branch-23.08 to branch-23.10
  ci/test_wheel.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cuml/meta.yaml
  cpp/src/umap/knn_graph/algo.cuh
  dependencies.yaml
  python/README.md
  python/cuml/manifold/simpl_set.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/manifold/umap_utils.pyx
  python/cuml/tests/test_umap.py
  python/pyproject.toml
Labels: conda, Cython / Python, CUDA/C++, ci
