Repository rapidsai/cuml, pull requests merged in 2023-12, with the labels that each got.

#5686 Update actions/labeler to v4
  .github/workflows/labeler.yml
Labels: bug, non-breaking

#5689 Remove CUML_BUILD_WHEELS and standardize Python builds
  ci/build_wheel.sh
  python/CMakeLists.txt
Labels: Cython / Python, improvement, non-breaking, CMake, ci

#5568 Add cuML devcontainers
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.0-conda/devcontainer.json
  .devcontainer/cuda12.0-pip/devcontainer.json
  .github/workflows/pr.yaml
  .gitignore
  ci/release/update-version.sh
  cpp/.clangd
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_libcudacxx.cmake
  dependencies.yaml
  python/CMakeLists.txt
  python/pyproject.toml
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking, CMake, CUDA/C++, ci

#5696 Use cuda::proclaim_return_type on device lambdas.
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_rmm.cmake
  cpp/cmake/thirdparty/get_thrust.cmake
  cpp/src/kmeans/kmeans_mg_impl.cuh
Labels: improvement, non-breaking, CMake, CUDA/C++

#5695 move _process_generic to base_return_types, avoid circular import
  python/cuml/internals/base_helpers.py
  python/cuml/internals/base_return_types.py
Labels: Cython / Python, improvement, non-breaking

#5693 Switch to scikit-build-core
  build.sh
  ci/build_wheel.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cuml-cpu/meta.yaml
  conda/recipes/cuml/meta.yaml
  dependencies.yaml
  python/CMakeLists.txt
  python/pyproject.toml
  python/setup.py
Labels: conda, Cython / Python, improvement, breaking, CMake, ci

#5702 Update to CCCL 2.2.0.
  ci/build_docs.sh
  ci/build_python.sh
  ci/test_cpp.sh
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_cccl.cmake
  cpp/cmake/thirdparty/get_libcudacxx.cmake
  cpp/src/hdbscan/detail/membership.cuh
  cpp/src/hdbscan/detail/stabilities.cuh
  cpp/src/hdbscan/prediction_data.cu
  fetch_rapids.cmake
Labels: improvement, breaking, CMake, CUDA/C++, ci

#5705 Fix cupy dependency in pyproject.toml
  dependencies.yaml
  python/pyproject.toml
Labels: bug, Cython / Python, non-breaking
