Repository rapidsai/cuml, pull requests merged in 2023-10, with the labels that each got.

#5596 Forward-merge branch-23.10 to branch-23.12
  ci/test_wheel.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cuml/meta.yaml
  cpp/include/cuml/linear_model/qn_mg.hpp
  cpp/src/glm/qn/mg/qn_mg.cuh
  cpp/src/glm/qn_mg.cu
  dependencies.yaml
  python/README.md
  python/cuml/dask/linear_model/logistic_regression.py
  python/cuml/linear_model/logistic_regression_mg.pyx
  python/cuml/tests/dask/test_dask_logistic_regression.py
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, CUDA/C++, ci

#5594 Forward-merge branch-23.10 to branch-23.12
  ci/test_wheel.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cuml/meta.yaml
  cpp/include/cuml/linear_model/qn_mg.hpp
  cpp/src/glm/qn/mg/qn_mg.cuh
  cpp/src/glm/qn_mg.cu
  dependencies.yaml
  python/README.md
  python/cuml/dask/linear_model/logistic_regression.py
  python/cuml/linear_model/logistic_regression_mg.pyx
  python/cuml/tests/dask/test_dask_logistic_regression.py
  python/pyproject.toml
Labels: conda, Cython / Python, CUDA/C++, ci

#5595 Build CUDA 12.0 ARM conda packages.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#5591 Add changes for early experimental support for dataframe interchange protocol API
  python/cuml/internals/array.py
Labels: Cython / Python, 5 - Ready to Merge, improvement, non-breaking

#5601 Forward-merge branch-23.10 to branch-23.12
  python/cuml/internals/array.py
Labels: Cython / Python

#5587 [FEA] Support L1 regularization and ElasticNet in MNMG Dask LogisticRegression
  cpp/src/glm/qn/mg/qn_mg.cuh
  python/cuml/linear_model/logistic_regression_mg.pyx
  python/cuml/tests/dask/test_dask_logistic_regression.py
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking, CUDA/C++

#5598 Fixes for timeouts in tests
  python/cuml/internals/available_devices.py
  python/cuml/solvers/cd.pyx
  python/cuml/tests/test_nearest_neighbors.py
  python/cuml/tests/test_no_cuinit.py
Labels: bug, Cython / Python, non-breaking

#5599 Fixes for CPU package
  conda/recipes/cuml-cpu/meta.yaml
  python/cuml/cluster/__init__.py
  python/cuml/common/__init__.py
  python/cuml/common/kernel_utils.py
  python/cuml/common/sparsefuncs.py
  python/cuml/internals/__init__.py
  python/cuml/internals/base.pyx
  python/cuml/internals/global_settings.py
  python/cuml/internals/input_utils.py
  python/cuml/internals/type_utils.py
  python/cuml/linear_model/__init__.py
  python/cuml/manifold/__init__.py
  python/cuml/manifold/umap.pyx
Labels: bug, 3 - Ready for Review, conda, Cython / Python, non-breaking

#5605 Forward-merge branch-23.10 to branch-23.12
  conda/recipes/cuml-cpu/meta.yaml
  python/cuml/cluster/__init__.py
  python/cuml/common/__init__.py
  python/cuml/common/kernel_utils.py
  python/cuml/common/sparsefuncs.py
  python/cuml/internals/__init__.py
  python/cuml/internals/base.pyx
  python/cuml/internals/global_settings.py
  python/cuml/internals/input_utils.py
  python/cuml/internals/type_utils.py
  python/cuml/linear_model/__init__.py
  python/cuml/manifold/__init__.py
  python/cuml/manifold/umap.pyx
Labels: conda, Cython / Python

#5597 cuml-cpu notebook, docs and cluster models
  docs/source/estimator_intro.ipynb
  docs/source/execution_device_interoperability.ipynb
  python/CMakeLists.txt
  python/cuml/cluster/__init__.py
  python/cuml/cluster/dbscan.pyx
  python/cuml/cluster/kmeans.pyx
  python/cuml/internals/array.py
  python/cuml/tests/test_nearest_neighbors.py
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking, CMake

#5571 Allow cuML MNMG estimators to be serialized
  python/cuml/dask/common/base.py
  python/cuml/dask/feature_extraction/text/tfidf_transformer.py
  python/cuml/tests/dask/test_dask_serialization.py
Labels: Cython / Python, 5 - Ready to Merge, improvement, non-breaking

#5611 Reduce parallelism to avoid OOMs in wheel tests
  ci/test_wheel.sh
Labels: bug, non-breaking, ci

#5616 Update rapids-cmake functions to non-deprecated signatures
  cpp/cmake/thirdparty/get_gputreeshap.cmake
  cpp/cmake/thirdparty/get_treelite.cmake
Labels: 3 - Ready for Review, improvement, non-breaking, CMake, CUDA/C++

#5618 Use branch-23.12 workflows.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#5621 Update `shared-action-workflows` references
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#5625 Fix type hint in split function.
  python/cuml/model_selection/_split.py
Labels: bug, 3 - Ready for Review, Cython / Python, non-breaking

#5629 Temporarily avoid pydata-sphinx-theme version 0.14.2.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
Labels: bug, conda, non-breaking

#5627 Unpin `dask` and `distributed` for `23.12` development
  ci/test_wheel.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cuml/meta.yaml
  dependencies.yaml
  python/README.md
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, ci

#5636 Increase `Nanny` close timeout in `LocalCUDACluster` tests
  python/cuml/benchmark/automated/dask/conftest.py
  python/cuml/tests/dask/conftest.py
Labels: Cython / Python, improvement, non-breaking

#5633 Update interoperability docs
  docs/source/execution_device_interoperability.ipynb
Labels: doc, non-breaking

#5615 Fix trying to get pointer to None in svm/linear.pyx
  python/cuml/svm/linear.pyx
  python/cuml/tests/test_pickle.py
Labels: bug, Cython / Python, non-breaking

#5607 Allow nightly dependencies and set up consistent nightly versions for conda and pip packages
  VERSION
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/release/apply_wheel_modifications.sh
  ci/release/update-version.sh
  conda/recipes/cuml-cpu/meta.yaml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
  python/cuml/VERSION
  python/cuml/__init__.py
  python/cuml/_version.py
  python/pyproject.toml
  python/setup.py
Labels: conda, Cython / Python, improvement, non-breaking, ci

#5628 Update instructions for creating a conda build environment
  BUILD.md
Labels: doc, non-breaking
