Repository rapidsai/cuml, pull requests merged in 2023-05, with the labels that each got.

#5400 Pin to scikit-build<17.2
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: bug, conda, Cython / Python, non-breaking

#5394 Build wheels using new single image workflow
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#5401 Update cupy dependency
  .github/workflows/pr.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cuml/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking

#5403 Support for gtest 1.11+ changes
  cpp/test/sg/hdbscan_test.cu
Labels: improvement, non-breaking, CUDA/C++

#5404 Support CUDA 12.0 for pip wheels
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/apply_wheel_modifications.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/cuml/tests/test_doctest.py
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, ci

#5405 Fix path to cumlprims in build workflow
  .github/workflows/build.yaml
Labels: bug, non-breaking

#5407 Remove cudf from libcuml `meta.yaml`
  conda/recipes/libcuml/meta.yaml
Labels: conda, improvement, non-breaking

#5229 Delete outdated versions.json.
  cpp/cmake/versions.json
Labels: improvement, non-breaking, CMake, CUDA/C++

#5408 Update recipes to GTest version >=1.13.0
  conda/recipes/libcuml/conda_build_config.yaml
  conda/recipes/libcuml/meta.yaml
Labels: conda, improvement, non-breaking

#5410 Add librmm to libcuml dependencies.
  conda/recipes/libcuml/meta.yaml
Labels: conda, improvement, non-breaking

#5411 Add missing `raft/matrix/matrix.cuh` include
  cpp/src/hdbscan/detail/soft_clustering.cuh
Labels: bug, non-breaking, CMake, CUDA/C++

#5365 Avoid invalid memory access in experimental FIL for large output size
  cpp/include/cuml/experimental/fil/detail/infer/gpu.cuh
Labels: bug, non-breaking, CUDA/C++

#5387 Fix logic for concatenating Treelite objects
  cpp/src/randomforest/randomforest.cu
Labels: CUDA / C++, improvement, non-breaking, CUDA/C++

#5420 Switch back to using primary shared-action-workflows branch
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#5426 Fix kmeans pytest to correctly compute fp output error
  cpp/src/hdbscan/runner.h
  python/cuml/tests/test_kmeans.py
Labels: bug, Cython / Python, non-breaking, CUDA/C++

#5423 run docs nightly too
  .github/workflows/build.yaml
  ci/build_docs.sh
Labels: improvement, non-breaking, ci

#5372 Correct buffer move assignment in experimental FIL
  cpp/include/cuml/experimental/fil/detail/raft_proto/buffer.hpp
  cpp/test/CMakeLists.txt
  cpp/test/sg/experimental/fil/raft_proto/buffer.cpp
  cpp/test/sg/experimental/fil/raft_proto/buffer.cu
Labels: bug, 3 - Ready for Review, non-breaking, CMake, CUDA/C++

#5434 Add missing RAFT cusolver_macros import and changes for recent cuDF updates
  ci/release/apply_wheel_modifications.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  cpp/src_prims/sparse/batched/csr.cuh
  dependencies.yaml
  python/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/dask/neighbors/kneighbors_classifier.py
  python/cuml/dask/preprocessing/LabelEncoder.py
  python/cuml/feature_extraction/_vectorizers.py
  python/cuml/preprocessing/LabelEncoder.py
  python/cuml/tests/dask/test_dask_logistic_regression.py
  python/cuml/tests/test_device_selection.py
  python/cuml/tests/test_random_forest.py
  python/cuml/tests/test_simpl_set.py
  python/cuml/tests/test_trustworthiness.py
  python/cuml/tests/test_umap.py
  python/pyproject.toml
Labels: bug, conda, Cython / Python, non-breaking, CUDA/C++, ci

#5358 Implement apply() in FIL
  cpp/include/cuml/experimental/fil/decision_forest.hpp
  cpp/include/cuml/experimental/fil/detail/decision_forest_builder.hpp
  cpp/include/cuml/experimental/fil/detail/evaluate_tree.hpp
  cpp/include/cuml/experimental/fil/detail/forest.hpp
  cpp/include/cuml/experimental/fil/detail/infer.hpp
  cpp/include/cuml/experimental/fil/detail/infer/cpu.hpp
  cpp/include/cuml/experimental/fil/detail/infer/gpu.cuh
  cpp/include/cuml/experimental/fil/detail/infer_kernel/cpu.hpp
  cpp/include/cuml/experimental/fil/detail/infer_kernel/gpu.cuh
  cpp/include/cuml/experimental/fil/forest_model.hpp
  cpp/include/cuml/experimental/fil/treelite_importer.hpp
  python/cuml/experimental/fil/fil.pyx
  python/cuml/tests/experimental/test_filex.py
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#5437 Drop seaborn dependency.
  conda/recipes/cuml/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking

#5424 Make all nvtx usage go through safe imports
  python/cuml/datasets/blobs.py
  python/cuml/datasets/classification.py
  python/cuml/datasets/regression.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/experimental/fil/fil.pyx
  python/cuml/internals/base.pyx
  python/cuml/internals/safe_imports.py
  python/cuml/naive_bayes/naive_bayes.py
  python/cuml/tsa/arima.pyx
  python/cuml/tsa/batched_lbfgs.py
Labels: Cython / Python, improvement, non-breaking

#5368 Provide method for auto-optimization of FIL parameters
  python/cuml/experimental/fil/fil.pyx
  python/cuml/tests/experimental/test_filex.py
Labels: feature request, Cython / Python, 4 - Waiting on Reviewer, non-breaking

#5446 Fixes for nightly GHA runs
  .github/workflows/pr.yaml
  python/cuml/tests/test_random_forest.py
Labels: bug, Cython / Python, non-breaking

#5449 Fix documentation source code links
  docs/source/sphinxext/github_link.py
Labels: improvement, non-breaking
