Repository rapidsai/cuml, pull requests merged in 2023-11, with the labels that each got.

#5639 Use drop_duplicates instead of unique for cudf's pandas compatibility mode
  python/cuml/feature_extraction/_vectorizers.py
  python/cuml/preprocessing/LabelEncoder.py
Labels: bug, 3 - Ready for Review, Cython / Python, non-breaking

#5644 CI: Fix expected ValueError and dask-glm incompatibility
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/cuml/tests/test_array.py
  python/pyproject.toml
Labels: bug, conda, Cython / Python, non-breaking

#5630 Add rich HTML representation to estimators
  python/cuml/internals/base.pyx
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking

#5651 Flatten cupy array before feeding to cudf.Series
  python/cuml/tests/test_input_utils.py
Labels: bug, 3 - Ready for Review, Cython / Python, non-breaking

#5649 Use new `rapids-dask-dependency` metapackage for managing `dask` versions
  ci/build_wheel.sh
  ci/release/update-version.sh
  ci/test_wheel.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cuml/meta.yaml
  dependencies.yaml
  python/README.md
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, ci

#5648 Simplify some logic in LabelEncoder
  python/cuml/preprocessing/LabelEncoder.py
Labels: Cython / Python, improvement, non-breaking

#5657 Forward-merge branch-23.12 to branch-24.02
  README.md
  ci/build_wheel.sh
  ci/release/update-version.sh
  ci/test_wheel.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cuml/meta.yaml
  dependencies.yaml
  python/README.md
  python/cuml/preprocessing/LabelEncoder.py
  python/cuml/testing/strategies.py
  python/cuml/tests/test_input_utils.py
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, ci

#5658 Build concurrency for nightly and merge triggers
  .github/workflows/build.yaml
Labels: improvement, non-breaking

#5661 CI: Pin clang-tidy to 15.0.7.
  conda/environments/clang_tidy_cuda-118_arch-x86_64.yaml
  cpp/scripts/run-clang-tidy.py
  dependencies.yaml
Labels: bug, non-breaking, ci

#5664 Forward-merge branch-23.12 to branch-24.02
  conda/environments/clang_tidy_cuda-118_arch-x86_64.yaml
  cpp/scripts/run-clang-tidy.py
  dependencies.yaml
Labels: conda, CUDA/C++

#5663 Avoid hard import of sklearn in base module.
  python/cuml/internals/base.pyx
Labels: bug, Cython / Python, non-breaking

#5588 Enable multiclass svm for sparse input
  cpp/src/svm/kernelcache.cuh
  python/cuml/common/__init__.py
  python/cuml/internals/input_utils.py
  python/cuml/multiclass/multiclass.py
  python/cuml/svm/svc.pyx
  python/cuml/tests/test_pickle.py
  python/cuml/tests/test_svm.py
Labels: Cython / Python, 0 - Blocked, 4 - Waiting on Reviewer, improvement, non-breaking, CUDA/C++

#5646 Basic implementation of `OrdinalEncoder`.
  python/cuml/common/doc_utils.py
  python/cuml/dask/common/base.py
  python/cuml/dask/preprocessing/__init__.py
  python/cuml/dask/preprocessing/encoders.py
  python/cuml/preprocessing/__init__.py
  python/cuml/preprocessing/encoders.py
  python/cuml/preprocessing/ordinalencoder_mg.py
  python/cuml/tests/dask/test_dask_ordinal_encoder.py
  python/cuml/tests/test_ordinal_encoder.py
Labels: feature request, Cython / Python, 4 - Waiting on Reviewer, non-breaking

#5632 [LogisticRegressionMG] Support sparse vectors
  cpp/include/cuml/linear_model/qn_mg.hpp
  cpp/src/glm/qn/mg/glm_base_mg.cuh
  cpp/src/glm/qn_mg.cu
  python/cuml/dask/linear_model/logistic_regression.py
  python/cuml/linear_model/base_mg.pyx
  python/cuml/linear_model/logistic_regression_mg.pyx
  python/cuml/tests/dask/test_dask_logistic_regression.py
Labels: 3 - Ready for Review, Cython / Python, improvement, breaking, CUDA/C++

#5655 [LogisticRegressionMG][FEA] Support training when dataset contains only one class
  cpp/src/glm/qn/mg/qn_mg.cuh
  python/cuml/dask/linear_model/logistic_regression.py
  python/cuml/linear_model/base_mg.pyx
  python/cuml/linear_model/logistic_regression_mg.pyx
  python/cuml/tests/dask/test_dask_logistic_regression.py
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking, CUDA/C++

#5680 updated docs around `make_column_transformer` change from `.preprocessing` to `.compose`
  python/cuml/_thirdparty/sklearn/preprocessing/_column_transformer.py
Labels: bug, Cython / Python, non-breaking
