Repository rapidsai/cuml, pull requests merged in 2023-02, with the labels that each got.

#5178 Reverting RAFT pin
  cpp/cmake/thirdparty/get_raft.cmake
Labels: improvement, non-breaking, CMake, CUDA/C++

#5145 Replace cpdef variables with cdef variables.
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/pca_mg.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/decomposition/tsvd_mg.pyx
  python/cuml/fil/fil.pyx
Labels: Cython / Python, improvement, non-breaking

#5183 Pin wheel dependencies to same RAPIDS release
  ci/release/update-version.sh
  python/_custom_build/backend.py
  python/setup.py
Labels: Cython / Python, improvement, non-breaking, ci

#5192 Forward-merge branch-23.02 to branch-23.04
  ci/release/update-version.sh
  python/_custom_build/backend.py
  python/setup.py
Labels: Cython / Python, ci

#4865 Improvements of UMAP/TSNE precomputed KNN feature
  cpp/bench/sg/umap.cu
  cpp/include/cuml/manifold/common.hpp
  cpp/include/cuml/manifold/umap.hpp
  cpp/src/umap/umap.cu
  cpp/test/sg/umap_parametrizable_test.cu
  python/cuml/common/sparsefuncs.py
  python/cuml/manifold/t_sne.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/tests/dask/test_dask_umap.py
  python/cuml/tests/test_tsne.py
  python/cuml/tests/test_umap.py
Labels: 4 - Waiting on Author, gpuCI, Cython / Python, improvement, breaking, CUDA/C++

#5194 Increase margin for flaky FIL test
  python/cuml/tests/test_fil.py
  python/cuml/tests/test_kernel_ridge.py
Labels: bug, Cython / Python, non-breaking

#5197 Update shared workflow branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#5199 Forward-merge branch-23.02 to branch-23.04
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: ci

#5130 Execution device interoperability documentation
  README.md
  docs/source/execution_device_interoperability.ipynb
  docs/source/user_guide.rst
  python/cuml/common/device_selection.py
Labels: Cython / Python, improvement, non-breaking

#5202 Use workaround to avoid staticmethod 3.10/Cython issue
  python/cuml/fil/fil.pyx
Labels: bug, Cython / Python, non-breaking

#5203 Forward-merge branch-23.02 to branch-23.04
  python/cuml/fil/fil.pyx
Labels: Cython / Python

#5148 Add `_predict_model_on_cpu` for `RandomForestClassifier`
  python/cuml/dask/ensemble/randomforestclassifier.py
Labels: bug, Cython / Python, non-breaking

#5198 [REVIEW] Pin `dask` and `distributed` for release
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/gpu/build.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cuml/meta.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking, ci

#5190 Move date to build string in `conda` recipe
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
Labels: conda, improvement, non-breaking

#5211 Fix for creation of CUDA context at import time
  python/cuml/__init__.py
  python/cuml/internals/array_sparse.py
  python/cuml/neighbors/kneighbors_classifier.pyx
Labels: bug, Cython / Python, non-breaking

#5210 Correct arguments to load_from_treelite_model after classmethod conversion
  python/cuml/fil/fil.pyx
Labels: bug, ! - Hotfix, Cython / Python, non-breaking

#5187 [REVIEW] Kernel shap improvements
  cpp/src/explainer/kernel_shap.cu
Labels: improvement, non-breaking, CUDA/C++

#5209 [REVIEW] Unpin `dask` and `distributed` for development
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/gpu/build.sh
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cuml/meta.yaml
  cpp/Doxyfile.in
  dependencies.yaml
Labels: conda, improvement, non-breaking, CUDA/C++, ci

#5215 Update shared workflow branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#5219 Reduce error handling verbosity in CI tests scripts
  ci/test_cpp.sh
  ci/test_notebooks.sh
  ci/test_python_dask.sh
  ci/test_python_singlegpu.sh
Labels: improvement, non-breaking, ci

#5230 Support innerproduct distance in the pairwise_distance API
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/src/hdbscan/detail/soft_clustering.cuh
  cpp/src/metrics/pairwise_distance_canberra.cu
  cpp/src/metrics/pairwise_distance_chebyshev.cu
  cpp/src/metrics/pairwise_distance_correlation.cu
  cpp/src/metrics/pairwise_distance_cosine.cu
  cpp/src/metrics/pairwise_distance_euclidean.cu
  cpp/src/metrics/pairwise_distance_hamming.cu
  cpp/src/metrics/pairwise_distance_hellinger.cu
  cpp/src/metrics/pairwise_distance_jensen_shannon.cu
  cpp/src/metrics/pairwise_distance_kl_divergence.cu
  cpp/src/metrics/pairwise_distance_l1.cu
  cpp/src/metrics/pairwise_distance_minkowski.cu
  cpp/src/metrics/pairwise_distance_russell_rao.cu
  cpp/test/prims/distance_base.cuh
  cpp/test/sg/umap_parametrizable_test.cu
  python/cuml/neighbors/nearest_neighbors.pyx
Labels: Cython / Python, improvement, non-breaking, CMake, CUDA/C++

#5232 update docs build command
  ci/docs/build.sh
Labels: ci

#5228 Allowing large data in kmeans
  cpp/CMakeLists.txt
  cpp/include/cuml/cluster/kmeans.hpp
  cpp/include/cuml/cluster/kmeans_mg.hpp
  cpp/src/kmeans/kmeans.cu
  cpp/src/kmeans/kmeans_fit_predict.cu
  cpp/src/kmeans/kmeans_mg.cu
  cpp/src/kmeans/kmeans_mg_impl.cuh
  cpp/src/kmeans/kmeans_predict.cu
  cpp/src/kmeans/kmeans_transform.cu
  python/cuml/cluster/cpp/__init__.pxd
  python/cuml/cluster/cpp/__init__.py
  python/cuml/cluster/cpp/kmeans.pxd
  python/cuml/cluster/kmeans.pyx
  python/cuml/cluster/kmeans_mg.pyx
  python/cuml/tests/dask/test_dask_kmeans.py
Labels: bug, Cython / Python, non-breaking, CMake, CUDA/C++

#5217 Bump pinned pip wheel deps to 23.4
  python/_custom_build/backend.py
  python/setup.py
Labels: Cython / Python, improvement, non-breaking

#5221 Enable hypothesis for 23.04
  .github/workflows/test.yaml
  python/cuml/tests/conftest.py
  python/pytest.ini
Labels: Cython / Python, improvement, non-breaking

#5241 Fix GHA build workflow
  .github/workflows/build.yaml
Labels: improvement, non-breaking

#5244 Enable hypothesis testing for nightly test runs.
  .github/workflows/test.yaml
  ci/test_python_common.sh
  python/cuml/tests/conftest.py
Labels: bug, non-breaking, ci

#5239 Add supported CPU/GPU operators to API docs and update docstrings
  docs/source/api.rst
  python/cuml/cluster/hdbscan/hdbscan.pyx
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/linear_model/lasso.py
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/manifold/umap.pyx
  python/cuml/neighbors/nearest_neighbors.pyx
Labels: doc, Cython / Python, non-breaking

#5245 Stop using versioneer to manage versions
  .gitattributes
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  MANIFEST.in
  ci/release/apply_wheel_modifications.sh
  ci/release/update-version.sh
  python/_custom_build/backend.py
  python/cuml/__init__.py
  python/cuml/_version.py
  python/pyproject.toml
  python/setup.cfg
  python/setup.py
  python/versioneer.py
Labels: 3 - Ready for Review, Cython / Python, Tech Debt, improvement, non-breaking, ci

#5246 Add dfg as a pre-commit hook.
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#5256 Drop Python 3.7 handling for pickle protocol 4
  python/cuml/tests/test_array.py
Labels: Cython / Python, improvement, non-breaking
