Repository rapidsai/cuml, pull requests merged in 2023-04, with the labels that each got.

#5310 Drop `pickle5`
  python/cuml/tests/test_array.py
Labels: Cython / Python, improvement, non-breaking

#5321 Forward-merge branch-23.04 to branch-23.06
  python/cuml/tests/test_array.py
Labels: Cython / Python

#5236 Support numeric, boolean, and string keyword arguments to class methods during CPU dispatching
  python/cuml/internals/base.pyx
  python/cuml/tests/test_device_selection.py
Labels: bug, Cython / Python, non-breaking

#5324 Forward-merge branch-23.04 to branch-23.06
  python/cuml/internals/base.pyx
  python/cuml/tests/test_device_selection.py
Labels: Cython / Python

#5323 Update cuda architectures for threads per sm restriction
  cpp/include/cuml/experimental/fil/detail/gpu_introspection.hpp
Labels: bug, non-breaking, CUDA/C++

#5325 Forward-merge branch-23.04 to branch-23.06
  cpp/include/cuml/experimental/fil/detail/gpu_introspection.hpp
Labels: CUDA/C++

#5329 Solve merge conflict of PR #5327
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cuml/conda_build_config.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  cpp/cmake/thirdparty/get_treelite.cmake
  dependencies.yaml
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, CMake, CUDA/C++

#5327 Forward-merge branch-23.04 to branch-23.06
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cuml/conda_build_config.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  cpp/cmake/thirdparty/get_treelite.cmake
  dependencies.yaml
  python/pyproject.toml
Labels: conda, Cython / Python, CMake, CUDA/C++

#5326 Ensure experimental FIL shmem usage is below device limits
  cpp/include/cuml/experimental/fil/detail/infer/gpu.cuh
Labels: bug, non-breaking, CUDA/C++

#5333 [REVIEW] Pin `dask` and `distributed` for release
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cuml/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, breaking

#5335 [FEA] Modify default batch size in HDBSCAN soft clustering
  cpp/include/cuml/cluster/hdbscan.hpp
  cpp/src/hdbscan/detail/soft_clustering.cuh
  cpp/src/hdbscan/hdbscan.cu
  cpp/test/sg/hdbscan_test.cu
  python/cuml/cluster/hdbscan/prediction.pyx
  python/cuml/tests/test_hdbscan.py
Labels: feature request, Cython / Python, non-breaking, CUDA/C++

#5313 Run memory leak pytests without parallelism to avoid sporadic test failures
  ci/test_python_singlegpu.sh
  python/cuml/tests/test_mbsgd_regressor.py
  python/cuml/tests/test_random_forest.py
Labels: bug, Cython / Python, non-breaking, ci

#5334 Avoid race condition in FIL predict_per_tree
  cpp/include/cuml/experimental/fil/decision_forest.hpp
  cpp/include/cuml/experimental/fil/detail/forest.hpp
  cpp/include/cuml/experimental/fil/detail/infer/cpu.hpp
  cpp/include/cuml/experimental/fil/detail/infer/gpu.cuh
  cpp/include/cuml/experimental/fil/detail/infer_kernel/cpu.hpp
  cpp/include/cuml/experimental/fil/detail/infer_kernel/gpu.cuh
  cpp/include/cuml/experimental/fil/detail/infer_kernel/shared_memory_buffer.cuh
  cpp/include/cuml/experimental/fil/forest_model.hpp
  python/cuml/benchmark/algorithms.py
  python/cuml/benchmark/bench_helper_funcs.py
  python/cuml/experimental/fil/fil.pyx
  python/cuml/experimental/fil/infer_kind.pxd
  python/cuml/tests/experimental/test_filex.py
Labels: bug, Cython / Python, non-breaking, CUDA/C++

#5126 Fix documentation author
  docs/source/conf.py
Labels: doc, non-breaking

#5340 Resolve auto-merger conflicts between `branch-23.04` & `branch-23.06`
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/test_python_singlegpu.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cuml/meta.yaml
  cpp/include/cuml/cluster/hdbscan.hpp
  cpp/src/hdbscan/detail/soft_clustering.cuh
  cpp/src/hdbscan/hdbscan.cu
  cpp/test/sg/hdbscan_test.cu
  dependencies.yaml
  python/cuml/cluster/hdbscan/prediction.pyx
  python/cuml/tests/test_hdbscan.py
  python/cuml/tests/test_mbsgd_regressor.py
  python/cuml/tests/test_random_forest.py
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, CUDA/C++, ci

#5345 Fix forward merge #5336
  cpp/include/cuml/experimental/fil/decision_forest.hpp
  cpp/include/cuml/experimental/fil/detail/forest.hpp
  cpp/include/cuml/experimental/fil/detail/infer/cpu.hpp
  cpp/include/cuml/experimental/fil/detail/infer/gpu.cuh
  cpp/include/cuml/experimental/fil/detail/infer_kernel/cpu.hpp
  cpp/include/cuml/experimental/fil/detail/infer_kernel/gpu.cuh
  cpp/include/cuml/experimental/fil/detail/infer_kernel/shared_memory_buffer.cuh
  cpp/include/cuml/experimental/fil/forest_model.hpp
  docs/source/conf.py
  python/cuml/benchmark/algorithms.py
  python/cuml/benchmark/bench_helper_funcs.py
  python/cuml/experimental/fil/fil.pyx
  python/cuml/experimental/fil/infer_kind.pxd
  python/cuml/tests/experimental/test_filex.py
Labels: bug, Cython / Python, non-breaking, CUDA/C++

#5342 Skip pickle notebook during nbsphinx
  docs/source/pickling_cuml_models.ipynb
Labels: bug, non-breaking

#5347 [REVIEW] Updated forest inference to new dask worker api for 23.04
  notebooks/forest_inference_demo.ipynb
Labels: Cython / Python, improvement, non-breaking

#5344 Remove uses-setup-env-vars
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#5348 Remove deprecated Treelite CI API from FIL
  python/cuml/fil/fil.pyx
Labels: Cython / Python, improvement, non-breaking

#5353 Try running silhouette test
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: tests, Cython / Python, improvement, non-breaking

#5356 Use ARC V2 self-hosted runners for GPU jobs
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#5369 [ENH] Add missing includes of rmm/mr/device/per_device_resource.hpp
  cpp/bench/common/ml_benchmark.hpp
  cpp/examples/symreg/symreg_example.cpp
  cpp/include/cuml/tsa/arima_common.h
  cpp/src/genetic/genetic.cu
  cpp/src/svm/linear.cu
  cpp/test/mg/knn.cu
  cpp/test/sg/genetic/evolution_test.cu
  cpp/test/sg/genetic/program_test.cu
Labels: 3 - Ready for Review, Tech Debt, improvement, non-breaking, CUDA/C++

#5379 Remove usage of rapids-get-rapids-version-from-git
  ci/build_docs.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#5371 [HOTFIX] Removing faiss from libcuml conda recipe
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcuml/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: bug, conda, Cython / Python, non-breaking

#5384 Fix forward merge #5383
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcuml/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: bug, conda, Cython / Python, non-breaking

#5383 Forward-merge branch-23.04 to branch-23.06
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-118_arch-x86_64.yaml
  conda/recipes/libcuml/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: conda, Cython / Python

#5378 Fix HDBSCAN docs and add membership_vector to cuml.cluster.hdbscan namespace
  docs/source/api.rst
  python/cuml/cluster/hdbscan/__init__.py
Labels: doc, Cython / Python, non-breaking

#5367 Remove wheel pytest verbosity
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#5375 Small doc fix
  cpp/src/hdbscan/detail/soft_clustering.cuh
  python/cuml/cluster/hdbscan/prediction.pyx
Labels: doc, Cython / Python, non-breaking, CUDA/C++

#5385 Dropping Python 3.8
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  BUILD.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, breaking

#5391 Revert shared-action-workflows pin
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking
