Repository rapidsai/cuml, pull requests merged in 2023-09, with the labels that each got.

#5561 Unblock CI for branch-23.10
  .github/workflows/pr.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_raft.cmake
  python/cuml/dask/common/part_utils.py
  python/cuml/tests/test_metrics.py
Labels: Cython / Python, improvement, non-breaking, CMake, CUDA/C++, ci

#5580 Update to doxygen 1.9.1.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  cpp/Doxyfile.in
  cpp/cmake/doxygen.cmake
  dependencies.yaml
Labels: conda, improvement, non-breaking, CMake, CUDA/C++

#5573 [REVIEW] Adding a few of datasets for benchmarking
  python/cuml/benchmark/algorithms.py
  python/cuml/benchmark/datagen.py
  python/cuml/benchmark/runners.py
Labels: Cython / Python, improvement, non-breaking

#5583 Update to clang 16.0.6.
  .pre-commit-config.yaml
  BUILD.md
  conda/environments/clang_tidy_cuda-118_arch-x86_64.yaml
  cpp/README.md
  cpp/bench/sg/rf_classifier.cu
  cpp/bench/sg/rf_regressor.cu
  cpp/bench/sg/svr.cu
  cpp/include/cuml/experimental/fil/detail/node.hpp
  cpp/include/cuml/genetic/node.h
  cpp/scripts/run-clang-tidy.py
  cpp/src/decisiontree/batched-levelalgo/builder.cuh
  cpp/src/fil/fil.cu
  cpp/src/fil/treelite_import.cu
  cpp/src/genetic/fitness.cuh
  cpp/src/glm/qn/glm_base.cuh
  cpp/src/glm/qn/qn_util.cuh
  cpp/src/knn/knn_opg_common.cuh
  cpp/src/svm/results.cuh
  cpp/src/svm/smosolver.cuh
  cpp/src/tsne/barnes_hut_kernels.cuh
  cpp/src/tsne/cannylab/bh.cu
  cpp/src/tsne/exact_kernels.cuh
  cpp/src/umap/fuzzy_simpl_set/naive.cuh
  cpp/src_prims/timeSeries/arima_helpers.cuh
  cpp/test/prims/batched/csr.cu
  cpp/test/sg/fil_child_index_test.cu
  dependencies.yaml
Labels: conda, 4 - Waiting on Reviewer, improvement, non-breaking, CUDA/C++

#5581 Upgrade to Treelite 3.9.1
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cuml/conda_build_config.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  cpp/cmake/thirdparty/get_treelite.cmake
  dependencies.yaml
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, CMake, CUDA/C++

#5559 Fix CPU-only build for new FIL
  cpp/CMakeLists.txt
  cpp/include/cuml/experimental/fil/decision_forest.hpp
  cpp/include/cuml/experimental/fil/forest_model.hpp
Labels: improvement, non-breaking, CMake, CUDA/C++

#5558 [FEA] Support no regularization in MNMG LogisticRegression
  cpp/src/glm/qn/mg/glm_base_mg.cuh
  cpp/src/glm/qn/mg/qn_mg.cuh
  cpp/src/glm/qn_mg.cu
  python/cuml/linear_model/logistic_regression_mg.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/tests/dask/test_dask_logistic_regression.py
  python/cuml/tests/test_linear_model.py
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#5586 Update image names
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  CONTRIBUTING.md
Labels: improvement, non-breaking

#5585 Enable cuml-cpu nightly
  build.sh
  ci/build_python.sh
  conda/recipes/cuml-cpu/build.sh
  conda/recipes/cuml-cpu/conda_build_config.yaml
  conda/recipes/cuml-cpu/meta.yaml
  docs/source/api.rst
  python/CMakeLists.txt
  python/cmake/ConfigureCythonAlgorithms.cmake
  python/cuml/__init__.py
  python/cuml/cluster/CMakeLists.txt
  python/cuml/cluster/__init__.py
  python/cuml/cluster/hdbscan/CMakeLists.txt
  python/cuml/cluster/hdbscan/hdbscan.pyx
  python/cuml/cluster/hdbscan/prediction.pyx
  python/cuml/common/CMakeLists.txt
  python/cuml/common/doc_utils.py
  python/cuml/datasets/CMakeLists.txt
  python/cuml/decomposition/CMakeLists.txt
  python/cuml/decomposition/pca.pyx
  python/cuml/decomposition/tsvd.pyx
  python/cuml/ensemble/CMakeLists.txt
  python/cuml/experimental/fil/CMakeLists.txt
  python/cuml/experimental/linear_model/CMakeLists.txt
  python/cuml/explainer/CMakeLists.txt
  python/cuml/fil/CMakeLists.txt
  python/cuml/internals/CMakeLists.txt
  python/cuml/internals/device_support.pyx
  python/cuml/internals/internals.pyx
  python/cuml/internals/logger.pyx
  python/cuml/kernel_ridge/CMakeLists.txt
  python/cuml/linear_model/CMakeLists.txt
  python/cuml/linear_model/base.pyx
  python/cuml/linear_model/elastic_net.pyx
  python/cuml/linear_model/lasso.py
  python/cuml/linear_model/linear_regression.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/linear_model/ridge.pyx
  python/cuml/manifold/CMakeLists.txt
  python/cuml/manifold/umap.pyx
  python/cuml/metrics/CMakeLists.txt
  python/cuml/metrics/cluster/CMakeLists.txt
  python/cuml/neighbors/CMakeLists.txt
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/random_projection/CMakeLists.txt
  python/cuml/solvers/CMakeLists.txt
  python/cuml/solvers/cd.pyx
  python/cuml/solvers/qn.pyx
  python/cuml/solvers/sgd.pyx
  python/cuml/svm/CMakeLists.txt
  python/cuml/svm/svc.pyx
  python/cuml/tests/test_device_selection.py
  python/cuml/tests/test_doctest.py
  python/cuml/tsa/CMakeLists.txt
Labels: feature request, 4 - Waiting on Author, conda, Cython / Python, non-breaking, CMake, ci

#5574 add sample_weight parameter to dbscan.fit
  cpp/bench/sg/dbscan.cu
  cpp/examples/dbscan/dbscan_example.cpp
  cpp/include/cuml/cluster/dbscan.hpp
  cpp/src/dbscan/corepoints/compute.cuh
  cpp/src/dbscan/dbscan.cu
  cpp/src/dbscan/dbscan.cuh
  cpp/src/dbscan/dbscan_api.cpp
  cpp/src/dbscan/runner.cuh
  cpp/src/dbscan/vertexdeg/algo.cuh
  cpp/src/dbscan/vertexdeg/pack.h
  cpp/src/dbscan/vertexdeg/precomputed.cuh
  cpp/src/dbscan/vertexdeg/runner.cuh
  cpp/test/sg/dbscan_test.cu
  python/cuml/cluster/dbscan.pyx
  python/cuml/cluster/dbscan_mg.pyx
Labels: feature request, 3 - Ready for Review, Cython / Python, breaking, CUDA/C++

#5592 Pin `dask` and `distributed` for `23.10` release
  ci/test_wheel.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cuml/meta.yaml
  dependencies.yaml
  python/README.md
  python/pyproject.toml
Labels: 3 - Ready for Review, conda, Cython / Python, improvement, non-breaking, ci

#5565 [FEA] Support multiple classes in multi-node-multi-gpu logistic regression, from C++, Cython, to Dask Python class
  cpp/include/cuml/linear_model/qn_mg.hpp
  cpp/src/glm/qn/mg/qn_mg.cuh
  cpp/src/glm/qn_mg.cu
  python/cuml/dask/linear_model/logistic_regression.py
  python/cuml/linear_model/logistic_regression_mg.pyx
  python/cuml/tests/dask/test_dask_logistic_regression.py
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking, CUDA/C++
