Repository rapidsai/cuml, pull requests merged in 2024-10, with the labels that each got.

#6082 Support all-zeroes feature vectors for MG sparse logistic regression
  cpp/src/glm/qn/mg/standardization.cuh
  python/cuml/cuml/tests/dask/test_dask_logistic_regression.py
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#6028 Remove old dask-glm based logistic regression
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/cuml/cuml/dask/extended/__init__.py
  python/cuml/cuml/dask/extended/linear_model/__init__.py
  python/cuml/cuml/dask/extended/linear_model/logistic_regression.py
  python/cuml/cuml/tests/dask/test_dask_logistic_regression.py
  python/cuml/pyproject.toml
Labels: conda, Cython / Python, improvement, breaking

#6094 Prune workflows based on changed files
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#6088 Fix train_test_split for string columns
  python/cuml/cuml/cluster/kmeans.pyx
  python/cuml/cuml/internals/array.py
  python/cuml/cuml/model_selection/_split.py
Labels: bug, Cython / Python, non-breaking

#6084 Update all rmm imports to use pylibrmm/librmm
  python/cuml/cuml/cluster/hdbscan/hdbscan.pyx
  python/cuml/cuml/fil/fil.pyx
  python/cuml/cuml/manifold/umap_utils.pxd
  python/cuml/cuml/manifold/umap_utils.pyx
  python/cuml/cuml/random_projection/random_projection.pyx
  python/cuml/cuml/svm/linear.pyx
Labels: Cython / Python, improvement, non-breaking

#6104 fix version in Doxygen docs
  ci/build_docs.sh
Labels: improvement, non-breaking, ci

#6108 Enable HDBSCAN `gpu` training and `cpu` inference
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/cuml/cuml/cluster/hdbscan/prediction.pyx
  python/cuml/cuml/tests/test_device_selection.py
  python/cuml/pyproject.toml
Labels: feature request, conda, Cython / Python, non-breaking

#6120 Remove type from pickle header for CumlArray
  python/cuml/cuml/internals/array.py
  python/cuml/cuml/tests/test_array.py
Labels: bug, Cython / Python, non-breaking

#6118 devcontainer: replace `VAULT_HOST` with `AWS_ROLE_ARN`
  .devcontainer/Dockerfile
Labels: improvement, non-breaking

#6127 cuml SINGLEGPU now tells cuvs to not build with nccl/mg support
  cpp/cmake/thirdparty/get_cuvs.cmake
Labels: bug, non-breaking, CMake, CUDA/C++

#6111 print sccache stats in builds
  .pre-commit-config.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel.sh
  dependencies.yaml
Labels: improvement, non-breaking, ci
