Repository rapidsai/cuml, pull requests merged in 2024-06, with the labels that each got.

#5911 Fix conflict of forward-merge #5905 of branch-24.06 into branch-24.08
  .devcontainer/Dockerfile
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/pr.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  cpp/bench/CMakeLists.txt
  cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/src/arima/batched_arima.cu
  cpp/src/hdbscan/condensed_hierarchy.cu
  cpp/src/hdbscan/detail/select.cuh
  cpp/src/hdbscan/detail/utils.h
  cpp/src/tsne/distances.cuh
  cpp/src/tsne/utils.cuh
  cpp/test/CMakeLists.txt
  dependencies.yaml
  python/cuml/_thirdparty/sklearn/preprocessing/_data.py
  python/cuml/_thirdparty/sklearn/preprocessing/_discretization.py
  python/cuml/cluster/agglomerative.pyx
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/experimental/linear_model/lars.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/preprocessing/encoders.py
  python/cuml/tests/dask/test_dask_logistic_regression.py
  python/cuml/tests/dask/test_dask_one_hot_encoder.py
  python/cuml/tests/dask/test_dask_random_forest.py
  python/cuml/tests/explainer/test_explainer_kernel_shap.py
  python/cuml/tests/test_agglomerative.py
  python/cuml/tests/test_device_selection.py
  python/cuml/tests/test_kmeans.py
  python/cuml/tests/test_lars.py
  python/cuml/tests/test_linear_model.py
  python/cuml/tests/test_metrics.py
  python/cuml/tests/test_one_hot_encoder.py
  python/cuml/tests/test_random_forest.py
  python/cuml/tests/test_thirdparty.py
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, CMake, CUDA/C++

#5914 [HOTFIX] Fix import of sklearn by using cpu_only_import
  python/cuml/_thirdparty/sklearn/preprocessing/_data.py
Labels: bug, Cython / Python, non-breaking

#5804 Use rapids-build-backend
  .pre-commit-config.yaml
  build.sh
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/environments/clang_tidy_cuda-118_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-118_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuml-cpu/meta.yaml
  conda/recipes/cuml/meta.yaml
  dependencies.yaml
  python/cuml/_version.py
  python/cuml/tests/test_version.py
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, ci

#5885 Fix `cudf.pandas` failure on `test_convert_input_dtype`
  python/cuml/tests/test_input_utils.py
Labels: bug, Cython / Python, non-breaking

#5882 Fix `cudf.pandas` failure on `test_convert_matrix_order_cuml_array`
  python/cuml/internals/array.py
  python/cuml/tests/test_input_utils.py
Labels: bug, Cython / Python, non-breaking

#5923 Adopt CI/packaging codeowners
  .github/CODEOWNERS
Labels: improvement, non-breaking

#5921 Remove text builds of documentation
  ci/build_docs.sh
Labels: improvement, non-breaking, ci

#5922 [HOTFIX] Add compatibility of imports with multiple Scikit-learn versions
  python/cuml/internals/device_support.pyx
  python/cuml/internals/safe_imports.py
Labels: Cython / Python, improvement, non-breaking

#5927 [HOTFIX] v24.06.01
  python/cuml/internals/device_support.pyx
  python/cuml/internals/safe_imports.py
Labels: Cython / Python

#5925 Fix nightly jobs by updating hypothesis strategies to account for sklearn change
  python/cuml/testing/strategies.py
Labels: bug, Cython / Python, non-breaking

#5928 resolve dependency-file-generator warning, other rapids-build-backend followup
  ci/build_docs.sh
  ci/build_wheel.sh
  ci/check_style.sh
  ci/release/update-version.sh
  ci/run_clang_tidy.sh
  ci/test_cpp.sh
  ci/test_notebooks.sh
  ci/test_python_common.sh
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#5912 Fix for SVC fit_proba not using class weights
  python/cuml/svm/svc.pyx
Labels: bug, Cython / Python, non-breaking

#5908 Bump Treelite to 4.2.1
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuml/conda_build_config.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  cpp/cmake/thirdparty/get_treelite.cmake
  dependencies.yaml
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, CMake, CUDA/C++

#5938 Fix for benchmark runner to handle parameter sweeps of multiple data types
  python/cuml/benchmark/run_benchmarks.py
Labels: bug, Cython / Python, non-breaking
