Repository rapidsai/cuml, pull requests merged in 2024-11, with the labels that each got.

#6125 Make cuVS optional if CUML_ALGORITHMS is set
  cpp/CMakeLists.txt
  cpp/cmake/modules/ConfigureAlgorithms.cmake
Labels: improvement, non-breaking, CMake, CUDA/C++

#6131 Put a ceiling on cuda-python
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuml/meta.yaml
  dependencies.yaml
  python/cuml/pyproject.toml
Labels: bug, conda, Cython / Python, non-breaking

#6132 Correctly handle missing categorical data in experimental FIL
  cpp/include/cuml/experimental/fil/detail/evaluate_tree.hpp
  python/cuml/cuml/tests/experimental/test_filex.py
Labels: bug, 3 - Ready for Review, Cython / Python, non-breaking, CUDA/C++

#6101 Make `get_param_names` a class method on single GPU estimators to match Scikit-learn closer
  python/cuml/cuml/_thirdparty/sklearn/preprocessing/_data.py
  python/cuml/cuml/_thirdparty/sklearn/preprocessing/_discretization.py
  python/cuml/cuml/_thirdparty/sklearn/preprocessing/_imputation.py
  python/cuml/cuml/cluster/agglomerative.pyx
  python/cuml/cuml/cluster/dbscan.pyx
  python/cuml/cuml/cluster/hdbscan/hdbscan.pyx
  python/cuml/cuml/cluster/kmeans.pyx
  python/cuml/cuml/dask/cluster/dbscan.py
  python/cuml/cuml/dask/cluster/kmeans.py
  python/cuml/cuml/dask/decomposition/pca.py
  python/cuml/cuml/dask/decomposition/tsvd.py
  python/cuml/cuml/dask/linear_model/linear_regression.py
  python/cuml/cuml/dask/linear_model/ridge.py
  python/cuml/cuml/decomposition/incremental_pca.py
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/decomposition/tsvd.pyx
  python/cuml/cuml/ensemble/randomforest_common.pyx
  python/cuml/cuml/experimental/linear_model/lars.pyx
  python/cuml/cuml/feature_extraction/_tfidf.py
  python/cuml/cuml/internals/base.pyx
  python/cuml/cuml/kernel_ridge/kernel_ridge.pyx
  python/cuml/cuml/linear_model/elastic_net.pyx
  python/cuml/cuml/linear_model/lasso.py
  python/cuml/cuml/linear_model/linear_regression.pyx
  python/cuml/cuml/linear_model/logistic_regression.pyx
  python/cuml/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/cuml/linear_model/ridge.pyx
  python/cuml/cuml/manifold/t_sne.pyx
  python/cuml/cuml/manifold/umap.pyx
  python/cuml/cuml/multiclass/multiclass.py
  python/cuml/cuml/naive_bayes/naive_bayes.py
  python/cuml/cuml/neighbors/kernel_density.py
  python/cuml/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/cuml/preprocessing/LabelEncoder.py
  python/cuml/cuml/preprocessing/TargetEncoder.py
  python/cuml/cuml/preprocessing/encoders.py
  python/cuml/cuml/preprocessing/label.py
  python/cuml/cuml/random_projection/random_projection.pyx
  python/cuml/cuml/solvers/cd.pyx
  python/cuml/cuml/solvers/qn.pyx
  python/cuml/cuml/solvers/sgd.pyx
  python/cuml/cuml/svm/linear.pyx
  python/cuml/cuml/svm/linear_svc.py
  python/cuml/cuml/svm/linear_svr.py
  python/cuml/cuml/svm/svc.pyx
  python/cuml/cuml/svm/svm_base.pyx
  python/cuml/cuml/tests/explainer/test_explainer_common.py
  python/cuml/cuml/tests/test_base.py
  python/cuml/cuml/tsa/arima.pyx
  python/cuml/cuml/tsa/holtwinters.pyx
  wiki/python/ESTIMATOR_GUIDE.md
Labels: Cython / Python, improvement, non-breaking

#6128 Don't presume pointers are mutually exclusive for device/host.
  cpp/src/decisiontree/decisiontree.cuh
Labels: bug, 3 - Ready for Review, non-breaking, CUDA/C++

#6136 enforce wheel size limits, README formatting in CI
  ci/build_wheel.sh
  ci/validate_wheel.sh
  python/cuml/pyproject.toml
Labels: Cython / Python, improvement, non-breaking, ci

#6126 add telemetry
  .github/workflows/pr.yaml
Labels: 3 - Ready for Review, Build or Dep, improvement, non-breaking, Needs build-infra

#6135 Experimental command line interface UX
  ci/run_cuml_singlegpu_accel_pytests.sh
  ci/test_python_singlegpu.sh
  python/cuml/cuml/cluster/dbscan.pyx
  python/cuml/cuml/cluster/hdbscan/hdbscan.pyx
  python/cuml/cuml/cluster/kmeans.pyx
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/decomposition/tsvd.pyx
  python/cuml/cuml/experimental/accel/__init__.py
  python/cuml/cuml/experimental/accel/__main__.py
  python/cuml/cuml/experimental/accel/_wrappers/__init__.py
  python/cuml/cuml/experimental/accel/_wrappers/hdbscan.py
  python/cuml/cuml/experimental/accel/_wrappers/sklearn.py
  python/cuml/cuml/experimental/accel/_wrappers/umap.py
  python/cuml/cuml/experimental/accel/estimator_proxy.py
  python/cuml/cuml/experimental/accel/magics.py
  python/cuml/cuml/internals/base.pyx
  python/cuml/cuml/internals/global_settings.py
  python/cuml/cuml/linear_model/elastic_net.pyx
  python/cuml/cuml/linear_model/linear_regression.pyx
  python/cuml/cuml/linear_model/logistic_regression.pyx
  python/cuml/cuml/linear_model/ridge.pyx
  python/cuml/cuml/linear_model/ridge_mg.pyx
  python/cuml/cuml/manifold/t_sne.pyx
  python/cuml/cuml/manifold/umap.pyx
  python/cuml/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_dbscan.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_elastic_net.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_hdbscan_core.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_hdbscan_extended.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_kmeans.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_kneighbors_classifier.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_kneighbors_regressor.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_lasso.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_linear_regression.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_logistic_regression.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_nearest_neighbors.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_pca.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_ridge.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_tsne.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_tsvd.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_umap.py
  python/cuml/cuml/tests/experimental/accel/test_basic_estimators.py
  python/cuml/cuml/tests/experimental/accel/test_pipeline.py
  python/cuml/cuml/tests/test_tsne.py
Labels: Cython / Python, improvement, non-breaking, ci

#6140 Stop excluding cutlass from symbol exclusion check
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#6146 Forward-merge branch-24.12 into branch-25.02
  .github/workflows/pr.yaml
  ci/run_cuml_singlegpu_accel_pytests.sh
  ci/test_python_singlegpu.sh
  python/cuml/cuml/cluster/dbscan.pyx
  python/cuml/cuml/cluster/hdbscan/hdbscan.pyx
  python/cuml/cuml/cluster/kmeans.pyx
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/decomposition/tsvd.pyx
  python/cuml/cuml/experimental/accel/__init__.py
  python/cuml/cuml/experimental/accel/__main__.py
  python/cuml/cuml/experimental/accel/_wrappers/__init__.py
  python/cuml/cuml/experimental/accel/_wrappers/hdbscan.py
  python/cuml/cuml/experimental/accel/_wrappers/sklearn.py
  python/cuml/cuml/experimental/accel/_wrappers/umap.py
  python/cuml/cuml/experimental/accel/estimator_proxy.py
  python/cuml/cuml/experimental/accel/magics.py
  python/cuml/cuml/internals/base.pyx
  python/cuml/cuml/internals/global_settings.py
  python/cuml/cuml/linear_model/elastic_net.pyx
  python/cuml/cuml/linear_model/linear_regression.pyx
  python/cuml/cuml/linear_model/logistic_regression.pyx
  python/cuml/cuml/linear_model/ridge.pyx
  python/cuml/cuml/linear_model/ridge_mg.pyx
  python/cuml/cuml/manifold/t_sne.pyx
  python/cuml/cuml/manifold/umap.pyx
  python/cuml/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_dbscan.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_elastic_net.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_hdbscan_core.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_hdbscan_extended.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_kmeans.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_kneighbors_classifier.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_kneighbors_regressor.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_lasso.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_linear_regression.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_logistic_regression.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_nearest_neighbors.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_pca.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_ridge.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_tsne.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_tsvd.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_umap.py
  python/cuml/cuml/tests/experimental/accel/test_basic_estimators.py
  python/cuml/cuml/tests/experimental/accel/test_pipeline.py
  python/cuml/cuml/tests/test_tsne.py
Labels: conda, Cython / Python, non-breaking

#6130 Add breaking change workflow trigger
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#6145 Require approval to run CI on draft PRs
  .github/copy-pr-bot.yaml
Labels: improvement, non-breaking
