Repository rapidsai/cuml, pull requests merged in 2024-04, with the labels that each got.

#5814 Bump Treelite to 4.1.2
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuml/conda_build_config.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  cpp/cmake/thirdparty/get_treelite.cmake
  dependencies.yaml
  python/cuml/experimental/fil/fil.pyx
  python/cuml/fil/fil.pyx
  python/cuml/tests/test_random_forest.py
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, CMake, CUDA/C++

#5822 Use `conda env create --yes` instead of `--force`
  CONTRIBUTING.md
  ci/build_docs.sh
  ci/check_style.sh
  ci/run_clang_tidy.sh
  ci/test_cpp.sh
  ci/test_notebooks.sh
  ci/test_python_common.sh
Labels: improvement, non-breaking, ci

#5806 Support standardization for sparse vectors in logistic regression MG
  cpp/src/glm/qn/mg/glm_base_mg.cuh
  cpp/src/glm/qn/mg/standardization.cuh
  cpp/src/glm/qn_mg.cu
  python/cuml/linear_model/logistic_regression_mg.pyx
  python/cuml/tests/dask/test_dask_logistic_regression.py
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#5812 Correct and adjust tolerances of mnmg logreg pytests
  python/cuml/tests/dask/test_dask_logistic_regression.py
Labels: bug, tests, Cython / Python, non-breaking

#5835 Support expression-based Dask Dataframe API
  ci/test_wheel.sh
  python/cuml/dask/__init__.py
  python/cuml/dask/common/base.py
  python/cuml/dask/common/input_utils.py
  python/cuml/dask/common/part_utils.py
  python/cuml/dask/neighbors/kneighbors_classifier.py
  python/cuml/dask/preprocessing/LabelEncoder.py
  python/cuml/dask/preprocessing/encoders.py
Labels: bug, Cython / Python, non-breaking, ci

#5730 Fix build.sh clean command
  build.sh
Labels: bug, non-breaking

#5819 Address PytestReturnNotNoneWarning in cuml tests
  python/cuml/tests/test_api.py
  python/cuml/tests/test_nearest_neighbors.py
Labels: Cython / Python, improvement, non-breaking

#5824 Enable all tests for `arm` arch
  ci/test_wheel.sh
  ci/wheel_smoke_test_cuml.py
Labels: improvement, non-breaking, ci

#5848 Update the developer's guide with new copyright hook
  wiki/cpp/DEVELOPER_GUIDE.md
Labels: 3 - Ready for Review, doc, non-breaking

#5847 Always use a static gtest and gbench
  conda/recipes/libcuml/conda_build_config.yaml
  conda/recipes/libcuml/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_gtest.cmake
Labels: feature request, conda, non-breaking, CMake, CUDA/C++

#5810 Handle binary classifier with all-0 labels
  cpp/src/decisiontree/decisiontree.cuh
  cpp/src/randomforest/randomforest.cu
Labels: improvement, non-breaking, CUDA/C++

#5849 Prevent undefined behavior when passing handle from Treelite to cuML FIL
  ci/test_wheel.sh
  python/cuml/experimental/fil/fil.pyx
  python/cuml/fil/fil.pyx
Labels: Cython / Python, improvement, non-breaking, ci

#5854 Remove gtest from dependencies.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/environments/clang_tidy_cuda-118_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-118_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
Labels: bug, 3 - Ready for Review, conda, non-breaking

#5853 Replace rmm::mr::device_memory_resource* with rmm::device_async_resource_ref
  cpp/include/cuml/tsa/arima_common.h
  cpp/src/svm/results.cuh
  cpp/src/svm/svc_impl.cuh
  cpp/test/sg/svc_test.cu
Labels: improvement, non-breaking

#5857 add --rm and --name to devcontainer run args
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  ci/release/update-version.sh
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#5856 Update pip devcontainers to UCX v1.15.0
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
Labels: 3 - Ready for Review, improvement, non-breaking

#5859 Fix DBSCAN allocates rbc index even if deactivated
  cpp/src/dbscan/runner.cuh
Labels: bug, CUDA / C++, non-breaking, CUDA/C++

#5860 Prepend devcontainer name with the username
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
Labels: 3 - Ready for Review, improvement, non-breaking

#5830 Adds missing files to `update-version.sh`
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#5864 Use int instead of float in random.randint
  python/cuml/datasets/arima.pyx
  python/cuml/datasets/regression.pyx
  python/cuml/explainer/kernel_shap.pyx
  python/cuml/tests/test_kmeans.py
  python/cuml/tests/test_metrics.py
  python/cuml/tests/test_random_forest.py
Labels: Cython / Python, 5 - Ready to Merge, improvement, non-breaking

#5868 Replace deprecated disutils.version with packaging.version
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  python/cuml/internals/import_utils.py
  python/cuml/tests/test_linear_model.py
  python/pyproject.toml
Labels: conda, Cython / Python, 5 - Ready to Merge, improvement, non-breaking

#5867 Adjust deprecated cupy.sparse usage
  python/cuml/manifold/simpl_set.pyx
  python/cuml/manifold/umap_utils.pyx
  python/cuml/tests/test_simpl_set.py
  python/cuml/tests/test_umap.py
Labels: Cython / Python, 5 - Ready to Merge, improvement, non-breaking

#5866 Fix numpy 2.0 deprecations
  python/cuml/datasets/blobs.py
  python/cuml/datasets/classification.py
  python/cuml/internals/array.py
  python/cuml/linear_model/ridge.pyx
  python/cuml/multiclass/multiclass.py
  python/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/tests/test_coordinate_descent.py
  python/cuml/tests/test_incremental_pca.py
Labels: Cython / Python, 5 - Ready to Merge, improvement, non-breaking

#5865 Fix deprecated positional arg usage
  python/cuml/_thirdparty/sklearn/preprocessing/_function_transformer.py
  python/cuml/tests/dask/test_dask_serialization.py
Labels: Cython / Python, 5 - Ready to Merge, improvement, non-breaking

#5862 Avoid deprecated API in notebook
  notebooks/forest_inference_demo.ipynb
Labels: Cython / Python, 5 - Ready to Merge, improvement, non-breaking

#5863 Migrate to `{{ stdlib("c") }}`
  conda/recipes/cuml-cpu/conda_build_config.yaml
  conda/recipes/cuml-cpu/meta.yaml
  conda/recipes/cuml/conda_build_config.yaml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  conda/recipes/libcuml/meta.yaml
Labels: conda, improvement, non-breaking

#5874 Avoid dask_cudf.core imports
  python/cuml/internals/array.py
  python/cuml/internals/input_utils.py
Labels: Cython / Python, improvement, non-breaking

#5871 Only use functions in the limited API
  python/CMakeLists.txt
  python/cuml/ensemble/randomforest_shared.pyx
Labels: Cython / Python, improvement, non-breaking, CMake

#5873 Support CPU object for `train_test_split`
  python/cuml/internals/input_utils.py
  python/cuml/model_selection/_split.py
  python/cuml/tests/test_train_test_split.py
Labels: Cython / Python, improvement, non-breaking

#5875 Remove return in test_lbfgs
  python/cuml/tests/dask/test_dask_logistic_regression.py
Labels: Cython / Python, improvement, non-breaking
