Repository rapidsai/cuml, pull requests merged in 2024-03, with the labels that each got.

#5790 Suppress a hypothesis HealthCheck on test_split_datasets that fails in nightly CI.
  python/cuml/tests/test_strategies.py
Labels: bug, Cython / Python, non-breaking

#5783 [ENH] Let cuDF handle input types for label encoder.
  python/cuml/_thirdparty/sklearn/utils/validation.py
  python/cuml/preprocessing/LabelEncoder.py
  python/cuml/tests/dask/test_dask_label_encoder.py
  python/cuml/tests/test_label_encoder.py
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking

#5794 Remove use of cudf.core.column.full.
  python/cuml/preprocessing/text/stem/porter_stemmer_utils/suffix_utils.py
Labels: bug, Cython / Python, non-breaking

#5792 Switch `pytest-xdist` algorithm to `worksteal`
  ci/run_cuml_dask_pytests.sh
  ci/run_cuml_singlegpu_memleak_pytests.sh
  ci/run_cuml_singlegpu_pytests.sh
  ci/test_python_singlegpu.sh
  ci/test_wheel.sh
Labels: improvement, non-breaking, ci

#5793 Remove hard-coding of RAPIDS version where possible
  ci/build_docs.sh
  ci/release/update-version.sh
  cpp/CMakeLists.txt
  cpp/Doxyfile.in
  cpp/cmake/doxygen.cmake
  docs/source/conf.py
  fetch_rapids.cmake
  python/CMakeLists.txt
  rapids_config.cmake
Labels: Cython / Python, 4 - Waiting on Reviewer, improvement, non-breaking, CMake, CUDA/C++, ci

#5795 Use public cudf APIs where possible
  python/cuml/tests/dask/test_dask_kneighbors_regressor.py
  python/cuml/tests/explainer/test_sampling.py
  python/cuml/tests/test_linear_model.py
Labels: Cython / Python, improvement, non-breaking

#5796 Enable pytest failures on warnings from cudf
  python/pyproject.toml
Labels: tests, Cython / Python, improvement, non-breaking

#5728 DBSCAN utilize rbc eps_neighbors
  cpp/examples/dbscan/dbscan_example.cpp
  cpp/include/cuml/cluster/dbscan.hpp
  cpp/src/dbscan/dbscan.cu
  cpp/src/dbscan/dbscan.cuh
  cpp/src/dbscan/dbscan_api.cpp
  cpp/src/dbscan/runner.cuh
  cpp/src/dbscan/vertexdeg/algo.cuh
  cpp/src/dbscan/vertexdeg/pack.h
  cpp/src/dbscan/vertexdeg/runner.cuh
  cpp/test/sg/dbscan_test.cu
  python/cuml/cluster/dbscan.pyx
  python/cuml/cluster/dbscan_mg.pyx
  python/cuml/svm/svc.pyx
  python/cuml/tests/test_dbscan.py
  python/cuml/tests/test_pickle.py
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#5797 Add upper bound to prevent usage of NumPy 2
  conda/recipes/cuml-cpu/meta.yaml
Labels: conda, improvement, non-breaking

#5766 fix device to host copy not sync stream in logistic regression mg
  cpp/src/glm/qn_mg.cu
  python/cuml/tests/dask/test_dask_logistic_regression.py
Labels: bug, Cython / Python, non-breaking, CUDA/C++

#5813 Forward-merge branch-24.04 to branch-24.06
  cpp/src/glm/qn_mg.cu
  python/cuml/tests/dask/test_dask_logistic_regression.py
Labels: Cython / Python, CUDA/C++

#5816 Update pre-commit-hooks to v0.0.3
  .pre-commit-config.yaml
Labels: bug, non-breaking

#5798 Use pytest_cases.fixture to fix warnings.
  python/cuml/tests/test_device_selection.py
Labels: Cython / Python, improvement, non-breaking
