Repository rapidsai/cuml, pull requests merged in 2024-07, with the labels that each got.

#5949 CI Fix: use ld_preload to avoid libgomp issue on ARM jobs
  ci/test_python_common.sh
Labels: bug, non-breaking, ci

#5956 skip CMake 3.30.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/environments/clang_tidy_cuda-118_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-118_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuml-cpu/conda_build_config.yaml
  conda/recipes/cuml/conda_build_config.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking

#5937 Avoid extra memory copy when using cp.concatenate in cuml.dask kmeans
  python/cuml/cluster/kmeans_mg.pyx
  python/cuml/dask/common/input_utils.py
Labels: bug, Cython / Python, non-breaking

#5948 Use verify-alpha-spec hook
  .pre-commit-config.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#5959 Add CUDA_STATIC_MATH_LIBRARIES
  cpp/CMakeLists.txt
  python/CMakeLists.txt
Labels: 3 - Ready for Review, improvement, non-breaking

#5897 [FEA] PCA Initialization for TSNE
  cpp/include/cuml/manifold/tsne.h
  cpp/src/tsne/barnes_hut_tsne.cuh
  cpp/src/tsne/distances.cuh
  cpp/src/tsne/exact_tsne.cuh
  cpp/src/tsne/fft_tsne.cuh
  cpp/src/tsne/tsne_runner.cuh
  cpp/test/sg/tsne_test.cu
  python/cuml/manifold/t_sne.pyx
  python/cuml/tests/test_tsne.py
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#5963 Build and test with CUDA 12.5.1
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#5967 Rename `.devcontainer`s for CUDA 12.5
  .devcontainer/cuda12.5-conda/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
Labels: bug, non-breaking

#5970 Use workflow branch 24.08 again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#5968 Bump Treelite to 4.3.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuml/conda_build_config.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  cpp/cmake/thirdparty/get_treelite.cmake
  dependencies.yaml
  python/cuml/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, CMake, CUDA/C++

#5977 Forward-merge branch-24.08 into branch-24.10
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuml/conda_build_config.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  cpp/cmake/thirdparty/get_treelite.cmake
  dependencies.yaml
  python/cuml/pyproject.toml
Labels: conda, Cython / Python, ci

#5931 Assign correct `labels_` in `cuml.dask.kmeans`
  python/cuml/cuml/dask/cluster/kmeans.py
Labels: bug, Cython / Python, non-breaking

#5974 split up CUDA-suffixed dependencies in dependencies.yaml
  ci/release/update-version.sh
  dependencies.yaml
  python/cuml/pyproject.toml
Labels: Cython / Python, improvement, non-breaking, ci

#5980 BUG: remove sample parameter from pca call to mean
  cpp/src/pca/pca.cuh
  cpp/src/tsvd/tsvd.cuh
Labels: bug, non-breaking, CUDA/C++

#5981 Merge branch-24.08 into branch-24.10
  ci/release/update-version.sh
  cpp/src/pca/pca.cuh
  cpp/src/tsvd/tsvd.cuh
  dependencies.yaml
  python/cuml/pyproject.toml
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking, CUDA/C++, ci

#5166 Simplify cuml array
  python/cuml/cuml/internals/array.py
Labels: bug, Cython / Python, non-breaking

#5973 Fix segfault and other errors in ForestInference.load_from_sklearn
  python/cuml/cuml/fil/fil.pyx
  python/cuml/cuml/tests/dask/test_dask_random_forest.py
Labels: bug, Cython / Python, non-breaking

#5950 Make `ci/run_cuml_dask_pytests.sh` environment-agnostic again
  ci/run_cuml_dask_pytests.sh
  ci/test_python_dask.sh
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#5962 Support int64 index type in MG sparse LogisticRegression
  cpp/include/cuml/linear_model/qn_mg.hpp
  cpp/src/glm/qn/mg/standardization.cuh
  cpp/src/glm/qn/simple_mat/sparse.hpp
  cpp/src/glm/qn_mg.cu
  python/cuml/cuml/dask/linear_model/logistic_regression.py
  python/cuml/cuml/linear_model/base_mg.pyx
  python/cuml/cuml/linear_model/logistic_regression_mg.pyx
  python/cuml/cuml/tests/dask/test_dask_logistic_regression.py
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#5964 reduce memory_footprint for sparse PCA transform
  python/cuml/cuml/decomposition/pca.pyx
Labels: 3 - Ready for Review, Cython / Python, improvement, non-breaking

#5954 [MNT] Small NumPy 2 related fixes
  .pre-commit-config.yaml
  python/cuml/cuml/_thirdparty/sklearn/utils/sparsefuncs.py
  python/cuml/cuml/internals/array.py
  python/cuml/cuml/tests/test_make_classification.py
  python/cuml/cuml/tests/test_metrics.py
  python/cuml/cuml/tests/test_umap.py
Labels: bug, Cython / Python, non-breaking

#5990 Fixes for encoders/transformers for cudf.pandas
  python/cuml/cuml/_thirdparty/sklearn/preprocessing/_column_transformer.py
  python/cuml/cuml/preprocessing/LabelEncoder.py
  python/cuml/cuml/preprocessing/TargetEncoder.py
  python/cuml/cuml/testing/utils.py
  python/cuml/cuml/tests/explainer/test_sampling.py
  python/cuml/cuml/tests/test_module_config.py
  python/cuml/cuml/tests/test_ordinal_encoder.py
  python/cuml/cuml/tests/test_random_forest.py
  python/cuml/cuml/tests/test_svm.py
Labels: bug, Cython / Python, non-breaking

#5888 Allow estimators to accept any dtype
  python/cuml/cuml/cluster/dbscan.pyx
  python/cuml/cuml/cluster/kmeans.pyx
  python/cuml/cuml/common/doc_utils.py
  python/cuml/cuml/decomposition/incremental_pca.py
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/decomposition/tsvd.pyx
  python/cuml/cuml/ensemble/randomforest_common.pyx
  python/cuml/cuml/experimental/linear_model/lars.pyx
  python/cuml/cuml/explainer/tree_shap.pyx
  python/cuml/cuml/internals/array.py
  python/cuml/cuml/kernel_ridge/kernel_ridge.pyx
  python/cuml/cuml/linear_model/linear_regression.pyx
  python/cuml/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/cuml/linear_model/ridge.pyx
  python/cuml/cuml/manifold/simpl_set.pyx
  python/cuml/cuml/metrics/cluster/silhouette_score.pyx
  python/cuml/cuml/metrics/pairwise_distances.pyx
  python/cuml/cuml/metrics/regression.pyx
  python/cuml/cuml/naive_bayes/naive_bayes.py
  python/cuml/cuml/neighbors/kernel_density.py
  python/cuml/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/cuml/random_projection/random_projection.pyx
  python/cuml/cuml/solvers/cd.pyx
  python/cuml/cuml/solvers/qn.pyx
  python/cuml/cuml/solvers/sgd.pyx
  python/cuml/cuml/tests/test_input_estimators.py
  python/cuml/cuml/tests/test_metrics.py
  python/cuml/cuml/tsa/arima.pyx
  python/cuml/cuml/tsa/seasonality.pyx
  python/cuml/cuml/tsa/stationarity.pyx
Labels: feature request, Cython / Python, non-breaking

#5910 [FEA] Enable UMAP to build knn graph using NN Descent
  cpp/include/cuml/manifold/umapparams.h
  cpp/src/umap/knn_graph/algo.cuh
  cpp/src/umap/umap.cu
  python/cuml/cuml/manifold/umap.pyx
  python/cuml/cuml/manifold/umap_utils.pxd
  python/cuml/cuml/tests/test_umap.py
Labels: feature request, Cython / Python, non-breaking, CUDA/C++
