Repository rapidsai/cuml, pull requests merged in 2024-02, with the labels that each got.

#5738 Use cudf.Index instead of cudf.GenericIndex.
  python/cuml/preprocessing/encoders.py
Labels: bug, Cython / Python, non-breaking

#5744 Disable HistGradientBoosting support for now
  python/cuml/experimental/fil/fil.pyx
  python/cuml/fil/fil.pyx
Labels: Cython / Python, improvement, non-breaking

#5746 Forward-merge branch-24.02 to branch-24.04
  python/cuml/experimental/fil/fil.pyx
  python/cuml/fil/fil.pyx
Labels: Cython / Python

#5724 [LogisticRegressionMG] Support standardization with no data modification
  cpp/include/cuml/linear_model/qn_mg.hpp
  cpp/src/glm/qn/mg/glm_base_mg.cuh
  cpp/src/glm/qn/mg/qn_mg.cuh
  cpp/src/glm/qn/mg/standardization.cuh
  cpp/src/glm/qn_mg.cu
  python/cuml/dask/linear_model/logistic_regression.py
  python/cuml/linear_model/logistic_regression_mg.pyx
  python/cuml/tests/dask/test_dask_logistic_regression.py
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#5747 [Hotfix] Update GPUTreeSHAP to fix ARM build
  cpp/cmake/thirdparty/get_gputreeshap.cmake
Labels: ! - Hotfix, improvement, non-breaking

#5751 Forward-merge branch-24.02 to branch-24.04
  cpp/cmake/thirdparty/get_gputreeshap.cmake
Labels: CMake, CUDA/C++

#5755 [Hotfix] Fix FIL gtest
  cpp/test/sg/fil_test.cu
Labels: bug, tests, non-breaking, CUDA/C++

#5756 Forward-merge branch-24.02 to branch-24.04
  cpp/test/sg/fil_test.cu
Labels: CUDA/C++

#5754 Exclude tests from builds
  python/pyproject.toml
Labels: bug, Cython / Python, non-breaking

#5758 Pandas 2.x support
  python/cuml/benchmark/datagen.py
  python/cuml/common/sparsefuncs.py
  python/cuml/preprocessing/encoders.py
  python/cuml/tests/test_train_test_split.py
Labels: Cython / Python, improvement, non-breaking

#5753 Fix ctest directory to ensure tests are executed
  ci/test_cpp.sh
  cpp/test/CMakeLists.txt
  cpp/test/sg/svc_test.cu
Labels: bug, non-breaking, CMake, CUDA/C++, ci

#5770 Forward-merge branch-24.02 to branch-24.04
  ci/test_cpp.sh
  cpp/test/CMakeLists.txt
  cpp/test/sg/svc_test.cu
Labels: CMake, CUDA/C++, ci

#5711 Support CUDA 12.2
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuml-cpu/meta.yaml
  conda/recipes/cuml/meta.yaml
  conda/recipes/libcuml/meta.yaml
  dependencies.yaml
Labels: feature request, conda, non-breaking

#5752 Update ops-bot.yaml
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#5776 target branch-24.04 for GitHub Actions workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#5785 [BUG] Fix `MAX_THREADS_PER_SM` on sm 89.
  cpp/include/cuml/experimental/fil/detail/gpu_introspection.hpp
Labels: bug, non-breaking, CUDA/C++

#5761 Add environment-agnostic scripts for running ctests and pytests
  ci/run_ctests.sh
  ci/run_cuml_dask_pytests.sh
  ci/run_cuml_singlegpu_memleak_pytests.sh
  ci/run_cuml_singlegpu_pytests.sh
  ci/test_cpp.sh
  ci/test_python_dask.sh
  ci/test_python_singlegpu.sh
Labels: improvement, non-breaking, ci

#5778 Update devcontainers to CUDA Toolkit 12.2
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/pr.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#5786 Add support for Python 3.11, require NumPy 1.23+
  BUILD.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuml-cpu/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking
