Repository rapidsai/cuml, pull requests merged in 2024-08, with the labels that each got.

#6009 Add support for XGBoost UBJSON in FIL
  dependencies.yaml
  notebooks/forest_inference_demo.ipynb
  python/cuml/cuml/experimental/fil/fil.pyx
  python/cuml/cuml/fil/fil.pyx
Labels: Cython / Python, improvement, non-breaking

#6019 Avoid cudf column APIs after cudf.Series disallows column inputs
  python/cuml/cuml/dask/preprocessing/LabelEncoder.py
  python/cuml/cuml/preprocessing/LabelEncoder.py
Labels: bug, Cython / Python, non-breaking

#6012 Use tool.scikit-build.cmake.version, set scikit-build-core minimum-version
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuml-cpu/meta.yaml
  conda/recipes/cuml/meta.yaml
  dependencies.yaml
  python/cuml/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking

#6016 Update pre-commit hooks
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#6021 Stop exporting fill_k kernel as that causes ODR violations
  cpp/src/fil/common.cuh
  cpp/src/fil/fil.cu
  cpp/src/fil/infer.cu
Labels: bug, non-breaking, CUDA/C++

#5966 Use CUDA math wheels
  ci/build_wheel.sh
  dependencies.yaml
  python/cuml/CMakeLists.txt
  python/cuml/pyproject.toml
Labels: Cython / Python, improvement, non-breaking, CMake, ci

#5906 Use HDBSCAN package pin to `0.8.38`
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuml-cpu/meta.yaml
  dependencies.yaml
  python/cuml/pyproject.toml
Labels: bug, 2 - In Progress, conda, Cython / Python, non-breaking

#6030 MAINT: Allow for error message to contain ``np.float32(1.0)``
  python/cuml/cuml/tests/dask/test_dask_logistic_regression.py
Labels: bug, non-breaking

#6020 Enabling CPU/GPU interop for SVM, DBSCAN and KMeans
  python/cuml/cuml/cluster/dbscan.pyx
  python/cuml/cuml/cluster/kmeans.pyx
  python/cuml/cuml/tests/test_device_selection.py
Labels: Cython / Python, improvement, non-breaking

#6038 Add use_cuda_wheels matrix entry
  dependencies.yaml
  python/cuml/pyproject.toml
Labels: Cython / Python, improvement, non-breaking

#6022 [FEA] UMAP API for building with batched NN Descent
  cpp/src/umap/knn_graph/algo.cuh
  python/cuml/cuml/manifold/umap.pyx
  python/cuml/cuml/manifold/umap_utils.pxd
  python/cuml/cuml/tests/test_umap.py
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#6040 Drop Python 3.9 support
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/cuml/cuml/internals/available_devices.py
  python/cuml/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking

#6033 Switch debug build to RelWithDebInfo
  build.sh
Labels: CUDA / C++, improvement, non-breaking

#6031 Remove NumPy <2 pin
  ci/test_wheel.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuml-cpu/meta.yaml
  conda/recipes/cuml/meta.yaml
  dependencies.yaml
  python/cuml/cuml/neighbors/CMakeLists.txt
  python/cuml/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, CMake, ci

#6048 Update rapidsai/pre-commit-hooks
  .pre-commit-config.yaml
Labels: improvement, non-breaking
