Repository rapidsai/cuml, pull requests merged in 2024-05, with the labels that each got.

#5877 Enable pytest failures on FutureWarnings/DeprecationWarnings
  python/pyproject.toml
  python/pytest.ini
Labels: tests, Cython / Python, improvement, non-breaking

#5861 Add dedicated handling for cudf.pandas wrapped Numpy arrays
  python/cuml/internals/input_utils.py
  python/cuml/tests/conftest.py
  python/cuml/tests/test_input_utils.py
Labels: 2 - In Progress, Cython / Python, improvement, non-breaking

#5880 Fix nightly CI: remove deprecated creation of columns by using explicit dtype
  python/cuml/tests/test_array.py
Labels: bug, Cython / Python, non-breaking

#5881 Add optional CI job for integration tests with cudf.pandas
  .github/workflows/pr.yaml
  ci/run_cuml_integration_pytests.sh
  ci/test_python_integration.sh
Labels: improvement, non-breaking, ci

#5697 Enable Dask tests with UCX-Py/UCXX in CI
  ci/release/update-version.sh
  ci/run_cuml_dask_pytests.sh
  ci/test_python_dask.sh
  python/cuml/tests/dask/conftest.py
  python/cuml/tests/dask/test_dask_nearest_neighbors.py
  python/pyproject.toml
Labels: Cython / Python, improvement, non-breaking, ci

#5898 Support double precision in MNMG Logistic Regression
  cpp/include/cuml/linear_model/qn_mg.hpp
  cpp/src/glm/qn_mg.cu
  python/cuml/linear_model/logistic_regression_mg.pyx
  python/cuml/tests/dask/test_dask_logistic_regression.py
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#5900 Fix label binarize for binary class
  python/cuml/preprocessing/label.py
  python/cuml/tests/test_preprocessing.py
Labels: bug, Cython / Python, non-breaking

#5890 Reduce and rename cudf.pandas integrations jobs
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#5896 Fix RandomForestClassifier return type
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/tests/test_random_forest.py
Labels: bug, Cython / Python, non-breaking

#5851 Update scikit-learn to 1.4
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  python/cuml/_thirdparty/sklearn/preprocessing/_data.py
  python/cuml/_thirdparty/sklearn/preprocessing/_discretization.py
  python/cuml/cluster/agglomerative.pyx
  python/cuml/ensemble/randomforest_common.pyx
  python/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/ensemble/randomforestregressor.pyx
  python/cuml/experimental/linear_model/lars.pyx
  python/cuml/linear_model/logistic_regression.pyx
  python/cuml/preprocessing/encoders.py
  python/cuml/tests/dask/test_dask_logistic_regression.py
  python/cuml/tests/dask/test_dask_one_hot_encoder.py
  python/cuml/tests/dask/test_dask_random_forest.py
  python/cuml/tests/explainer/test_explainer_kernel_shap.py
  python/cuml/tests/test_agglomerative.py
  python/cuml/tests/test_device_selection.py
  python/cuml/tests/test_kmeans.py
  python/cuml/tests/test_lars.py
  python/cuml/tests/test_linear_model.py
  python/cuml/tests/test_metrics.py
  python/cuml/tests/test_one_hot_encoder.py
  python/cuml/tests/test_random_forest.py
  python/cuml/tests/test_thirdparty.py
  python/pyproject.toml
Labels: 2 - In Progress, conda, Cython / Python, improvement, non-breaking

#5886 Fix building cuml with CCCL main
  .devcontainer/Dockerfile
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  cpp/bench/CMakeLists.txt
  cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/src/arima/batched_arima.cu
  cpp/src/hdbscan/condensed_hierarchy.cu
  cpp/src/hdbscan/detail/select.cuh
  cpp/src/hdbscan/detail/utils.h
  cpp/src/tsne/distances.cuh
  cpp/src/tsne/utils.cuh
  cpp/test/CMakeLists.txt
Labels: 3 - Ready for Review, improvement, non-breaking, CMake, CUDA/C++
