Repository rapidsai/cuml, pull requests merged in 2025-04, with the labels that each got.

#6500 Skip test_rf_classification_seed for cudf.pandas tests.
  python/cuml/cuml/tests/test_random_forest.py
Labels: bug, Cython / Python, non-breaking

#6442 Limited support for array-like inputs
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/internals/api_decorators.py
  python/cuml/cuml/internals/array.py
  python/cuml/cuml/internals/base.pyx
  python/cuml/cuml/internals/input_utils.py
  python/cuml/cuml/linear_model/elastic_net.pyx
  python/cuml/cuml/linear_model/logistic_regression.pyx
  python/cuml/cuml/tests/accel/test_array_like_input.py
  python/cuml/cuml/tests/internals/test_internal_utils.py
Labels: bug, Cython / Python, non-breaking

#6414 Fix multi-target prediction in linear models
  python/cuml/cuml/linear_model/base.pyx
  python/cuml/cuml/linear_model/elastic_net.pyx
  python/cuml/cuml/linear_model/linear_regression.pyx
  python/cuml/cuml/linear_model/ridge.pyx
  python/cuml/cuml/tests/test_linear_model.py
Labels: bug, Cython / Python, non-breaking

#6519 Unblock CI for 25.04
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cuml/cuml/tests/test_device_selection.py
  python/cuml/pyproject.toml
Labels: bug, conda, Cython / Python, non-breaking, ci

#6517 Fix cudf.DataFrame construction with dict like inputs and ensure CumlArray.to_output('cudf') does not convert NaN to NA
  python/cuml/cuml/internals/array.py
  python/cuml/cuml/tests/dask/test_dask_one_hot_encoder.py
  python/cuml/cuml/tests/test_array.py
  python/cuml/cuml/tests/test_one_hot_encoder.py
Labels: bug, Cython / Python, non-breaking

#6484 Add minimal import check to CI
  ci/test_wheel.sh
Labels: improvement, non-breaking, ci

#6514 Calling gc in SVC tests
  python/cuml/cuml/tests/test_device_selection.py
Labels: bug, Cython / Python, non-breaking

#6524 Forward-merge branch-25.04 into branch-25.06
  CHANGELOG.md
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/internals/api_decorators.py
  python/cuml/cuml/internals/array.py
  python/cuml/cuml/internals/base.pyx
  python/cuml/cuml/internals/input_utils.py
  python/cuml/cuml/linear_model/base.pyx
  python/cuml/cuml/linear_model/elastic_net.pyx
  python/cuml/cuml/linear_model/linear_regression.pyx
  python/cuml/cuml/linear_model/logistic_regression.pyx
  python/cuml/cuml/linear_model/ridge.pyx
  python/cuml/cuml/tests/accel/test_array_like_input.py
  python/cuml/cuml/tests/internals/test_internal_utils.py
  python/cuml/cuml/tests/test_linear_model.py
  python/cuml/cuml/tests/test_random_forest.py
  python/cuml/pyproject.toml
Labels: conda, Cython / Python

#6531 Vendor RAPIDS.cmake
  cmake/RAPIDS.cmake
  cmake/rapids_config.cmake
  cpp/CMakeLists.txt
  python/cuml/CMakeLists.txt
  python/libcuml/CMakeLists.txt
Labels: Cython / Python, improvement, non-breaking, CMake, CUDA/C++

#6525 Remove CUDA whole compilation ODR violations
  cpp/CMakeLists.txt
  cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/src/decisiontree/batched-levelalgo/builder.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels/builder_kernels.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels/builder_kernels_impl.cuh
  cpp/src/decisiontree/batched-levelalgo/kernels/quantiles.cu
  cpp/src/decisiontree/batched-levelalgo/quantiles.cuh
Labels: improvement, non-breaking, CMake, CUDA/C++

#6374 More permanently disable BATCH_TREE_REORG
  cpp/include/cuml/fil/fil.h
  cpp/src/fil/common.cuh
  cpp/src/fil/fil.cu
  cpp/src/fil/infer.cu
  cpp/src/fil/internal.cuh
  cpp/src/fil/treelite_import.cu
  python/cuml/cuml/legacy/fil/fil.pyx
Labels: bug, Cython / Python, non-breaking, CUDA/C++

#6537 Avoid private attributes on cuDF objects
  python/cuml/cuml/feature_extraction/_vectorizers.py
  python/cuml/cuml/preprocessing/LabelEncoder.py
Labels: Cython / Python, improvement, non-breaking

#6472 Moving wheel builds to specified location and uploading build artifacts to Github
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_wheel_cuml.sh
  ci/build_wheel_libcuml.sh
Labels: improvement, non-breaking, ci

#6536 Reduce CI test combinations for scikit-learn acceleration tests
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: tests, improvement, non-breaking, ci

#6542 Remove `_experimental_dispatching` attribute
  python/cuml/cuml/internals/base.pyx
  python/cuml/cuml/manifold/umap.pyx
  python/cuml/cuml/tests/test_public_methods_attributes.py
Labels: Cython / Python, improvement, non-breaking

#6507 SLHC to Migrate to cuVS Agglomerative from RAFT
  cpp/bench/sg/linkage.cu
  cpp/include/cuml/cluster/linkage.hpp
  cpp/src/hierarchy/linkage.cu
  cpp/tests/sg/linkage_test.cu
  python/cuml/cuml/cluster/agglomerative.pyx
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#6543 Remove unnecessary CudfBuffer and vendor cuDF min_signed_type function
  python/cuml/cuml/feature_extraction/_vectorizers.py
  python/cuml/cuml/internals/array.py
Labels: Cython / Python, improvement, non-breaking

#6546 refactor(rattler): enable strict channel priority for builds
  ci/build_cpp.sh
  ci/build_python.sh
Labels: improvement, non-breaking, ci

#6529 Disable building and uploading cuml-cpu in CI
  ci/build_python.sh
  conda/recipes/cuml-cpu/conda_build_config.yaml
  conda/recipes/cuml-cpu/recipe.yaml
Labels: conda, improvement, breaking, ci

#6538 Use Gram kernel from cuVS instead of Raft
  cpp/bench/sg/svc.cu
  cpp/bench/sg/svr.cu
  cpp/include/cuml/matrix/kernelparams.h
  cpp/include/cuml/svm/svc.hpp
  cpp/include/cuml/svm/svr.hpp
  cpp/src/svm/kernelcache.cuh
  cpp/src/svm/smosolver.h
  cpp/src/svm/sparse_util.cuh
  cpp/src/svm/svc.cu
  cpp/src/svm/svc_impl.cuh
  cpp/src/svm/svm_api.cpp
  cpp/src/svm/svr.cu
  cpp/src/svm/svr_impl.cuh
  cpp/tests/sg/svc_test.cu
  python/cuml/cuml/svm/svc.pyx
  python/cuml/cuml/svm/svm_base.pyx
Labels: feature request, 3 - Ready for Review, Cython / Python, non-breaking, CUDA/C++

#6552 Lower logistic regression digits test threshold to 0.9.
  python/cuml/cuml/tests/test_linear_model.py
Labels: bug, tests, Cython / Python, non-breaking

#6548 Refactor dataset generation and testing utilities
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cuml/cuml/testing/datasets.py
  python/cuml/cuml/testing/utils.py
  python/cuml/cuml/tests/conftest.py
  python/cuml/cuml/tests/dask/test_dask_dbscan.py
  python/cuml/cuml/tests/explainer/conftest.py
  python/cuml/cuml/tests/explainer/test_explainer_kernel_shap.py
  python/cuml/cuml/tests/explainer/test_explainer_permutation_shap.py
  python/cuml/cuml/tests/test_allocator.py
  python/cuml/cuml/tests/test_base.py
  python/cuml/cuml/tests/test_dbscan.py
  python/cuml/cuml/tests/test_hdbscan.py
  python/cuml/cuml/tests/test_kmeans.py
  python/cuml/cuml/tests/test_lars.py
  python/cuml/cuml/tests/test_linear_model.py
  python/cuml/cuml/tests/test_metrics.py
  python/cuml/cuml/tests/test_multiclass.py
  python/cuml/cuml/tests/test_tsne.py
  python/cuml/pyproject.toml
Labels: tests, conda, Cython / Python, improvement, non-breaking

#6555 Update KMeans test to improve stability by setting n_init to 2 (#6553)
  python/cuml/cuml/tests/test_kmeans.py
Labels: tests, Cython / Python, improvement, non-breaking

#6559 Add `cuml.accel.is_proxy`
  python/cuml/cuml/accel/__init__.py
  python/cuml/cuml/accel/estimator_proxy.py
  python/cuml/cuml_accel_tests/test_estimator_proxy.py
Labels: Cython / Python, improvement, non-breaking, cuml-accel

#6565 Don't exclude sklearn tests from acceleration
  python/cuml/cuml/accel/accelerator.py
  python/cuml/cuml/accel/core.py
  python/cuml/cuml_accel_tests/test_accelerator.py
Labels: Cython / Python, improvement, non-breaking, cuml-accel

#6564 Add .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: improvement, non-breaking

#6572 Remove conditional compilation blocks leftover from `cuml-cpu`
  build.sh
  python/cuml/CMakeLists.txt
  python/cuml/cuml/cluster/dbscan.pyx
  python/cuml/cuml/cluster/hdbscan/hdbscan.pyx
  python/cuml/cuml/cluster/hdbscan/prediction.pyx
  python/cuml/cuml/cluster/kmeans.pyx
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/decomposition/tsvd.pyx
  python/cuml/cuml/internals/base.pyx
  python/cuml/cuml/internals/device_support.pyx
  python/cuml/cuml/internals/internals.pyx
  python/cuml/cuml/internals/logger.pxd
  python/cuml/cuml/internals/logger.pyx
  python/cuml/cuml/linear_model/base.pyx
  python/cuml/cuml/linear_model/linear_regression.pyx
  python/cuml/cuml/linear_model/ridge.pyx
  python/cuml/cuml/manifold/umap.pyx
  python/cuml/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/cuml/solvers/cd.pyx
  python/cuml/cuml/solvers/qn.pyx
  python/cuml/cuml/solvers/sgd.pyx
Labels: Cython / Python, improvement, non-breaking, CMake

#6554 Support `weights="distance"` for `KNeighbors*` in `cuml.accel`
  python/cuml/cuml/ensemble/randomforestregressor.pyx
  python/cuml/cuml/internals/base.pyx
  python/cuml/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/cuml_accel_tests/integration/test_kneighbors_classifier.py
  python/cuml/cuml_accel_tests/integration/test_kneighbors_regressor.py
  python/cuml/cuml_accel_tests/integration/test_rf_regressor.py
Labels: Cython / Python, improvement, non-breaking, cuml-accel

#6579 Relax threshold for failing ARIMA pytest
  python/cuml/cuml/tests/test_arima.py
Labels: bug, Cython / Python, non-breaking

#6566 Download build artifacts from Github for CI
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel_cuml.sh
  ci/test_cpp.sh
  ci/test_notebooks.sh
  ci/test_python_common.sh
  ci/test_wheel.sh
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#6573 Add caching and object size metrics to `conda` CI builds
  build.sh
  conda/recipes/libcuml/recipe.yaml
Labels: conda, improvement, non-breaking

#6583 Don't run memleak tests in CI
  ci/run_cuml_integration_pytests.sh
  ci/run_cuml_singlegpu_memleak_pytests.sh
  ci/run_cuml_singlegpu_pytests.sh
  ci/test_python_singlegpu.sh
  python/cuml/cuml/tests/conftest.py
Labels: Cython / Python, improvement, non-breaking, ci

#6577 Fix launch parameters for kernel shap
  cpp/src/explainer/kernel_shap.cu
Labels: bug, non-breaking, CUDA/C++

#6569 Update SVC tests for CCCL update
  cpp/tests/sg/svc_test.cu
  python/cuml/cuml/tests/test_svm.py
Labels: bug, Cython / Python, non-breaking, CUDA/C++

#6584 Only run one `cudf.pandas` enabled build per PR
  .github/workflows/pr.yaml
Labels: improvement, non-breaking, ci

#6586 Remove usage of `cudf.core.buffer`
  python/cuml/cuml/preprocessing/text/stem/porter_stemmer_utils/suffix_utils.py
  python/cuml/cuml/tests/test_input_utils.py
Labels: Cython / Python, improvement, non-breaking

#6553 Improve detection of scikit-learn parity regressions
  ci/accel/scikit-learn-tests/README.md
  ci/accel/scikit-learn-tests/summarize-results.sh
  ci/test_python_scikit_learn_tests.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cuml/cuml/accel/__init__.py
  python/cuml/cuml/accel/pytest_plugin.py
  python/cuml/cuml/accel/tests/scikit-learn/README.md
  python/cuml/cuml/accel/tests/scikit-learn/run-tests.sh
  python/cuml/cuml/accel/tests/scikit-learn/summarize-results.py
  python/cuml/cuml/accel/tests/scikit-learn/xfail-list.yaml
  python/cuml/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, ci

#6593 Remove remainder of code branching on `cuml-cpu` support
  python/cuml/cuml/__init__.py
  python/cuml/cuml/cluster/__init__.py
  python/cuml/cuml/common/__init__.py
  python/cuml/cuml/decomposition/incremental_pca.py
  python/cuml/cuml/feature_extraction/_tfidf.py
  python/cuml/cuml/internals/CMakeLists.txt
  python/cuml/cuml/internals/__init__.py
  python/cuml/cuml/internals/available_devices.py
  python/cuml/cuml/internals/base.pyx
  python/cuml/cuml/internals/device_support.pyx
  python/cuml/cuml/internals/global_settings.py
  python/cuml/cuml/internals/mem_type.py
  python/cuml/cuml/internals/memory_utils.py
  python/cuml/cuml/linear_model/__init__.py
  python/cuml/cuml/manifold/__init__.py
  python/cuml/cuml/preprocessing/LabelEncoder.py
  python/cuml/cuml/preprocessing/encoders.py
  python/cuml/cuml/preprocessing/label.py
  python/cuml/cuml/svm/svc.pyx
  python/cuml/cuml/svm/svm_base.pyx
Labels: Cython / Python, improvement, non-breaking, CMake

#6578 Fix race condition in `_block_gemv` kernel
  cpp/src_prims/linalg/block.cuh
Labels: bug, non-breaking, CUDA/C++

#6591 Add timeout to scikit-learn test suite
  ci/test_python_scikit_learn_tests.sh
Labels: improvement, non-breaking, ci

#6598 Mark one kmeans and one t_sne sklearn test as flaky
  python/cuml/cuml/accel/tests/scikit-learn/xfail-list.yaml
Labels: bug, tests, Cython / Python, non-breaking

#6481 Future-proof SVC documentation
  docs/source/api.rst
Labels: doc, non-breaking

#6518 FIX Propagate random state to numpy rng in `make_classification`
  python/cuml/cuml/datasets/classification.py
  python/cuml/cuml/internals/utils.py
  python/cuml/cuml/multiclass/multiclass.py
  python/cuml/cuml/tests/test_make_classification.py
  python/cuml/cuml/tests/test_naive_bayes.py
Labels: bug, Cython / Python, breaking

#6596 Remove guarded imports of `scipy`
  dependencies.yaml
  python/cuml/cuml/benchmark/datagen.py
  python/cuml/cuml/common/__init__.py
  python/cuml/cuml/common/sparse_utils.py
  python/cuml/cuml/common/sparsefuncs.py
  python/cuml/cuml/dask/common/dask_arr_utils.py
  python/cuml/cuml/dask/linear_model/logistic_regression.py
  python/cuml/cuml/internals/import_utils.py
  python/cuml/cuml/manifold/umap_utils.pyx
  python/cuml/cuml/naive_bayes/naive_bayes.py
  python/cuml/cuml/neighbors/kernel_density.py
  python/cuml/cuml/preprocessing/label.py
  python/cuml/cuml/tests/dask/test_dask_nearest_neighbors.py
  python/cuml/cuml/tests/explainer/test_explainer_kernel_shap.py
  python/cuml/cuml/tests/test_batched_lbfgs.py
  python/cuml/cuml/tests/test_label_binarizer.py
  python/cuml/cuml/tests/test_metrics.py
  python/cuml/cuml/tests/test_nearest_neighbors.py
  python/cuml/cuml/tests/test_random_projection.py
  python/cuml/cuml/tsa/arima.pyx
  python/cuml/cuml/tsa/batched_lbfgs.py
Labels: Cython / Python, improvement, non-breaking

#6493 Simplicial set functions fixes and cleanups
  python/cuml/cuml/manifold/simpl_set.pyx
  python/cuml/cuml/tests/test_simpl_set.py
Labels: bug, Cython / Python, non-breaking

#6607 Speedup dask `LogisticRegression` tests
  python/cuml/cuml/tests/dask/test_dask_logistic_regression.py
Labels: tests, Cython / Python, Dask / cuml.dask, improvement, non-breaking

#6609 Do not run the scikit-learn test suite in parallel.
  ci/test_python_scikit_learn_tests.sh
Labels: bug, non-breaking, ci
