Repository rapidsai/cuml, pull requests merged in 2025-03, with the labels that each got.

#6381 Remove straggling click option
  python/cuml/cuml/experimental/accel/__main__.py
Labels: bug, Cython / Python, non-breaking

#6373 Ensure FIL CPU can be run without an available GPU
  python/cuml/cuml/experimental/fil/fil.pyx
Labels: bug, Cython / Python, non-breaking, cuml-cpu

#6390 Temporarily increase `max_days_without_success`
  .github/workflows/pr.yaml
Labels: improvement, non-breaking, ci

#6384 Support non-native endian inputs to `LabelEncoder`
  python/cuml/cuml/preprocessing/LabelEncoder.py
  python/cuml/cuml/tests/test_label_encoder.py
Labels: bug, Cython / Python, non-breaking

#6396 Drop `numba_utils`
  python/cuml/cuml/common/numba_utils.py
Labels: Cython / Python, improvement, non-breaking

#6382 Fix hypothesis test in `test_kernel_ridge.py`
  python/cuml/cuml/tests/test_kernel_ridge.py
Labels: bug, tests, Cython / Python, non-breaking

#6388 Fix cupy error in `KernelDensity` with `epanechnikov`
  python/cuml/cuml/neighbors/kernel_density.py
  python/cuml/cuml/tests/test_kernel_density.py
Labels: bug, Cython / Python, non-breaking

#6226 Add aarch64 conda environments
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  dependencies.yaml
Labels: feature request, conda, non-breaking

#6395 Simplify `cpu_to_gpu` and `gpu_to_cpu`
  python/cuml/cuml/common/array_descriptor.py
  python/cuml/cuml/internals/base.pyx
Labels: Cython / Python, improvement, non-breaking

#6303 Use `L2Expanded`/`L2SqrtExpanded` instead of the `*Unexpanded` variants
  python/cuml/cuml/cluster/dbscan.pyx
  python/cuml/cuml/manifold/umap_utils.pyx
Labels: bug, Cython / Python, non-breaking

#6393 A few log level handling cleanups
  python/cuml/cuml/internals/base.pyx
  python/cuml/cuml/internals/logger.pyx
  python/cuml/cuml/manifold/simpl_set.pyx
  python/cuml/cuml/manifold/umap.pyx
  python/cuml/cuml/svm/linear.pyx
  python/cuml/cuml/tests/test_logger.py
Labels: bug, Cython / Python, non-breaking

#6356 Drop deprecated `CUB` iterators in favor of `Thrust` iterators
  cpp/src/tsa/auto_arima.cuh
  cpp/src_prims/timeSeries/fillna.cuh
Labels: improvement, non-breaking, CUDA/C++

#6402 Make UMAP callback pickleable
  python/cuml/cuml/internals/internals.pyx
  python/cuml/cuml/tests/test_internals_api.py
  python/cuml/cuml/tests/test_umap.py
Labels: bug, Cython / Python, non-breaking

#6404 Ensure `LinearSVC` supports all input types
  python/cuml/cuml/svm/linear_svc.py
  python/cuml/cuml/tests/test_linear_svm.py
Labels: bug, Cython / Python, non-breaking

#6407 Ensure `output_type="pandas"` returns user-facing pandas
  python/cuml/cuml/internals/array.py
  python/cuml/cuml/internals/input_utils.py
  python/cuml/cuml/internals/output_utils.py
  python/cuml/cuml/linear_model/logistic_regression.pyx
  python/cuml/cuml/model_selection/_split.py
  python/cuml/cuml/preprocessing/encoders.py
  python/cuml/cuml/tests/test_array.py
  python/cuml/cuml/tests/test_linear_model.py
  python/cuml/cuml/tests/test_ordinal_encoder.py
Labels: bug, Cython / Python, non-breaking

#6389 Drop deprecated CCCL functors
  cpp/src/fil/infer.cu
  cpp/src/svm/linear.cu
Labels: improvement, non-breaking, CUDA/C++

#6406 Improve `accuracy_score` compatibility with `sklearn`.
  docs/source/api.rst
  python/cuml/cuml/__init__.py
  python/cuml/cuml/experimental/hyperparams/HPO_demo.ipynb
  python/cuml/cuml/internals/mixins.py
  python/cuml/cuml/metrics/CMakeLists.txt
  python/cuml/cuml/metrics/__init__.py
  python/cuml/cuml/metrics/_classification.py
  python/cuml/cuml/metrics/accuracy.pyx
  python/cuml/cuml/tests/test_kneighbors_classifier.py
  python/cuml/cuml/tests/test_meta_estimators.py
  python/cuml/cuml/tests/test_metrics.py
Labels: Cython / Python, improvement, non-breaking, CMake

#6304 Plumb `metric` and `metric_kwds` through to UMAP with `nn_descent`
  python/cuml/cuml/manifold/simpl_set.pyx
  python/cuml/cuml/manifold/umap.pyx
  python/cuml/cuml/manifold/umap_utils.pxd
  python/cuml/cuml/manifold/umap_utils.pyx
  python/cuml/cuml/tests/test_umap.py
Labels: bug, Cython / Python, non-breaking

#6417 Fix forwarding of `initial_alpha` and `learning_rate` in UMAP
  python/cuml/cuml/manifold/simpl_set.pyx
  python/cuml/cuml/manifold/umap.pyx
Labels: bug, Cython / Python, non-breaking

#6419 Disable codecov comments
  codecov.yml
Labels: improvement, non-breaking, ci

#6323 Reduce peak memory in `UMAP.fit`/`UMAP.fit_transform`
  cpp/src/umap/fuzzy_simpl_set/naive.cuh
  cpp/src/umap/runner.cuh
Labels: improvement, non-breaking, CUDA/C++

#6422 Fix HDBSCAN python docs related to `metric`
  python/cuml/cuml/cluster/hdbscan/hdbscan.pyx
Labels: bug, Cython / Python, non-breaking

#6424 remove unused imports
  python/cuml/.flake8
  python/cuml/cuml/benchmark/algorithms.py
  python/cuml/cuml/benchmark/bench_helper_funcs.py
  python/cuml/cuml/benchmark/datagen.py
  python/cuml/cuml/dask/linear_model/logistic_regression.py
  python/cuml/cuml/internals/array.py
  python/cuml/cuml/internals/available_devices.py
  python/cuml/cuml/internals/base_helpers.py
  python/cuml/cuml/internals/safe_imports.py
  python/cuml/cuml/model_selection/_split.py
  python/cuml/cuml/multiclass/multiclass.py
  python/cuml/cuml/preprocessing/LabelEncoder.py
  python/cuml/cuml/preprocessing/encoders.py
  python/cuml/cuml/tests/accel/estimators_hyperparams/test_accel_elastic_net.py
  python/cuml/cuml/tests/accel/estimators_hyperparams/test_accel_hdbscan_extended.py
  python/cuml/cuml/tests/accel/estimators_hyperparams/test_accel_linear_regression.py
  python/cuml/cuml/tests/accel/estimators_hyperparams/test_accel_logistic_regression.py
  python/cuml/cuml/tests/accel/estimators_hyperparams/test_accel_rf_regressor.py
  python/cuml/cuml/tests/accel/estimators_hyperparams/test_accel_ridge.py
  python/cuml/cuml/tests/accel/estimators_hyperparams/test_accel_tsvd.py
  python/cuml/cuml/tests/accel/estimators_hyperparams/test_accel_umap.py
  python/cuml/cuml/tests/accel/test_basic_estimators.py
  python/cuml/cuml/tests/accel/test_pipeline.py
  python/cuml/cuml/tests/accel/test_sparse_dispatch.py
  python/cuml/cuml/tests/dask/conftest.py
  python/cuml/cuml/tests/dask/test_dask_logistic_regression.py
  python/cuml/cuml/tests/test_compose.py
  python/cuml/cuml/tests/test_exceptions.py
  python/cuml/cuml/tests/test_input_estimators.py
  python/cuml/cuml/tests/test_internals_api.py
  python/cuml/cuml/tests/test_linear_model.py
  python/cuml/cuml/tests/test_nearest_neighbors.py
  python/cuml/cuml/tests/test_preprocessing.py
  python/cuml/cuml/tests/test_sklearn_import_export.py
Labels: Cython / Python, improvement, non-breaking

#6420 declare runtime dependency on 'packaging', update scikit-learn and hdbscan for cuml-cpu to match cuml
  .pre-commit-config.yaml
  ci/build_python.sh
  conda/recipes/cuml-cpu/meta.yaml
  conda/recipes/cuml/meta.yaml
Labels: bug, conda, non-breaking, ci

#6405 Drop `cub{Min, Max}`
  cpp/include/cuml/common/functional.hpp
  cpp/src/dbscan/runner.cuh
  cpp/src/fil/infer.cu
  cpp/src/glm/qn/glm_softmax.cuh
  cpp/src/solver/lars_impl.cuh
  cpp/src/svm/linear.cu
  cpp/src/svm/smoblocksolve.cuh
  cpp/src/tsne/utils.cuh
  cpp/tests/sg/linear_svm_test.cu
Labels: improvement, non-breaking, CUDA/C++

#6423 Support positional args in `cuml.accel` estimators
  python/cuml/cuml/_thirdparty/sklearn/preprocessing/_column_transformer.py
  python/cuml/cuml/_thirdparty/sklearn/preprocessing/_data.py
  python/cuml/cuml/_thirdparty/sklearn/preprocessing/_discretization.py
  python/cuml/cuml/_thirdparty/sklearn/preprocessing/_function_transformer.py
  python/cuml/cuml/_thirdparty/sklearn/preprocessing/_imputation.py
  python/cuml/cuml/accel/estimator_proxy.py
  python/cuml/cuml/internals/__init__.py
  python/cuml/cuml/internals/api_decorators.py
  python/cuml/cuml/internals/base_helpers.py
  python/cuml/cuml/multiclass/multiclass.py
  python/cuml/cuml/tests/accel/test_basic_estimators.py
  python/cuml/cuml/tsa/arima.pyx
  python/cuml/cuml/tsa/auto_arima.pyx
  python/cuml/cuml/tsa/holtwinters.pyx
Labels: bug, Cython / Python, non-breaking

#6427 Remove old deprecations
  python/cuml/cuml/experimental/fil/fil.pyx
  python/cuml/cuml/manifold/simpl_set.pyx
  python/cuml/cuml/manifold/t_sne.pyx
  python/cuml/cuml/metrics/regression.py
  python/cuml/cuml/svm/svc.pyx
Labels: Cython / Python, improvement, non-breaking

#6377 CI: Run extended accel mode tests
  .github/workflows/pr.yaml
  .gitignore
  ci/accel/scikit-learn-tests/README.md
  ci/accel/scikit-learn-tests/run-tests.sh
  ci/accel/scikit-learn-tests/summarize-results.sh
  ci/test_python_scikit_learn_tests.sh
Labels: tests, improvement, non-breaking, ci

#6246 Add shellcheck to pre-commit and fix warnings
  .pre-commit-config.yaml
  build.sh
  ci/build_docs.sh
  ci/build_wheel_cuml.sh
  ci/build_wheel_libcuml.sh
  ci/checks/black_lists.sh
  ci/release/update-version.sh
  ci/run_cuml_dask_pytests.sh
  ci/run_cuml_integration_pytests.sh
  ci/run_cuml_singlegpu_accel_pytests.sh
  ci/run_cuml_singlegpu_memleak_pytests.sh
  ci/run_cuml_singlegpu_pytests.sh
  ci/test_cpp.sh
  ci/test_notebooks.sh
  ci/test_wheel.sh
  ci/utils/nbtest.sh
  ci/validate_wheel.sh
Labels: improvement, non-breaking, ci

#6387 Check if both ground truth and result are NaN in MSEObjectiveTest for RF
  cpp/tests/sg/rf_test.cu
Labels: bug, non-breaking, CUDA/C++

#6447 ci: pre-filter 11.4 jobs before they are enabled in shared workflows
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#6446 Reenable more UMAP tests on ARM
  python/cuml/cuml/tests/test_device_selection.py
  python/cuml/cuml/tests/test_simpl_set.py
  python/cuml/cuml/tests/test_trustworthiness.py
Labels: Cython / Python, improvement, non-breaking

#6450 Fix benchmark builds in devcontainers
  .github/workflows/pr.yaml
  cpp/cmake/thirdparty/get_gputreeshap.cmake
Labels: improvement, non-breaking, CMake, CUDA/C++

#6425 Fix oob_score=True handling with accelerator
  python/cuml/cuml/ensemble/randomforest_common.pyx
  python/cuml/cuml/tests/accel/estimators_hyperparams/test_accel_rf_classifier.py
  python/cuml/cuml/tests/accel/estimators_hyperparams/test_accel_rf_regressor.py
Labels: Cython / Python, improvement, non-breaking

#6322 Provide docs for cuml.accel command line feature
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  docs/source/img/inference_overhead.png
  docs/source/img/inference_speedup.png
  docs/source/img/overall_overhead.png
  docs/source/img/overall_speedup.png
  docs/source/img/skinny_speedup.png
  docs/source/img/wide_speedup.png
  docs/source/index.rst
  docs/source/zero-code-change-benchmarks.rst
  docs/source/zero-code-change-limitations.rst
  docs/source/zero-code-change.rst
  docs/source/zero_code_change_examples/plot_kmeans_digits.ipynb
Labels: doc, conda, non-breaking, cuml-cpu

#6445 Clean up after removing KMeans deprecation warning
  python/cuml/cuml/tests/test_common.py
  python/cuml/cuml/tests/test_public_methods_attributes.py
  python/cuml/cuml/tests/test_sklearn_import_export.py
Labels: Cython / Python, improvement, non-breaking

#6449 Fix UMAP transform
  cpp/src/umap/runner.cuh
  python/cuml/cuml/tests/test_umap.py
Labels: bug, Cython / Python, non-breaking, CUDA/C++

#6400 cuml-cpu: fix import issues, enable conda import tests
  ci/build_python.sh
  conda/recipes/cuml-cpu/meta.yaml
  python/cuml/cuml/_thirdparty/sklearn/preprocessing/_imputation.py
  python/cuml/cuml/_thirdparty/sklearn/utils/sparsefuncs.py
  python/cuml/cuml/dask/common/input_utils.py
  python/cuml/cuml/feature_extraction/_vectorizers.py
  python/cuml/cuml/internals/base_return_types.py
  python/cuml/cuml/model_selection/_split.py
  python/cuml/cuml/preprocessing/LabelEncoder.py
  python/cuml/cuml/preprocessing/encoders.py
  python/cuml/cuml/preprocessing/text/stem/porter_stemmer_utils/suffix_utils.py
  python/cuml/cuml/thirdparty_adapters/adapters.py
Labels: conda, Cython / Python, improvement, non-breaking, ci

#6453 Enhance argument handling in UniversalBase to accept NoneType
  python/cuml/cuml/internals/base.pyx
Labels: bug, Cython / Python, non-breaking

#6455 Revert "Temporarily increase `max_days_without_success` (#6390)"
  .github/workflows/pr.yaml
Labels: bug, non-breaking

#6466 Add deprecation warning to `cuml-cpu` builds
  python/cuml/cuml/internals/device_support.pyx
Labels: Cython / Python, improvement, non-breaking

#6468 Support `__len__` in ensemble estimators
  python/cuml/cuml/ensemble/randomforest_common.pyx
  python/cuml/cuml/tests/test_random_forest.py
Labels: Cython / Python, improvement, non-breaking

#6385 Solve forward merger conflicts of #6313
  CHANGELOG.md
  cpp/src/umap/simpl_set_embed/algo.cuh
  cpp/src/umap/supervised.cuh
  python/cuml/cuml/accel/__main__.py
  python/cuml/cuml/ensemble/randomforest_common.pyx
  python/cuml/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/cuml/ensemble/randomforestregressor.pyx
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#6440 Port all conda recipes to `rattler-build`
  ci/build_cpp.sh
  ci/build_python.sh
  conda/recipes/cuml-cpu/build.sh
  conda/recipes/cuml-cpu/meta.yaml
  conda/recipes/cuml-cpu/recipe.yaml
  conda/recipes/cuml/build.sh
  conda/recipes/cuml/meta.yaml
  conda/recipes/cuml/recipe.yaml
  conda/recipes/libcuml/build.sh
  conda/recipes/libcuml/install_libcuml.sh
  conda/recipes/libcuml/install_libcuml_tests.sh
  conda/recipes/libcuml/meta.yaml
  conda/recipes/libcuml/recipe.yaml
  python/cuml/pyproject.toml
  python/libcuml/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, ci

#6471 FIX Pass instances to the constructor of the meta-estimator in `SVC`
  python/cuml/cuml/svm/svc.pyx
Labels: bug, Cython / Python, non-breaking

#6470 Revert "ci: pre-filter 11.4 jobs before they are enabled in shared workflows (#6447)"
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#6459 Fix template argument of `DeviceSegmentedReduce` kernels
  cpp/src/hdbscan/detail/membership.cuh
  cpp/src/hdbscan/detail/stabilities.cuh
  cpp/src/hdbscan/prediction_data.cu
Labels: improvement, non-breaking, CUDA/C++

#6474 C++ `SG_RF_TEST` OOMs in 11.4 nightly
  cpp/tests/CMakeLists.txt
Labels: improvement, non-breaking, CMake, CUDA/C++

#6485 Only use released versions of dask
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/environments/clang_tidy_cuda-118_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-118_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#6483 Fix accidental required sklearn import
  python/cuml/cuml/svm/__init__.py
  python/cuml/cuml/svm/svc.pyx
Labels: bug, Cython / Python, non-breaking

#6489 Remove dask to sparse workarounds
  python/cuml/cuml/dask/common/dask_arr_utils.py
Labels: bug, Cython / Python, non-breaking

#6457 Add scikit-learn acceleration tests to nightly CI tests
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#6482 DOC Make `MultinomialNB` dask doctest more lax
  python/cuml/cuml/dask/naive_bayes/naive_bayes.py
Labels: doc, Cython / Python, non-breaking

#6415 Implement Ridge .solver_ estimated attribute
  python/cuml/cuml/linear_model/ridge.pyx
  python/cuml/cuml/linear_model/ridge_mg.pyx
  python/cuml/cuml/tests/accel/estimators_hyperparams/test_accel_kmeans.py
  python/cuml/cuml/tests/accel/estimators_hyperparams/test_accel_ridge.py
Labels: bug, Cython / Python, non-breaking
