Repository rapidsai/cuml, pull requests merged in 2025-05, with the labels that each got.

#6610 Mark sklearn test test_cross_val_predict[coo_array] as flaky.
  python/cuml/cuml/accel/tests/scikit-learn/xfail-list.yaml
Labels: bug, non-breaking

#6628 CI: Increase nightly CI check window to 14 days.
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#6632 Exclude librmm.so from auditwheel
  ci/build_wheel_cuml.sh
  ci/build_wheel_libcuml.sh
Labels: improvement, non-breaking, ci

#6636 Remove arbitrary score threshold for the test_qn test with softmax
  python/cuml/cuml/tests/test_qn.py
Labels: bug, tests, Cython / Python, non-breaking

#6629 Enhance accelerator parity testing framework
  python/cuml/cuml/accel/pytest_plugin.py
  python/cuml/cuml/accel/tests/scikit-learn/README.md
  python/cuml/cuml/accel/tests/scikit-learn/run-tests.sh
  python/cuml/cuml/accel/tests/scikit-learn/summarize-results.py
  python/cuml/cuml/accel/tests/scikit-learn/xfail-list.yaml
Labels: Cython / Python, improvement, non-breaking

#6580 Documentation and Testing Infrastructure Updates
  python/cuml/cuml/testing/datasets.py
  python/cuml/cuml/testing/strategies.py
  python/cuml/cuml/tests/test_linear_model.py
  wiki/python/DEVELOPER_GUIDE.md
Labels: tests, Cython / Python, improvement, non-breaking

#6602 Add GitHub Actions workflow for PR and issue project field automation
  .github/workflows/pr_issue_status_automation.yml
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#6616 Add support for Python 3.13
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  BUILD.md
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cuml/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking

#6611 Using cuVS NN Descent in UMAP
  cpp/include/cuml/manifold/umapparams.h
  cpp/src/umap/knn_graph/algo.cuh
  python/cuml/cuml/manifold/umap.pyx
  python/cuml/cuml/manifold/umap_utils.pxd
  python/cuml/cuml/manifold/umap_utils.pyx
  python/cuml/cuml/tests/test_umap.py
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#6614 Compatibility with Dask 2025.4.1
  python/cuml/cuml/benchmark/automated/utils/utils.py
  python/cuml/cuml/dask/_compat.py
  python/cuml/cuml/dask/datasets/blobs.py
  python/cuml/cuml/dask/datasets/classification.py
  python/cuml/cuml/dask/ensemble/base.py
  python/cuml/cuml/dask/neighbors/kneighbors_classifier.py
  python/cuml/cuml/dask/preprocessing/label.py
  python/cuml/cuml/tests/dask/test_dask_nearest_neighbors.py
  python/cuml/cuml/tests/dask/test_dask_random_forest.py
Labels: Cython / Python, improvement, non-breaking

#6619 Map Barnes-Hut to FFT for T-SNE in cuml.accel.
  python/cuml/cuml/accel/tests/scikit-learn/xfail-list.yaml
  python/cuml/cuml/manifold/t_sne.pyx
Labels: bug, Cython / Python, breaking

#6574 Move Random Forest n_streams UserWarning out of execution
  python/cuml/cuml/ensemble/randomforest_common.pyx
  python/cuml/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/cuml/ensemble/randomforestregressor.pyx
Labels: Cython / Python, improvement, non-breaking

#6624 Do not set `n_features_in_` attribute before `fit`
  python/cuml/cuml/accel/tests/scikit-learn/xfail-list.yaml
  python/cuml/cuml/internals/base.pyx
  python/cuml/cuml/tests/test_cuml_descr_decor.py
Labels: bug, Cython / Python, non-breaking

#6651 Remove cuml-cpu and CPU <> GPU docs
  docs/source/api.rst
  docs/source/execution_device_interoperability.ipynb
  docs/source/user_guide.rst
  python/cuml/cuml/linear_model/lasso.py
Labels: Cython / Python, improvement, non-breaking

#6656 Fix the field ids in the pr/issue status automation
  .github/workflows/pr_issue_status_automation.yml
Labels: bug, non-breaking, ci

#6659 DOC Repair docstring formatting
  python/cuml/cuml/cluster/agglomerative.pyx
  python/cuml/cuml/manifold/t_sne.pyx
  python/cuml/cuml/manifold/umap.pyx
  python/cuml/cuml/tsa/arima.pyx
Labels: bug, Cython / Python, non-breaking

#6645 More dask==2025.4.1 compatibility
  python/cuml/cuml/dask/ensemble/base.py
  python/cuml/cuml/dask/neighbors/kneighbors_regressor.py
Labels: Cython / Python, improvement, non-breaking

#6661 Fix strict marker in scikit-learn test xfail list.
  python/cuml/cuml/accel/tests/scikit-learn/xfail-list.yaml
Labels: bug, Cython / Python, non-breaking

#6660 Revert "CI: Increase nightly CI check window to 14 days. (#6628)"
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#6663 Document WSL2 limitation re UVM
  docs/source/zero-code-change-limitations.rst
  docs/source/zero-code-change.rst
Labels: doc, non-breaking

#6613 New Estimator Proxy architecture
  python/cuml/cuml/accel/__init__.py
  python/cuml/cuml/accel/_wrappers/hdbscan.py
  python/cuml/cuml/accel/_wrappers/sklearn/cluster.py
  python/cuml/cuml/accel/_wrappers/sklearn/decomposition.py
  python/cuml/cuml/accel/_wrappers/sklearn/ensemble.py
  python/cuml/cuml/accel/_wrappers/sklearn/linear_model.py
  python/cuml/cuml/accel/_wrappers/sklearn/manifold.py
  python/cuml/cuml/accel/_wrappers/sklearn/neighbors.py
  python/cuml/cuml/accel/_wrappers/umap.py
  python/cuml/cuml/accel/estimator_proxy.py
  python/cuml/cuml/accel/estimator_proxy_mixin.py
  python/cuml/cuml/accel/tests/scikit-learn/xfail-list.yaml
  python/cuml/cuml/internals/array.py
  python/cuml/cuml/internals/interop.py
  python/cuml/cuml/linear_model/base.pyx
  python/cuml/cuml/linear_model/elastic_net.pyx
  python/cuml/cuml/linear_model/lasso.py
  python/cuml/cuml/linear_model/linear_regression.pyx
  python/cuml/cuml/linear_model/logistic_regression.pyx
  python/cuml/cuml/linear_model/ridge.pyx
  python/cuml/cuml/tests/test_device_selection.py
  python/cuml/cuml/tests/test_sklearn_import_export.py
  python/cuml/cuml_accel_tests/integration/test_ridge.py
  python/cuml/cuml_accel_tests/test_core.py
  python/cuml/cuml_accel_tests/test_estimator_proxy.py
  python/cuml/cuml_accel_tests/test_estimator_proxy_mixin.py
Labels: Cython / Python, improvement, breaking

#6686 fix(rattler): add librmm to host for libcuml to fix overlinking error
  conda/recipes/libcuml/recipe.yaml
Labels: conda, improvement, non-breaking

#6608 Make scikit-learn a required dependency
  conda/recipes/cuml/recipe.yaml
  dependencies.yaml
  python/cuml/cuml/_thirdparty/sklearn/preprocessing/_column_transformer.py
  python/cuml/cuml/datasets/classification.py
  python/cuml/cuml/explainer/kernel_shap.pyx
  python/cuml/cuml/explainer/tree_shap.pyx
  python/cuml/cuml/internals/import_utils.py
  python/cuml/cuml/model_selection/__init__.py
  python/cuml/cuml/multiclass/multiclass.py
  python/cuml/cuml/pipeline/__init__.py
  python/cuml/cuml/svm/svc.pyx
  python/cuml/cuml/tests/explainer/test_gpu_treeshap.py
  python/cuml/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking

#6701 Quote head_rev in conda recipes
  conda/recipes/cuml/recipe.yaml
  conda/recipes/libcuml/recipe.yaml
Labels: conda, improvement, non-breaking

#6684 CUDA 12.9 use updated compression flags
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-129_arch-x86_64.yaml
  cpp/cmake/modules/ConfigureCUDA.cmake
  dependencies.yaml
  python/cuml/cuml/accel/tests/scikit-learn/xfail-list.yaml
Labels: conda, Cython / Python, improvement, non-breaking, CMake, CUDA/C++

#6695 Port `sklearn.decomposition` to new proxy estimator structure
  python/cuml/cuml/accel/_wrappers/sklearn/decomposition.py
  python/cuml/cuml/accel/_wrappers/sklearn/linear_model.py
  python/cuml/cuml/accel/estimator_proxy.py
  python/cuml/cuml/accel/tests/scikit-learn/xfail-list.yaml
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/decomposition/tsvd.pyx
  python/cuml/cuml/linear_model/linear_regression.pyx
  python/cuml/cuml/tests/test_device_selection.py
  python/cuml/cuml/tests/test_sklearn_import_export.py
  python/cuml/cuml_accel_tests/test_estimator_proxy.py
  python/cuml/cuml_accel_tests/test_estimator_proxy_mixin.py
Labels: Cython / Python, improvement, non-breaking, cuml-accel

#6715 Fix output dtype of `LinearSVC.predict`
  python/cuml/cuml/svm/linear_svc.py
  python/cuml/cuml/tests/test_linear_svm.py
Labels: bug, Cython / Python, non-breaking

#6717 Document `cuml.accel` doesn't support `set_output`
  docs/source/zero-code-change-limitations.rst
Labels: doc, non-breaking

#6644 Use RBC from cuVS
  cpp/include/cuml/neighbors/knn.hpp
  cpp/src/dbscan/dbscan.cuh
  cpp/src/dbscan/runner.cuh
  cpp/src/dbscan/vertexdeg/algo.cuh
  cpp/src/dbscan/vertexdeg/pack.h
  cpp/src/dbscan/vertexdeg/runner.cuh
  cpp/src/knn/knn.cu
  cpp/tests/sg/dbscan_test.cu
  python/cuml/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/cuml/tests/test_dbscan.py
Labels: Cython / Python, improvement, breaking, CUDA/C++

#6713 CUDA 12.9 Correctly bound updated compression flags
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: bug, non-breaking, CMake, CUDA/C++

#6723 Use matplotlib-base in docs/notebooks environments.
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#6724 Update to clang 20
  .pre-commit-config.yaml
  BUILD.md
  cpp/README.md
  cpp/include/cuml/experimental/fil/detail/infer_kernel/cpu.hpp
  cpp/include/cuml/experimental/fil/detail/infer_kernel/gpu.cuh
  cpp/include/cuml/experimental/fil/detail/node.hpp
  cpp/include/cuml/experimental/fil/detail/raft_proto/gpu_support.hpp
  cpp/src/glm/qn/qn.cuh
  cpp/src/hdbscan/runner.h
  cpp/src/randomforest/randomforest.cuh
  cpp/src/solver/lars_impl.cuh
  cpp/src/svm/kernelcache.cuh
  cpp/src/svm/smosolver.cuh
  cpp/src_prims/selection/kselection.cuh
  cpp/tests/sg/experimental/fil/raft_proto/buffer.cpp
Labels: improvement, non-breaking, CUDA/C++

#6726 Update Dask RandomForest classifier
  python/cuml/cuml/dask/ensemble/randomforestclassifier.py
Labels: Cython / Python, improvement, non-breaking

#6727 FIX: Set scikit-learn KMeans n_init=10 to match cuML
  python/cuml/cuml/tests/test_kmeans.py
Labels: bug, tests, Cython / Python, non-breaking

#6476 DOC Add developer documentation about deprecation policy
  wiki/python/DEVELOPER_GUIDE.md
Labels: doc, non-breaking

#6722 FIX Allow prereleases when evaluating xfail conditions
  python/cuml/cuml/accel/pytest_plugin.py
Labels: Cython / Python, improvement, non-breaking

#6737 Fix DistributedDataHandler.calculate_parts_to_sizes
  python/cuml/cuml/dask/common/input_utils.py
Labels: Cython / Python, improvement, non-breaking

#6738 Deprecate non-keyword-only cuml-only kwargs
  python/cuml/cuml/cluster/agglomerative.pyx
  python/cuml/cuml/cluster/dbscan.pyx
  python/cuml/cuml/cluster/hdbscan/hdbscan.pyx
  python/cuml/cuml/cluster/kmeans.pyx
  python/cuml/cuml/dask/ensemble/base.py
  python/cuml/cuml/decomposition/incremental_pca.py
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/decomposition/tsvd.pyx
  python/cuml/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/cuml/ensemble/randomforestregressor.pyx
  python/cuml/cuml/internals/base.pyx
  python/cuml/cuml/kernel_ridge/kernel_ridge.pyx
  python/cuml/cuml/linear_model/base.pyx
  python/cuml/cuml/linear_model/elastic_net.pyx
  python/cuml/cuml/linear_model/linear_regression.pyx
  python/cuml/cuml/linear_model/logistic_regression.pyx
  python/cuml/cuml/linear_model/mbsgd_classifier.pyx
  python/cuml/cuml/linear_model/mbsgd_regressor.pyx
  python/cuml/cuml/linear_model/ridge.pyx
  python/cuml/cuml/manifold/t_sne.pyx
  python/cuml/cuml/manifold/umap.pyx
  python/cuml/cuml/naive_bayes/naive_bayes.py
  python/cuml/cuml/neighbors/kernel_density.py
  python/cuml/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/cuml/random_projection/random_projection.pyx
  python/cuml/cuml/solvers/sgd.pyx
  python/cuml/cuml/svm/linear.pyx
  python/cuml/cuml/svm/linear_svc.py
  python/cuml/cuml/svm/svc.pyx
  python/cuml/cuml/svm/svr.pyx
Labels: Cython / Python, improvement, non-breaking

#6700 Don't setup managed memory if rmm isn't using default settings
  docs/source/zero-code-change.rst
  python/cuml/cuml/accel/core.py
  python/cuml/cuml_accel_tests/test_magics.py
Labels: Cython / Python, improvement, non-breaking, cuml-accel

#6733 Finish CUDA 12.9 migration and use branch-25.06 workflows
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#6740 Test that proxied method signatures match their CPU versions
  python/cuml/cuml/accel/_wrappers/sklearn/linear_model.py
  python/cuml/cuml/accel/tests/scikit-learn/xfail-list.yaml
  python/cuml/cuml_accel_tests/test_core.py
Labels: Cython / Python, improvement, non-breaking, cuml-accel

#6751 Check that `as_sklearn`'ed models can be fitted
  python/cuml/cuml/tests/test_sklearn_import_export.py
Labels: Cython / Python, improvement, non-breaking

#6754 Remove deprecations for 25.06
  python/cuml/cuml/metrics/_classification.py
  python/cuml/cuml/metrics/regression.py
  python/cuml/cuml/svm/svc.pyx
Labels: improvement, non-breaking

#6758 Fix dask warning in FIL demo notebook
  notebooks/forest_inference_demo.ipynb
Labels: Cython / Python, improvement, non-breaking

#6750 UMAP spectral initialization fallback to random on error
  cpp/src/umap/init_embed/runner.cuh
Labels: bug, non-breaking, CUDA/C++

#6762 Move FIL docs to user docs
  docs/source/FIL.rst
  docs/source/index.rst
  python/cuml/cuml/fil/README.md
Labels: doc, Cython / Python, non-breaking

#6761 Port `sklearn.manifold` wrappers to use `ProxyBase`
  python/cuml/cuml/accel/_wrappers/sklearn/manifold.py
  python/cuml/cuml/accel/tests/scikit-learn/xfail-list.yaml
  python/cuml/cuml/manifold/t_sne.pyx
  python/cuml/cuml/tests/test_device_selection.py
  python/cuml/cuml_accel_tests/integration/test_tsne.py
Labels: Cython / Python, improvement, non-breaking

#6746 Implement __sklearn_tags__ on mixin using vendored compat module.
  .pre-commit-config.yaml
  python/cuml/cuml/_thirdparty/_sklearn_compat.py
  python/cuml/cuml/accel/tests/scikit-learn/xfail-list.yaml
  python/cuml/cuml/internals/mixins.py
Labels: Cython / Python, improvement, non-breaking

#6771 chore: reduce ceiling of `cuml` wheel size
  python/cuml/pyproject.toml
Labels: Cython / Python, improvement, non-breaking

#6770 Port KMeans to use `ProxyBase`/`InteropMixin`
  python/cuml/cuml/accel/_wrappers/sklearn/cluster.py
  python/cuml/cuml/accel/estimator_proxy.py
  python/cuml/cuml/accel/tests/scikit-learn/xfail-list.yaml
  python/cuml/cuml/cluster/kmeans.pyx
  python/cuml/cuml/internals/interop.py
  python/cuml/cuml/internals/utils.py
  python/cuml/cuml/tests/test_device_selection.py
  python/cuml/cuml/tests/test_kmeans.py
  python/cuml/cuml_accel_tests/integration/test_kmeans.py
  python/cuml/cuml_accel_tests/test_estimator_proxy.py
Labels: Cython / Python, improvement, non-breaking, cuml-accel

#6779 use 'rapids-init-pip' in wheel CI, other CI changes
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/build_wheel_cuml.sh
  ci/build_wheel_libcuml.sh
  ci/test_wheel.sh
  ci/test_wheel_dask.sh
Labels: improvement, non-breaking, ci

#6791 Mark `test_uniform_grid` as flaky in sklearn tests
  python/cuml/cuml/accel/tests/scikit-learn/xfail-list.yaml
Labels: Cython / Python, improvement, non-breaking

#6789 Deprecate a few missed cuml-only non-keyword-only kwargs
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/decomposition/tsvd.pyx
  python/cuml/cuml/neighbors/kernel_density.py
  python/cuml/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/cuml/preprocessing/label.py
Labels: Cython / Python, improvement, non-breaking

#6491 Inspect KNN graph during smooth KNN generation and fail if necessary
  cpp/src/umap/fuzzy_simpl_set/naive.cuh
  python/cuml/cuml/tests/test_umap.py
Labels: bug, Cython / Python, non-breaking, CUDA/C++

#6803 stop uploading packages to downloads.rapids.ai
  ci/build_cpp.sh
  ci/build_wheel_cuml.sh
  ci/build_wheel_libcuml.sh
Labels: improvement, breaking, ci

#6799 Migrate cuml.experimental.fil -> cuml.fil
  python/cuml/CMakeLists.txt
  python/cuml/cuml/experimental/fil/README.md
  python/cuml/cuml/experimental/fil/__init__.py
  python/cuml/cuml/experimental/fil/fil.py
  python/cuml/cuml/fil/CMakeLists.txt
  python/cuml/cuml/fil/__init__.py
  python/cuml/cuml/fil/detail/__init__.py
  python/cuml/cuml/fil/detail/raft_proto/__init__.py
  python/cuml/cuml/fil/detail/raft_proto/cuda_stream.pxd
  python/cuml/cuml/fil/detail/raft_proto/device_type.pxd
  python/cuml/cuml/fil/detail/raft_proto/handle.pxd
  python/cuml/cuml/fil/detail/raft_proto/optional.pxd
  python/cuml/cuml/fil/fil.py
  python/cuml/cuml/fil/fil.pyx
  python/cuml/cuml/fil/infer_kind.pxd
  python/cuml/cuml/fil/postprocessing.pxd
  python/cuml/cuml/fil/tree_layout.pxd
  python/cuml/cuml/tests/test_fil.py
  python/cuml/cuml/tests/test_fil_compat.py
Labels: Cython / Python, improvement, non-breaking, CMake

#6654 Multi-gpu KNN build for UMAP using all-neighbors API
  cpp/include/cuml/manifold/umapparams.h
  cpp/src/umap/knn_graph/algo.cuh
  python/cuml/cuml/manifold/umap.pyx
  python/cuml/cuml/manifold/umap_utils.pxd
  python/cuml/cuml/tests/test_umap.py
Labels: feature request, Cython / Python, non-breaking, CUDA/C++

#6561 Localise output‑dtype; remove global set_api_output_dtype calls
  python/cuml/cuml/fil/fil.pyx
  python/cuml/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/cuml/svm/svc.pyx
  python/cuml/cuml/svm/svm_base.pyx
Labels: bug, Cython / Python, non-breaking

#6784 Deprecate device selection
  python/cuml/cuml/benchmark/bench_helper_funcs.py
  python/cuml/cuml/benchmark/run_benchmarks.py
  python/cuml/cuml/benchmark/runners.py
  python/cuml/cuml/cluster/dbscan.pyx
  python/cuml/cuml/cluster/kmeans.pyx
  python/cuml/cuml/common/device_selection.py
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/decomposition/tsvd.pyx
  python/cuml/cuml/fil/__init__.py
  python/cuml/cuml/fil/fil.pyx
  python/cuml/cuml/internals/global_settings.py
  python/cuml/cuml/internals/interop.py
  python/cuml/cuml/linear_model/base.pyx
  python/cuml/cuml/linear_model/elastic_net.pyx
  python/cuml/cuml/linear_model/linear_regression.pyx
  python/cuml/cuml/linear_model/logistic_regression.pyx
  python/cuml/cuml/linear_model/ridge.pyx
  python/cuml/cuml/manifold/t_sne.pyx
  python/cuml/cuml/svm/svc.pyx
  python/cuml/cuml/svm/svr.pyx
  python/cuml/cuml/tests/test_device_selection.py
  python/cuml/cuml/tests/test_fil.py
Labels: Cython / Python, improvement, breaking

#6826 UMAP batch nnd test hotfix
  cpp/src/umap/knn_graph/algo.cuh
Labels: bug, ! - Hotfix, non-breaking, CUDA/C++
