Repository rapidsai/cuml, pull requests merged in 2025-02, with the labels that each got.

#6286 disallow fallback to Make in wheel builds
  dependencies.yaml
  python/cuml/pyproject.toml
  python/libcuml/pyproject.toml
Labels: Cython / Python, improvement, non-breaking

#6196 Check if nightlies have succeeded recently enough
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#6280 Migrate to NVKS for amd64 CI runners
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_kmeans.py
Labels: Cython / Python, improvement, non-breaking

#6150 FEA Add support for accepting a Numpy RandomState
  python/cuml/cuml/cluster/kmeans.pyx
  python/cuml/cuml/cluster/kmeans_mg.pyx
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/cuml/ensemble/randomforestregressor.pyx
  python/cuml/cuml/internals/utils.py
  python/cuml/cuml/manifold/t_sne.pyx
  python/cuml/cuml/manifold/umap.pyx
  python/cuml/cuml/tests/test_common.py
  python/cuml/cuml/tests/test_device_selection.py
Labels: Cython / Python, improvement, non-breaking

#6290 Do not use `LEGACY_PTX_ARCH` argument for `BlockReduce`
  cpp/src/fil/infer.cu
Labels: improvement, non-breaking, CUDA/C++

#6291 Solve conflict of automerger in #6285
  .github/workflows/pr.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cuml/conda_build_config.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  cpp/cmake/thirdparty/get_treelite.cmake
  dependencies.yaml
  python/cuml/cuml/cluster/kmeans.pyx
  python/cuml/cuml/cluster/kmeans_mg.pyx
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/cuml/ensemble/randomforestregressor.pyx
  python/cuml/cuml/internals/utils.py
  python/cuml/cuml/manifold/t_sne.pyx
  python/cuml/cuml/manifold/umap.pyx
  python/cuml/cuml/tests/test_common.py
  python/cuml/cuml/tests/test_device_selection.py
  python/cuml/pyproject.toml
Labels: conda, Cython / Python, CUDA/C++

#6292 Avoid large device allocation in UMAP with nndescent
  cpp/src/umap/knn_graph/algo.cuh
Labels: improvement, non-breaking, CUDA/C++

#6293 Use `rapids-pip-retry` in CI jobs that might need retries
  ci/build_wheel.sh
  ci/build_wheel_libcuml.sh
  ci/test_wheel.sh
Labels: improvement, non-breaking, ci

#6296 Add build_type input field for `test.yaml`
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#6224 Skip dispatching to GPU for unimplemented metrics in UMAP
  python/cuml/cuml/manifold/umap.pyx
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_umap.py
Labels: Cython / Python, improvement, non-breaking

#6175 CPU/GPU interop with RandomForest
  python/cuml/cuml/ensemble/randomforest_common.pyx
  python/cuml/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/cuml/ensemble/randomforestregressor.pyx
  python/cuml/cuml/fil/fil.pyx
  python/cuml/cuml/internals/api_decorators.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_rf_classifier.py
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_rf_regressor.py
  python/cuml/cuml/tests/test_device_selection.py
Labels: Cython / Python, improvement, non-breaking

#6298 Use shared-workflows branch-25.04
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#6234 Compute `noise_variance_` in PCA implementation
  cpp/src/pca/pca.cuh
  cpp/src/pca/pca_mg.cu
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/tests/test_pca.py
Labels: bug, Cython / Python, non-breaking, CUDA/C++

#6306 Copy attributes from the original class to the proxy
  python/cuml/cuml/experimental/accel/estimator_proxy.py
  python/cuml/cuml/tests/experimental/accel/test_basic_estimators.py
  python/cuml/cuml/tests/experimental/accel/test_pipeline.py
Labels: Cython / Python, improvement, non-breaking

#6274 Log UMAP arrays at trace verbosity level.
  cpp/src/umap/fuzzy_simpl_set/naive.cuh
  cpp/src/umap/simpl_set_embed/algo.cuh
  cpp/src/umap/supervised.cuh
Labels: bug, non-breaking, CUDA/C++

#6245 Fix UMAP issues with large inputs
  cpp/include/cuml/manifold/common.hpp
  cpp/src/fil/fil.cu
  cpp/src/tsne/tsne_runner.cuh
  cpp/src/umap/fuzzy_simpl_set/naive.cuh
  cpp/src/umap/fuzzy_simpl_set/runner.cuh
  cpp/src/umap/init_embed/random_algo.cuh
  cpp/src/umap/init_embed/runner.cuh
  cpp/src/umap/init_embed/spectral_algo.cuh
  cpp/src/umap/knn_graph/algo.cuh
  cpp/src/umap/runner.cuh
  cpp/src/umap/simpl_set_embed/algo.cuh
  cpp/src/umap/simpl_set_embed/optimize_batch_kernel.cuh
  cpp/src/umap/simpl_set_embed/runner.cuh
  cpp/src/umap/supervised.cuh
  cpp/src/umap/umap.cu
Labels: bug, non-breaking, CUDA/C++

#6314 UMAP 32bits dispatch mechanism
  cpp/include/cuml/manifold/common.hpp
  cpp/src/umap/knn_graph/algo.cuh
  cpp/src/umap/runner.cuh
  cpp/src/umap/simpl_set_embed/algo.cuh
  cpp/src/umap/supervised.cuh
  cpp/src/umap/umap.cu
  cpp/src/umap/umap.cuh
Labels: feature request, non-breaking, CUDA/C++

#6270 Speed up FIL and TSNE pytests in CI
  ci/test_python_singlegpu.sh
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_tsne.py
  python/cuml/cuml/tests/experimental/test_filex.py
  python/cuml/cuml/tests/test_fil.py
  python/cuml/cuml/tests/test_kmeans.py
Labels: Cython / Python, improvement, non-breaking, ci

#6320 Improvements for interoperability of Random Forest
  python/cuml/cuml/experimental/accel/_wrappers/sklearn.py
Labels: bug, Cython / Python, non-breaking

#6321 Consolidate more Conda solves in CI
  ci/build_docs.sh
  dependencies.yaml
Labels: improvement, non-breaking, ci

#6336 Require sphinx<8.2.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: bug, conda, non-breaking

#6338 Skip test_extract_partitions_shape test.
  python/cuml/cuml/tests/dask/test_dask_input_utils.py
Labels: bug, Cython / Python, non-breaking

#6319 Improvements for PCA CPU interoperability
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_pca.py
Labels: bug, Cython / Python, non-breaking, cuml-cpu

#6335 Remove left-over code related to strict mode.
  python/cuml/cuml/experimental/accel/__main__.py
Labels: Cython / Python, improvement, non-breaking, cuml-cpu

#6275 Add `verify-codeowners` hook
  .github/CODEOWNERS
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#6326 Fix issue caused by None arg provided by sklearn pipeline
  python/cuml/cuml/internals/input_utils.py
  python/cuml/cuml/tests/experimental/accel/test_pipeline.py
Labels: bug, Cython / Python, non-breaking, cuml-cpu

#6333 Fix call to NearestNeighbors.kneighbors() without args.
  python/cuml/cuml/internals/api_decorators.py
  python/cuml/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/cuml/tests/experimental/accel/test_basic_estimators.py
Labels: bug, Cython / Python, non-breaking, cuml-cpu

#6347 Add new `cuml.accel` module
  ci/run_cuml_singlegpu_accel_pytests.sh
  python/cuml/cuml/accel/__init__.py
  python/cuml/cuml/accel/__main__.py
Labels: Cython / Python, improvement, non-breaking, ci, cuml-cpu

#6332 Commenting out debug print statements in UMAP
  cpp/src/umap/fuzzy_simpl_set/naive.cuh
  cpp/src/umap/simpl_set_embed/algo.cuh
  cpp/src/umap/supervised.cuh
Labels: bug, non-breaking, CUDA/C++

#6318 Require CMake 3.30.4
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/environments/clang_tidy_cuda-118_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-118_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-128_arch-x86_64.yaml
  conda/recipes/cuml-cpu/conda_build_config.yaml
  conda/recipes/cuml/conda_build_config.yaml
  conda/recipes/libcuml/conda_build_config.yaml
  cpp/CMakeLists.txt
  dependencies.yaml
  python/cuml/CMakeLists.txt
  python/cuml/pyproject.toml
  python/libcuml/CMakeLists.txt
  python/libcuml/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking, CMake, CUDA/C++

#6337 Make `r2_score` compatible with Scikit-Learn
  python/cuml/cuml/ensemble/randomforestregressor.pyx
  python/cuml/cuml/internals/mixins.py
  python/cuml/cuml/metrics/CMakeLists.txt
  python/cuml/cuml/metrics/regression.pxd
  python/cuml/cuml/metrics/regression.py
  python/cuml/cuml/metrics/regression.pyx
  python/cuml/cuml/tests/test_linear_model.py
  python/cuml/cuml/tests/test_mbsgd_regressor.py
  python/cuml/cuml/tests/test_metrics.py
  python/cuml/cuml/tests/test_random_forest.py
Labels: Cython / Python, improvement, non-breaking, CMake, cuml-cpu

#6355 A few GPU<->CPU interop fixes
  python/cuml/cuml/internals/base.pyx
Labels: bug, Cython / Python, non-breaking, cuml-cpu

#6352 Avoid importing `umap` with `import cuml`
  python/cuml/cuml/manifold/umap.pyx
Labels: Cython / Python, improvement, non-breaking

#6348 Make proxy module patching skip patching if patched library is not installed
  python/cuml/cuml/experimental/accel/__init__.py
Labels: Cython / Python, improvement, non-breaking, cuml-cpu

#6354 Fix output type of `KernelRidge.predict`
  python/cuml/cuml/kernel_ridge/kernel_ridge.pyx
  python/cuml/cuml/tests/experimental/accel/test_basic_estimators.py
  python/cuml/cuml/tests/test_kernel_ridge.py
Labels: bug, Cython / Python, non-breaking, cuml-cpu

#6223 Multiple CPU interop fixes for serialization and cloning
  python/cuml/cuml/cluster/hdbscan/hdbscan.pyx
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/decomposition/tsvd.pyx
  python/cuml/cuml/experimental/accel/__main__.py
  python/cuml/cuml/experimental/accel/estimator_proxy.py
  python/cuml/cuml/internals/base.pyx
  python/cuml/cuml/linear_model/elastic_net.pyx
  python/cuml/cuml/linear_model/logistic_regression.pyx
  python/cuml/cuml/tests/experimental/accel/test_basic_estimators.py
  python/cuml/cuml/tests/test_sklearn_import_export.py
Labels: bug, Cython / Python, non-breaking, cuml-cpu

#6346 Support non-trivial `classes_` in `LogisticRegression`
  python/cuml/cuml/linear_model/logistic_regression.pyx
  python/cuml/cuml/preprocessing/LabelEncoder.py
  python/cuml/cuml/tests/dask/test_dask_logistic_regression.py
  python/cuml/cuml/tests/test_label_encoder.py
  python/cuml/cuml/tests/test_linear_model.py
Labels: Cython / Python, improvement, breaking, cuml-cpu

#6353 Adjust accel verbosity
  python/cuml/cuml/experimental/accel/__init__.py
  python/cuml/cuml/experimental/accel/__main__.py
  python/cuml/cuml/internals/base.pyx
  python/cuml/cuml/tests/experimental/accel/estimators_hyperparams/test_accel_tsne.py
Labels: Cython / Python, improvement, non-breaking, cuml-cpu

#6359 Enable UVM in cuml.accel
  python/cuml/cuml/experimental/accel/__init__.py
  python/cuml/cuml/experimental/accel/__main__.py
Labels: Cython / Python, improvement, non-breaking, cuml-cpu

#6358 UMAP fallback improvements
  python/cuml/cuml/manifold/umap.pyx
Labels: bug, Cython / Python, non-breaking

#6369 Correctly pass through unhashable objects during hyperparam lookup
  python/cuml/cuml/internals/base.pyx
Labels: bug, Cython / Python, non-breaking, cuml-cpu

#6368 Use conda-build instead of conda-mambabuild
  ci/build_cpp.sh
  ci/build_python.sh
Labels: improvement, non-breaking, ci

#6363 Correct translation of RandomForest criterion hyperparameter
  python/cuml/cuml/ensemble/randomforest_common.pyx
  python/cuml/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/cuml/ensemble/randomforestregressor.pyx
Labels: bug, Cython / Python, non-breaking, cuml-cpu

#6367 Don't log coverage output to terminal in CI
  ci/test_python_dask.sh
  ci/test_python_integration.sh
  ci/test_python_singlegpu.sh
Labels: tests, improvement, non-breaking, ci
