Repository rapidsai/cuml, pull requests merged in 2025-08, with the labels that each got.

#7050 Fix input utils test case
  python/cuml/cuml/tests/test_input_utils.py
Labels: Cython / Python, improvement, non-breaking

#7077 Fix network failure in loading mnist dataset during spectral embedding testing
  python/cuml/cuml/tests/test_spectral_embedding.py
Labels: bug, Cython / Python, non-breaking

#7085 Update rapids-build-backend to 0.4.1
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/cuml/recipe.yaml
  dependencies.yaml
  python/cuml/pyproject.toml
  python/libcuml/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking

#7090 Configure `--import-mode` in `pyproject.toml`
  ci/run_cuml_dask_pytests.sh
  ci/run_cuml_integration_pytests.sh
  ci/run_cuml_singlegpu_pytests.sh
  python/cuml/pyproject.toml
Labels: Cython / Python, improvement, non-breaking, ci

#7098 Update rapids_config to handle user defined branch name
  cmake/RAPIDS.cmake
  cmake/rapids_config.cmake
Labels: improvement, non-breaking, CMake

#7023 Adding appropriate casting for a more generic `IdxT` usage in HDBSCAN
  cpp/src/hdbscan/detail/condense.cuh
  cpp/src/hdbscan/detail/predict.cuh
  cpp/src/hdbscan/detail/select.cuh
  cpp/src/hdbscan/detail/soft_clustering.cuh
  cpp/src/hdbscan/detail/stabilities.cuh
  cpp/src/hdbscan/runner.h
Labels: improvement, non-breaking, CUDA/C++, algo: hdbscan

#7105 Use rapids_cuda_enable_fatbin_compression
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: improvement, non-breaking, CMake, CUDA/C++

#7069 Add more estimators to the compatibility test suite
  python/cuml/tests/test_sklearn_compatibility.py
Labels: Cython / Python, improvement, non-breaking

#7063 UMAP with new Spectral Embedding initialization
  cpp/include/cuml/manifold/spectral_embedding.hpp
  cpp/src/spectral/spectral_embedding.cu
  cpp/src/umap/init_embed/spectral_algo.cuh
Labels: improvement, non-breaking, CUDA/C++, algo: umap

#7108 A few fixes to the profiler IPython magics
  python/cuml/cuml/accel/magics.py
  python/cuml/cuml/accel/profilers.py
  python/cuml/cuml/accel/runners.py
  python/cuml/cuml_accel_tests/test_magics.py
  python/cuml/cuml_accel_tests/test_profilers.py
Labels: Cython / Python, improvement, non-breaking, cuml-accel

#7109 Remove deprecation warnings in 25.10
  python/cuml/cuml/cluster/__init__.py
  python/cuml/cuml/cluster/hdbscan/__init__.py
  python/cuml/cuml/cluster/hdbscan/hdbscan.pyx
  python/cuml/cuml/cluster/hdbscan/prediction.py
  python/cuml/cuml/fil/fil.pyx
  python/cuml/cuml/solvers/sgd.pyx
  python/cuml/tests/test_fil.py
  python/cuml/tests/test_hdbscan.py
  python/cuml/tests/test_sgd.py
Labels: Cython / Python, improvement, breaking

#7116 Increase wheel size cap to 525M account for newer architectures
  python/libcuml/pyproject.toml
Labels: Cython / Python, improvement, non-breaking

#7106 Use build cluster in devcontainers
  .devcontainer/Dockerfile
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/workflows/pr.yaml
  cpp/tests/sg/fil/raft_proto/buffer.cpp
Labels: 3 - Ready for Review, improvement, non-breaking, CUDA/C++

#7115 Redo memory management for NearestNeighbors
  python/cuml/cuml/neighbors/CMakeLists.txt
  python/cuml/cuml/neighbors/ann.pxd
  python/cuml/cuml/neighbors/ann.pyx
  python/cuml/cuml/neighbors/nearest_neighbors.pyx
  python/cuml/cuml_accel_tests/upstream/scikit-learn/xfail-list.yaml
  python/cuml/tests/test_pickle.py
  python/cuml/tests/test_sklearn_compatibility.py
Labels: Cython / Python, improvement, non-breaking, CMake

#7119 Rewrite random projection estimators
  cpp/CMakeLists.txt
  cpp/include/cuml/random_projection/rproj_c.h
  cpp/src/random_projection/rproj.cu
  cpp/src/random_projection/rproj.cuh
  cpp/src/random_projection/rproj_utils.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/sg/rproj_test.cu
  python/cuml/CMakeLists.txt
  python/cuml/cuml/random_projection/CMakeLists.txt
  python/cuml/cuml/random_projection/random_projection.py
  python/cuml/cuml/random_projection/random_projection.pyx
  python/cuml/tests/test_api.py
  python/cuml/tests/test_input_estimators.py
  python/cuml/tests/test_pickle.py
  python/cuml/tests/test_random_projection.py
Labels: bug, Cython / Python, non-breaking, CMake, CUDA/C++

#7126 Use gammainc from cupyx
  python/cuml/cuml/neighbors/kernel_density.py
Labels: Cython / Python, improvement, non-breaking

#7129 Note non-determinism in random projection transforms
  python/cuml/cuml/random_projection/random_projection.py
  python/cuml/tests/test_random_projection.py
Labels: bug, Cython / Python, non-breaking

#7134 Add DBSCAN to the common tests
  python/cuml/tests/test_sklearn_compatibility.py
Labels: Cython / Python, improvement, non-breaking

#7139 Fix cuml-accel docs redirects
  docs/source/conf.py
Labels: doc, non-breaking

#7141 Update rapids-dependency-file-generator
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#7117 Spectral Embedding argument `affinity={"precomputed", "nearest_neighbors"}`
  cpp/include/cuml/manifold/spectral_embedding.hpp
  cpp/src/spectral/spectral_embedding.cu
  python/cuml/cuml/manifold/spectral_embedding.pyx
  python/cuml/tests/test_spectral_embedding.py
Labels: Cython / Python, improvement, non-breaking, CUDA/C++

#7140 `n_streams=1` is not required for determinism in `cuml.ensemble`
  python/cuml/cuml/ensemble/randomforest_common.pyx
  python/cuml/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/cuml/ensemble/randomforestregressor.pyx
Labels: Cython / Python, improvement, non-breaking, cuml-accel

#7146 Fix HTML representation's fitted status
  python/cuml/cuml/accel/estimator_proxy.py
  python/cuml/cuml_accel_tests/test_estimator_proxy.py
Labels: Cython / Python, improvement, non-breaking

#7155 Deprecate `predict_model` in `cuml.ensemble`/`cuml.dask.ensemble`
  python/cuml/cuml/dask/ensemble/base.py
  python/cuml/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/cuml/ensemble/randomforest_common.pyx
  python/cuml/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/cuml/ensemble/randomforestregressor.pyx
  python/cuml/tests/dask/test_dask_random_forest.py
  python/cuml/tests/explainer/test_gpu_treeshap.py
  python/cuml/tests/test_pickle.py
  python/cuml/tests/test_random_forest.py
Labels: Cython / Python, improvement, breaking
