Repository rapidsai/cuml, pull requests merged in 2025-09, with the labels that each got.

#7164 use 'nvidia-ml-py' instead of 'pynvml', declare 'numba-cuda' dependency pins
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/recipes/cuml/recipe.yaml
  dependencies.yaml
  docs/source/supported_versions.rst
  python/cuml/README.md
  python/cuml/pyproject.toml
Labels: conda, Cython / Python, improvement, non-breaking

#7175 Move cert configuration to `pytest_configure` hook
  python/cuml/tests/conftest.py
  python/cuml/tests/dask/conftest.py
Labels: Cython / Python, improvement, non-breaking

#7180 Further increase tolerance in test_random_seed_consistency.
  python/cuml/tests/test_random_projection.py
Labels: bug, Cython / Python, non-breaking

#7177 Remove `get_json`/`get_detailed_text`/`get_summary_text` from ensemble estimators
  python/cuml/cuml/dask/ensemble/base.py
  python/cuml/cuml/dask/ensemble/randomforestclassifier.py
  python/cuml/cuml/dask/ensemble/randomforestregressor.py
  python/cuml/cuml/ensemble/randomforestclassifier.pyx
  python/cuml/cuml/ensemble/randomforestregressor.pyx
  python/cuml/tests/dask/test_dask_random_forest.py
  python/cuml/tests/test_random_forest.py
Labels: Cython / Python, improvement, breaking

#7181 Small cleanup to `cuml.dask.metrics.confusion_matrix`
  python/cuml/cuml/dask/metrics/confusion_matrix.py
  python/cuml/cuml/dask/metrics/utils.py
Labels: Cython / Python, improvement, non-breaking

#7182 Use branch-25.10 again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#7195 Set correct min_samples for HDBSCAN single_linkage
  cpp/src/hdbscan/runner.h
Labels: bug, non-breaking, CUDA/C++

#7193 Raise Proper Exception when HDBSCAN min_samples > number of samples
  cpp/src/hdbscan/runner.h
Labels: bug, non-breaking, CUDA/C++

#7207 Support non-contiguous input in `input_to_host_array`
  python/cuml/cuml/internals/array.py
  python/cuml/tests/test_input_utils.py
Labels: bug, Cython / Python, non-breaking

#7208 Validate `sample_weight` in `KernelDensity.fit`
  python/cuml/cuml/neighbors/kernel_density.py
  python/cuml/tests/test_kernel_density.py
Labels: bug, Cython / Python, non-breaking

#7213 use new cumlprims_mg repo
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_wheel_libcuml.sh
  ci/release/update-version.sh
  cpp/cmake/thirdparty/get_cumlprims_mg.cmake
Labels: improvement, non-breaking, CMake, CUDA/C++, ci

#7215 Update FIL doc to remove deprecated parameter
  docs/source/FIL.rst
Labels: improvement, non-breaking

#7196 Cleanup `KMeans` python layer
  cpp/CMakeLists.txt
  cpp/bench/sg/kmeans.cu
  cpp/examples/kmeans/kmeans_example.cpp
  cpp/include/cuml/cluster/kmeans.hpp
  cpp/include/cuml/cluster/kmeans_mg.hpp
  cpp/src/kmeans/kmeans_fit.cu
  cpp/src/kmeans/kmeans_fit_predict.cu
  cpp/src/kmeans/kmeans_mg.cu
  cpp/tests/mg/kmeans_test.cu
  python/cuml/cuml/cluster/CMakeLists.txt
  python/cuml/cuml/cluster/cpp/kmeans.pxd
  python/cuml/cuml/cluster/kmeans.pyx
  python/cuml/cuml/cluster/kmeans_mg.pyx
  python/cuml/cuml/dask/cluster/kmeans.py
  python/cuml/cuml_accel_tests/upstream/scikit-learn/xfail-list.yaml
  python/cuml/tests/dask/test_dask_base.py
  python/cuml/tests/dask/test_dask_kmeans.py
  python/cuml/tests/test_kmeans.py
Labels: Cython / Python, improvement, non-breaking, CMake, CUDA/C++

#7219 Accelerate `KernelDensity.score_samples`
  python/cuml/cuml/neighbors/__init__.py
  python/cuml/cuml/neighbors/kernel_density.py
  python/cuml/tests/test_kernel_density.py
Labels: improvement, non-breaking

#7229 Add `cuml.metrics.median_absolute_error`
  python/cuml/cuml/metrics/__init__.py
  python/cuml/cuml/metrics/regression.py
  python/cuml/tests/test_metrics.py
Labels: Cython / Python, improvement, non-breaking

#7044 Don't call to_output on a cupy array
  python/cuml/cuml/_thirdparty/sklearn/preprocessing/_column_transformer.py
  python/cuml/tests/test_compose.py
Labels: bug, Cython / Python, non-breaking

#7246 Fix test reference object in test_onehot_inverse_transform_handle_unknown
  python/cuml/tests/test_one_hot_encoder.py
Labels: bug, Cython / Python, non-breaking

#7280 Ensure finite values passed to SpectralEmbedding
  python/cuml/cuml/manifold/spectral_embedding.pyx
  python/cuml/tests/test_spectral_embedding.py
Labels: bug, Cython / Python, non-breaking, cuml-accel, algo: spectral-embedding

#7073 Improved UMAP testing and debugging
  python/cuml/umap_dev_tools/README.md
  python/cuml/umap_dev_tools/run_umap_debug.py
  python/cuml/umap_dev_tools/test_umap.py
  python/cuml/umap_dev_tools/toy_datasets.py
  python/cuml/umap_dev_tools/umap_metrics.py
  python/cuml/umap_dev_tools/web_results_generation.py
Labels: Cython / Python, improvement, non-breaking

#7228 Revise the cuML docs for 25.10
  docs/source/FIL.rst
  docs/source/_static/custom.css
  docs/source/conf.py
  docs/source/cuml-accel/examples/getting_started.ipynb
  docs/source/cuml-accel/examples/index.rst
  docs/source/cuml-accel/examples/plot_kmeans_digits.ipynb
  docs/source/cuml-accel/examples/profiling.ipynb
  docs/source/cuml_intro.rst
  docs/source/estimator_intro.ipynb
  docs/source/index.rst
  docs/source/pickling_cuml_models.ipynb
  docs/source/user_guide.rst
  python/cuml/cuml/accel/profilers.py
Labels: doc, Cython / Python, non-breaking
